<div [formGroup]="paymentsWriteOffForm" class="col-12 pr-0 pl-0">
    <div class="row">
        <div class="col-12 field-row text-center">
            <p>Write-Off the Suspense amount of <strong>{{payment?.paymentAmount | currency:payment?.currency}}</strong>
            </p><br>
        </div>
        <div class="col-12 field-row">
            <div class="row">
                <div class="col-7 pr-0 text-left">
                    <ent-label className="ent-label-inline-modal" data="Select a reason why you want to Write-Off?" requiredField="required"></ent-label>
                </div>
                <div class="col-5 pl-0">
                    <ent-dropdown [control]="paymentsWriteOffForm.get('WriteOffReason')" [(ngModel)]="reason" [dropdownItems]="WriteOffReasonDropdown" type="select" formControlName="WriteOffReason" [isAutoFocus]="true">
                    </ent-dropdown>
                    <ent-control-messages [control]="paymentsWriteOffForm.get('WriteOffReason')" labelName="Reason">
                    </ent-control-messages>
                </div>
            </div>
        </div>
        <div class="col-12 button-row">
            <ent-button [disabled]="!paymentsWriteOffForm.valid" class="button-xlarge" buttonText="SUBMIT" (buttonClick)="paymentsWriteOff()" buttonType="submit"></ent-button>
        </div>
    </div>
</div>
