<div class="input-group input-text ent-search-input">
    <input appAutoFocus [autoFocus]="isAutoFocus" type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="value" [disabled]='disabled' (blur)="onTouched()" (keyup)="onInputChange($event)" #searchInputVal/>
    <i class="fas fa-search search-prefix-icon"></i>
    <a *ngIf="value && value.length > 0" (click)="clearSearch()" class="fas fa-times clear-addon" [class.right]="!advancedSearch"></a>
    <a #toggleButton appTabbing [isTabbing]="!disabled" [ngClass]="{'disabled': disabled}" id="toggleButton" *ngIf="advancedSearch" (click)="toggleAdvancedSearch()" [title]="title" class="fas fa-caret-down advanced-search-button"></a>
    <div #advancedContent id="advancedContent" class="advanced-content" [class.open]="openSearch">
        <div *ngIf="advancedSearchTitle" class="col-12 pl-0 pr-0 advanced-search-title">
            <ent-title-bar [titleText]="advancedSearchTitle" border="'false'">
            </ent-title-bar>
        </div>
        <a #closeAdvancedContent class="fas fa-times close-search" (click)="openSearch = false; unbindDocumentEscapeListener(); advancedSearchCloseHandle()"></a>
        <ng-content></ng-content>
    </div>
</div>