<app-security-sidebar [sectionName]="'Identified Payments'" (toggleClose)="searchSection?.resetIdentifiedPayments()"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Payments Search - Identified Payments"></ent-header>

    <div class="container">
        <div class="row">
            <div class="col-12 pt-4 batch-payments-list">
                <app-payments-search-section #searchSection (refreshSummary)="reloadSummary($event)" [since]="since" [until]="until" [paymentMethod]="paymentMethod" [minAmount]="minAmount" [maxAmount]="maxAmount" [identifierType]="identifierType" [currency]="currency" [page]="page"
                    [size]="size" [systemDate]="systemDate" [isPaymentListLoaded]="paymentList.isPaymentListLoaded"></app-payments-search-section>
            </div>
            <div class="col-12">
                <app-payments-search-header [isPaymentListLoaded]="paymentList.isPaymentListLoaded"></app-payments-search-header>
            </div>
            <div class="col-12">
                <app-payments-search-results #paymentList (isPaymentEmpty)="isPaymentEmpty($event)" [since]="since" [until]="until" [paymentMethod]="paymentMethod" [minAmount]="minAmount" [maxAmount]="maxAmount" [currency]="currency" [page]="page" [size]="size" [identifierType]="identifierType"
                    [userId]="userId" [paymentId]="paymentId" [systemDate]="systemDate"></app-payments-search-results>
            </div>
        </div>
    </div>
</div>