.btn-switch-layout {
    .btn {
        background-color: $white-color;
        border: 1px solid $border-color;
        &:hover {
            color: $black-color;
            background-color: $white-color;
            border-color: $button-hover-border-color;
        }
        &:active,
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .btn_Show {
        color: $white-color;
        background-color: $dark-green-clr;
        border-color: $dark-green-clr;
        &:hover {
            color: $white-color;
            background-color: $dark-green-clr;
            border-color: $dark-green-clr;
        }
    }
    .btn_Disable {
        color: $black-color;
        background-color: $disable-color;
        border-color: $disable-color;
        &:hover {
            color: $black-color;
            background-color: $disable-color;
            border-color: $disable-color;
        }
    }
    .btn_Hide {
        color: $white-color;
        background-color: $dark-red-clr;
        border-color: $dark-red-clr;
        &:hover {
            color: $white-color;
            background-color: $dark-red-clr;
            border-color: $dark-red-clr;
        }
    }
    .btn-switch {
        @include custom-font-size($font-size-sm);
        position: relative;
        display: inline-block;
        @include user-select(none);
    }
    .btn-switch-radio {
        display: none;
    }
    .btn-switch-label {
        display: inline-block;
        @include padding(5px, 5px, 5px, 7px);
        vertical-align: top;
        @include custom-font-size($font-size-sm, $white-color, 700, 1.5);
        @include space(margin, all, 0);
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &::before {
            content: "";
            @include pseudo(absolute, 0, 0, 0, 0, -1);
            background: $toast-error-color;
            color: $white-color;
            border-radius: 1.5em;
            box-shadow: inset 0 0.0715em 0.3572em rgba(43, 43, 43, 0.05);
            transition: background 0.2s ease-in-out;
        }
    }
    .btn-switch-label+.btn-switch-label {
        @include space(padding, left, 0);
    }
    .btn-switch-txt {
        @include pseudo(relative, false, false, false, false, 2);
        display: inline-block;
        min-width: 1em;
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
    }
    .btn-switch-radio-no:checked~.btn-switch-label-yes .btn-switch-txt,
    .btn-switch-radio-yes:checked~.btn-switch-label-no .btn-switch-txt {
        opacity: 0;
    }

    .btn-switch-radio-yes:checked~.btn-switch-label:before {
        background: $toast-success-color;
    }
    .btn-switch-label-no:after {
        content: "";
        @include pseudo(absolute, 0.5em, false, 0.5em, 0.5em, 2);
        width: 2em;
        background: $white-color;
        border-radius: 1em;
        pointer-events: none;
        box-shadow: 0 0.1429em 0.2143em rgba(43, 43, 43, 0.2), 0 0.3572em 0.3572em rgba(43, 43, 43, 0.1);
        transition: left 0.2s ease-in-out, background 0.2s ease-in-out;
    }
    .btn-switch-radio-yes:checked~.btn-switch-label-no:after {
        left: calc(100% - 2.5em);
        background: $white-color;
    }
    .btn-switch-radio-no:checked~.btn-switch-label-yes:before,
    .btn-switch-radio-yes:checked~.btn-switch-label-no:before {
        z-index: 1;
    }
    .btn-switch-radio-yes:checked~.btn-switch-label-yes {
        color: $white-color;
    }
} 