.detail-card {
    .detail-card-header {
        @include space (margin, bottom, $xxs + 2px);
        .ent-title-bar {
            border: none !important;
            @include space (margin, bottom, 0px);
        }
    }
    .detail-card-table {
        width: 100%;
        background-color: $white-color;
        @include custom-font-size($font-size-base);
        tbody {
            tr {
                &:hover td {
                    background-color: none;
                }
                td {
                    border-bottom: 1px solid $gray-color-200;
                    @include space (padding, all, $xs - 2px);
                    text-align: left;
                    height: 35px;
                    &:first-child {
                        text-align: left;
                        width: 190px;
                        @include space (padding, left, $xs + $xxs);
                        font-weight: $font-bold;
                    }
                    &:last-child {
                        @include space (padding, right, $xxs + $xs);
                    }
                    .ent-text {
                        line-height: 1.5;
                    }
                    a {
                        font-weight: $font-bold;
                        &.update-link {
                            @include custom-font-size($font-size-sm);
                            @include space (padding, left, $xs);
                        }
                    }
                }
                &:last-child {
                    td {
                        border-bottom: none !important;
                    }
                }
            }
        }
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
        color: $gray-color-500 !important;
    }
}