.filter-checkboxes {
    .box {
        @include pseudo(relative, false, false, false, false, false);
        .ent-card {
            height: 55px;
            @include space (padding, top, 15px !important);
            @include space (padding, bottom, 15px !important);
            @include space (padding, left, 15px !important);
            @include space (padding, right, 15px !important);
            &:hover {
                background-color: $hover-color;
            }
        }
        &.active {
            .ent-card {
                border: 1px solid $active-border-color;
            }
            .checkbox-block {
                .checkmark {
                    border: none;
                    &::after {
                        @include pseudo(absolute, 1px, false, 5px, false, false);
                    }
                }
            }
        }
    }
}