.filters-wrapper {
    .filter-icon {
        top: 7px;
        text-align: center;
        .fa-filter {
            @include custom-font-size($font-size-lg, $theme-primary-color);
        }
    }
    .filter-tags {
        .badge {
            @include space(margin, left, $xxs);
            background-color: $white-color;
            @include custom-font-size($font-size-sm, $theme-primary-color);
            text-transform: capitalize;
            border: 1px solid $border-color;
            @include padding(3px, 7px, 3px, 7px);
            font-weight: 600;
            @include margin(4px, 2px, 4px, 0);
            overflow: hidden;
            white-space: nowrap;
            min-height: 27px;
            display: inline-flex;
            align-items: center;
            &:last-child {
                @include space(margin, right, 0px);
            }
            .fa-times {
                @include space(margin, left, 8px);
                font-size: smaller;
                cursor: pointer;
            }
        }
        .filter-options-icon {
            &::before {
                content: "\f0b0";
                font-family: $font-awesome-free;
                @include custom-font-size($icon-size-base, $theme-primary-color, 900);
            }
        }
        .un-filter-options-icon {
            &::before {
                content: "\f0b0";
                font-family: $font-awesome-free;
                @include custom-font-size($icon-size-base, $disable-color, 900);
            }
        }
        .filter-options-icon-sm {
            @extend .filter-options-icon;
            &::before {
                @include custom-font-size($icon-size-sm);
            }
        }
        .un-filter-options-icon-sm {
            @extend .un-filter-options-icon;
            &::before {
                @include custom-font-size($icon-size-sm);
            }
        }
    }
}

.advance-search-filter {
    .filter-section {
        .filter-by-date {
            float: right;
            @include space(padding, left, $xs);
        }
        .filter-badges {
            display: inline-block;
        }
        .filter-dropdown {
            min-width: 200px;
            display: inline-block;
        }
        .un-filter-option {
            &::before {
                content: "\f0b0";
                font-family: $font-awesome-free;
                @include custom-font-size(2rem, $disable-color, 900);
            }
        }
        .filter-option {
            &::before {
                content: "\f0b0";
                font-family: $font-awesome-free;
                @include custom-font-size(2rem, $theme-primary-color, 900);
            }
        }
    }
}
