.requiredField {
    @include custom-font-size (8px, $error-msg-color);
    @include padding (0, 0, 0, 1px);
}

.form-control {
    font-family: $app-font-family;
    @include custom-font-size ($font-size-base, $text-input-color !important)
}
.form-control[disabled] {
    background-color: $disable-color !important;
}

input{
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
        box-shadow: none;
        outline: none;
    }
}

input[type="file"] {
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include space(margin, all, 0px);
}

input[type=number] {
    -moz-appearance: textfield;
}

.isError {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $error-msg-color !important;
}

input::-ms-clear{
    display: none;
}

.errorMessage{
    @include space (margin, top, $xxs);
    @include custom-font-size($font-size-sm, $error-msg-color);
}
input[type=checkbox] {
    opacity: 0;
    width: 0;
    overflow: hidden;
    &:checked+label:after {
        opacity: 1;
    }
}
