.common-header {
    @include custom-font-size($font-size-base, $header-text-color, $font-bold);
    background-color: $header-background-color;
    text-align: center;
    border: none;
    @include pseudo(fixed !important, 60px, false, false, false, 1001);
}

.common-fixed-header {
    height: 220px;
    .common-breadscrumb {
        @extend .fixed-header;
        box-shadow: -5px 0px 0px 0px $white-color, 5px 0px 0px 0px $white-color;
    }
    .sub-fixed-header {
        @extend .fixed-header;
        top: 150px;
    }
}

.fixed-header {
    @include pseudo(fixed !important, false, false, false, false, 1001);
    background-color: $white-color;
    width: 100%;
}

.common-breadscrumb {
    @include space (margin, top, 60px);
}

.status {
    display: flex;
    .dropdown {
        .dropdown-toggle {
            @include space (padding, left, $xxs - 3px !important);
        }
        button {
            height: auto;
            display: inline-flex;
            background: transparent !important;
            &::after {
                color: $sort-header-active-color;
            }
        }
        ul {
            right: 0;
            left: auto !important;
        }
    }
    .close-addon{
        display: none;
    }
    .filter-status {
        .fa-filter {
            @include space (margin, left, -4px);
            color: $sort-header-active-color;
            @include custom-font-size($font-size-base);
        }
        .advanced-filter {
            @include pseudo(absolute, 100%, 0, false, false, 1000);
            width: 210px;
            display: none;
            background-color: $white-color;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            @include padding (10px, 8px, 10px, 8px);
            text-align: center;
            .advanced-filter-content{
                color: $black-color;
            }
        }
        &:hover .advanced-filter {
            display: block;
        }
    }
}

.icon-panel {
    .profile-title.active {
        &::before {
            background-color: $profile-active-color;
            border-color: lighten($profile-active-color, 12%);
        }
    }
}