.radio-detail-card {
    .ent-card {
        height: 85px;
        @include space(padding, top, 25px !important);
        @include space(padding, bottom, 25px !important);
    }
    fieldset {
        &:disabled {
            .radio-circle {
                background-color: $disable-color !important;
            }
            .ent-card {
                &:hover {
                    cursor: not-allowed;
                    background-color: $hover-color !important;
                }
            }
        }
    }
    .radio-detail-card-item {
        @include pseudo(relative, false, false, false, false, false);
        cursor: pointer;
        &:focus-visible{
            box-shadow: none;
            .ent-card {
                box-shadow: $input-focus-box-shadow;
            }
        }
        &.active {
            .ent-card {
                border: 1px solid $active-border-color !important;
                background-color: $hover-color !important;
                &::before {
                    content: "\f058";
                    font-family: $font-awesome-free;
                    @include custom-font-size(1.8rem, $dark-green-clr, 900);
                    @include pseudo(absolute, 25px, false, 15px, false, false);
                    width: 24px;
                    height: 24px;
                }
                .radio-circle {
                    border: 0px;
                }
                .payment-account {
                    .ent-label {
                        color: $active-border-color !important;
                        font-weight: 600;
                    }
                }
                .payment-current {
                    color: $dark-green-clr !important;
                    font-weight: 600;
                }
                .other-amount {
                    float: right;
                    input {
                        width: 70%;
                        float: right;
                    }
                }
            }
        }
        .payment-label {
            .ent-label {
                width: auto;
                float: left;
                @include custom-font-size($font-size-base);
                line-height: 32px;
            }
        }
        .radio-circle {
            background-color: $white-color;
            border-radius: 50%;
            border: 2px solid $gray-color-700;
            color: $wizard-color-neutral;
            height: 22px;
            width: 22px;
            float: left;
            @include space(margin, right, $xs+$xxs);
            @include space(margin, top, $xxs);
        }
        .payment-current {
            text-align: right;
            width: auto;
            float: right;
            @include custom-font-size($font-size-base);
            line-height: 32px;
            font-weight: 600;
            &.current-balance-false {
                color: $toast-error-color !important;
                .suspense-amount {
                    border-bottom: 1px dashed $gray-color-700;
                    &:hover {
                        cursor: help;
                    }
                }
            }
            &.current-balance-true {
                color: $toast-success-color !important;
            }
        }
        .payment-account {
            &.total-balance {
                .ent-label {
                    color: $black-color !important;
                }
            }
            &.current-balance {
                .ent-label {
                    color: $toast-error-color !important;
                }
            }
            .ent-label {
                text-align: right;
                width: auto;
                float: right;
                @include custom-font-size($font-size-base);
                line-height: 32px;
                font-weight: 600;
            }
        }
    }
}

.radio-detail-payment-card {
    .custom-padding {
        @include space(padding, top, 0 !important);
        @include space(padding, bottom, 0 !important);
        @include space(padding, left, 4% !important);
        @include space(padding, right, 4% !important);
    }
    .no-cursor {
        .ent-card {
            &:hover {
                cursor: default !important;
            }
        }
    }
    .radio-detail-payment-card-item {
        position: relative;
        cursor: pointer;
        &:focus-visible {
            box-shadow: none;
            .ent-card {
              box-shadow: $input-focus-box-shadow;
              outline: none;
            }
          }
        &.active {
            .ent-card {
                border: 1px solid $active-border-color !important;
                background-color: $hover-color;
                &::before {
                    content: "\f058";
                    font-family: $font-awesome-free;
                    @include custom-font-size(1.8rem, $dark-green-clr, 900);
                    @include pseudo(absolute, 32%, false, 16px, false, false);
                    width: 24px;
                    height: 30px;
                    background: radial-gradient(#fff 32%, transparent 48%);
                }
                .radio-circle {
                    border: 0px;
                    background: none;
                }
            }
        }
        .account-number {
            .ent-label {
                @include custom-font-size($font-size-sm);
                line-height: normal;
            }
        }
        .account-name {
            .ent-label {
                @include custom-font-size($font-size-sm);
                line-height: normal;
            }
        }
        .account-label {
            .ent-label {
                @include custom-font-size($font-size-sm);
                line-height: 1;
            }
        }
        .bank-icon {
            img {
                @include space(margin, top, -13px);
            }
            &.bank-custom {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .radio-circle {
            background-color: $white-color;
            border-radius: 50%;
            border: 2px solid $gray-color-700;
            color: $wizard-color-neutral;
            height: 24px;
            width: 24px;
            float: left;
            @include space(margin, right, $xs+$xxs);
        }
    }
    .add-new-payment-link {
        border: 1px dashed $active-border-color;
        @include space(padding, top, 25px !important);
        @include space(padding, bottom, 25px !important);
        @include space(padding, left, 15px !important);
        @include space(padding, right, 15px !important);
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        &:hover {
            cursor: pointer;
        }
        a {
            @include custom-font-size($font-size-sm);
            i {
                color: $black-color;
            }
        }
    }
}

.radio-button-selection-card {
    @include space(padding, top, 20px);
    .ent-card {
        height: 85px;
        @include space(padding, top, 15px !important);
        @include space(padding, left, 15px !important);
        @include space(padding, right, 15px !important);
        display: flex;
        align-items: center;
    }
    .sub-title {
        .ent-label {
            height: auto !important;
            line-height: normal;
            color: $dark-grey-clr !important;
        }
    }
    .box {
        @include pseudo(relative, false, false, false, false, false);
        cursor: pointer;
        &.active {
            .ent-card {
                border: 1px solid $active-border-color !important;
                &::before {
                    content: "\f058";
                    font-family: $font-awesome-free;
                    @include custom-font-size(1.8rem, $dark-green-clr, 900);
                    @include pseudo(absolute, false, false, false, false, false);
                }
                .radio-circle {
                    border: 0px;
                }
            }
        }
        &:focus-visible {
            box-shadow: none;
            outline: none;
            .ent-card {
                background-color: $hover-color !important;
                box-shadow: $input-focus-box-shadow;
                outline: none;
            }
        }
        .payment-label {
            width: 70%;
            text-align: left;
            .ent-label {
                width: 100%;
                float: left;
                @include custom-font-size($font-size-base);
                line-height: 16px;
                text-align: left;
            }
        }
        .payment-icon {
            img {
                text-align: right;
                width: 35px;
                height: 35px;
                float: right;
            }
        }
        .radio-circle {
            background-color: $white-color;
            border-radius: 50%;
            border: 2px solid $gray-color-700;
            color: $wizard-color-neutral;
            min-height: 22px;
            min-width: 22px;
            float: left;
            @include space(margin, right, $xs+$xxs);
        }
        &:nth-child(odd) {
            @include padding(0, 15px, 0, 0);
        }
        &:nth-child(even) {
            @include padding(0, 0, 0, 15px);
        }
    }
    .policy-number-section {
        .border-row {
            border-top: 1px solid $gray-color-200;
            @include space(padding, top, $xs+$xs);
            @include space(margin, top, $xs+$xs);
        }
        .app-label-text {
            @include custom-font-size($font-size-base);
            &.address-section {
                .ent-label {
                    height: auto;
                }
            }
            .ent-text {
                color: $black-color;
                font-weight: 600;
            }
            .ent-label {
                height: auto;
            }
        }
    }
}

.radio-check-box-card {
    .ent-card {
        height: 50px;
        @include space(padding, top, 15px !important);
        @include space(padding, left, 15px !important);
        @include space(padding, right, 15px !important);
        display: flex;
        align-items: center;
    }
    .sub-title {
        .ent-label {
            height: auto !important;
            line-height: normal;
            color: $dark-grey-clr !important;
        }
    }
    .box {
        @include pseudo(relative, false, false, false, false, false);
        cursor: pointer;
        .ent-card {
            &:hover {
                background-color: $hover-color !important;
            }
        }
        &.active {
            .ent-card {
                &::before {
                    content: "\f14a";
                    font-family: $font-awesome-free;
                    @include custom-font-size(2rem, $dark-green-clr, 900);
                    @include pseudo(absolute, 7px, false, false, false, false);
                }
                .radio-circle {
                    border: 0px;
                }
            }
        }
        .payment-label {
            width: 70%;
            text-align: left;
            .ent-label {
                width: 100%;
                float: left;
                @include custom-font-size($font-size-base);
                line-height: 16px;
                text-align: left;
            }
        }
        .payment-icon {
            img {
                text-align: right;
                width: 35px;
                height: 35px;
                float: right;
            }
        }
        .radio-circle {
            background-color: $white-color;
            border-radius: 0;
            border: 1px solid $gray-color-700;
            color: $wizard-color-neutral;
            min-height: 21px;
            min-width: 21px;
            float: left;
            @include space(margin, right, $xs+$xxs);
        }
    }
}