.security-settings {
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    padding-bottom: 70px;
    padding-left: 1.5em;
    padding-top: 1vw;
    background: #efefef;
    .display-line {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .toggle-item{
            @include pseudo(absolute, false, 0, false, false, false);
            @include space(padding, right, 10px);
        }
        &.space-bottom {
            padding-bottom: 10px;
        }
    }
    .btn {
        &:hover {
            color: $black-color;
            background-color: $hover-color;
            border-color: $hover-color;
        }
        &:active{
            box-shadow: none;
            outline: none;
        }
    }
    .btn_Show {
        color: $white-color;
        background-color: $dark-green-clr;
        border-color: $dark-green-clr;
        &:hover {
            color: $white-color;
            background-color: $dark-green-clr;
            border-color: $dark-green-clr;
        }
    }
    .btn_Disable {
        color: $black-color;
        background-color: $disable-color;
        border-color: $disable-color;
        &:hover {
            color: $black-color;
            background-color: $disable-color;
            border-color: $disable-color;
        }
    }
    .btn_Hide {
        color: $white-color;
        background-color: $dark-red-clr;
        border-color: $dark-red-clr;
        &:hover {
            color: $white-color;
            background-color: $dark-red-clr;
            border-color: $dark-red-clr;
        }
    }
    .section_Disable {
        pointer-events: none;
        cursor: not-allowed;
        color: #a5adb8 !important;
        opacity: 0.5;
    }
    .ent-label {
        font-weight: 600;
    }
    .btn-switch {
        @include custom-font-size($font-size-base);
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .btn-switch__radio {
        display: none;
        pointer-events: none;
    }
    .btn-switch__label {
        display: inline-block;
        padding: 0.5em 0.5em 0.5em 0.7em;
        vertical-align: top;
        @include custom-font-size(1rem);
        line-height: 1.5;
        color: $white-color;
        margin: 0;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }
    .btn-switch__label+.btn-switch__label {
        padding-left: 0;
    }
    .btn-switch__txt {
        position: relative;
        z-index: 2;
        display: inline-block;
        min-width: 1em;
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
    }
    .btn-switch__radio_no:checked~.btn-switch__label_yes .btn-switch__txt,
    .btn-switch__radio_yes:checked~.btn-switch__label_no .btn-switch__txt {
        opacity: 0;
    }
    .btn-switch__label:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $dark-red-clr;
        color: $white-color;
        border-radius: 1.5em;
        box-shadow: inset 0 0.0715em 0.3572em rgba(43, 43, 43, 0.05);
        transition: background 0.2s ease-in-out;
    }
    .btn-switch__radio_yes:checked~.btn-switch__label:before {
        background: $dark-green-clr;
    }
    .btn-switch__label_no:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        width: 2em;
        background: $white-color;
        border-radius: 1em;
        pointer-events: none;
        box-shadow: 0 0.1429em 0.2143em rgba(43, 43, 43, 0.2), 0 0.3572em 0.3572em rgba(43, 43, 43, 0.1);
        transition: left 0.2s ease-in-out, background 0.2s ease-in-out;
    }
    .btn-switch__radio_yes:checked~.btn-switch__label_no:after {
        left: calc(100% - 2.5em);
        background: $white-color;
    }
    .btn-switch__radio_no:checked~.btn-switch__label_yes:before,
    .btn-switch__radio_yes:checked~.btn-switch__label_no:before {
        z-index: 1;
    }
    .btn-switch__radio_yes:checked~.btn-switch__label_yes {
        color: $white-color;
    }
    .line {
        padding-bottom: 10px;
        &.boder-bottom {
            border-bottom: 1px solid #dee1e7;
        }
    }
}

.setting-icon {
    @include custom-font-size($font-size-base);
}

.setting-icon-line-height {
    line-height: 1.4;
}

.min-height {
    min-height: 150px;
}

.security-setting-header {
    background: white;
    padding-top: 1vw;
    .ent-title-bar {
        margin-bottom: 0px !important;
    }
}

.security-config {
    .btn-group {
      button {
        background: transparent;
        color: $theme-primary-color;
      }
      .dropdown-menu {
        li {
          a {
            &:hover,
            &:focus {
              background: $hover-color;
              color: $black-color;
            } 
            &.active{
              background: $theme-primary-color;
              color: $white-color;
            }
          }
        }
      }
    }
  }