.spinner_overlay{
     width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1051;
}

.cube-grid-spinner {
    @include margin (25px, auto, 25px, auto);
    @include pseudo (fixed, 50%, false, 50%, false, 1051);
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    .cube {
        float: left;
        width: 33%;
        height: 33%;
        background-color: $theme-primary-color;
        -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    .cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
}

@-webkit-keyframes cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
