//BASIC TABLE STYLING
.table-list-base{
    width: 100%;
    table-layout: fixed;
    @include space (margin, bottom, 0px);
    tr td {
        border-top: 0;
        vertical-align: middle;
        @include space (padding, all, $xs);
    }
    thead tr {
        display: flex;
        flex-wrap: wrap;
        @include space (margin, all, 0px);
        th {
            @include space (padding, all, $xs);
            border-bottom: 1px solid $border-color-1;
            display: inline-block;
            cursor: pointer;
            i {
                color: $sort-header-un-active-color;
                @include space(margin, left, 5px);
                @include space(padding, right, 5px);
            }
            &.sort {
                i {
                    color: $sort-header-active-color;
                }
            }
        }
        &.history-header-row {
            th {
                border-bottom: none;
            }
        }
    }
    tbody {
        tr{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $border-color-1;
            td{
                display: inline-block;
                align-self: center !important;
            }
        }
        tr:nth-child(even) {
            background-color: $gray-color-200;
        }
        tr:hover {
            background-color: $hover-color;
        }
        tr:last-child {	
            border-bottom: none !important;
        }
    }
}
.table-list-flat{
  @extend .table-list-base;
  tr td {
      @include custom-font-size($font-size-base, $black-color, $font-normal);
  }
  thead tr {
      background: $list-header-color;
      @include custom-font-size($font-size-base, setFlashTextColor($theme-primary-color), $font-bold);
  }
}

.table-list-flat-dummy {
    @extend .table-list-base;
    tr td {
        @include custom-font-size($font-size-base, $black-color, $font-normal);
    }
    thead tr {
        background: $list-header-color;
        @include custom-font-size($font-size-base, setFlashTextColor($theme-primary-color), $font-bold);
    }
    tbody {
        tr:nth-child(even) {
            background-color: transparent;
        }
        tr:hover {
            background-color: $hover-color;
        }
        tr:last-child {
            border-bottom: 1px solid $border-color-1;
            td {
                border-bottom: none !important;
            }
        }
        tr {
            td {
                border-bottom: none !important;
            }
        }
        tr:first-child {
            background-color: $gray-color-200;
            td {
                @include custom-font-size($font-size-base, $black-color, $font-bold);
            }
        }
    }
}

.table-list-flat-sub {
    @extend .table-list-base;
    thead tr {
        background: $list-sub-header-color;
        @include custom-font-size($font-size-base, setFlashTextColor($theme-primary-color), $font-bold);
    }
    tr td {
        @include custom-font-size($font-size-base, $black-color, $font-normal);
    }
}

.table-list-flat-sub-detail{
    @extend .table-list-flat-sub;
    thead tr {
        background: $list-header-color;
    }
}

.table-selected-detail{
    width: 100%;
    background-color: $white-color;
    @include custom-font-size($font-size-base);
    tbody {
        tr {
            &:hover td {
                background-color: $hover-color;
                cursor: pointer;
            }
            &.active td {
                background-color: $hover-color;
            }
            td {
                border-bottom: 1px solid $gray-color-200;
                @include space (padding, all, 8px);
                text-align: left;
                height: 35px;
                .address-type {
                    height: auto !important;
                    @include custom-font-size($font-size-base);
                    line-height: normal;
                    color: $gray-color-500 !important;
                    font-weight: normal;
                }
                .lable-text-color {
                    .ent-text {
                        color: $black-color;
                    }
                }
                &:first-child {
                    @include space (padding, left, 15px);
                    width: 45px;
                }
                &:last-child {
                    @include space (padding, right, 15px);
                }
                .action-links {
                    a {
                        @include space (padding, left, 5px);
                        .fa-trash-primary {
                            color: $gray-color-200;
                        }
                    }
                }
            }
            &:last-child {
                td {
                    border-bottom: none !important;
                }
            }
        }
    }
}