//List Results Styles
.table-list {
    .results-section {
        @include padding(false, 0px, false, 0px);
        @include custom-font-size($font-size-base, $black-color, $font-normal);
        height: 54px;
        display: flex;
        align-items: center;
        .right-option-icon {
            border-left: 1px solid rgba(0, 0, 0, 0.09);
            height: inherit;
            text-align: center;
            display: flex;
            align-items: center;
            @include respond-to($phone) {
                max-width: 16%;
            }
            &>*:first-child {
                width: 100%;
                cursor: pointer;
                &.fas:hover {
                    color: $theme-primary-color;
                }
            }
        }
        .left-option-icon {
            border-right: 1px solid rgba(0, 0, 0, 0.09);
            height: inherit;
            text-align: center;
            display: flex;
            align-items: center;
            @include respond-to($phone) {
                max-width: 16%;
            }
            &>* {
                width: 100%;
            }
        }
        // .fas {
        //     &.active,
        //     &:hover {
        //         color: $theme-primary-color;
        //     }
        // }
        .hover-dotted-border {
            border-bottom: 1px dashed $gray-color-700;
            &:hover {
                cursor: help;
            }
        }
        .badge-Add {
            cursor: pointer;
            padding: 3px 5px;
            .fa-plus-circle {
                float: right;
                @include custom-font-size($font-size-sm, false, false, 8px);
                &:hover {
                    color: $white-color !important;
                }
            }
        }
        .action-links {
            a {
                @include custom-font-size($font-size-base, $theme-primary-color, $font-bold);
            }
        }
    }
    //List Header Styles
    .header-section {
        @include padding(17px, 0px, 17px, 0px);
        @include custom-font-size($font-size-base, setFlashTextColor($theme-primary-color), $font-bold);
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        background: $table-head-bg-parent;
        border-radius: 5px;
        box-shadow: $box-shadow-color-2;
        @include space(margin, bottom, 10px);
        i {
            color: $sort-header-un-active-color;
            @include padding(0px, 5px, 0px, 5px);
            cursor: pointer;
            &.float-right {
                float: right;
            }
        }
        .sort {
            i {
                color: $sort-header-active-color;
            }
        }
        .checkbox-wrapper {
            text-align: center;
            .ent-checkbox-field {
                display: block !important;
            }
        }
    }
    .checkbox-column {
        min-width: 60px;
    }
}