<div class="dropdown ent-dropdown-select">
    <div #toggle class="select input-dropdown disabled">
        <i *ngIf="fasName" class="fas {{fasName}} search-icon"></i>
        <input #input appAutoFocus [autoFocus]="isAutoFocus" [class.isError]="isError()" (click)="onTouched();focus();eventClick($event)" [disabled]="disabledField" [ngStyle]="{'padding-left':fasName ? '30px' : '12px', height: '32px'}" [ngModel]="value" (ngModelChange)="textChanged($event)" (keyup)="search($event)"
            class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="{{placeholder}}" [readonly]="forceSelection" (keydown.esc)="dropdownMenuClosingFocus()">
        <i appTabbing *ngIf="!disabledField && showClose && _value && _value.length > 0" (click)="clear()" class="fas fa-times close-icon"></i>
        <ul [ngClass]="{'d-none': dropdownItems.length <= 0}" #dropdown class="dropdown-menu" (keydown.esc)="dropdownMenuClosingFocus()">
            <span #content>
                <ng-content></ng-content>
            </span>
            <ng-template [ngIf]="content.children.length == 0">
                <li *ngFor="let dropdownItem of dropdownItems;let i = index" class="dropdown-item">
                    <a id="dropdownItem-{{i}}" href="javascript:void(0)" (click)="itemSelected(dropdownItem, i)">
                        {{ (isDate ? (dropdownItem[displayField] | date:'MM/dd/yyyy' || dropdownItem) : (dropdownItem[displayField] || dropdownItem))}}
                    </a>
                </li>
            </ng-template>
            <li [ngClass]="{'more-link-invisible' : !hasNext}">
                <a #moreBt (click)="getMoreItems($event)">More...</a>
            </li>
        </ul>
    </div>
</div>