<div class="container-fluid pr-0 pl-0">
    <ent-alert></ent-alert>
    <ent-spinner>
    </ent-spinner>
    <ent-navbar class="custom-app-navbar"></ent-navbar>
    <router-outlet></router-outlet>
</div>