<span class="ent-button">
    <button appNonMultipleClick [attr.type]="buttonType" class="btn text-uppercase"
        (click)="eventClick($event)" [disabled]="disabled">
        <!-- float element should come first to avoid bug in firefox -->
        <ent-image *ngIf="imageUrl" class="icon {{imagePosition}}-icon" imageUrl="{{imageUrl}}" alt="{{imagePosition}}">
        </ent-image>
        {{buttonText}}
        <i *ngIf='fasName' class="fas {{fasName}} float-{{imagePosition}} pl-2"></i>
    </button>
</span>