<div class="col-12 pl-0 pr-0 ent-wizard">
    <ent-card class="wizard-content">
        <div class="col-3 pl-0 pr-0 step-name">
            <h3 class="clr-wizard-title">
                {{title}}
            </h3>
            <ol class="clr-wizard-stepnav-list" role="tablist">
                <li *ngFor="let step of steps;let i = index" class="clr-wizard-stepnav-item clr-nav-link nav-item" [class.active]="activeStepIndex === i" [class.complete]="activeStepIndex > i" role="presentation">
                    <button class="btn btn-link clr-wizard-stepnav-link" type="button">
                        {{step.title}}
                    </button>
                </li>
            </ol>
            <div class="offset-lg-3 offset-md-3 offset-sm-3 offset-3 col-6 pl-0 pr-0 margin-top">
                <button class="finish-btn" (click)="complete()" [disabled]="!allStepsValid()">{{doneText}}</button>
            </div>
        </div>
        <div class="col-9 pl-0 pr-0 step-content">
            <div class="wizard-body">
                <div class="pre-direction">
                    <button class="pre-btn" [disabled]="!(hasPrevStep && activeStep.showPrev)" (click)="previous()">
                            <i class="fas fa-chevron-left"></i>
                    </button>
                </div>
                <div class="next-direction">
                    <button class="next-btn" [disabled]="!(hasNextStep && activeStep.showNext && activeStep.isValid)" (click)="next()">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div class="cancel-direction">
                    <button class="close-icon" (click)="close()">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div #wizardContent class="ent-wizard-step">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </ent-card>
</div>