
.ent-alert {
    @include space (margin, left, auto);
    @include space (margin, right, auto);
    @include pseudo(fixed, 88px, 0,  0, false, 999999);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    pointer-events: auto;
    @include padding(15px, 15px, 15px, 55px);
    width: 36em;
    min-height: 50px;
    .ent-alert-content {
        .ent-alert-message {
            .list-group {
                @include space(margin, all, 0px);
                .list-group-item {
                    border: 0;
                    background: none;
                    @include padding(0, 0, 5px, 10px);
                }
            }
        }
    }
}

.ent-alert-success,
.ent-alert-error {
    background: $warning;
}

.ent-alert-wait {
    background: $alert-wait-color;
}

.alert-close {
    @include pseudo(absolute, 2px, 10px, false, false, false);
    @include custom-font-size($font-size-lg, $dark-grey-clr, $font-bolder);
    &:hover,
    &:focus,
    &:active {
        color: $dark-grey-clr;
        cursor: pointer;
        font-weight: $font-bold;
        filter: alpha(opacity=50);
    }
}

.icon-success {
    @extend %icon;
    @include margin(0px, 15px, 0px, 15px);
}

.icon-success::before {
    content: "\f00c";
    @include space(margin, all, 0px);
    @include custom-font-size($icon-size-base);
}

.icon-error {
    @extend %icon;
    @include margin(0px, 15px, 0px, 15px);
}

.icon-error::before {
    content: "\f071";
    @include space(margin, all, 0px);
    @include custom-font-size($icon-size-base);
}

.icon-wait {
    @extend %icon;
    @include margin(0px, 15px, 0px, 15px);
}

.icon-wait::before {
    content: "\f017";
    @include space(margin, all, 0px);
    @include custom-font-size($icon-size-base);
}
