.ent-breadcrumb {
    display: inline;
    background-color: $breadcrumb-background-color !important;
    li{
        @include custom-font-size($font-size-base, $theme-primary-color, false);
    }
    li:last-child{
        color: $theme-primary-color;
        a{
            color: $theme-primary-color;
            font-weight: $font-bold;
            pointer-events: none;
        }
    }
}
