.ent-button {
    .btn {
        letter-spacing: 1px;
        box-shadow: none;
        border: 2px solid $button-hover-border-color;
        white-space: normal;
        max-width: 235px;
        @include custom-font-size(false, $button-text-color, $font-bold, 16px);
        background-color: $button-background-color;
        outline: none;
        .fas {
            top: 0; //fix for SegoUI
            @include custom-font-size(1.3rem);
        }
        @include border-radius(4px);
        &:hover,
        &:active:focus,
        &:focus:not(:focus-visible):hover {
            background: $button-hover-background-color radial-gradient(circle, transparent 1%, $button-hover-background-color 1%) center/15000%;
            background-color: $button-hover-background-color;
            border: 2px solid $button-hover-border-color;
            color: $button-hover-text-color;
            box-shadow: none;
            outline: none;
        }
        &:active,
        &:focus,
        &:active:focus,
        &:active:focus-visible {
            box-shadow: none;
            outline: none;
        }
        &:focus:not(:focus-visible) {
            @include custom-font-size(false, $button-text-color, $font-bold, 16px);
            background-color: $button-background-color;
        }
        &:focus, .focus-visible:focus:not(:focus-visible) {
            background: $button-hover-background-color radial-gradient(circle, transparent 1%, $button-hover-background-color 1%) center/15000%;
            background-color: $button-hover-background-color;
            border: 2px solid $button-hover-border-color;
            color: $button-hover-text-color;
            box-shadow: $input-focus-box-shadow;
            outline: none;
        }
        &:disabled {
            background-color: $button-background-color;
            opacity: 0.5;
            color: $button-text-color;
            cursor: not-allowed;
            outline: none;
        }
    }
    .icon {
        img {
            height: 18px;
            @include space (margin, top, -2px);
            display: inline-block;
        }
        &.right-icon {
            img {
                float: right;
            }
        }
        &.left-icon {
            img {
                float: left;
            }
        }
    }
}
