.ent-btn-group {
    button {
        height: 32px;
        line-height: 16px;
        max-width: 189px;
        outline: none;
    }
    button.btn,
    &.open>.dropdown-toggle.btn-default {
        max-width: 189px;
        box-shadow: none;
        outline: none;
        background-color: $button-background-color;
        @include custom-font-size(false, $button-text-color, $font-bold, 16px);
        outline: none;
        border-left: 1px solid $button-border-color !important;
        border-right: 1px solid $button-border-color !important;
        border-top: 2px solid $button-hover-border-color;
        border-bottom: 2px solid $button-hover-border-color;
        &:hover {
            background: $button-hover-background-color radial-gradient(circle, transparent 1%, $button-hover-background-color 1%) center/15000%;
            background-color: $button-hover-background-color;
            color: $button-hover-text-color;
            border: 2px solid $button-hover-border-color !important;
            outline: none;
            .fas{
                color: $button-hover-text-color;
            }
        }
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus {
            box-shadow: none;
            outline: none;
            border: 2px solid $button-hover-border-color !important;
        }
        &:disabled {
            background-color: $button-background-color;
            opacity: 0.5;
            color: $button-text-color;
            cursor: not-allowed;
            outline: none;
        }
    }
    .btn {
        @include padding(0px, 8px, 0px, 8px);
        background: transparent;
        @include custom-font-size($font-size-base);
        &:not(:last-child):not(.dropdown-toggle),
        &:first-child:not(.dropdown-toggle) {
            border-left-color: $button-hover-border-color !important;
        }
        &:last-child:not(.dropdown-toggle) {
            border-right-color: $button-hover-border-color !important;
        }
        .fas {
            color: $button-text-color;
            &:hover {
                color: $button-hover-text-color;
            }
        }
        &:focus:not(:focus-visible) {
            outline: none !important;
            box-shadow: none !important;
        }
        &:focus, .focus-visible:focus:not(:focus-visible) {
            outline: none;
            box-shadow: $input-focus-box-shadow !important;
            background-color: $button-hover-background-color;
            color: $button-hover-text-color;
            border: 2px solid $button-hover-border-color !important;
            outline: none;
            .fas{
                color: $button-hover-text-color;
            }
        }
    }
    .dropdown-menu {
        min-width: auto;
        right: 0px;
        z-index: 1001;
        left: auto;
        @include custom-font-size($font-size-base);
        @include margin(-13px, 27px, 0, 0);
        li {
            a {
                font-weight: normal;
                color: $theme-primary-color;
                &:hover {
                    color: $theme-primary-color;
                    background: $hover-color;
                }
            }
        }
        &:before {
            @include pseudo(absolute, -9px, 10px, false, false, false);
            display: inline-block;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $gray-color-300;
            border-left: 8px solid transparent;
            content: "";
        }
        &:after {
            @include pseudo(absolute, -9px, 10px, false, false, false);
            display: inline-block;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $gray-color-300;
            border-left: 8px solid transparent;
            content: "";
            top: -8px;
            border-bottom-color: $white-color;
        }
        .disable-dropdown-options {
            pointer-events: none;
            cursor: default;
            color: $disable-color !important;
        }
    }
    .dropdown-toggle {
        box-shadow: none !important;
    }
}

.ent-btn-group-horizontal {
    .btn {
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:focus-visible{
            box-shadow: $input-focus-box-shadow;
            outline: none;
        }
    }
    .btn-default {
        @include padding(10px, 15px, 10px, 15px);
        background-color: $button-background-color;
        color: $white-color;
        border: 1px solid lighten($light-grey-clr, 10%);
        &.active {
            color: $black-color;
            background-color: lighten($light-grey-clr, 10%);
            &:hover,
            &:focus {
                color: $black-color;
                background-color: lighten($light-grey-clr, 10%);
            }
        }
        &:hover {
            color: $white-color;
            background-color: $button-background-color;
        }
    }
}
