.ent-card {
    height: 100%;
    width: 100%;
    box-shadow: $card-shadow;
    &.active {
        box-shadow: inset 4px 0px 0px 0px $theme-primary-color;
        border: 1px solid $theme-primary-color;
    }
    &:hover,
    &.focused {
        background-color: none;
    }
}

.ent-card-datarow {
    .ent-card {
        @include space(padding, all, 0px);
        &:hover {
            background-color: $hover-color;
        }
    }
}

.ent-card-table {
    .ent-card {
        @include space(padding, all, 0px);
    }
}
