.ent-copy-to-clipboard {
    display: inline;
    @include space(padding, left, 10px);
    .glyphicon {
        color: $black-color;
        &:hover {
            cursor: pointer;
            color: $theme-primary-color;
        }
    }
}
