.ent-datagrid {
    @include space (margin, top, $xs + $xs);
    table {
        width: 100%;
        @include space (margin, bottom, 0px);
        tr td {
            border-bottom: 1px solid $border-color-1;
            border-top: 0 !important;
            vertical-align: middle !important;
            @include space (padding, top, $small !important);
            @include custom-font-size($font-size-base, $gray-color-700, 500);
            &.content-checkbox {
                @include space (padding, left, $xs + $xxs);
                @include space (padding, right, $xxs + $xs);
            }
            a {
                font-weight: $font-bold;
            }
        }
        thead tr {
            @include space (padding, all, $xs + $xxs);
            @include custom-font-size($font-size-base, $black-color);
            @include space (margin, bottom, $xxs);
            th {
                border-bottom: 2px solid $border-color-1;
                font-weight: normal !important;
                @include padding(10px, 8px, 10px, 8px);
            }
            &.header-row {
                th {
                    border-bottom: none;
                }
            }
        }
        tr:last-child td {
            border-bottom: none;
        }
        tbody {
            tr:hover {
                background-color: $hover-color;
            }
        }
    }
    ul.list-feed {
        @include space (padding, all, 0px);
        list-style: none;
        @include custom-font-size($font-size-base);
        li {
            color: $gray-color-700;
        }
    }
    .min-height {
        min-height: 150px;
    }
}
