.ent-date-picker {
    .mydp {
        input[disabled],
        button[disabled] {
            background-color: $disable-color !important;
            opacity: 1 !important;
            cursor: not-allowed;
        }
        .headertodaybtn,
        .selection,
        .weekdaytitle {
            overflow: hidden;
            white-space: nowrap;
        }
        min-width: 30px;
        line-height: 1.1;
        display: inline-block;
        @include pseudo(relative, false, false, false, false, false);
        height: 32px;
        border: 1px solid $border-color-2;
        border-radius: 4px;
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            @include space (padding, all, 0px);
            @include space(margin, all, 0px);
        }
        .selector {
            @include space (margin, top, $xxs - 3px);
            @include space (margin, left, -1px);
            @include pseudo(absolute, false, false, false, false, 100);
            width: 252px;
            @include space (padding, all, 1px);
            border-radius: 2px;
            background-color: $border-color-2;
            animation: selectorfadein 0.1s;
        }
        .position-top {
            background: $dp-background-color;
            border: 1px solid $border-color-2;
            @include space (padding, all, 0px);
            @include pseudo(false, auto, false, false, 100%, false);
            @include space (margin, bottom, $xs + 2px);
            &:after,
            &:before {
                content: " ";
                height: 0;
                width: 0;
                @include pseudo(absolute, false, false, false, false, false);
                border: solid transparent;
            }
            &:after {
                border-color: rgba(250, 250, 250, 0);
                border-width: 10px;
                @include space (margin, left, $xxs);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid;
                border-top-color: $dp-background-color;
            }
            &:before {
                @include pseudo(false, 100%, false, false, false, false);
                border-color: rgba(204, 204, 204, 0);
                border-top-color: $border-color-2;
                border-width: 11px;
                @include space (margin, left, $xxs - 1px);
            }
        }
        .selectorarrow {
            background: $dp-background-color;
            border: 1px solid $border-color-2;
            @include space (margin, top, $xs + 2px);
            @include space (padding, all, 0px);
            &:after,
            &:before {
                @include pseudo(absolute, false, false, false, 100%, false);
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
            }
            &:after {
                border-color: rgba(250, 250, 250, 0);
                border-bottom-color: $dp-background-color;
                border-width: 10px;
                @include space (margin, left, -10px);
            }
            &:before {
                border-color: rgba(204, 204, 204, 0);
                border-bottom-color: $border-color-2;
                border-width: 11px;
                @include space (margin, left, -11px);
            }
        }
        .selectorarrowleft {
            &:after,
            &:before {
                left: 24px;
            }
        }
        .selectorarrowright {
            &:after,
            &:before {
                left: 224px;
            }
        }
        .alignselectorright {
            right: -1px;
        }
        .selectiongroup {
            @include pseudo(relative, false, false, false, false, false);
            display: table;
            border: none;
            border-spacing: 0;
            background-color: transparent;
        }
        .selection {
            outline: 0;
            background-color: $white-color;
            display: table-cell;
            width: 100%;
            text-overflow: ellipsis;
            @include space (padding, left, 5px);
            font-family: $app-font-family;
            &:focus {
                box-shadow: $input-focus-box-shadow;
            }
        }
        .invaliddate,
        .invalidmonth,
        .invalidyear {
            background-color: $dp-background-color-2;
        }
        &::-ms-clear {
            display: none;
        }
        .headerbtncell {
            background-color: $dp-background-color;
            display: table-cell;
            vertical-align: middle;
        }
        .selbtngroup {
            display: table-cell;
            vertical-align: middle;
            @include pseudo(relative, false, false, false, false, false);
            white-space: nowrap;
            width: 1%;
            font-size: 0;
        }
        .btnclear,
        .btnpicker {
            height: 100%;
            width: 30px;
            border: none;
            @include space (padding, all, 0px);
            outline: 0;
            font: inherit;
            -moz-user-select: none;
            background-color: none;
        }
        .btnclearenabled,
        .btnpickerenabled,
        .headertodaybtnenabled {
            cursor: pointer;
        }
        .btncleardisabled,
        .btnpickerdisabled,
        .headertodaybtndisabled {
            cursor: not-allowed;
        }
        .btnclear,
        .btnpicker,
        .headertodaybtn {
            background: transparent;
        }
        .header {
            width: 100%;
            height: 30px;
            background-color: $dp-background-color;
            td {
                vertical-align: middle;
                border: none;
                line-height: 0;
                &:nth-child(1) {
                    @include space (padding, left, 4px);
                }
                &:nth-child(2) {
                    text-align: center;
                }
                &:nth-child(3) {
                    @include space (padding, right, 4px);
                }
            }
        }
        .caltable {
            table-layout: fixed;
            width: 100%;
            background-color: $white-color;
            @include custom-font-size($font-size-base, $dp-caltable-color, false, 1.1);
            border-collapse: collapse;
        }
        .daycell,
        .weekdaytitle {
            border-collapse: collapse;
            color: $dp-caltable-color;
            line-height: 1.1;
        }
        .weekdaytitle {
            @include space (padding, all, 5px);
            text-align: center;
            background-color: $border-color-1;
            @include custom-font-size($font-size-base, false, $font-bolder);
            vertical-align: middle;
            max-width: 36px;
        }
        .daycell {
            @include space (padding, all, 5px);
            text-align: center;
            cursor: pointer;
            height: 30px;
            div {
                background-color: inherit;
                vertical-align: middle;
                span {
                    vertical-align: middle;
                }
            }
        }
        .inlinedp {
            @include pseudo(relative, false, false, false, false, false);
            @include space (margin, top, -1px);
        }
        .nextmonth,
        .prevmonth {
            color: $border-color-2;
        }
        .disabled {
            cursor: default !important;
            color: $border-color-2 !important;
            background: $dp-disabled-color !important;
        }
        .sunday {
            color: $dp-sunday-color;
        }
        .sundayDim {
            opacity: 0.5;
        }
        .currmonth {
            background-color: $dp-currmonth-color;
            font-weight: $font-bold;
        }
        .currday {
            text-decoration: underline;
        }
        .selectedday div {
            border: 1px solid $dp-selectedday-border;
            background-color: $dp-selectedday-background !important;
            border-radius: 2px;
            color: $date-picker-selectedday-color !important;
        }
        .selectmenu {
            height: 24px;
            width: 60px;
        }
        .headerbtn,
        .headerlabelbtn {
            background: $dp-background-color;
            border: none;
            height: 18px;
        }
        .headerbtn {
            width: 16px;
        }
        .headerlabelbtn {
            @include custom-font-size($font-size-base);
        }
        .headertodaybtn,
        .monthinput,
        .yearinput {
            border: 1px solid $border-color-2;
            border-radius: 4px;
        }
        .btnclear,
        .btnpicker,
        .headerbtn,
        .headermonthtxt,
        .headertodaybtn,
        .headeryeartxt,
        .selection {
            color: $text-input-color;
        }
        .headertodaybtn {
            @include padding (0, 4px, 0, 4px);
            border-radius: 2px;
            @include custom-font-size($font-size-sm);
            height: 22px;
            min-width: 60px;
            max-width: 70px;
        }
        button::-moz-focus-inner {
            border: 0;
        }
        .headermonthtxt,
        .headeryeartxt {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            @include custom-font-size($font-size-base);
            height: 26px;
            width: 40px;
            max-width: 40px;
            overflow: hidden;
            white-space: nowrap;
        }
        .btnclear:focus,
        .btnpicker:focus,
        .headertodaybtn:focus {
            background: $dp-header-focus-color;
            box-shadow: $input-focus-box-shadow;
        }
        .headerbtn:focus,
        .monthlabel:focus,
        .yearlabel:focus {
            outline: 0;
        }
        .daycell:focus {
            outline: $border-color-2 solid 1px;
        }
        .icon-calendar,
        .icon-cross {
            @include custom-font-size($font-size-base);
        }
        .icon-left,
        .icon-right {
            color: $dp-icon-color;
            font-size: 98%;
            vertical-align: middle;
        }
        table {
            display: table;
            border-spacing: 0;
            td {
                @include space (padding, all, 0px);
            }
            border: none;
        }
        td,
        th {
            border: none;
        }
        .btnclearenabled:hover,
        .btnpickerenabled:hover,
        .headertodaybtnenabled:hover,
        .tablesingleday:hover {
            background-color: transparent;
        }
        .headerbtn,
        .monthlabel,
        .yearlabel {
            cursor: pointer;
        }
        .monthinput,
        .yearinput {
            width: 40px;
            height: 22px;
            text-align: center;
            font-weight: $font-bold;
            outline: 0;
            border-radius: 2px;
        }
        .headerbtn:hover,
        .monthlabel:hover,
        .yearlabel:hover {
            color: $dp-hover-color;
        }
        .icon {
            font-family: $mydatepicker;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .icon-calendar:before {
            content: "\e600";
            color: $theme-primary-color;
        }
        .icon-cross:before {
            content: "\e602";
            @include pseudo(absolute, 0, 9px, false, false, false);
            @include custom-font-size($font-size-sm);
            color: $close-icon-color;
            font-weight: bold;
        }
        .icon-left:before {
            content: "\e605";
        }
        .icon-right:before {
            content: "\e607";
        }
    }
}

.ent-date-picker>div {
    height: 34px;
}

@keyframes selectorfadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}