.ent-dropdown {
    button[disabled] {
        background-color: $drop-down-disable-color !important;
        opacity: 1;
        cursor: not-allowed;
    }
    .close-addon-icon {
        @include pseudo(absolute, 0, false, false, false, 1);
        @include margin(9px, 0, 0, -39px);
        &:before {
            cursor: pointer !important;
            @include custom-font-size($font-size-sm, $close-icon-color !important);
        }
    }
    .dropdown-menu {
        height: auto;
        a {
            @include custom-font-size($font-size-base, $black-color);
            &:hover,
            &:focus {
                background: $hover-color;
                color: $black-color;
                @include transition(all 0.25s ease-out);
            }
            &.active {
                background: $theme-primary-color;
                color: $white-color;
                @include transition(all 0.25s ease-out);
            }
        }
        .show-others {
            display: flex;
            align-items: center;
            .keyword {
                width: 92%;
            }
            .close-addon {
                left: auto;
                top: 0px;
                &:before {
                    cursor: pointer !important;
                    pointer-events: auto;
                    @include custom-font-size($font-size-sm, $close-icon-color !important);
                }
            }
        }
    }
    .form-type {
        @extend %basic-dropdown;
        display: block;
        width: 100%;
        @include padding(6px, 12px, 6px, 12px);
        background-color: $white-color;
        background-image: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        &:focus {
            border-color: $drop-down-focus-color;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
    }
    .filter {
        .dropdown-text {
            &:before {
                font-weight: normal;
                @include space (margin, right, $xxs);
                content: attr(data-before);
            }
        }
        .dropdown-toggle {
            @extend %basic-dropdown;
            border: none;
            @include padding(0, 2px, 0, 2px);
            box-shadow: none;
            .fa-chevron-down,
            .caret {
                display: contents;
                color: $theme-primary-color;
                &:hover {
                    color: $theme-primary-color;
                }
                top:3px;
                left:3px;
            }
            .caret {
                border-top: 5px dashed;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
        .dropdown-menu {
            .dropdown-item {
                @include padding(0px, 5px, 0px, 5px);
                a {
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                    @include space (padding, all, 3px);
                }
            }
        }
    }
    .option {
        .dropdown-toggle {
            @extend %basic-dropdown;
            background-color: transparent;
            border: none;
            .dropdown-text {
                display: none;
            }
            .caret {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $black-color;
            }
        }
        .dropdown-menu {
            @include margin(0px, 10px, 0px, 10px);
            li {
                a {
                    &:hover,
                    &:focus {
                        background: $hover-color;
                        color: $black-color;
                        @include transition(all 0.25s ease-out);
                    }
                    &.active {
                        background: $theme-primary-color;
                        color: $white-color;
                        @include transition(all 0.25s ease-out);
                    }
                }
            }
        }
    }
    .select {
        .caret {
            @include pseudo(false, false, 0px, auto, false, 1);
            color: $black-color;
        }
        .dropdown-toggle {
            @extend %basic-dropdown;
            width: 100%;
            @include padding(0px, 3.5rem, 0px, 30px);
            border-radius: 4px;
            @include custom-font-size($font-size-base);
            display: inline-block;
            height: 32px;
            &:after {
                display: none !important;
            }
            .float-left {
                cursor: pointer;
                overflow: hidden;
                text-align: left;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
            }
        }
        .dropdown-menu {
            width: 100%;
            max-height: 112px;
            overflow-y: auto;
            border-width: 0.1rem;
            background-clip: initial;
            .dropdown-item {
                @include padding(0px, 5px, 0px, 5px);
                a {
                    display: block;
                    width: 100%;
                    @include padding(3px, 4px, 3px, 3px);
                    .close-addon {
                        right: 20px;
                    }
                    .dropdown-item-label{
                        cursor: pointer;
                        overflow: hidden;
                        text-align: left;
                        display: block;
                        width: 100%;
                        text-overflow: ellipsis;
                    }
                    input {
                        font-size: inherit;
                        height: inherit;
                        @include space (padding, all, inherit);
                        line-height: inherit;
                        display: inline-block;
                    }
                    &:hover,
                    &:focus {
                        background: $hover-color;
                        color: $black-color;
                        @include transition(all 0.25s ease-out);
                    }
                    &.active {
                        background: $theme-primary-color;
                        color: $white-color;
                        @include transition(all 0.25s ease-out);
                    }
                    &:focus-visible{
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
    .up {
        bottom: 100% !important;
        top: auto !important;
    }
    .dropdown {
        @include firefox-browser-style {
            @include padding(0, 0, 5px, 0);
        }
        .filter-status {
            .fa-filter {
                color: $sort-header-active-color;
                @include custom-font-size($font-size-base);
            }
            .advanced-filter {
                @include pseudo(absolute, 100%, 0, false, false, 1000);
                width: 210px;
                display: none;
                background-color: $white-color;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                @include padding (10px, 8px, 10px, 8px);
                text-align: center;
                .advanced-filter-content {
                    color: $black-color;
                }
            }
            &:hover .advanced-filter {
                display: block;
            }
        }
    }
}

.smDropdown {
    @extend .flex-container-center;
    @include pseudo(relative, false, false, false, false, false);
    .dropdown-toggle {
        &:after {
            display: none !important;
        }
    }
    .btn {
        @include padding (5px, 10px, 5px, 10px);
        background: transparent;
        @include custom-font-size (15px);
        &:focus {
            outline: none;
        }
    }
    .disable-dropdown-options {
        pointer-events: none;
        cursor: default;
        color: $disable-color !important;
    }
    .divider-options-dropdown {
        position: relative;
        display: block;
        border: none;
        box-shadow: none;
        @include space (margin, all, 0px !important);
        @include space (padding, all, 0px !important);
        float: none;
        &:after,
        &:before {
            border-bottom: none !important;
        }
        li:only-child {
            display: none;
        }
    }
    .dropdown-menu {
        min-width: auto;
        @include custom-font-size($font-size-base);
        @include margin(12px, -4px, 20px, false);
        li {
            a {
                font-weight: normal;
                color: $theme-primary-color;
                display: block;
                // padding: 3px 20px;
                @include padding(3px, 20px, 3px, 20px);
                clear: both;
                font-weight: $font-normal;
                white-space: nowrap;
                &:hover,
                &:focus {
                    background: $hover-color;
                    color: $black-color;
                    @include transition(all 0.25s ease-out);
                }
                &.active {
                    background: $theme-primary-color;
                    color: $white-color;
                    @include transition(all 0.25s ease-out);
                }
            }
        }
        &:before {
            @include pseudo(absolute, -9px, 10px, false, false, false);
            display: inline-block;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $gray-color-300;
            border-left: 8px solid transparent;
            content: '';
        }
        &:after {
            @include pseudo(absolute, -9px, 10px, false, false, false);
            display: inline-block;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $gray-color-300;
            border-left: 8px solid transparent;
            content: '';
            top: -8px;
            border-bottom-color: $white-color;
        }
        li:last-child.dropdown-divider,
        li:first-child.dropdown-divider {
            display: none;
        }
    }
}

.smDropdown.show {
    &:not(.ent-btn-group) {
        .btn {
            @include padding (5px, 0px, 5px, 0px);
            .fas {
                color: $button-hover-text-color;
                background: $button-hover-background-color;
                box-shadow: inset 0 0 0 2px $button-hover-border-color;
                padding: 0.6rem 0.9rem;
                border-radius: 65%;
                display: inline;
            }
        }
    }
}

.ent-btn-group.show {
    .btn {
        background: $button-hover-background-color radial-gradient(circle, transparent 1%, $button-hover-background-color 1%) center/15000%;
        background-color: $button-hover-background-color;
        color: $button-hover-text-color;
        box-shadow: none;
        outline: none;
        .fas {
            color: $button-hover-text-color;
        }
    }
}


/*Responsive Design*/

@include respond-to($tablet-portrait) {
    .smDropdown {
        .dropdown-menu {
            @include margin (-13px, 11px, 0, 0);
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    @include space (margin, top, -6px);
    @include space (margin, left, 0);
    border-radius: 0.25rem;
    &:before {
        display: none !important;
    }
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    @at-root .dropdown-submenu:hover {
        background-color: $hover-color;
    }
}