.ent-view-wapper {
    width:100%;
    @include pseudo(absolute, 50%, false, 50%, false, false);
    transform: translateY(-50%) translateX(-50%);
    .preview-icon {
        width: 50px;
        height: 50px;
    }
    .icon-section {
        @include space (margin, bottom, $xs);
    }
    .message-text-small {
        @include custom-font-size($font-size-base, $gray-color-500);
        @include margin(5px, 0, 5px, 0);
    }
}
