.ent-file-upload {
    @include space(padding, all, 0px);
    .choose-file {
        border: 1px solid $theme-primary-color;
        @include space(padding, all, 0px);
        white-space: nowrap;
        text-overflow: ellipsis;
        // overflow: hidden;
        height: 32px;
    }
    .file-name {
        font-weight: normal;
        display: initial;
    }
    .upload-button {
        @include padding(1px, 4px, 1px, 4px);
        @include pseudo(relative, $xxs, false, $xxs);
        cursor: pointer;
        .file-upload-icon {
            @include custom-font-size(1.8rem, $theme-primary-color);
            @include space (margin, top, -2px);
        }
    }
    .upload-button-active {
        left: 5px;
        top: -1px;
    }
    .choose-button {
        input[type="file"] {
            display: none;
        }
        width: 100%;
        height: 30px;
        max-width: 28px;
        border: none;
        background-color: $button-background-color;
        @include custom-font-size($font-size-base, $button-text-color, $font-bold, $font-size-lg);
        outline: none;
        @include border-radius(0);
        @include padding(7px, 9px, 7px, 9px);
        &:active,
        &:hover,
        &:focus,
        &:active:hover,
        &:active:focus {
            @extend .choose-button;
            border-right: 1px solid $button-hover-border-color;
            outline: none;
            background-color: $button-hover-background-color;
            color: $button-hover-text-color;
        }
        &:focus-visible{
            border: none;
        }
        &:disabled {
            @extend .choose-button;
            cursor: not-allowed;
            outline: none;
            &:active,
            &:hover,
            &:focus,
            &:active:hover,
            &:active:focus {
                @extend .choose-button;
            }
        }
    }
}
