.ent-filter {
    .fa-filter {
        @include custom-font-size($font-size-sm, $gray-color-700);
        @include space (margin, left, $xs);
        cursor: pointer;
        &.active {
            color: $theme-primary-color;
        }
    }
    .filter-box {
        @include pseudo(absolute, false, false, false, false, false);
        min-width: 300px;
        @include space (padding, all, 10px);
        background-color: $white-color;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        z-index: 99;
        .search-input {
            width: 100%;
            @include padding (6px, 10px, 6px, 12px);
            border-radius: 4px;
            border: 1px solid $gray-color-300;
            @include custom-font-size($font-size-base);
            display: inline-block;
            height: 34px;
            @include space (margin, bottom, 5px);
        }
        .close-icon {
            @include pseudo(absolute, 22px, 25px, false, false, false);
            cursor: pointer;
            @include custom-font-size($font-size-sm, $close-icon-color);
        }
        .select-all {
            @include custom-font-size ($font-size-base, false, $font-bold);
            input {
                @include space (margin, right, 5px);
            }
        }
        .filter-list {
            width: 100%;
            max-height: 160px;
            overflow-y: auto;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            @include padding (5px, 5px, 5px, 5px);
            @include margin (2px, 0, 0, 0);
            text-align: left;
            list-style: none;
            background-color: $white-color;
            background-clip: padding-box;
            border: 1px solid $gray-color-300;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            li {
                line-height: 25px;
                input {
                    @include space (margin, right, 5px);
                }
                &:hover {
                    background: $hover-color;
                    transition-duration: .4s;
                }
                &.single {
                    cursor: pointer;
                    @include space (padding, left, 10px);
                }
            }
        }
        .confirm-btn {
            float: right;
            @include space (margin, top, 10px);
            button {
                background: $theme-primary-color;
                cursor: pointer;
                display: inline-block;
                border-style: none;
                text-align: center;
                min-width: 30px;
                white-space: nowrap;
                border-radius: 4px;
                @include padding (6px, 15px, 6px, 15px);
                @include custom-font-size ($font-size-base, $white-color, bold);
                &:focus {
                    @include box-shadow(inset 0 0px 5px 1px rgba(0, 0, 0, 0.45));
                    transition-duration: 0.4s;
                    outline: none;
                }
                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.4;
                }
            }
            button.pb360_inverse_btn {
                border: 1px solid $theme-primary-color;
                background: $white-color;
                color: $theme-primary-color;
                font-weight: 600;
            }
        }
    }
}
