.ent-filter-dropdown {
    .dropdown {
        @include space (padding, all, $xs);
    }
    .dropdown-menu {
        height: auto;
        a {
            @include custom-font-size($font-size-base);
            &:hover {
                background: $theme-primary-color !important;
                color: $white-color !important;
                @include transition(all 0.25s ease-out);
            }
            &:focus,
            &.active {
                background: $drop-down-active-color !important;
                color: $white-color !important;
            }
        }
    }
    .form-type {
        @extend %basic-dropdown;
        display: block;
        width: 100%;
        @include padding (6px, 12px, 6px, 12px);
        background-color: $white-color;
        background-image: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        &:focus {
            border-color: $drop-down-focus-color;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
    }
    .filter {
        .dropdown-text {
            font-weight: normal;
            @include space (margin, right, $xs + $xs);
        }
        .dropdown-toggle {
            @extend %basic-dropdown;
            border: none;
            @include padding (1px, 2px, 1px, 2px);
            .fa-chevron-down,
            .caret {
                color: $theme-primary-color;
                &:hover {
                    color: $theme-primary-color;
                }
                top:3px;
                left:3px;
            }
            .caret {
                border-top: 5px dashed;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
        .dropdown-menu {
            @include space(margin, all, 0px);
        }
        .fa-times {
            @include custom-font-size($font-size-sm, $theme-primary-color);
            cursor: pointer;
            @include space (margin, left, $xxs);
        }
        .badge {
            @include space (padding, all, 6px);
            background-color: $white-color;
            color: $theme-primary-color;
            border: 1px solid $theme-primary-color;
            @include space (margin, top, $xs);
        }
        .prefix {
            @include padding (6px, 0px, 6px, 0px);
            background-color: $white-color;
            color: $theme-primary-color;
            border-bottom: 1px solid $theme-primary-color;
            border-radius: 0;
        }
    }
    .cross {
        height: 11px;
        .fa-times {
            @include custom-font-size($font-size-sm, $gray-color-700);
            cursor: pointer;
            top: -5px;
        }
    }
}
