.ent-header {
  .header-wrapper {
    @include pseudo(relative, false, false, false, false, false);
    height: 60px;
    .header-title {
      @include pseudo(absolute, 18px, false, 50%, false, false);
      @include custom-font-size($font-size-lg);
      transform: translateX(-50%);
      width: auto;
    }
  }
  .preview-icon {
    &:focus-visible {
      box-shadow: none;
      img {
        box-shadow: $input-focus-box-shadow;
        outline: none;
      }
    }
    img {
      float: left;
      cursor: pointer;
      z-index: 999;
      @include pseudo(absolute, 18px, false, 0, false, false);
      width: 25px;
      height: 25px;
      display: block;
    }
  }
  .selected-role {
    @include custom-font-size($font-size-base);
    font-weight: $font-normal;
    @include space (padding, right, 15px);
    height: 100%;
    align-items: center;
    vertical-align: middle;
    display: flex;
    a{
        @include custom-font-size($font-size-base);
        color: $white-color !important;
        &:not([href]):hover {
          color: $white-color !important;
      }
    }
  }
}
