.ent-input-field {
    @include padding(0, 0, 5px, 0);
    .close-addon {
        @include pseudo(absolute, 9px, 10px, false, false, false);
        cursor: pointer;
        @include custom-font-size($font-size-sm, $close-icon-color);
        z-index: 9;
    }
    .icon {
        @include custom-font-size($font-size-lg);
        left: 30px;
        top: -5px;
    }
    input {
        height: 32px;
    }
}
