.ent-checkbox-field {
    display: flex;
    align-items: center;
    .checkbox_block {
        display: inline-flex;
    }
    .checkbox-text {
        @include space (margin, left, $xxs + 3px);
        display: inline-flex;
        label {
            @include custom-font-size($font-size-base, false, normal);
            @include space (margin, bottom, 0px);
        }
    }
    .disabled {
        label {
            cursor: not-allowed !important;
            opacity: 0.34;
        }
    }
}

.checkbox_block {
    @include pseudo(relative, false, false, false, false, false);
    label {
        width: 18px;
        height: 18px;
        cursor: pointer;
        background: $white-color;
        border: 2px solid $checked-border-clr;
        @include space (margin, bottom, 0px);
        border-radius: 4px;
        &:after {
            content: '';
            width: 9px;
            height: 5px;
            @include pseudo(absolute, 5px, false, 5px, false, false);
            border: 2px solid $checked-indicator-clr;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 0.3;
        }
    }
    input:checked + label{
        background: $checked-checkmark-clr;
        border: none;
    }
    input:focus + label{
        box-shadow: $input-focus-box-shadow;
        outline: none;
    }
    div {
        display: inline;
        @include space (padding, left, 10px);
    }
}

.checkbox-block {
    display: block;
    @include custom-font-size($font-size-base, $black-color, normal, 1.8);
    @include pseudo(relative, false, false, false, false, false);
    @include space (padding, left, 35px);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    input {
        @include pseudo(absolute, false, false, false, false, false);
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        @include pseudo(absolute, 2px, false, 0, false, false);
        height: 18px;
        width: 18px;
        background-color: $white-color;
        border: 2px solid $checked-border-clr;
        border-radius: 4px;
    }
    /* When the checkbox is checked, add a blue background */
    input:checked~.checkmark {
        background-color: $checked-checkmark-clr;
    }
    /* Show the checkmark when checked */
    input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkmark:after {
        content: "";
        @include pseudo(absolute, -1px, false, 4px, false, false);
        display: none;
        width: 7px;
        height: 12px;
        border: solid $checked-indicator-clr;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}