.ent-label {
    line-height: 2;
    @include custom-font-size($font-size-base);
}

.ent-label-inline-modal {
    line-height: 2.5;
    @include custom-font-size($font-size-base);
}

.ent-label-inline {
    @extend .ent-label;
    display: inline;
}

.ent-label-inline-bold {
    @extend .ent-label-inline;
    font-weight: $font-bold;
}
