.ent-link {
    a {
        border-bottom: 1px solid transparent;
        @include space(padding, bottom, 1px !important);
        color: $link-clr;
        background-color: transparent;
        text-decoration: $link-decoration-val;
        @if $link-decoration-val {
            @extend .link-underline;
        }
        &:focus:not(:focus-visible) {
            outline: none;
            box-shadow: none;
        }
        &:focus, .focus-visible:focus:not(:focus-visible) {
            outline: none;
            box-shadow: $input-focus-box-shadow;
        }
        &:hover {
            cursor: pointer;
            color: $link-hover-clr;
            @if $link-hover-decoration-val {
                @extend .link-underline;
            }
        }
        &:not([href]) {
            cursor: pointer;
            color: $link-hover-clr;
            @if $link-decoration-val {
                @extend .link-underline;
            }
            &:hover {
                color: $link-hover-clr;
                @if $link-hover-decoration-val {
                    @extend .link-underline;
                }
            }
        }
        &:not([href]):not([class]) {
            cursor: pointer;
            color: $link-hover-clr;
            @if $link-decoration-val {
                @extend .link-underline;
            }
            &:hover {
                color: $link-hover-clr;
                @if $link-hover-decoration-val {
                    @extend .link-underline;
                }
            }
        }
        &:visited {
            color: $link-visited-clr !important;
        }
        &.edit {
            visibility: hidden;
            .fa-pencil-alt {
                @include custom-font-size($font-size-base, $link-clr);
                &:hover {
                    @include custom-font-size($font-size-base);
                }
            }
        }
    }
   
    &:hover {
        .edit {
            visibility: visible;
        }
    }
}

.link-underline{
    text-decoration: none;
    @include space(padding, bottom, 1px !important);
    border-bottom: 1px solid;
}

.link-highlighted{
    border-bottom: 1px solid transparent;
    @include space(padding, bottom, 1px !important);
    &:hover {
        cursor: pointer;
        @include space(padding, right, 0);
        @include space(padding, left, 0);
    }
}