.menu-apps-dropdown {
    display: inline-block;
    @include space (padding, all, $xs);
    @include space (padding, top, 12px);
    .fa-th {
        cursor: pointer;
        @include custom-font-size ($icon-size-base, $gray-color-700);
        &:hover {
            @include custom-font-size ($icon-size-base, $theme-primary-color);
        }
    }
    &:after {
        display: none !important;
    }
}