@import 'abstracts/variables';
@import 'abstracts/mixins';
.modal {
    text-align: center;
    @include space (padding, all, 0px !important);
    &:before {
        content: '';
        display: initial;
        height: 100%;
        vertical-align: middle;
        @include space (margin, right, -4px);
    }
    &:focus-visible {
        box-shadow: none;
    }
    .modal-dialog {
        // display: inline-block;
        margin: 6rem auto;
        text-align: left;
        vertical-align: middle;
    }
    .modal-header {
        display: flex;
        flex-wrap: wrap;
        background-color: $white-color;
        color: $black-color;
        border-radius: 4px 4px 0 0;
        border-bottom: transparent;
        // padding-bottom: 15px !important;
        .modal-title {
            display: block;
        }
        .modal-sub-title {
            text-align: center;
            @include custom-font-size($font-size-sm, $gray-color-600);
            @include margin(5px, 0, 5px, 0);
        }
        .img-icon {
            display: block;
            @include margin($xs, auto, $xs, auto);
            width: 64px;
            height: 64px;
        }
        h4 {
            text-align: center;
            @include custom-font-size($font-size-lg);
            text-transform: capitalize;
            font-weight: $font-weight-normal;
        }
        .close {
            font-weight: normal;
            @include custom-font-size(2rem, $gray-color-700);
            @include opacity(1);
            outline: none;
            &:hover {
                @include opacity(0.9);
            }
            &:focus {
                outline: none;
            }
        }
    }
    .modal-body {
        @include padding (10px, 20px, 20px, 20px);
        @include custom-font-size($font-size-base);
        .model-message-label {
            font-weight: $font-weight-bold;
            text-transform: capitalize;
        }
    }
}
.modal.modal-static .modal-dialog{
    transform: none !important;
}
:host ::ng-deep {
    .modal-footer {
        text-align: center;
        border-top: transparent !important;
        @include space (padding, bottom, $medium);
    }
    .modal-body {
        .model-message-label {
            font-weight: $font-weight-bold;
            text-transform: capitalize;
        }
        .modal-message {
            text-align: center;
            @include custom-font-size($font-size-base);
        }
    }
}

.dragging {
    cursor: move;
    -webkit-user-select: none;
    user-select: none;
}