.cuppa-dropdown {
    .selected-list {
        .c-list {
            .c-token {
                background: $theme-primary-color;
                .c-label{
                    color: $white-color;
                }
            }
        }
        .c-angle-down,
        .c-angle-up {
            @include space (margin, top, -1px);
            svg {
                display: none;
            }
            &::before {
                content: "\f078";
                font-family: $font-awesome-free;
                @include custom-font-size(1.01rem, $black-color, 900);
            }
        }
    }
    .dropdown-list {
        ul {
            li:hover {
                background: $hover-color;
            }
        }
    }
    .pure-checkbox {
        input[type="checkbox"]:focus+label:before,
        input[type="checkbox"]:hover+label:before {
            border-color: $checked-border-clr;
        }
        input[type="checkbox"]:focus-visible+label:before{
            outline: none;
            box-shadow: $input-focus-box-shadow;
        }
        input[type="checkbox"]+label:before {
            color: $checked-checkmark-clr;
            border: 1px solid $checked-border-clr;
        }
        input[type="checkbox"]+label:after {
            border-color: $white-color;
            background-color: $checked-checkmark-clr;
        }
        input[type="checkbox"]:checked+label:before {
            background: $checked-checkmark-clr;
        }
    }
    .single-select-mode .pure-checkbox {
        input[type="checkbox"]:focus+label:before,
        input[type="checkbox"]:hover+label:before {
            border-color: $checked-border-clr;
        }
        input[type="checkbox"]+label:before {
            border: 0px solid $checked-border-clr;
        }
        input[type="checkbox"]+label:after {
            border-color: $checked-border-clr;
        }
    }
    .selected-item {
        background: $primary-theme-lighter-color;
    }
    .btn-iceblue {
        background: $theme-primary-color;
    }
    .c-btn {
        @include padding(3px !important, 10px !important, 3px !important, 10px !important);
        background: $white-color;
        border: 1px solid $border-color-2;
        min-height: 32px !important;
        &.disabled{
            background: $disable-color;
            cursor: not-allowed;
            .c-list .c-token{
                background: $dark-grey-clr;
                @include space(padding, right, 8px);
                .c-remove{
                    display: none;
                }
            }
        }
        &:focus-visible{
            border-color: $input-focus-border-color;
        }
    }
    .clear-all {
        @include space(margin, top, 1px);
        svg {
            display: none;
        }
        &::before {
            content: "\f00d";
            font-family: $font-awesome-free;
            @include custom-font-size($font-size-sm, $close-icon-color, 900);
        }
    }
  }
  .modal-body{
    .cuppa-dropdown {
        .dropdown-list.tagToBody {
            top: auto !important;
            left: auto !important;
        }
    }
  }
  @include edge-ie-browser-style {
    .cuppa-dropdown {
        .dropdown-list.tagToBody {
            @include pseudo(absolute, auto !important, false, false, false, false);
            .arrow-down{
                transform: rotate(0deg);
                top: 0px;
            }
        }
    }
  }