.name-display {
    @extend .table-list;
    .name {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        &>div:first-child {
            width: 40px
        }
        &>div:last-child {
            width: 85%;
        }
        .avatar-icon {
            img {
                width: 2.5em;
                height: 2.5em;
                @include space(margin, right, $xxs);
                border-radius: 50%;
            }
        }
    }
    .data {
        .icons {
            width: auto;
            @include custom-font-size(15px);
            @include space(margin, right, 5px);
        }
    }
    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 0px);
        white-space: nowrap;
        cursor: pointer;
        display: block;
        max-width: 290px;
    }
    .text-ellipsis-header {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 0px);
        white-space: nowrap;
        cursor: pointer;
        display: block;
        max-width: 390px;
        float: left;
    }
}