#pb360-navbar-id.ent-navbar {
    @include custom-font-size($font-size-base);
    background-color: $white-color;
    .navbar-section {
        height: 60px;
        .link-invisible{
            opacity: 0;
            width: 0;
            overflow: hidden;
            pointer-events: none;
        }
        .skip-content-link {
            @include space(padding, all, 5px);
            background: $primary-theme-lighter-color;
            display: inline;
            vertical-align: middle;
            @extend .link-invisible;
            cursor: default;
            &:focus{
                opacity: 1;
                width: auto;
                overflow: auto;
                pointer-events: all;
                cursor: pointer;
            }
        }
    }
    .navbar-brand {
        @include padding(7px, 5px, 7px, 5px);
        height: 55px;
        img {
            width: 160px;
        }
        .divider-navbar {
            display: inline-block;
            width: 2px;
            height: 24px;
            border-left: 2px solid $black-color;
            border-radius: 1px;
            @include pseudo(relative, 8px, false, false, false, false);
            @include space(margin, right, $xxs + 3px);
        }
        .navbar-title {
            display: inline;
            @include custom-font-size($font-size-lg, $black-color);
            font-family: $app-font-family;
            vertical-align: middle;
            @include space(padding, all, 5px);
        }
    }
    @media screen and (max-width: 320px) {
        .navbar-brand {
            img {
                width: 140px;
            }
            .navbar-title {
                @include custom-font-size($font-size-lg);
            }
            .divider-navbar {
                @include space(margin, right, 0px);
            }
        }
    }
    .navbar-right {
        @include space(margin, top, $xxs - 2px);
        .navbar-right-item{
          @include space(padding, left, 10px);
      }
        .profile-image {
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: block;
              object-fit: cover;
            }
            &:after {
                display: none;
            }
        }
        .sub-menu{
          &:after {
              display: none;
          }
        }
        .dropdown-user {
            .dropdown-menu {
                left: -15px;
                width: 185px;
                min-width: 200px;
                max-width: 200px;
                .fas {
                    padding-right: 10px;
                }
                .menu-logo {
                    img {
                        @include space(padding, all, 0px);
                        @include space(margin, top, -4px);
                        @include space(margin, right, 6px);
                    }
                }
            }
            .profile-section {
                span {
                    display: inline-block;
                    @include space(padding, left, 4px);
                }
                .user-name {
                    @include space(padding, top, 15px);
                }
            }
            .dropdown-submenu {
                .fas {
                    padding-right: 8px;
                }
                .dropdown-submenu-section {
                    left: -125px !important;
                    top: 0px !important;
                    width: 70%;
                    display: none;
                    min-width: auto;
                    @extend .dropdown-menu;
                    a {
                        &.active {
                            background: $drop-down-active-color !important;
                            color: $white-color !important;
                        }
                    }
                }
            }
        }
        .dropdown-menu {
            width: auto;
            box-shadow: 0 0 15px rgba(0, 24, 55, 0.25);
            a {
                @include space(padding, all, 5px);
                @include custom-font-size($font-size-base);
                display: block;
                padding: 3px 10px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
            }
        }
        .app-menu-items {
            .dropdown-menu {
                right: 0px;
                left: -176px;
            }
            .ent-skeleton {
                @include space(padding, left, 0.5rem);
                @include space(padding, right, 0.5rem);
            }
        }
        .dashboard-ui-icon {
            .profile-section {
                @include space(padding, right, 10px);
            }
            .ent-svg-icon {
                fill: $theme-primary-color;
            }
        }
        .dashboard-ui-icon.disable-security-options {
            .ent-svg-icon {
                fill: $disable-color;
            }
        }
        .navbar-link {
            a {
                @include custom-font-size($font-size-base);
                &:hover {
                    background: none !important;
                }
            }
            .fas {
                @include custom-font-size(1.5rem);
            }
        }
        .theme-change-icon {
            .profile-section {
                @include space(padding, top, 20px);
                @include space(padding, left, 10px);
            }
            .fas {
                @include custom-font-size(1.5rem);
                @include space(padding, right, 10px);
            }
            .dropdown-menu {
                left: -15px;
                top: 49px;
            }
        }
    }
    .profile-section {
        display: flex;
        @include padding(0, 0, 0, 0);
        .dropdown-menu {
            a {
                &:hover {
                    background-color: $hover-color;
                }
            }
            &:before {
                @include pseudo(absolute, -8px, false, 21px, false, false);
                display: inline-block;
                border-right: 12px solid transparent;
                border-bottom: 12px solid $white-color;
                border-left: 12px solid transparent;
                content: "";
            }
        }
    }
    .nav .open>a,
    .nav .open>a:focus,
    .nav .open>a:hover {
        background-color: $white-color;
    }
    .apps {
        background: $white-color;
        @include space(margin, all, 0px);
        min-height: 100px;
        @include space(padding, all, 15px);
        text-align: left;
        white-space: normal;
        width: 324px !important;
        &:before,
        &:after {
            @include pseudo(absolute, -12px, auto, 182px, false, false);
            display: inline-block;
            border-right: 12px solid transparent;
            border-bottom: 12px solid $gray-color-300;
            border-left: 12px solid transparent;
            content: "";
        }
        &:after {
            top: -11px;
            border-bottom-color: $white-color;
        }
        .apps-section {
            @include padding(10px, 0, 10px, 0);
            border-bottom: 1px solid $gray-color-200;
            &:last-child {
                border: none !important;
            }
            &:first-child {
                @include space(padding, bottom, 0px);
            }
            .app-block {
                display: inline-block;
                vertical-align: top;
                z-index: 999;
                @include space(padding, bottom, $xs);
                width: 105px;
                a {
                    @include space(padding, all, 1px);
                    color: black;
                    text-align: center;
                    display: block;
                    width: 98px;
                    border: 1px solid transparent;
                    @include space(margin, all, $xxs + 2px);
                    img {
                        @include padding(10px, 0, 10px, 0);
                    }
                    .ellipsis-style {
                        @include multiLineEllipsis(19px, 2);
                        word-break: break-word;
                        &::before, &::after {
                            content: none;
                        }
                    }
                    span {
                        display: block !important;
                    }
                    &:hover {
                        span {
                            white-space: normal;
                            max-height: none;
                        }
                        background: none !important;
                        color: inherit !important;
                        border: 1px solid $nav-bar-border-color;
                    }
                    .app-menu-item {
                        .ent-svg-icon {
                            width: 35px !important;
                            height: 35px !important;
                        }
                    }
                }
            }
        }
    }
}
