.ent-number-field {
    @include padding(0, 0, 5px, 0);
    .number-input {
        width: 50px;
        text-align: center;
        border: none;
    }
    .nf-control {
        @include space (padding, all, 0px);
        border: none;
        background: none;
        color: $theme-primary-color;
        &:focus {
            outline: 0;
        }
    }
}
