.pagination-bottom {
    i {
        border-radius: 0;
    }
    li {
        &:first-child {
            a {
                border-radius: 0;
            }
        }
        a {
            color: $theme-primary-color;
            @include padding (6px, 15px, 6px, 15px);
            border: 1px solid $gray-color-400;
            display: block;
            margin-left: -1px;
        }
    }
    a.disabled {
        cursor: default;
        color: $disable-color;
        &:hover,
        &:focus,
        &:active:hover,
        &:active:focus {
            color: $disable-color;
            background-color: $white-color;
        }
    }
    .select {
        outline: none;
        @include custom-font-size($font-size-base, $theme-primary-color);
        width: 100px !important;
    }
    .dropdown-toggle{
        &::after {
            display: none !important;
        }
    }
    .dropdown-menu {
        @include space (margin, top, -1px);
        min-width: 100px;
        max-width: 100px;
        max-height: 125px !important;
        li {
            a {
                @include padding (3px, 5px, 3px, 5px);
                text-overflow: ellipsis;
                overflow: hidden;
                border: none;
                cursor: pointer;
                &:hover, &:focus-visible {
                    background-color: $hover-color;
                }
                &.active {
                    background: $drop-down-active-color !important;
                    color: $white-color !important;
                }
                input {
                    font-size: inherit;
                    height: inherit;
                    padding: inherit;
                    line-height: inherit;
                    display: inline-block;
                    width: 100%;
                }
                .close-addon {
                    @include pseudo(absolute, false, 15px, false, false, 9);
                    @include space (margin, top, 8px);
                    cursor: pointer;
                    @include custom-font-size($font-size-sm, $close-icon-color);
                }
            }
        }
    }
    .dropup {
        @include pseudo(absolute, false, 0, false, false, false);
        .fa-chevron-up {
            @include custom-font-size($font-size-base, $theme-primary-color);
        }
    }
    .disableClick {
        padding-top: 3px;
        padding-bottom: 3px;
        .page-number {
            width: 50px;
            height: 25px;
            @include custom-font-size($font-size-base, $theme-primary-color);
            text-align: center;
            cursor: pointer;
            pointer-events: auto;
            display: inline-block;
            @include space (margin, left, 5px);
            @include space (margin, right, 5px);
        }
    }
    .page-size-label {
       @include pseudo(absolute, false, 110px, false, false, false);
       @include space (padding, top, 6px);
    }
}

.pagination-new {
    float: right;
    @include space(margin, top, -2px);
    list-style-type: none;
    @include space (padding, all, 0px);
    li {
        display: inline;
        &.margin-right {
            margin-right: 3px;
        }
    }
    a {
        @include space (padding, all, 0px);
        border: none;
    }
    .fa-top-custom {
        font-size: 0.65rem;
        width: 2em;
        .fa-chevron-right{
            @include space (padding, left, 1px);
        }
        .fa-chevron-left {
            @include space (padding, right, 1px);
        }
    }
    .fa-custom {
        font-size: 1rem;
        .fa-chevron-right{
            @include space (padding, left, 3px);
        }
        .fa-chevron-left {
            @include space (padding, right, 3px);
        }
    }
    .fa-stack{
        .chevron-symbol{
            color: $button-text-color;
        }
        .chevron-backgound,
        .chevron-border{
            font-weight: 800;
            color: $button-background-color;
        }
        .chevron-backgound {
            font-size: 1.7em;
        }
    }
    a:not(.disabled){
        @include space (padding, all, 0px);
        border: none;
        .fa-stack {
            &:hover,
            &:focus{
                .chevron-symbol{
                    color: $button-hover-text-color;
                }
                .chevron-border {
                    color: $button-hover-border-color;
                    font-weight: $pagination-hover-font-weight !important;
                }
                .chevron-backgound {
                    color: $button-hover-background-color;
                }
            }   
        }
    }
    a.disabled {
        cursor: default;
        &:hover,
        &:focus,
        &:active:hover,
        &:active:focus {
            color: $white-color;
        }
        .chevron-backgound,
        .chevron-border {
            color: $disable-color;
        }
    }
    .pre-direction {
        @include pseudo(absolute, 46%, false, -20px, false, 9);
        background: radial-gradient($white-color 50%, transparent 50%);
        &:hover{
            background: radial-gradient($white-color 50%, transparent 50%);
        }
    }
    .next-direction {
        @include pseudo(absolute, 46%, -20px, false, false, 9);
        background: radial-gradient($white-color 50%, transparent 50%);
        &:hover{
            background: radial-gradient($white-color 50%, transparent 50%);
        }
    }
}

.pagination-subtable {
    @extend .pagination-new;
}

.disableClick {
    pointer-events: none;
}

.dropup {
    @include pseudo (absolute, false, 0);
}

.fa-chevron-up {
    @include custom-font-size($font-size-base, $theme-primary-color);
}