.ent-popover {
    height: fit-content;
    max-width: 500px;
    word-wrap: break-word;
    border: 1px solid $popover-border-color;
    border-radius: 0;
    .virtual-area {
        height: 11px;
        width: 100%;
        @include pseudo(absolute, false, false, false, false, false);
    }
    &.top {
        margin-top: -5px;
        .virtual-area {
            bottom: -11px;
        }
        .arrow {
            left: 50%;
            margin-left: -7px;
            border-top-color: $popover-border-color;
        }
    }
    &.bottom {
        margin-top: 5px;
        .virtual-area {
            top: -11px;
        }
        .arrow {
            left: 50%;
            margin-left: -11px;
            border-bottom-color: $popover-border-color;
        }
    }
    &.left {
        margin-left: -10px;
        .virtual-area {
            right: -11px;
        }
        .arrow {
            top: 50%;
            margin-top: -5px;
            border-left-color: $popover-border-color;
        }
    }
    &.right {
        margin-left: 10px;
        .virtual-area {
            left: -11px;
        }
        .arrow {
            top: 50%;
            margin-top: -5px;
            border-right-color: $popover-border-color;
        }
    }
    .popover-title {
        background: $theme-primary-color;
        color: $white-color;
        a {
            float: right;
            color: $white-color;
        }
    }
    .popover-nontitle {
        a {
            @include custom-font-size($font-size-base);
            float: right;
            @include margin(4px, 10px, 4px, 10px);
        }
    }
    .popover-detail {
        max-width: 600px;
        .popover-info {
            color: $popover-content-color;
        }
        .popover-icon {
            color: $popover-icon-color;
        }
    }
}