.ent-search-input {
    width: 100%;
    @include space (padding, top, 0px);
    input[type="text"] {
        @include space (padding, right, 50px);
        @include space (padding, left, $small+$xxs);
        border-radius: 4px;
    }
    .input-group-btn {
        button {
            @include space (margin, left, $xxs);
        }
    }
    .clear-addon {
        @include pseudo(absolute, 5px, 25px, false, false, false);
        cursor: pointer;
        z-index: 99;
        @include custom-font-size($font-size-sm, $close-icon-color);
        @include space (padding, all, 5px);
        border-radius: 50%;
        &:hover {
            background-color: rgba(60, 64, 67, 0.08);
        }
        &.right {
            right: 10px;
        }
    }
    .advanced-search-button {
        @include pseudo(absolute, 8px, 7px, false, false, false);
        cursor: pointer;
        z-index: 99;
        @include custom-font-size($font-size-sm, $close-icon-color);
        @include padding(3px, 5px, 3px, 5px);
        border-radius: 50%;
        &.fa-chevron-down::before {
            top: 1px;
            @include pseudo(relative, false, false, false, false, false);
        }
        &:hover {
            background-color: rgba(60, 64, 67, 0.08);
        }
        &.disabled{
            pointer-events: none;
        }
    }
    .advanced-search-title{
        @include custom-font-size($font-size-base, $black-color, $font-bold);
        @include pseudo(absolute, 16px);
    }
    .advanced-content {
        @include pseudo(absolute, 100%, false, 0, false, false);
        z-index: 900;
        display: none;
        float: left;
        width: 100%;
        @include padding (55px, 21px, 21px, 21px);
        @include space (margin, top, 2px);
        background-color: $white-color;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        &.open {
            display: block;
        }
    }
    .close-search {
        @include pseudo(absolute, 5px, 6px, false, false, false);
        cursor: pointer;
        z-index: 99;
        @include custom-font-size($font-size-sm, $close-icon-color);
        @include padding(3px, 5px, 3px, 5px);
        border-radius: 50%;
        &:hover {
            background-color: rgba(60, 64, 67, 0.08);
        }
    }
    .search-prefix-icon{
        @include pseudo(absolute, 9px, false, 8px, false, $zindex-dropdown);
        @include custom-font-size($font-size-base, $theme-primary-color);
    }
}
