.ent-dropdown-select {
    list-style-type: none;
    .dropdown-menu {
        height: auto;
        a {
            @include custom-font-size($font-size-base);
            &:hover {
                background: $hover-color;
                color: $white-color;
                @include transition(all 0.25s ease-out);
            }
            &.active {
                background: $drop-down-active-color !important;
                color: $white-color !important;
            }
        }
    }
    .basic-dropdown {
        font-family: $app-font-family;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        outline: none;
        border-radius: 4px;
        line-height: 1.42857143;
        background-color: $white-color;
        background-image: none;
    }
    .select {
        .more-link-invisible{
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            pointer-events: none;
        }
        .dropdown-toggle {
            @extend .basic-dropdown;
            width: 100%;
            @include padding(6px, 50px, 6px, 30px);
            border-radius: 4px;
            @include custom-font-size($font-size-base);
            display: inline-block;
            height: 34px;
            .float-left {
                overflow: hidden;
                text-align: left;
                width: 88%;
            }
        }
        .dropdown-menu {
            width: 100%;
            max-height: 176px;
            border-width: 0.1rem;
            overflow-y: auto;
            background-clip: initial;
            li {
                @include padding(0, 5px, 0, 5px);
                a {
                    @include custom-font-size($font-size-base, $text-input-color);
                    display: block;
                    @include padding(3px, 5px, 3px, 5px);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover{
                        background: $drop-down-hover-color;
                    }
                    &:active,
                    &:focus {
                        background: $theme-primary-color;
                        color: $white-color;
                        @include transition(all 0.25s ease-out);
                    }
                    &:focus-visible{
                        box-shadow: none;
                        outline: none;
                    }
                    input {
                        font-size: inherit;
                        width: 88%;
                        height: inherit;
                        @include space (padding, all, inherit);
                        line-height: inherit;
                        display: inline-block;
                        @include space (margin, left, $xxs);
                    }
                }
            }
        }
    }
    .up {
        bottom: 100% !important;
        top: auto !important;
    }
    .input-dropdown:after {
        @include pseudo(absolute, 50%, 10px, false, false, false);
        display: block;
        width: 0;
        height: 0;
        @include space (margin, top, -3px);
        border-color: $text-input-color transparent transparent transparent;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        content: ' ';
    }
    .close-icon {
        @include pseudo(absolute, false, false, false, false, false);
        right: 30px;
        top: 12px;
        cursor: pointer;
        @include custom-font-size($font-size-sm, $close-icon-color);
    }
    .search-icon {
        @include pseudo(absolute, false, false, false, false, false);
        @include space (padding, all, $xs);
        pointer-events: none;
        color: $select-search-icon-color;
    }
    .disabled {
        input[disabled],
        button[disabled] {
            background-color: $select-button-disable-color !important;
            opacity: 1 !important;
            cursor: not-allowed;
        }
    }
}
