.ent-sidebar {
    @include space (padding, all, 0px);
    @include space (margin, all, 0px);
    @include pseudo(fixed, 230px, false, -116px, false, 1100);
    width: auto;
    .side li {
        list-style-type: none;
        background-color: transparent;
        @include margin(0px, 0px, 1px, 0px);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        width: 135px;
        &:hover {
            @include space (margin, left, $large + 1px);
        }
        &.active {
            &::before {
                @include space (margin, top, $xs + 8px);
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                border: 1px;
                background-color: $toast-warning-color;
                border-color: $sidebar-active-border-color;
                float: right;
            }
        }
        a {
            @include padding (5px, 0, 5px, 0);
            display: inline-flex;
            align-items: center;
            img {
                float: left;
                @include margin(5px, 4px, 5px, 4px);
                @include space (margin, right, $xxs + 3px);
            }
            p {
                @include margin(0px, 4px, 0px, 4px);
                text-align: left;
                @include custom-font-size($font-size-base, $text-dark-color, $font-bold, $xs + 6px);
                display: inline-block;
                width: 72px;
                &:hover {
                    text-decoration: underline;
                    color: $theme-primary-color;
                }
            }
        }
    }
}
