.ent-signpost {
    .info {
        color: $theme-primary-color;
        cursor: pointer;
    }
    .question {
        width: 14px;
        height: 14px;
        @include space (margin, top, -2px);
        background-color: $theme-primary-color;
        cursor: pointer;
    }
    .name {
        color: $gray-color-700;
        font-weight: $font-bold;
    }
}
