.skeleton-animation{
    animation: loading .8s infinite linear;
    background: $skeleton-color;
    background-image: -webkit-linear-gradient(to right, $skeleton-color 0%, $skeleton-color-2 20%, $skeleton-color 40%, $skeleton-color 100%);
    background-image: linear-gradient(to right, $skeleton-color 0%, $skeleton-color-2 20%, $skeleton-color 40%, $skeleton-color 100%);
    background-repeat: no-repeat;
}
.ent-skeleton {
    h2, h3, h4, h5, h6, p, a, img, .skeleton-avatar, .rect {
        @extend .skeleton-animation;
    }

    img.card-img-top{
        min-height: 189.75px;
    }
    
    h2{
        height: 35px;
        width: 100%;
    }

    h3 {
        height: 25px;
        width: 100%;
    }
    h5{
        height: 18px;
        width: 100%;
    }
    h6{
        height: 15px;
        width: 100%;
    }

    a{
        height: 20px;
        width: 100%;
    }

    p {
        height: 18px;
        width: 100%;
    } 
    p.lead {
        height: 30px;
        width: 100%;
    }
    @keyframes loading {
        0% {
            background-position: -100px;
        }

        100% {
            background-position: 200px;
        }
    }
}
.skeleton-avatar {
    @extend .skeleton-animation;
    position: relative;
    width: 100%;
    background-color: $skeleton-color;
    border-radius: 50%;
    overflow: hidden; 
    &:before {
        content: " ";
        display: block;
        padding-top: 100%; 
    }
}
.skeleton-rect {
    @extend .skeleton-animation;
    position: relative;
    width: 100%;
    background-color: $skeleton-color;
    overflow: hidden; 
    &:before {
        content: " ";
        display: block;
        padding-top: 100%; 
    }
}
.no-margin-skeleton{
    .ent-skeleton{
        h2, h3, .h4, h5, h6, p, a, img {
            @include space (margin, all, 0px !important);
        }
    }
}

.skeleton-center {
    .ent-skeleton, .skeleton-avatar {
        @include space(margin, all, auto);
    }
}