// sizing
$bubble-size: 25px !default;
$bubble-line-thickness: 3px !default;
$border-thickness: 1px !default;
$darken-amount: 10% !default;
// misc
$mobile-size: 400px !default;
@mixin bubble-style($color) {
    background-color: $color;
    border-color: darken($color, $darken-amount);
    &:before,
    &:after {
        background-color: $color;
        border-color: darken($color, $darken-amount);
    }
}

.flexer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.no-flexer {
    display: block;
}

.no-flexer-element {
    -ms-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    flex: 0;
}

.flexer-element {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.ent-status-bar {
    @extend .flexer;
    @include space(margin, all, 0px);
    @include space (padding, all, 0px);
    font-size: 80%;
    text-transform: capitalize;
    //margin-bottom: 1em;
    >li {
        @extend .flexer-element;
        list-style: none;
        text-align: center;
        width: auto;
        @include space (padding, all, 0px);
        @include space(margin, all, 0px);
        @include pseudo(relative);
        text-overflow: ellipsis;
        color: $gray-color-700;
        display: block;
        &:hover {
            color: darken($gray-color-700, $darken-amount);
        }
    }
    >li .bubble {
        border-radius: 50%;
        width: $bubble-size;
        height: $bubble-size;
        background-color: $status-bar-incomplete-color;
        display: block;
        @include space(margin, all, auto);
        @include space(margin, top, -7px);
        @include space (margin, bottom, $xxs);
        .step {
            color: white;
        }
        [class^="flaticon-"]:before,
        [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after,
        [class*=" flaticon-"]:after {
            @include custom-font-size ($font-size-base, false, $font-bold);
            @include space(margin, top, 4px);
            display: inline-block;
        }
    }
    // line connectors
    >li .bubble:before,
    >li .bubble:after {
        display: block;
        @include pseudo(absolute, 4px);
        width: calc(50% - 15px);
        height: 5px;
        content: '';
        background-color: $status-bar-incomplete-color;
    }
    >li .bubble:before {
        left: 0;
    }
    >li .bubble:after {
        right: 0;
    }
    // completed state
    >li.completed {
        color: $toast-success-color;
        .bubble {
            @include bubble-style($toast-success-color);
        }
    }
    // current state
    >li.active {
        .bubble {
            @include bubble-style($status-bar-active-color);
        }
    }
    // button states
    >li a:hover .bubble {
        @include bubble-style($status-bar-hover-color);
    }
    // override states
    >li.danger .bubble {
        @include bubble-style($status-bar-step-danger-color);
    }
    >li.warning .bubble {
        @include bubble-style($status-bar-step-warning-color);
    }
    >li.info .bubble {
        @include bubble-style($status-bar-step-info-color);
    }
    // stacked version
    &.stacked {
        @extend .no-flexer;
        >li {
            text-indent: -10px;
            text-align: center;
            display: block;
        }
        >li .bubble:before,
        >li .bubble:after {
            left: 50%;
            margin-left: -$bubble-line-thickness / 2;
            width: $bubble-line-thickness;
            height: 100%;
        }
        .stacked-text {
            @include pseudo(relative, 0, false, false, false, 10);
            margin-left: 60% !important;
            width: 45% !important;
            display: inline-block;
            text-align: left;
            line-height: 1.2em;
        }
        >li a {
            border: none;
        }
    }
    &.stacked.nocenter {
        >li .bubble {
            @include space (margin, left, 0px);
            @include space (margin, right, 0px);
        }
        >li .bubble:before,
        >li .bubble:after {
            left: $bubble-size / 2;
        }
        .stacked-text {
            width: auto !important;
            display: block;
            margin-left: $bubble-size * 2 !important;
        }
    }
}

@media handheld,
screen and (max-width: $mobile-size) {
    .ent-status-bar {
        font-size: 60%;
    }
}
