.ent-tabs {
    // Breadcrumb styles
    // Nav Pills Styles Start
    .nav-pills {
        height: 30px;
        li {
            @include custom-font-size($font-size-base);
            a {
                @include padding(10px, 15px, 10px, 15px);
                background-color: $tabs-background-color;
                // padding: 10px 15px;
                // border-radius: 4px;
                &:hover,
                &:focus {
                    background: $hover-color;
                    color: $black-color;
                    @include transition(all 0.25s ease-out);
                }
                &.active {
                    background-color: $theme-primary-color;
                    color: $white-color;
                    @include transition(all 0.25s ease-out);
                }
                &.disabled {
                    pointer-events: none;
                    a {
                        color: $disable-color;
                        background-color: transparent;
                        pointer-events: none;
                    }
                }
            }
            &.active {
                a {
                    color: $tabs-active-text-color;
                    background-color: $tabs-active-background-color;
                    box-shadow: 0px -2px $tabs-underlined-color inset;
                }
            }
        }
        &.custom-class {
            li {
                @include space (margin, left, 0px);
                a {
                    background-color: transparent !important;
                    border-bottom: 4px solid $tabs-border-color;
                    border-radius: 0;
                    color: $tabs-unactive-color;
                    @include padding (15px, 30px, 15px, 30px);
                    box-shadow: none !important;
                    &:hover,
                    &:focus {
                        background-color: transparent !important;
                        color: $un-active-color !important;
                    }
                }
                &.active {
                    a {
                        color: $tabs-unactive-color;
                        border-bottom: 4px solid $tabs-active-border-color;
                    }
                }
                &.disabled {
                    a {
                        color: $disable-color;
                        background-color: transparent;
                        pointer-events: none;
                        border-bottom: 4px solid $disable-color;
                    }
                }
            }
        }
    }
    // Breadcrumb styles
    // Nav Pills Styles Start
    .nav-pills {
        height: 30px;
        li {
            a {
                &:hover,
                &:focus {
                    background: $hover-color;
                    color: $black-color;
                    @include transition(all 0.25s ease-out);
                }
                &.active {
                    background: $theme-primary-color;
                    color: $white-color;
                    @include transition(all 0.25s ease-out);
                }
            }
            &.active {
                a {
                    color: $tabs-active-text-color;
                    background-color: $tabs-active-background-color;
                    box-shadow: 0px -2px $tabs-underlined-color inset;
                }
            }
        }
    }
}
