.ent-text-area {
    .close-addon-icon {
        @include pseudo(absolute, 0, false, false, false, 1);
        @include margin(5px, 0, 0, -20px);
        &:before {
            cursor: pointer !important;
            @include custom-font-size($font-size-sm, $close-icon-color !important);
        }
    }
    .spaceForIcon {
        @include space (padding, right, 30px);
    }
    textarea {
        @include custom-font-size($font-size-base, $gray-color-700);
        resize: none;
        overflow: hidden;
        &:disabled {
            background-color: $disable-color !important;
            opacity: 1;
            cursor: not-allowed;
        }
    }
    .control-block {
        @include padding (6px, 30px, 6px, 30px);
    }
    .textarea-scroll {
        overflow-y: auto;
        overflow-x: hidden;
    }
}
textarea[readonly] {
    box-shadow: none !important;
    border: none !important;
}
