.ent-text {
    line-height: 2;
    @include custom-font-size($font-size-base, $black-color, $font-normal);
}

.ent-text-inline {
    @extend .ent-text;
    display: inline;
    @include space(padding, left, $xxs);
}

.ent-text-inline-bold {
    @extend .ent-text-inline;
    font-weight: $font-bold;
}

.ent-text-bold {
    @extend .ent-text;
    font-weight: $font-bold;
}

.ent-text-inline-pr-0 pl-0 {
    @extend .ent-text-inline;
    @include space(padding, all, 0);
    line-height: 1;
}