.ent-timeline {
    .timeline {
        line-height: 1.4em;
        list-style: none;
        @include space(margin, all, 0px);
        @include space(padding, all, 0px);
        width: 100%;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: inherit;
        }
        @include space(margin, top, $xs + $xs);
        /*----- TIMELINE ITEM -----*/
        .timeline-item {
            @include space(padding, left, 40px);
            @include pseudo(relative, false, false, false, false, false);
            &:last-child {
                @include space(padding, bottom, 0px);
            }
            /*----- TIMELINE INFO -----*/
            .timeline-info {
                @include custom-font-size($font-size-base, $gray-color-500, normal);
                letter-spacing: 1px;
                @include margin(0, 0, 0.5em, 0);
                text-transform: capitalize;
                white-space: nowrap;
                span {
                    @include space(padding, top, 18px);
                    display: inline-block;
                }
            }
            /*----- TIMELINE MARKER -----*/
            .timeline-marker {
                width: 18px;
                &:before {
                    background: $red-color;
                    border: 2px solid transparent;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 18px;
                    @include pseudo(absolute, 18px, false, -4px, false, false);
                    width: 18px;
                    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
                }
                &:after {
                    content: "";
                    width: 2px;
                    height: 87px;
                    background: $disable-color !important;
                    display: block;
                    @include pseudo(absolute, 40px, false, 4px, -15px, false);
                }
                &.badge-0 {
                    &:before {
                        background-color: $letter-color-0 !important;
                    }
                }
                &.badge-1 {
                    &:before {
                        background-color: $letter-color-1 !important;
                    }
                }
                &.badge-2 {
                    &:before {
                        background-color: $letter-color-2 !important;
                    }
                }
                &.badge-3 {
                    &:before {
                        background-color: $letter-color-3 !important;
                    }
                }
                &.badge-4 {
                    &:before {
                        background-color: $letter-color-4 !important;
                    }
                }
            }
            &:last-child .timeline-marker:after {
                content: none;
            }
            /*----- TIMELINE CONTENT -----*/
            .timeline-content {
                @include space(padding, bottom, 20px);
                .description-section {
                    &:last-child {
                        @include space(margin, bottom, 0px);
                    }
                    border: 1px solid $gray-color-500;
                    border-radius: 10px;
                    text-align: left;
                    @include custom-font-size($font-size-base, $black-color);
                    min-height: 85px;
                    .title {
                        @include custom-font-size($font-size-base, $black-color, $font-bold);
                        @include space(margin, all, 0px);
                        border-bottom: 1px solid #bfc9ca;
                        @include padding(5px, 10px, 5px, 10px);
                        background-color: $gray-color-200;
                        border-radius: 10px 10px 0px 0px;
                    }
                    .description {
                        @include padding(8px, 10px, 5px, 10px);
                    }
                    .popover-detail {
                        word-break: break-word;
                    }
                }
            }
        }
    }
}


/*----- TIMELINE PERIOD -----*/

.period {
    @include space(padding, all, 0px);
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 18px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            @include pseudo(absolute, false, false, false, false, false);
            border-top: 2px solid $timeline-period-color;
            border-bottom: 2px solid $timeline-period-color;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        @include padding(40px, 0, 70px, 0);
    }
    .timeline-title {
        @include space(margin, all, 0px);
    }
}


/*----------------------------------------------
                MOD: TIMELINE SPLIT
            ----------------------------------------------*/

@media (min-width: 992px) {
    .timeline-split .timeline,
    .timeline-centered .timeline {
        display: table;
    }
    .timeline-split .timeline-item,
    .timeline-centered .timeline-item {
        display: table-row;
        @include space(padding, all, 0px);
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker {
        @include pseudo(relative, false, false, false, false, false);
    }
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content {
        @include space(padding, left, $small + $xxs);
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info {
        @include space(padding, right, 30px);
    }
    .timeline-split .period .timeline-title,
    .timeline-centered .period .timeline-title {
        @include pseudo(relative, false, false, -45px, false, false);
    }
}


/*----------------------------------------------
                MOD: MARKER OUTLINE
            ----------------------------------------------*/

.marker-outline {
    .timeline-marker:before {
        background: transparent;
        border-color: $timeline-marker-outline-color;
    }
    .timeline-item:hover .timeline-marker:before {
        background: $timeline-marker-outline-color;
    }
}

@include respond-to($tablet-landscape) {
    .client-activity-log-details {
        .activity-log {
            .timeline-centered {
                .timeline-item {
                    display: table;
                    .timeline-split .timeline-marker {
                        display: table-cell;
                    }
                    .timeline-split .timeline-content {
                        display: table-cell;
                    }
                    .timeline-split .timeline-info {
                        display: table-cell;
                    }
                }
            }
        }
    }
}

.activity-skeleton {
    .timeline {
        .description-section {
            height: 108px;
        }
        .user-id,
        .description {
            display: block !important;
        }
        .timeline-marker {
            &:before {
                background-color: $skeleton-color !important;
            }
            &:after {
                background-color: $skeleton-color !important;
            }
        }
        .timeline-info {
            min-width: 127px;
        }
        .timeline-skeleton {
            @include space(padding, top, 8px);
            @include space(padding, right, 15px);
        }
        .timeline-content {
            min-width: 280px;
        }
    }
}