.ent-title-bar {
    @include space (margin, bottom, $xs + $xs);
    border-bottom: 1px solid $border-color;
    height: 35px;
    @include space (padding, bottom, $xs + $xxs);
    .title-bar {
        @include custom-font-size($font-size-base, $black-color, $font-bold);
        text-decoration: none solid $black-color;
        img {
            @include space (margin, right, $xxs - 3px);
        }
    }
    &.no-border {
        border: none;
        @include space (margin, bottom, 0px);
    }
    .title-filter-menu {
        width: 10px;
        display: inline-block;
        a {
            color: $black-color;
        }
        .fa-chevron-down {
            color: $label-color;
            &:hover {
                color: $theme-primary-color;
            }
            top:3px;
        }
        .filter-dropdown {
            .dropdown-menu {
                left: -106px !important;
            }
        }
    }
}
