.tooltip {
    .tooltip-inner {
        @include custom-font-size($font-size-base, $black-color);
        background-color: $white-color;
        border: 2px solid $popover-border-color;
    }
}

.tooltip.show{
    opacity: 1 !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $popover-border-color !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: $popover-border-color !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: $popover-border-color !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: $popover-border-color !important;
}