.ent-typeahead {
    @include pseudo(relative, false, false, false, false, false);
    width: 100%;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    height: 34px;
    @include padding (0, 0, 0, 0);
    .fas {
        @include pseudo(false, false, false,  false,  false, 15);
    }
    .typeahead-input {
        @extend %typeahead-style;
        @include pseudo(false, false, false,  false,  false, 10);
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: none;
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        height: 34px;
        @include custom-font-size ($font-size-base);
        &:focus {
            border: 1px solid $border-focus-color;
            border-color: $border-focus-color;
            outline: 0;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6));
        }
    }

    .typeahead-input-has-selection {
        background-color: $white-color;
        border: 1px solid $border-color-2;
        color: $theme-primary-color;
    }
    
    .typeahead-suggestions {
        @extend %typeahead-style;
        @include space (padding, all, 0px);
        border: 1px solid rgba(0, 0, 0, .15);
        @include pseudo(false, 42px, false,  false,  false, 100);
        overflow-y: auto;
        color: $gray-color-700;
        max-width: 100%;
        max-height: 18em !important;
        @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
        text-align: left;
        ul {
            @include pseudo(false, 35px, false,  false,  false, false);
            list-style-type: none;
            @include space (padding, left, 0px);
            @include space (margin, top, 3px);
            @include space (margin, bottom, 0px);
            overflow-x: hidden;
            background-color: $white-color;
            li {
                @include padding (3px, 20px, 3px ,20px);
                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

    .close-icon {
        @include pseudo(absolute, false, false, false, false, false);
        right: 12px;
        top: 12px;
        cursor: pointer;
        @include custom-font-size($font-size-sm, $close-icon-color);
    }

    .typeahead-suggestion-active {
        background-color: $theme-primary-color;
        color: $white-color;
    }

    .subscript {
        @include custom-font-size($font-size-sm, $label-color, bold);
        font-style: italic;
    }
}
