.ent-nav-content {
    width: 100%;
    @include margin(12px, auto, 12px, auto);
    height: 100%;
    background-color: $white-color;
    @include padding (20px, 0px, 20px, 0px);
    overflow-y: auto;
    .item {
        @include padding (10px, 15px, 10px, 15px);
        cursor: pointer;
        &:hover,
        &:focus {
            background: $hover-color;
            color: $black-color;
            @include transition(all 0.25s ease-out);
            a {
                color: $black-color;
            }
        } 
        &.active{
            background: $theme-primary-color;
            color: $white-color;
            @include transition(all 0.25s ease-out);
            a {
                color: $white-color;
            }
        }
        a {
            font-weight: bold;
            &:hover {
                text-decoration: none !important;
            }
            i {
                @include space (margin, right, $xs);
            }
        }
    }
    .sub-item {
        @extend .item;
        @include space (padding, left, 40px);
        a {
            font-weight: normal;
        }
    }
}

