.ent-wizard {
    .margin-top {
        @include space (margin, top, $xs + $xs);
    }
    .wizard-content {
        .ent-card {
            cursor: default;
            &:hover {
                background: $white-color !important;
                cursor: default;
            }
        }
        .clr-wizard-title {
            @include space (margin, top, 0px);
            @include padding(24px, 12px, 24px, 24px);
            @include custom-font-size($font-size-base, $wizard-title-color);
        }
        .clr-wizard-stepnav-list {
            display: block;
            box-shadow: none;
            counter-reset: a;
            white-space: nowrap;
            height: auto;
            list-style-type: none;
            @include space (margin, all, 0);
            width: 100%;
            @include space (padding, left, $small - 1px);
            .clr-wizard-stepnav-item {
                display: block;
                box-shadow: inset 4px 0 0 $wizard-stepnav-item-color;
                @include margin(0, 0, -1px, 0);
                @include padding(6px, 0, 6px, 8px);
                color: $wizard-body-color;
                font-weight: 400;
                &.active,
                &:focus {
                    color: $wizard-title-color;
                    font-weight: 500;
                    outline: none;
                    .clr-wizard-stepnav-link {
                        background-color: $theme-primary-color;
                        color: $white-color;
                        border-radius: 3px;
                    }
                }
                &.no-click {
                    .clr-wizard-stepnav-link {
                        pointer-events: none;
                    }
                }
                &.complete {
                    box-shadow: inset 4px 0 0 $wizard-stepnav-complete-color;
                    transition: box-shadow .2s ease-in;
                }
            }
        }
        .clr-wizard-stepnav-link {
            cursor: default;
            width: 100%;
            display: inline-block;
            color: inherit;
            @include space (padding, all, $xs);
            @include space (padding, right, $xxs - 2px);
            font-weight: inherit;
            letter-spacing: normal;
            text-align: left;
            text-transform: none;
            @include space (margin, all, 0);
            &:hover,
            &:focus {
                outline: none;
                color: $wizard-body-color;
            }
            &:before {
                content: counter(a);
                counter-increment: a;
                @include space (padding, right, $xxs + 2px);
                width: auto;
            }
        }
        .step-name {
            @include pseudo(relative, false, false, false, false, false);
            overflow: hidden;
            overflow-y: auto;
            @include space (padding, bottom, 1rem);
            line-height: 1rem;
            background-color: $white-color;
            border-radius: .125rem 0 0 .125rem;
        }
        .clr-wizard-footer {
            @include space (padding, all, 0);
            display: block;
            @include space (padding, top, $small - 1px);
            height: 84px;
            min-height: 84px;
            max-height: 84px;
            width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 84px;
            flex: 0 0 84px;
            border: none;
            .clr-wizard-footer-buttons {
                text-align: right;
                @include space (padding, right, $small - 1px);
                @include space (margin, all, 0);
                .clr-wizard-footer-buttons-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    .clr-wizard-btn-wrapper {
                        @include space (padding, left, $xs + 2px);
                    }
                }
            }
        }
        .wz-btn {
            height: 25px;
            max-width: 189px;
            border: 1px solid $theme-primary-color;
            background: $theme-primary-color;
            @include custom-font-size($font-size-base, $white-color, false, $xxs + $xs);
            outline: none;
            text-transform: capitalize;
            &:hover {
                @extend .wz-btn;
                @include box-shadow(inset 0 0px 5px 1px rgba(0, 0, 0, 0.45));
                transition-duration: 0.4s;
                outline: none;
            }
            &:disabled {
                @extend .wz-btn;
                cursor: not-allowed;
                outline: none;
                &:hover {
                    @extend .wz-btn;
                }
                opacity: 0.6;
            }
        }
        .finish-btn {
            @extend .wz-btn;
            @include border-radius(4px);
            @include space (margin, all, 0);
            font-weight: $font-bold;
            width: 100%;
        }
        .close-icon {
            @extend .wz-btn;
            @include border-radius(14px);
            width: 55px;
            border: 1px solid $theme-primary-color;
            background: $white-color;
            color: $theme-primary-color;
        }
        .wizard-body {
            @include pseudo(relative, false, false, false, false, false);
            min-height: 430px;
            color: $wizard-body-color;
            width: 100%;
            @include padding(24px, 30px, 24px, 30px);
            border-left: 1px solid $wizard-border-left-color;
            .ent-wizard-step {
                display: flex;
                overflow-x: hidden;
            }
            .pre-direction {
                @include pseudo(absolute, 50%, false, 10px, false, 9);
                .pre-btn {
                    @extend .wz-btn;
                    @include border-radius(50%);
                }
            }
            .cancel-direction {
                @include pseudo(absolute, false, 20px, false, false, 9);
            }
            .next-direction {
                @include pseudo(absolute, 50%, 10px, false, false, 9);
                .next-btn {
                    @extend .wz-btn;
                    @include border-radius(50%);
                }
            }
        }
    }
}
