<app-security-sidebar [sectionName]="'Unidentified Payment'">
</app-security-sidebar>

<div ng-sidebar-content>
    <div class="make-account-payment">
        <ent-header #header class="row col-12" name="{{headerName}}" [showBreadcrumb]="false" [class.unidentified-consumer-payment-steps]="!isUnidentifiedAgencySweepPayment">
            <div *ngIf="isUnidentifiedAgencySweepPayment" class="col-12 pr-0 pl-0 mt-3 pt-4 make-payment">
                <ol class="step-indicator-small">
                    <li class="{{isPaymentMethod}}">
                        <div class="step"></div>
                    </li>
                    <li class="{{isConfirm}}">
                        <div class="step"></div>
                    </li>
                </ol>
            </div>
        </ent-header>
        <div class="container payment-section">
            <div class="row">
                <div class="col-12 client-info-section">
                    <div class="row justify-content-end">
                        <div *ngIf="isUnidentifiedAgencySweepPayment" class="col-1 pr-0">
                            <ent-skeleton *ngIf="isShowAccountDetailSection || !isAccountDetailLoaded" [loading]="isAccountDetailLoaded" [appearance]="'avatar'">
                                <div *ngIf="accountDetails">
                                    <ent-image class="preview-client-icon" alt="{{payorName}}" [errorImageUrl]="'assets/images/icons/Person.png'" imageUrl="{{(imageId && imageUrl ? (imageUrl + imageId+'.png') : 'assets/images/icons/Person.png')}}">
                                    </ent-image>
                                </div>
                            </ent-skeleton>
                        </div>
                        <div *ngIf="isUnidentifiedAgencySweepPayment" class="col-6">
                            <div *ngIf="isShowAccountDetailSection" class="profile-title pt-2">
                                <ent-skeleton [loading]="isAccountDetailLoaded" class="skeleton-paragraph-medium">
                                    <div *ngIf="accountDetails">
                                        <a x-no-tabbing>
                                            <span class="main-title">
                                                <app-name-display [nameOnly]="true" popoverPlacement="bottom"
                                                    [name]="payorName" [maxWidth]="500" [length]="70">
                                                </app-name-display>
                                            </span>
                                            <span *ngIf="checkAgencyModalChange()" class="pl-3">
                                                <a (click)="openAgentModal('Change')">
                                                    <span class="fas fa-pencil-alt"></span>
                                                </a>
                                            </span>
                                        </a>
                                    </div>
                                </ent-skeleton>
                                <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'" class="skeleton-paragraph-long">
                                    <div *ngIf="accountDetails">
                                        <span class="sub-title">
                                            <app-name-display [nameOnly]="true" popoverPlacement="bottom"
                                                    [name]="payorAddress" [maxWidth]="500" [length]="70">
                                            </app-name-display>
                                        </span>
                                    </div>
                                </ent-skeleton>
                                <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'" class="skeleton-paragraph-short">
                                    <strong *ngIf="accountDetails">
                                        <span>Agent Number: </span>
                                        <span>{{agent}}</span>
                                    </strong>
                                </ent-skeleton>
                            </div>
                        </div>
                        <div class="col-5 align-self-end payment-btn-group">
                            <div class="col-12 pl-0 pr-0">
                                <div class="btn-group float-right" role="payments" aria-label="payments">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                            [disabled]="identifierType != 'Consumer Direct'"
                                            [class.active]="identifierType === 'Consumer Direct'">Consumer Payment</button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                            [disabled]="identifierType != 'Agency Sweep'"
                                            [class.active]="identifierType === 'Agency Sweep'">Agency Sweep Payment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isPaymentMethod === 'active'" class="col-12 payment-method-section mt-5">
                        <ent-skeleton [loading]="isPaymentProfilesLoaded" [appearance]="'template'" [skeletonTemplate]="skeletonPaymentProfiles">
                            <div *ngIf="(storedAccountDetails?.paymentProfiles && isConfirm !== 'noProfilesFound') else notStoredAccountDetails" class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pt-4 pr-0 pl-0 label-header text-left">
                                <ent-title-bar class="label-title-bar" imagePosition="right" fasName="fa-chevron-circle-right" [titleText]="'Choose a Payment Method'" border="'false'">
                                </ent-title-bar>
                            </div>
                            <ng-template #notStoredAccountDetails>
                                <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header pr-0 pl-0 text-left page-detail">
                                    <p>No Profiles found for this agent. Add payment profile and retry payment.</p>
                                </div>
                            </ng-template>
                            <div *ngIf="(storedAccountDetails?.paymentProfiles)" class="col-12 pr-0 pl-0 radio-detail-payment-card">
                                <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                                    <div appTabbing (click)="selectBank(list, i)" *ngFor="let list of storedAccountDetails?.paymentProfiles;let i = index" [ngClass]="{'active' : i === isBankIndex}" class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                        <ent-card class="bank-list">
                                            <div class="row">
                                                <div class="col-1 pt-3">
                                                    <span class="radio-circle"></span>
                                                </div>
                                                <div class="col-2 pt-3">
                                                    <ent-image class="{{isObject(list) === 'creditCard'? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}" imageUrl="assets/images/bank/{{isObject(list) === 'creditCard' ? list['creditCard'].cardType : 'bank' }}.svg" [alt]="'Icon'">
                                                    </ent-image>
                                                </div>
                                                <div class="col-5">
                                                    <ent-label className="ent-label-inline-bold" [data]="(isObject(list) === 'creditCard' ? 'XXXX XXXX XXXX ' + list['creditCard'].cardNumber.substr(list['creditCard'].cardNumber.length - 4) : 'XXXX XXXX ' + list['bankAccount'].accountNumber.substr(list['bankAccount'].accountNumber.length - 4))">
                                                    </ent-label>
                                                    <ent-label data="{{isObject(list) === 'creditCard' ? 'Credit Card' : 'Bank Account'}}">
                                                    </ent-label>
                                                </div>
                                                <div class="col-4 pl-0 text-right text-uppercase">
                                                    <ent-label className="ent-label-inline-bold" data=" {{list.name}}">
                                                    </ent-label>
                                                </div>
                                            </div>
                                        </ent-card>
                                    </div>
                                </div>
                            </div>
                        </ent-skeleton>
                        <ng-template #skeletonPaymentProfiles>
                            <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                                <div *ngFor="let item of mockPaymentProfileSkeleton" class="col-12 pr-0 pl-0">
                                    <ent-card class="bank-list">
                                        <div class="row">
                                            <div class="col-3">
                                                <ent-skeleton [loading]="false" [appearance]="'rect'"
                                                    class="skeleton-rect-xxsmall"></ent-skeleton>
                                            </div>
                                            <div class="col-5">
                                                <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                                <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                            </div>
                                            <div class="col-4 text-right text-uppercase">
                                                <ent-skeleton [loading]="false"></ent-skeleton>
                                            </div>
                                        </div>
                                    </ent-card>
                                </div>
                            </div>
                        </ng-template>

                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pt-4 pr-0 pl-0">
                            <ent-button *ngIf="storedAccountDetails?.paymentProfiles && isConfirm !== 'noProfilesFound'" imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK" class="float-left button-xlarge button-outline pb-5" (buttonClick)="goBack()" buttonType="button"></ent-button>
                            <ent-button *ngIf="(storedAccountDetails?.paymentProfiles && isConfirm !== 'noProfilesFound') else notReview" class="float-right button-xxlarge" imagePosition="right" fasName="fa-chevron-circle-right" buttonText="REVIEW AND PAY" [disabled]="!payment.paymentMethod"
                                (buttonClick)="makePaymentLoop('isPaymentMethod', true)" buttonType="submit">
                            </ent-button>
                            <ng-template #notReview>
                                <ent-button class="button-medium button-outline" imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK" (buttonClick)="goBack()" buttonType="button"></ent-button>
                            </ng-template>
                        </div>
                    </div>
                    <div *ngIf="isConfirm === 'active'" class="col-12 payment-method-section mt-5">

                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header pr-0 pl-0 text-left pt-5">
                            <div *ngIf="securityEngineService?.roleSequenceId" class="col-12 pl-0 pr-0 pb-4">
                                <a class="float-right" (click)="openSecurity('epUnidentifiedPayments', isPolicyUnidentifiedPayment ? 'PolicyPayment' : 'AccountBillPayment')">
                                    <span class="fas fa-cog setting-icon"></span>
                                </a>
                            </div>

                            <div *ngIf="policyNumber" class="col-12 pl-0 pr-0 pb-4">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold pr-2">Policy Number:</span>
                                        <span>{{policyNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="policySymbol && !securityEngineService.checkVisibility('policyPaymentPolicySymbol', 'Hide')" class="col-12 pl-0 pr-0 pb-4">
                                <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="paymentInfoSkeleton">
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="font-weight-bold pr-2">Policy Symbol:</span>
                                            <span>{{policySymbol}}</span>
                                        </div>
                                    </div>
                                </ent-skeleton>
                            </div>
                            <div *ngIf="identifier && ((isPolicyUnidentifiedPayment && !securityEngineService.checkVisibility('policyPaymentAccountNumber', 'Hide')) || !isPolicyUnidentifiedPayment)" class="col-12 pl-0 pr-0 pb-4">
                                <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="paymentInfoSkeleton">
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="font-weight-bold pr-2">Account Number:</span>
                                            <span>{{commonService.removeSpacesAndFWDash(identifier)}}</span>
                                        </div>
                                    </div>
                                </ent-skeleton>
                            </div>
                            <div class="col-12 pl-0 pr-0 pb-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-auto align-items-center d-flex pr-2">
                                                <ent-label class="font-weight-bold" data="Payment Amount: "></ent-label>
                                            </div>
                                            <div class="col-auto pr-0 pl-0">
                                                <ent-input *ngIf="isEdit" class="other-amount" type="number"
                                                    [(ngModel)]="payment.amount"
                                                    [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                                </ent-input>
                                                <ent-label *ngIf="!isEdit" class="amount"
                                                    data="{{payment.amount | currency:currency}}"></ent-label>
                                                <span *ngIf="(payment.amount < 1)" class="error-message position-fixed">Payment Amount must be greater than $1</span>
                                            </div>
                                            <div class="col-auto align-items-center d-flex">
                                                <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [securityName]="isPolicyUnidentifiedPayment ? 'policyPaymentEditPaymentAmount' : 'billAccountPaymentEditPaymentAmount'"
                                                    class="skeleton-paragraph-short-fixed {{securityEngineService.checkVisibility(isPolicyUnidentifiedPayment ? 'policyPaymentEditPaymentAmount' : 'billAccountPaymentEditPaymentAmount', 'Disable') ? ' disable-security-options' : ''}}">
                                                    <a *ngIf="payment.amount >= 1" class="amount-link"
                                                        (click)="isEdit = !isEdit"><i
                                                            class="fas fa-{{!isEdit ? 'pencil-alt' : 'check'}}"></i></a>
                                                </ent-skeleton>
                                                <a class="amount-link" *ngIf="payment.amount < 1"><i
                                                        class="fas fa-check icon-disabled"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <ng-template #paymentInfoSkeleton>
                                <div class="row">
                                    <div class="col-3 pr-0">
                                        <div class="ent-skeleton">
                                            <h6></h6>
                                        </div>
                                    </div>
                                    <div class="col-5 pl-2">
                                        <div class="ent-skeleton">
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="col-12 pl-0 pr-0 label-header text-left">
                                <ent-title-bar class="label-title-bar" [titleText]="'Paying with'" border="'false'">
                                </ent-title-bar>
                            </div>
                            <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                                <div class="col-12 pl-0 pr-0 mb-4">
                                    <div [class.active]="true" class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                        <ent-card class="bank-list no-cursor">
                                            <ent-skeleton [loading]="payment?.paymentMethod" [appearance]="'template'"
                                                [skeletonTemplate]="skeletonPaymentMethod">
                                                <div class="row">
                                                    <div class="col-1 pt-3">
                                                        <span class="radio-circle"></span>
                                                    </div>
                                                    <div class="col-2 pt-3">
                                                        <ent-image
                                                            class="{{payment?.paymentMethod === 'Credit Card'? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                            imageUrl="assets/images/bank/{{payment?.paymentMethod === 'Credit Card' ? payment?.creditCardType : 'bank' }}.svg"
                                                            [alt]="'Icon'">
                                                        </ent-image>
                                                    </div>
                                                    <div class="col-5">
                                                        <ent-label className="ent-label-inline-bold"
                                                            [data]="(payment?.paymentMethod === 'Credit Card' ? 'XXXX XXXX XXXX ' + payment?.creditCardNumber?.substr(payment?.creditCardNumber?.length - 4) : 'XXXX XXXX ' + payment?.accountNumber?.substr(payment?.accountNumber?.length - 4))">
                                                        </ent-label>
                                                        <ent-label data="{{payment?.paymentMethod}}"></ent-label>
                                                    </div>
                                                    <div class="col-4 pl-0 text-right text-uppercase">
                                                        <ent-label className="ent-label-inline-bold"
                                                            data="{{payment?.fullName}}"></ent-label>
                                                    </div>
                                                </div>
                                            </ent-skeleton>
                                        </ent-card>
                                        <ng-template #skeletonPaymentMethod>
                                            <div class="row">
                                                <div class="col-1">
                                                    <span class="radio-circle"></span>
                                                </div>
                                                <div class="col-2">
                                                    <ent-skeleton [loading]="false" [appearance]="'rect'"
                                                        class="skeleton-rect-xxsmall"></ent-skeleton>
                                                </div>
                                                <div class="col-5">
                                                    <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                                    <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                                </div>
                                                <div class="col-4 text-right text-uppercase">
                                                    <ent-skeleton [loading]="false"></ent-skeleton>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pl-0 pr-0 pt-4 pb-4">
                                <ent-button *ngIf="identifierType != 'Agency Sweep'" imagePosition="left"
                                    fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                    class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                    buttonType="button"></ent-button>
                                <div *ngIf="identifierType != 'Agency Sweep' else payASP" class="text-right">
                                    <ent-button class="button-full" [disabled]="isEdit" imagePosition="right"
                                        fasName="fa-chevron-circle-right"
                                        buttonText="PAY {{payment.amount | currency:currency}}" (buttonClick)="makePay()"
                                        buttonType="submit">
                                    </ent-button>
                                </div>
                                <ng-template #payASP>
                                    <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                        class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                        buttonType="button"></ent-button>
                                    <div class="text-right">
                                        <ent-button class="button-full" [disabled]="isEdit" imagePosition="right"
                                            fasName="fa-chevron-circle-right"
                                            buttonText="PAY {{payment.amount | currency:currency}}"
                                            (buttonClick)="makePayASP()" buttonType="submit"> </ent-button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <ent-modal class="modal-xsmall" #paymentReceivedModel (modalOutput)="printStatement() "></ent-modal>
                <ent-modal class="modal-medium" #selectAgentModal (modalOutput)="selectAgentEvent($event)"></ent-modal>
            </div>
        </div>
</div>
