
@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {    
    .make-account-payment {
        .unidentified-consumer-payment-steps{
            .header-title {
                top: 22px !important;
            }
        }
        .radio-detail-payment-card {
            .skeleton-rect-xxsmall {
                .rect {
                    height: 46px;
                }
            }
        }
        .other-amount{
            .ent-input-field{
                @include space (padding, bottom, 0px);
            }
        }
    }
}
