<div class="col-12 pr-0 pl-0 payment-details-summary">
    <div class="row">
        <div class="col-12">
            <div class="col-12 pr-0">
                <div class="row">
                    <ng-container *ngIf="paymentDetails?.identifierType === 'Policy' else showIdentifier">
                        <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="ent-label-inline-bold" data="Policy Number : "></ent-label>
                                <ent-text className="ent-text-inline" [text]="paymentDetails?.policyNumber"></ent-text>
                            </div>
                        </ent-skeleton>
                        <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="ent-label-inline-bold" data="Policy Symbol : "></ent-label>
                                <ent-text className="ent-text-inline" [text]="paymentDetails?.policySymbol"></ent-text>
                            </div>
                        </ent-skeleton>
                    </ng-container>
                    <ng-template #showIdentifier>
                        <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="ent-label-inline-bold" data="Type :"></ent-label>
                                <span [ngStyle]="{'margin-left':'10px'}" class="badge-{{removeSpaces(paymentDetails?.identifierType)}}"> {{paymentDetails?.identifierType}} </span>
                            </div>
                        </ent-skeleton>
                        <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="ent-label-inline-bold" data="Identifier : "></ent-label>
                                <ent-text className="ent-text-inline" [text]="paymentDetails?.identifier"></ent-text>
                            </div>
                        </ent-skeleton>
                    </ng-template>
                    <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Activity Date : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.distributionDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentAmount'" class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'" [securityName]="'paymentAmount'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Payment Amount : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.paymentAmount | currency:paymentDetails?.currency"></ent-text>
                        </div>
                    </ent-skeleton>
                </div>
            </div>
        </div>
        <div *ngIf="paymentDetails?.identifierType !== 'Policy' && (paymentDetails?.policyNumber || paymentDetails?.policySymbol)" class="col-12 mt-3">
            <div class="col-12 pr-0">
                <div class="row">
                    <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Number : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policyNumber"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Symbol : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policySymbol"></ent-text>
                        </div>
                    </ent-skeleton>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="strip-line mb-0"></div>
        </div>
        <div class="col-12 line">
            <div class="col-12 pl-0">
                <div class="row">
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Deposit Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.depositDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Posted Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.postedDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentType'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'paymentType'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Type"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.paymentType"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'Paymentmethod'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'Paymentmethod'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Method"></ent-label>
                            <ng-container *ngIf="paymentDetails?.paymentMethod === 'Bank Account' else creditCardPayment">
                                <ent-image class="bank-icon" [alt]="paymentDetails?.paymentMethod" imageUrl="assets/images/bank/bank.svg">
                                </ent-image>
                                <ent-text className="ent-text-inline" text="{{paymentDetails?.paymentMethod}} ending with
                              {{paymentDetails?.bankAccountNumber?.substr(paymentDetails?.bankAccountNumber.length - 4)}}">
                                </ent-text>
                            </ng-container>
                            <ng-template #creditCardPayment>
                                <ng-container *ngIf="paymentDetails?.paymentMethod === 'Credit Card' else batchPayment">
                                    <ent-image class="credit-icon" [alt]="paymentDetails?.creditCardType" imageUrl="assets/images/bank/{{paymentDetails?.creditCardType}}.svg">
                                    </ent-image>
                                    <ent-text className="ent-text-inline" text="{{paymentDetails?.paymentMethod}} ending with
                                        {{paymentDetails?.creditCardNumber?.substr(paymentDetails?.creditCardNumber.length - 4)}}">
                                    </ent-text>
                                </ng-container>
                                <ng-template #batchPayment>
                                    <ng-container *ngIf="(paymentDetails?.paymentMethod !== propertyName?.PaypalCredit && paymentDetails?.paymentMethod !== propertyName?.Paypal)">
                                         <ent-text className="ent-text" [text]="paymentDetails?.paymentMethod"></ent-text>
                                    </ng-container>
                                    <ng-container *ngIf="(paymentDetails?.paymentMethod === propertyName?.PaypalCredit || paymentDetails?.paymentMethod === propertyName?.Paypal)">
                                        <ent-image class="paypal-icon" [alt]="paymentDetails?.paymentType" imageUrl="assets/images/bank/{{paymentDetails?.walletType }}.svg">
                                        </ent-image>
                                        <span *ngIf="paymentDetails?.walletIdentifier">with 
                                            <app-name-display style="display: inline-block; line-height:0.7" [nameOnly]="true" popoverPlacement="top"
                                                  [name]="paymentDetails?.walletIdentifier" [maxWidth]="160" [length]="30">
                                           </app-name-display>
                                        </span>
                                    </ng-container>
                                </ng-template>
                            </ng-template>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentDescription'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'paymentDescription'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Description"></ent-label>
                            <ent-text className="ent-text rect-{{removeSpaces(paymentDetails?.status || 'Applied')}}" [text]="(paymentDetails?.status ? paymentDetails?.status : 'Applied')">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment ID"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.paymentId"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'batchID'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'batchID'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Batch ID"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.batchId"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'userName'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'userId'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="User Name"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.userName"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Due Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.dueDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Postmark Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.postMarkDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Deposit Bank"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.depositBank"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Control Bank"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.controlBank"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payable Item"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.payableItem"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton * checkPermission="'payorName'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'" [securityName]="'payorName'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payor Name"></ent-label>
                            <app-name-display [nameOnly]="true" [name]="paymentDetails?.payorName" [length]="30"></app-name-display>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Reason"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.suspenseReason"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Business Group"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.businessGroup"></ent-text>
                        </div>
                    </ent-skeleton>
                </div>
            </div>
        </div>
        <ng-container *ngIf="paymentDetails?.paymentComments">
            <div *ngIf="paymentDetails?.paymentComments" class="col-12">
                <div class="strip-line mt-0"></div>
            </div>
            <div class="col-12 line">
                <ent-skeleton class="col-12 pr-0 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="commentsSkeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Comment"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.paymentComments"></ent-text>
                    </div>
                </ent-skeleton>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #notFound>
    <div class="col-12 pr-0 pl-0 app-section min-height">
        <ent-empty-view message="Payment Details is not available." iconUrl="assets/images/icons/no-statements.png">
        </ent-empty-view>
    </div>
</ng-template>
<ng-template #skeletonLayout>
    <div class="col-12 pl-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
        <ent-skeleton [loading]="false" [appearance]="'h6'"></ent-skeleton>
    </div>
</ng-template>
<ng-template #skeletonHeaderLayout>
    <div class="col-12 pl-0 pr-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
    </div>
</ng-template>
<ng-template #commentsSkeletonLayout>
    <div class="col-12 pr-0 pl-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'" class="skeleton-paragraph-short"></ent-skeleton>
        <ent-skeleton [loading]="false" [appearance]="'h6'"></ent-skeleton>
    </div>
</ng-template>
