<div class="ent-timeline">
    <ul class="timeline timeline-split">
        <li class="timeline-item" *ngFor="let data of timeLineData;let i = index">
            <div class="timeline-info">
                <span *ngIf="data">{{parseDateTime(data)}}</span>
            </div>
            <div class="timeline-marker" [ngClass]="badgeColors[i]"></div>
            <div class="timeline-content">
                <div class="description-section">
                    <div class="row title">
                        <app-name-display class="user-id col pl-0 pr-0" [maxWidth]="maxWidth" [nameOnly]="true" [name]="data?.userName" [length]="length">
                        </app-name-display>
                        <div *ngIf="showAmount" class="amount col pl-0 pr-0 text-right font-weight-normal">Amount: <b>{{data?.amount | currency:currency}}</b></div>
                    </div>
                    <div class="col-12 pl-0 pr-0">
                        <ng-container *ngIf="data?.description">
                            <p class="description">{{data?.description | slice:0:65 }}
                                <ent-signpost popoverWidth="75%" name="More..." *ngIf="data?.description?.length > '65'" placement="left" [message]="data?.description"></ent-signpost>
                            </p>
                        </ng-container>
                        <ng-container *ngIf="data?.activityDescription">
                            <p class="description">{{data?.activityDescription | slice:0:65 }}
                                <ent-signpost popoverWidth="75%" name="More..." *ngIf="data?.activityDescription?.length > '65'" placement="left" [message]="data?.activityDescription"></ent-signpost>
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
