<div class="col-12 pr-0 pl-0 batch-unidentified-payment">
    <form [formGroup]="editBatchUnidentifiedPaymentForm" (submit)="editUnidentifiedPaymentSubmit()" rule="form" novalidate>
        <div class="row">
            <div [class.scroll-modal]="true" class="col-12 batch-unidentified-payment-section">
                <div class="row">
                    <ng-container *ngIf="searchType === 'AccountPayment'">
                        <div class="col-12 line">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label [data]="'Account Number'" requiredField="required"></ent-label>
                                <ent-input [isAutoFocus]="true" [(ngModel)]="accountNumber" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'accountNumber')" formControlName="accountNumber"></ent-input>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('accountNumber')" labelName="Account Number"></ent-control-messages>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="searchType === 'Group'">
                        <div class="col-12 line">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label [data]="'Group Number'" requiredField="required"></ent-label>
                                <ent-input [isAutoFocus]="true" [(ngModel)]="groupAccountNumber" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'groupAccountNumber')" formControlName="groupAccountNumber"></ent-input>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('groupAccountNumber')" labelName="Group Number"></ent-control-messages>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="searchType === 'AgencyPayment'">
                        <div class="col-12 line">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label [data]="'Agency Number'" requiredField="required"></ent-label>
                                <ent-input [isAutoFocus]="true" [(ngModel)]="agencyAccountNumber" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'agencyAccountNumber')" formControlName="agencyAccountNumber"></ent-input>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('agencyAccountNumber')" labelName="Agency Number"></ent-control-messages>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="searchType === 'PolicyPayment'">
                        <div class="col-12 line">
                            <div class="row">
                                <div class="col-6">
                                    <ent-label [data]="'Policy Number'" requiredField="required"></ent-label>
                                    <ent-input [isAutoFocus]="true" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'policyNumber')" [control]="editBatchUnidentifiedPaymentForm.get('policyNumber')" [(ngModel)]="policyNumber" formControlName="policyNumber"></ent-input>
                                    <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('policyNumber')" labelName="Policy Number"></ent-control-messages>
                                </div>
                                <div class="col-6">
                                    <ent-label [data]="'Account Number'"></ent-label>
                                    <ent-input (valueChanged)="convertToUpperCase($event.toUpperCase(), 'policyAccountNumber')" [control]="editBatchUnidentifiedPaymentForm.get('policyAccountNumber')" [(ngModel)]="policyAccountNumber" formControlName="policyAccountNumber"></ent-input>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-12 line">
                        <div class="row">
                            <div class="col-6">
                                <ent-label [data]="'Payment Amount'" requiredField="required"></ent-label>
                                <ent-input [control]="editBatchUnidentifiedPaymentForm.get('paymentAmount')" type="number" [(ngModel)]="paymentAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="resetMountValidate($event)" formControlName="paymentAmount"></ent-input>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('paymentAmount')" labelName="Payment Amount"></ent-control-messages>
                                <p *ngIf="isUnValidPaymentAmount" class="error-message">Payment Amount must be greater than $0
                                </p>
                            </div>
                            <div class="col-6">
                                <ent-label [data]="'Payment ID'"></ent-label>
                                <ent-input [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('paymentId')" labelName="Payment ID"></ent-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 line">
                        <div class="row">
                            <div class="col-6">
                                <ent-label [data]="'Date Received'"></ent-label>
                                <ent-date-picker [openOnTop]="false" #datePicker [currentDate]="systemDate" [(ngModel)]="dateReceived" formControlName="dateReceived" (inputFieldChanged)="resetDateValidate(datePicker, 'dateReceived')"></ent-date-picker>
                                <p *ngIf="dateReceivedValid && editBatchUnidentifiedPaymentForm.get('dateReceived').valid" class="error-message">Date Received cannot be greater than system date</p>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('dateReceived')" labelName="Date Received"></ent-control-messages>
                            </div>
                            <div class="col-6">
                                <ent-label [data]="'Payment Type'" requiredField="required"></ent-label>
                                <ent-dropdown [control]="editBatchUnidentifiedPaymentForm.get('paymentType')" [dropdownItems]="PaymentTypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType" type="select"></ent-dropdown>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('paymentType')" labelName="Payment Type"></ent-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 line">
                        <div class="row">
                            <div class="col-6">
                                <ent-label [data]="'Postmark Date'"></ent-label>
                                <ent-date-picker [openOnTop]="true" #postmarkdatePicker [currentDate]="systemDate" [(ngModel)]="postmarkDate" formControlName="postmarkDate" (inputFieldChanged)="resetDateValidate(postmarkdatePicker, 'postmarkDate')"></ent-date-picker>
                                <p *ngIf="postmarkDateValid && editBatchUnidentifiedPaymentForm.get('postmarkDate').valid" class="error-message">Postmark Date cannot be greater than system date</p>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('postmarkDate')" labelName="Postmark Date"></ent-control-messages>
                            </div>
                            <div class="col-6">
                                <ent-label [data]="'Due Date'"></ent-label>
                                <ent-date-picker [openOnTop]="true" #dueDatePicker [currentDate]="systemDate" [(ngModel)]="dueDate" formControlName="dueDate" (inputFieldChanged)="resetDateValidate(dueDatePicker, 'dueDate')"></ent-date-picker>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('dueDate')" labelName="Due Date"></ent-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 line" *ngIf="searchType === 'PolicyPayment'">
                        <div class="row">
                            <div class="col-6">
                                <ent-label [data]="'Policy Symbol'"></ent-label>
                                <ent-dropdown [dropdownItems]="PolicySymbolDropdown" [(ngModel)]="policySymbol" formControlName="policySymbol" type="select"></ent-dropdown>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('policySymbol')" labelName="Policy Symbol"></ent-control-messages>
                            </div>
                            <div class="col-6">
                                <ent-label data="Payable Item"></ent-label>
                                <ent-dropdown [dropdownItems]="PayableItemDropdown" [(ngModel)]="payableItem" formControlName="payableItem" type="select"></ent-dropdown>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('payableItem')" labelName="Payable Item"></ent-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 line">
                        <div class="row">
                            <div class="col-6 hold-suspense-label">
                                <br>
                                <ent-input-checkbox (valueChanged)="paymentOnHoldChanged($event)" formControlName="paymentOnHold" [(ngModel)]="paymentOnHold" [text]="'Hold In Suspense'">
                                </ent-input-checkbox>
                            </div>
                            <div class="col-6" *ngIf="paymentOnHold">
                                <ent-label [data]="'Reason'" requiredField="required"></ent-label>
                                <ent-dropdown [control]="editBatchUnidentifiedPaymentForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="SuspenseReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                <ent-control-messages [control]="editBatchUnidentifiedPaymentForm.get('suspenseReason')" labelName="Suspense reason">
                                </ent-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-12 pr-0 pl-0 description-section">
                            <ent-label data="Comment"></ent-label>
                            <ent-text-area [control]="editBatchUnidentifiedPaymentForm.get('paymentComments')" formControlName="paymentComments" rowSize="2" [(ngModel)]="paymentComments"></ent-text-area>
                            <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                            <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button class="button-xlarge" buttonText="SUBMIT" [disabled]="!editBatchUnidentifiedPaymentForm.valid || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount || paymentComments?.length > 80)" buttonType="submit"></ent-button>
            </div>
        </div>
    </form>
</div>