<app-security-sidebar [sectionName]="'Batch Payments'" (refreshSummary)="searchSection?.resetBatchPayments()"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Batch Payments"></ent-header>

    <div class="container">
        <div class="row">
            <div class="col-12 field-row" [ngClass]="{'pt-4': !securityEngineService.checkVisibility('filterIcon', 'Hide') || !securityEngineService.checkVisibility('importPayments', 'Hide') || !securityEngineService.checkVisibility('addBatch', 'Hide')}">
                <app-batch-search-section  #searchSection [resultList]="resultList" [filters]="filters" [systemDate]="systemDate" [isBatchPaymentListLoaded]="resultList.isBatchPaymentListLoaded"></app-batch-search-section>
            </div>
        
            <div class="col-12" *ngIf="batchPaymentList?.length > 0">
                <app-batch-payments-header [isBatchPaymentListLoaded]="resultList.isBatchPaymentListLoaded"></app-batch-payments-header>
            </div>
            <div class="col-12">
                <app-batch-payments-results #resultList (isBatchPaymentsEmpty)="isBatchPaymentsEmpty($event)" [filters]="filters" [systemDate]="systemDate"></app-batch-payments-results>
            </div>
        </div>
    </div>
</div>