<div class="col-12 pr-0 pl-0 advance-search-filter">
    <div class="row">
        <div class="col-8">
            <ent-card *checkPermission="'filterIcon'">
                <div class="row">
                    <div class="col-12 panel-header">
                        <ent-title-bar [titleText]="'FILTERS'" border="false">
                            <span class="filters-wrapper float-right">
                <span class="filter-tags">
                  <span
                    [ngClass]="{'filter-options-icon': filterTagsList?.length > 0, 'un-filter-options-icon': filterTagsList?.length <= 0}"></span>
                            </span>
                            </span>
                        </ent-title-bar>
                    </div>
                    <div class="col-12">
                        <div class="col-12">
                            <form [formGroup]="batchPaymentSearchForm" rule="form">
                                <div class="row">
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('startDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="isBatchPaymentListLoaded" [securityName]="'startDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="From Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('startDate', 'Disable')" [currentDate]="systemDate" (dateChanged)="checkValid($event, 'startDate')" formControlName="startDate"></ent-date-picker>
                                            <ent-control-messages [control]="startDate" labelName="From Date">
                                            </ent-control-messages>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('endDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="isBatchPaymentListLoaded" [securityName]="'endDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="To Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('endDate', 'Disable')" [currentDate]="systemDate" (dateChanged)="checkValid($event, 'endDate')" [control]="endDate" formControlName="endDate"></ent-date-picker>
                                            <ent-control-messages [control]="endDate" labelName="To Date">
                                            </ent-control-messages>
                                            <span *ngIf="isGreater && endDate?.valid" class="error-message">To Date cannot be less than From Date.</span>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('startAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="isBatchPaymentListLoaded" [securityName]="'startAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Minimum Amount'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('startAmount', 'Disable')" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid()" formControlName="fromAmount"></ent-input>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('endAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="isBatchPaymentListLoaded" [securityName]="'endAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Maximum Amount'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('endAmount', 'Disable')" type="number" [control]="toAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid()" formControlName="toAmount"></ent-input>
                                            <span *ngIf="isGreaterAmount" class="error-message">Maximum Amount can't be less than Minimum Amount.</span>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="multiCurrencyEnabled && !securityEngineService.checkVisibility('currency', 'Hide')" class="col-3 pl-1 pr-2" [loading]="isBatchPaymentListLoaded" [securityName]="'currency'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="Currency"></ent-label>
                                            <ent-dropdown [disabledField]="!currencyDropdown || securityEngineService.checkVisibility('currency', 'Disable')" [dropdownItems]="currencyDropdown" formControlName="currency" type="select" [control]="currency"></ent-dropdown>
                                            <ent-control-messages [control]="currency" labelName="Currency"></ent-control-messages>
                                        </div>
                                    </ent-skeleton>
                                    <div class="col-6 pr-2 ml-auto pt-4 mt-2 text-right">
                                        <ent-button class="button-medium pr-2" buttonText="APPLY" (buttonClick)="searchBatchPayments(true)" [disabled]="isGreaterAmount || isGreater || !batchPaymentSearchForm.get('startDate').valid || !batchPaymentSearchForm.get('endDate').valid" inversedButton="true"></ent-button>
                                        <ent-button class="button-medium button-outline" buttonText="RESET" (buttonClick)="resetBatchPayments()" [disabled]="isNotSelecting()" inversedButton="true">
                                        </ent-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ng-template #skeletonLayout>
                    <div class="col-12 pl-0 pr-0 pt-1">
                        <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-medium skeleton-field">
                        </ent-skeleton>
                        <ent-skeleton [loading]="false" [appearance]="'h2'"></ent-skeleton>
                    </div>
                </ng-template>
            </ent-card>
        </div>
        <div class="col-4 filters-wrapper">
            <div class="row">
                <div class="col-12 filter-section">
                    <div class="d-flex justify-content-end">
                        <ent-skeleton *checkPermission="'importPayments'" [loading]="isBatchPaymentListLoaded" [securityName]="'importPayments'" [appearance]="'h2'" class="skeleton-paragraph-long-fixed">
                            <ent-button [disabled]="securityEngineService.checkVisibility('importPayments', 'Disable')" class="button-auto" buttonText="IMPORT PAYMENTS" (buttonClick)="performImportPayments()"></ent-button>
                        </ent-skeleton>
                        <ent-skeleton *checkPermission="'addBatch'" [loading]="isBatchPaymentListLoaded" [securityName]="'addBatch'" [appearance]="'h2'" class="pl-2 skeleton-paragraph-long-fixed">
                            <ent-button [disabled]="securityEngineService.checkVisibility('addBatch', 'Disable')" class="button-auto" buttonText="ADD BATCH" (buttonClick)="performAddBatch()"></ent-button>
                        </ent-skeleton>
                        <div *ngIf="securityEngineService?.roleSequenceId" class="pl-3 pt-2">
                            <a (click)="openSecurity('epBatchList')">
                                <span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!securityEngineService?.isSecurityDataLoading" class="filterTag">
                    <div *checkPermission="'filterIcon'" class="col-12 filter-tags" [ngClass]="{'mt-3': filterTagsList.length > 0 && (securityEngineService?.roleSequenceId || !securityEngineService.checkVisibility('addBatch', 'Hide') || !securityEngineService.checkVisibility('importPayments', 'Hide'))}">
                        <span *ngFor="let filterTag of filterTagsList" class="badge">{{filterTag.tag}}
                            <a class="fas fa-times" (click)="removeTagsFilter(filterTag.name)"></a>
                        </span>
                    </div>
                </div> 
                <div class="col-12 filter-section">
                    <div class="col-12 flip" *ngIf="allBatchesEnable"> 
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'allBatches'" *ngIf="!securityEngineService.checkVisibility('allBatches', 'Hide')" class="float-right skeleton-paragraph-long-fixed" [appearance]="'h2'">
                            <div class="flipswitch">
                                <input type="checkbox" name="flipswitch" [(ngModel)]="isAllBatchesChecked" (change)="togglePayment()" class="flipswitch-cb" id="fs">
                                <label class="flipswitch-label" for="fs">
                                    <div class="flipswitch-inner"></div>
                                    <div class="flipswitch-switch"></div>
                                </label>
                            </div>
                        </ent-skeleton>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<ent-modal #importPaymentsComponent class="modal-xlarge" (modalOutput)="refreshBatchPayments($event)"></ent-modal>