.flipswitch {
  width: 116px;
}
.flipswitch-switch {
  right: 85px;
  width: 32px;
  height: 34px;
  margin-top: -2px;
}

.flipswitch-inner:after {
  content: "My Batches";
  padding-right: 6px !important;
}
.flipswitch-inner:before {
  content: "All Batches";
}
.flip {
  top: 136px;
  left: 16px;
}
.filterTag {
  position: absolute;
  top: 32px;
}
