<app-security-sidebar [sectionName]="'Consumer Payment'" (refreshSummary)="refreshSecurity($event)">
</app-security-sidebar>

<div ng-sidebar-content>
    <div class="make-account-payment">
        <div class="common-fixed-header">
            <ent-header name="{{headerName}}" #header [showBreadcrumb]="false">
                <div class="col-12 pr-0 pl-0 mt-3 pt-4 make-payment">
                    <ol class="step-indicator-small">
                        <li class="{{isSelectAmount}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isPaymentMethod}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isConfirm}}">
                            <div class="step"></div>
                        </li>
                    </ol>
                </div>
            </ent-header>
            <div class="container payment-section pt-0">
                <div class="row sections-header sub-fixed-header container pl-0 pr-0 pb-3 client-info-section">
                    <div class="col-1 pr-0">
                        <ent-skeleton *ngIf="isShowAccountDetailSection || !isAccountDetailLoaded"
                            [loading]="isAccountDetailLoaded" [appearance]="'avatar'">
                            <div *ngIf="accountDetails">
                                <ent-image class="preview-client-icon" alt="{{payorName}}"
                                    [errorImageUrl]="iconName?.person"
                                    imageUrl="{{(imageId && imageUrl ? (imageUrl + imageId+'.png') : iconName?.person)}}">
                                </ent-image>
                            </div>
                        </ent-skeleton>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <div *ngIf="isShowAccountDetailSection || !isAccountDetailLoaded" class="profile-title pt-1">
                            <ent-skeleton [loading]="isAccountDetailLoaded" class="skeleton-paragraph-medium">
                                <div *ngIf="accountDetails">
                                    <a x-no-tabbing>
                                        <span class="main-title">
                                            <app-name-display [nameOnly]="true" popoverPlacement="bottom"
                                                [name]="payorName" [maxWidth]="500" [length]="70">
                                            </app-name-display>
                                        </span>
                                        <span *ngIf="checkAgencyModalChange()" class="pl-3">
                                            <a class="fas fa-pencil-alt" (click)="openAgentModal('Change')"></a>
                                        </span>
                                    </a>
                                    <br>
                                </div>
                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-long">
                                <div *ngIf="accountDetails">
                                    <span class="sub-title">
                                        <app-name-display [nameOnly]="true" popoverPlacement="bottom"
                                            [name]="payorAddress" [maxWidth]="500" [length]="70">
                                        </app-name-display>
                                    </span>

                                </div>
                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-short">
                                <strong *ngIf="accountDetails && paymentType === propertyName?.CP">
                                    <span>Account Number: </span>
                                    <span>{{accountNumber}}</span>
                                </strong>
                                <strong *ngIf="accountDetails && paymentType === propertyName?.ASP">
                                    <span>Agent Number: </span>
                                    <span>{{agent}}</span>
                                </strong>
                            </ent-skeleton>
                        </div>
                    </div>
                    <div class="col-5 align-self-end payment-btn-group">
                        <div *ngIf="securityEngineService?.roleSequenceId && isSelectAmount === propertyName?.active"
                            class="col-12 pl-0 pr-0 pb-3 text-right">
                            <a (click)="openSecurity('epPayments', 'paymentType')"><span class="fas fa-cog setting-icon" aria-hidden="true"></span></a>
                        </div>
                        <div *checkPermission="'paymentType'" class="col-12 pl-0 pr-0">
                            <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                [securityName]="'paymentType'" [appearance]="'h2'"
                                class="float-right payment-type-skeleton">
                                <div class="btn-group float-right" role="payments" aria-label="payments">
                                    <div *checkPermission="propertyName?.consumerPayment" class="btn-group"
                                        role="group">
                                        <button type="button" class="btn btn-default"
                                            [disabled]="isConfirm === propertyName?.active || isPaymentMethod === propertyName?.active || securityEngineService.checkVisibility(propertyName?.consumerPayment, propertyName?.Disable)"
                                            [class.active]="paymentType === propertyName?.CP"
                                            (click)="selectPaymentTypeList(propertyName?.CP)">{{propertyName?.ConsumerPayment}}</button>
                                    </div>
                                    <div *checkPermission="propertyName?.agencySweepPayment" class="btn-group"
                                        role="group">
                                        <button type="button" class="btn btn-default"
                                            [disabled]="(isConfirm === propertyName?.active) || (isAgencySweep === 'true'? false : true) || isPaymentMethod === propertyName?.active || securityEngineService.checkVisibility(propertyName?.agencySweepPayment, propertyName?.Disable)"
                                            [class.active]="paymentType === propertyName?.ASP"
                                            (click)="selectPaymentTypeList(propertyName?.ASP)">{{propertyName?.AgencySweepPayment}}</button>
                                    </div>
                                </div>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container payment-section pt-0">
            <div class="row">
                <div class="col-12">
                    <div *ngIf="isSelectAmount === propertyName?.active"
                        class="col-12 pl-0 pr-0 payment-amount-section">
                        <div *ngIf="securityEngineService?.isSecurityDataLoading || isPaymentOptions else noPaymentOptions"
                            class="row">
                            <div class="col-12 label-header text-center">
                                <ent-title-bar class="label-title-bar"
                                    [titleText]="securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show) ? 'Select Payment Amount' : ''"
                                    border="'false'">
                                    <span *ngIf="securityEngineService?.roleSequenceId"><a
                                            class="fas fa-cog float-right setting-icon"
                                            (click)="openSecurity('epPayments', 'selectPayment')"
                                            aria-hidden="true"></a></span>
                                </ent-title-bar>
                            </div>
                            <div class="col-12 radio-detail-card">
                                <div *checkPermission="'selectAmountSection'; else notAvailable" class="col-12 pl-0">
                                    <div class="row justify-content-center">
                                        <ent-skeleton *checkPermission="'currentBalance'" class="col-4 pr-0"
                                            [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'currentBalance'" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonLayout">
                                            <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                [disabled]="(accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0) || isAccountBalanceDetailError"
                                                (click)="selectAmount(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue, 'isCurrentDue')"
                                                [class.active]="isCurrentDue">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Current Balance"></ent-label>
                                                    <ent-skeleton [loading]="isAccountBalanceDetailLoaded"
                                                        class="skeleton-paragraph-medium-fixed float-right">
                                                        <div *ngIf="accountBalanceDetail else notAmount"
                                                            class="payment-current current-balance-{{accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0}}">
                                                            <span appTabbing
                                                                *ngIf="!(accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0)"
                                                                class="dashed-border-help" [popoverOnHover]="true"
                                                                popover="<div class='rect-PastDue no-wrap'>Past Due: {{accountBalanceDetail?.pastDue | currency:currency}} </div> <div class='rect-CurrentDue no-wrap'>Current Due: {{accountBalanceDetail?.currentDue | currency:currency}} </div>"
                                                                popoverPlacement="bottom">{{accountBalanceDetail?.currentDue
                                                                + accountBalanceDetail?.pastDue |
                                                                currency:currency}}</span>
                                                            <span
                                                                *ngIf="(accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0)"
                                                                class="dashed-border-help">{{accountBalanceDetail?.currentDue
                                                                + accountBalanceDetail?.pastDue |
                                                                currency:currency}}</span>
                                                        </div>
                                                    </ent-skeleton>
                                                </ent-card>
                                            </fieldset>
                                        </ent-skeleton>
                                        <ent-skeleton *checkPermission="'totalBalance'" class="col-4 pr-0"
                                            [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'totalBalance'" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonLayout">
                                            <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                [disabled]="accountBalanceDetail?.accountBalance === 0 || isAccountBalanceDetailError"
                                                (click)="selectAmount(accountBalanceDetail?.accountBalance,'isAccountBalance')"
                                                [class.active]="isAccountBalance">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Total Balance"></ent-label>
                                                    <ent-skeleton [loading]="isAccountBalanceDetailLoaded"
                                                        class="skeleton-paragraph-medium-fixed float-right">
                                                        <ent-label *ngIf="accountBalanceDetail else notAmount"
                                                            class="payment-account total-balance"
                                                            data="{{accountBalanceDetail?.accountBalance | currency:currency}}">
                                                        </ent-label>
                                                    </ent-skeleton>
                                                </ent-card>
                                            </fieldset>
                                        </ent-skeleton>
                                        <ent-skeleton *checkPermission="'otherAmount'" class="col-4 pr-0"
                                            [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'otherAmount'" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonLayout">
                                            <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                [disabled]="isAccountBalanceDetailError"
                                                (click)="selectAmount(null, 'isOtherAmount')"
                                                [class.active]="isOtherAmount">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Other Amount"></ent-label>
                                                    <ent-input *ngIf="isOtherAmount" focus="true" class="other-amount"
                                                        type="number" [(ngModel)]="payment.amount"
                                                        [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                                    </ent-input>
                                                </ent-card>
                                                <span *ngIf="(payment.amount <1) && isOtherAmount"
                                                    class="error-message">Payment Amount must be greater than $1</span>
                                            </fieldset>
                                        </ent-skeleton>
                                    </div>
                                    <ng-template #notAmount>
                                        <ent-label class="payment-account total-balance"
                                            data="{{ '0' | currency:currency}}"></ent-label>
                                    </ng-template>
                                    <ng-template #skeletonLayout>
                                        <fieldset class="col-12 pl-0 pr-0 radio-detail-card-item">
                                            <ent-card>
                                                <ent-skeleton [loading]="false"
                                                    class="skeleton-paragraph-short-fixed mt-2 d-inline-flex">
                                                </ent-skeleton>
                                                <ent-skeleton [loading]="false"
                                                    class="skeleton-paragraph-long-fixed ml-4 d-inline-flex">
                                                </ent-skeleton>
                                                <ent-skeleton [loading]="false"
                                                    class="skeleton-paragraph-medium-fixed mt-2 float-right d-inline-flex">
                                                </ent-skeleton>
                                            </ent-card>
                                        </fieldset>
                                    </ng-template>
                                </div>
                                <ng-template #notAvailable>
                                    <div class="col-12 app-section min-height-main">
                                        <ent-empty-view message="Select Payment Amount Section is not available."
                                            [iconUrl]="iconName?.noStatements"></ent-empty-view>
                                    </div>
                                </ng-template>
                            </div>
                            <div *ngIf="isAccountBalanceDetailError" class="col-12">
                                <span class="text-font-size-sm text-dark-red">Account Balance Details not available. Try
                                    again later</span>
                            </div>
                            <div *ngIf="isAccountBalanceDetailLoaded" class="col-12 text-center pt-5 pb-5">
                                <ent-button *ngIf="storedAccountDetails" imagePosition="right"
                                    fasName="fa-chevron-circle-right" class="button-full" buttonText="PAYMENT METHOD"
                                    [disabled]="payment.amount <1 || !isShowPaymentMethodButton || !securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show)"
                                    (buttonClick)="makePaymentLoop(propertyName?.isSelectAmount, true)"
                                    buttonType="submit">
                                </ent-button>
                                <ent-button *ngIf="!storedAccountDetails" imagePosition="right"
                                    fasName="fa-chevron-circle-right" class="button-full" buttonText="PAYMENT METHOD"
                                    [disabled]="payment.amount <1 || !isShowPaymentMethodButton || !securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show)"
                                    (buttonClick)="navigateToAddPayment()" buttonType="submit"></ent-button>
                            </div>
                        </div>
                        <ng-template #noPaymentOptions>
                            <div class="col-12 mt-4 app-section min-height-main">
                                <ent-empty-view message="No Payment Options are available."
                                    [iconUrl]="iconName?.noStatements"></ent-empty-view>
                            </div>
                        </ng-template>
                    </div>
                    <div *ngIf="isPaymentMethod === propertyName?.active" class="col-12 payment-method-section">
                        <div *ngIf="(storedAccountDetails?.paymentProfiles && isConfirm !== propertyName?.noProfilesFound) else notStoredAccountDetails"
                            class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pt-4 pr-0 pl-0 label-header text-left">
                            <ent-title-bar class="label-title-bar" imagePosition="right"
                                fasName="fa-chevron-circle-right" [titleText]="'Choose a Payment Method'"
                                border="'false'">
                                <ent-skeleton
                                    *ngIf="(businessGroup && isAgencySweepBGRPOverride && isBusinessGroup && paymentType === propertyName?.ASP) && !securityEngineService.checkVisibility('viewAllProfiles', propertyName?.Hide)"
                                    [loading]="!securityEngineService?.isSecurityDataLoading"
                                    [securityName]="'viewAllProfiles'"
                                    class="skeleton-paragraph-medium-fixed float-right">
                                    <a class="edit-link" (click)="getPaymentProfiles(false)"
                                        [class.disable-dropdown-options]="isViewAllProfilesClicked || securityEngineService.checkVisibility('viewAllProfiles', propertyName?.Disable)">View
                                        All Profiles</a>
                                </ent-skeleton>
                                <span class="mr-2" *ngIf="securityEngineService?.roleSequenceId && (paymentType === propertyName?.CP || (businessGroup && isAgencySweepBGRPOverride && isBusinessGroup && paymentType === propertyName?.ASP))">
                                    <a class="fas fa-cog float-right setting-icon" (click)="openSecurity('epPayments', paymentType === propertyName?.CP ? 'choosePaymentMethod' : 'chooseAgencySweepPaymentMethod')" aria-hidden="true"></a>
                                </span>
                            </ent-title-bar>
                        </div>
                        <ng-template #notStoredAccountDetails>
                            <div
                                class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header text-left page-detail">
                                <p>No Profiles found for this agent. Add payment profile and retry payment.</p>
                            </div>
                        </ng-template>
                        <div *ngIf="(storedAccountDetails?.paymentProfiles)"
                            class="col-12 pr-0 pl-0 radio-detail-payment-card">

                            <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                                <div appTabbing (click)="selectBank(list, i)"
                                    *ngFor="let list of storedAccountDetails?.paymentProfiles;let i = index"
                                    [ngClass]="{'active' : i === isBankIndex}"
                                    class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                    <ent-card class="bank-list">
                                        <div class="row">
                                            <div class="col-1 pt-3">
                                                <span class="radio-circle"></span>
                                            </div>
                                            <ng-container *ngIf="isObject(list) === propertyName?.digitalWallet">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{list[propertyName?.digitalWallet].walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                        imageUrl="assets/images/bank/{{list[propertyName?.digitalWallet].walletType}}.svg"
                                                        [alt]="list[propertyName?.digitalWallet].walletType">
                                                    </ent-image>
                                                </div>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="isObject(list) === propertyName?.creditCard || isObject(list) === propertyName?.bankAccount">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{isObject(list) === propertyName?.creditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                        imageUrl="assets/images/bank/{{isObject(list) === propertyName?.creditCard ? list[propertyName?.creditCard].cardType : 'bank' }}.svg"
                                                        alt="{{isObject(list) === propertyName?.creditCard ? list[propertyName?.creditCard].cardType : 'bank' }}">
                                                    </ent-image>
                                                </div>
                                                <div class="col-5">
                                                    <ent-label className="ent-label-inline-bold"
                                                        [data]="(isObject(list) === propertyName?.creditCard ? 'XXXX XXXX XXXX ' + list[propertyName?.creditCard].cardNumber.substr(list[propertyName?.creditCard].cardNumber.length - 4) : 'XXXX XXXX ' + list['bankAccount'].accountNumber.substr(list['bankAccount'].accountNumber.length - 4))">
                                                    </ent-label>
                                                    <ent-label
                                                        data="{{isObject(list) === propertyName?.creditCard ? propertyName?.CreditCard : propertyName?.BankAccount}}">
                                                    </ent-label>
                                                </div>
                                            </ng-container>
                                            <div class="col-4 text-right text-uppercase">
                                                <ent-label className="ent-label-inline-bold" data=" {{list.name}}">
                                                </ent-label>
                                                <br>
                                                <span *ngIf="businessGroup">
                                                    <ent-label className="ent-label-inline-bold"
                                                        data=" {{list.attributeValue}}"></ent-label>
                                                </span>
                                            </div>
                                        </div>
                                    </ent-card>
                                </div>
                                <ng-container *ngIf="paymentProvider !== propertyName?.paymentus">
                                    <a *ngIf="paymentType !== propertyName?.ASP && !securityEngineService.checkVisibility('addNewCardOrBankAccount', propertyName?.Hide)"
                                        [routerLink]="['/consumer-payment', 'add-new-payment']"
                                        [queryParams]="{accountId: accountId, 'returnAppId': returnAppId, 'billingType': billingType}"
                                        class="col-12 text-center add-new-payment-link"
                                        [ngClass]="{'disable-security-options': securityEngineService.checkVisibility('addNewCardOrBankAccount', propertyName?.Disable)}">
                                        <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'addNewCardOrBankAccount'"
                                            class="skeleton-paragraph-xlong-fixed skeleton-center">
                                            <a x-no-tabbing><i class="fas fa-plus pr-2"></i> ADD NEW CARD OR BANK ACCOUNT</a>
                                        </ent-skeleton>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="paymentProvider === propertyName?.paymentus">
                                    <div *ngIf="paymentType !== propertyName?.ASP && !securityEngineService.checkVisibility('addNewCardOrBankAccount', propertyName?.Hide)"
                                        (click)="paymentusFlow()" class="col-12 text-center add-new-payment-link"
                                        [ngClass]="{'disable-security-options': securityEngineService.checkVisibility('addNewCardOrBankAccount', propertyName?.Disable)}">
                                        <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'addNewCardOrBankAccount'"
                                            class="skeleton-paragraph-xlong-fixed skeleton-center">
                                            <a><i class="fas fa-plus pr-2"></i> NEW PAYMENT METHOD</a>
                                        </ent-skeleton>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pt-5 pb-5 pr-0 pl-0">
                            <ent-button
                                *ngIf="storedAccountDetails?.paymentProfiles && isConfirm !== propertyName?.noProfilesFound"
                                imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK"
                                class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                buttonType="button"></ent-button>
                            <ent-button
                                *ngIf="(storedAccountDetails?.paymentProfiles && isConfirm !== propertyName?.noProfilesFound) else notReview"
                                class="float-right button-xxlarge" imagePosition="right"
                                fasName="fa-chevron-circle-right" buttonText="REVIEW AND PAY"
                                [disabled]="!payment.paymentMethod"
                                (buttonClick)="makePaymentLoop('isPaymentMethod', true)" buttonType="submit">
                            </ent-button>
                            <ng-template #notReview>
                                <ent-button class="button-medium button-outline" imagePosition="left"
                                    fasName="fa-chevron-circle-left" buttonText="BACK" (buttonClick)="goBack()"
                                    buttonType="button"></ent-button>
                            </ng-template>
                        </div>
                    </div>
                    <div *ngIf="isConfirm === propertyName?.active " class="col-12 payment-method-section">
                        <div
                            class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header pr-0 pl-0 text-left pt-5">
                            <ent-title-bar class="label-title-bar" [titleText]="'Payment Amount'" border="'false'">
                                <span *ngIf="securityEngineService?.roleSequenceId">
                                    <a class="fas fa-cog float-right setting-icon" (click)="openSecurity('epPayments')" aria-hidden="true"></a>
                                </span>
                            </ent-title-bar>
                            <div class="col-12 pl-0 pr-0">
                                <div class="row">
                                    <div class="col-6">
                                        <ent-input *ngIf="isEdit" class="other-amount" type="number"
                                            [(ngModel)]="payment.amount"
                                            [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                        </ent-input>
                                        <ent-label *ngIf="!isEdit" class="amount"
                                            data="{{payment.amount | currency:currency}}"></ent-label>
                                        <span *ngIf="(payment.amount < 1)" class="error-message">Payment Amount must be
                                            greater than $1</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <ent-skeleton *checkPermission="'editPaymentAmount'"
                                            [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="'editPaymentAmount'"
                                            class="skeleton-paragraph-short-fixed float-right">
                                            <a *ngIf="payment.amount >= 1" class="amount-link"
                                                (click)="isEdit = !isEdit"><i
                                                    class="fas fa-{{!isEdit ? 'pencil-alt' : 'check'}}"></i></a>
                                        </ent-skeleton>
                                        <a class="amount-link" *ngIf="payment.amount < 1"><i
                                                class="fas fa-check icon-disabled"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header pr-0 pl-0 text-left mt-4">
                            <ent-title-bar class="label-title-bar" [titleText]="'Paying with'" border="'false'">
                            </ent-title-bar>
                        </div>
                        <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                            <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                                <div [class.active]="true" class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                    <ent-card class="bank-list no-cursor">
                                        <ent-skeleton [loading]="payment?.paymentMethod" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonPaymentMethod">
                                            <div class="row">
                                                <div class="col-1 pt-3">
                                                    <span class="radio-circle"></span>
                                                </div>
                                                <ng-container *ngIf="(payment?.paymentMethod === propertyName?.PaypalCredit || payment?.paymentMethod === propertyName?.Paypal)">
                                                    <div class="col-2 pt-2">
                                                        <ent-image
                                                        class="{{payment?.walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                            imageUrl="assets/images/bank/{{payment?.walletType }}.svg"
                                                            [alt]="payment?.walletType">
                                                        </ent-image>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="payment?.paymentMethod === propertyName?.CreditCard || payment?.paymentMethod === propertyName?.BankAccount">
                                                    <div class="col-2 pt-2">
                                                        <ent-image
                                                            class="{{payment?.paymentMethod === propertyName?.CreditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                            imageUrl="assets/images/bank/{{payment?.paymentMethod === propertyName?.CreditCard ? payment?.creditCardType : 'bank' }}.svg"
                                                            alt="{{payment?.paymentMethod === propertyName?.CreditCard ? payment?.creditCardType : 'bank' }}">
                                                        </ent-image>
                                                    </div>
                                                    <div class="col-5">
                                                        <ent-label className="ent-label-inline-bold"
                                                            [data]="(payment?.paymentMethod === propertyName?.CreditCard ? 'XXXX XXXX XXXX ' + payment?.creditCardNumber?.substr(payment?.creditCardNumber?.length - 4) : 'XXXX XXXX ' + payment?.accountNumber?.substr(payment?.accountNumber?.length - 4))">
                                                        </ent-label>
                                                        <ent-label data="{{payment?.paymentMethod}}"></ent-label>
                                                    </div>
                                                </ng-container>
                                                <div class="col-4 text-right text-uppercase">
                                                    <ent-label className="ent-label-inline-bold"
                                                        data="{{payment?.fullName}}"></ent-label>
                                                    <br>
                                                    <span *ngIf="businessGroup">
                                                        <ent-label className="ent-label-inline-bold"
                                                            data=" {{payment?.attributeValue}}"></ent-label>
                                                    </span>
                                                </div>
                                            </div>
                                        </ent-skeleton>
                                    </ent-card>
                                    <ng-template #skeletonPaymentMethod>
                                        <div class="row">
                                            <div class="col-1">
                                                <span class="radio-circle"></span>
                                            </div>
                                            <div class="col-2">
                                                <ent-skeleton [loading]="false" [appearance]="'rect'"
                                                    class="skeleton-rect-xxsmall"></ent-skeleton>
                                            </div>
                                            <div class="col-5">
                                                <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                                <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                            </div>
                                            <div class="col-4 text-right text-uppercase">
                                                <ent-skeleton [loading]="false"></ent-skeleton>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                            <ent-button *ngIf="paymentType !== propertyName?.ASP" imagePosition="left"
                                fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                buttonType="button"></ent-button>
                            <div *ngIf="paymentType !== propertyName?.ASP else payASP" class="text-right">
                                <ent-button class="button-full" [disabled]="isEdit" imagePosition="right"
                                    fasName="fa-chevron-circle-right"
                                    buttonText="PAY {{payment.amount | currency:currency}}" (buttonClick)="makePay()"
                                    buttonType="submit">
                                </ent-button>
                            </div>
                            <ng-template #payASP>
                                <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                    class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                    buttonType="button"></ent-button>
                                <div class="text-right">
                                    <ent-button class="button-full" [disabled]="isEdit" imagePosition="right"
                                        fasName="fa-chevron-circle-right"
                                        buttonText="PAY {{payment.amount | currency:currency}}"
                                        (buttonClick)="makePayASP()" buttonType="submit"> </ent-button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <ent-modal class="modal-xsmall" #paymentReceivedModel (modalOutput)="printStatement() "></ent-modal>
        </div>

        <ent-modal class="modal-medium" #selectAgentModal (modalOutput)="selectAgentEvent($event)"></ent-modal>
    </div>
</div>