<div class="ent-input-field col-12 pl-0 pr-0">
    <div class="col-12 pl-0 pr-0">
        <div class="inner-addon left-addon">
            <span *ngIf='icon' class="fas icon">{{icon}}</span>
            <i *ngIf='fasName' class="fas {{fasName}}"></i>
            <input *ngIf="(type!='number' && type!='negativeNumber' && type != 'bank')" #input appAutoFocus [autoFocus]="isAutoFocus" [class.isError]="isError()" [ngStyle]="{'padding':fasName ? '6px 25px 6px 30px' : '6px 22px 6px 12px' }" [type]="type" class="keyword form-control input-md" placeholder="{{placeholder}}"
                [(ngModel)]="value" [disabled]="disabledField" (blur)="onTouched();onInputBlur($event)" maxlength="{{maxlength}}" (keyup)="onInputChange($event)" autocomplete="off" (keypress)="isKeyNumber($event)" />
            <input #numberInput *ngIf="(type==='number' || type==='negativeNumber')" #input appAutoFocus [autoFocus]="isAutoFocus" [class.isError]="isError()" [ngStyle]="{'padding':fasName ? '6px 25px 6px 30px' : '6px 22px 6px 12px' }" class="keyword form-control input-md" placeholder="{{placeholder}}"
                [ngModel]="inputNumberTxt" (ngModelChange)="numberInputChanged($event)" [value]="inputNumberTxt" [disabled]="disabledField" (blur)="onTouched();onInputBlur($event)" maxlength="{{maxlength}}" (focusout)="focusOutHandling($event)" (keyup)="onInputChange($event)"
                (keydown)="inputKeyDown($event)" autocomplete="off" (keypress)="isKeyNumber($event, numberInput)" />
            <input *ngIf="type ==='bank'" #input appAutoFocus [autoFocus]="isAutoFocus" [class.isError]="isError()" [ngStyle]="{'padding':fasName ? '6px 25px 6px 30px' : '6px 22px 6px 12px' }" class="keyword form-control input-md" placeholder="{{placeholder}}" [(ngModel)]="value" [disabled]="disabledField"
                (blur)="onTouched();onInputBlur($event)" (keyup)="onInputChange($event)" autocomplete="off" (keypress)="isKeyNumber($event)" />
            <ng-content></ng-content>
        </div>
        <i appTabbing [isTabbing]="!disabledField" *ngIf="showClose && value && value.length > 0 && (type === 'text' || type === 'number' || type === 'negativeNumber')" (click)="clearValues($event);" class="{{disabledField ? 'disabledClose' : 'fas fa-times close-addon '}}"></i>
    </div>
</div>