<div id="refundMethodSelect" data-width="6" class="col-12 pr-0 pl-0 select-payment-method-section">
    <div class="row text-center select-payment-method-wrapper">
        <div class="col-12">
            <div class="row">
                <div appTabbing class="col box-padding select-box-xlarge" *ngFor="let type of disbursementMethodTypes" 
                [class.active]="paymentMethodSelected === type" 
                (click)="showActiveControls(type)">
                    <ent-card>
                        <ent-image class="perview-icon" imageUrl="assets/images/model-icons/{{commonService?.removeSpacesAndFWDash(type)}}.svg" [alt]="type"></ent-image>
                        <ent-label [data]="type | uppercase"></ent-label>
                    </ent-card>
                </div>
            </div>
        </div>
        <div class="col-12 submit-btn button-row">
            <ent-button class="button-xlarge" imagePosition="right" fasName="fa-chevron-circle-right" buttonText="NEXT" (buttonClick)="navigateToAddPlan()" buttonType="submit" [disabled]="!paymentMethodSelected"></ent-button>
        </div>
    </div>
</div>