@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .payments-disburse-select-modal {
        .modal-dialog [data-width='6'] {
            width: 400px !important;
        }
    }
    .select-payment-method-section {
        .select-payment-method-wrapper {
            .box-padding {
                @include space (padding, right, $xs);
                @include space (padding, left, $xs);
            }
            .submit-btn {
                @include space (padding, top, $small + 7px);
            }
        }
    }
}
