<div class="security-config">
  <div class="btn-group">
      <button type="button" title="Security Configurations" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-cog" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu">
          <li *ngFor="let item of securitySettingsDropdown;let i = index">
              <a class="d-block" [class.active]="item === selectedItem" (click)="setSecuritySettings(item)">
                  {{item}}
              </a>
          </li>
      </ul>
  </div>
</div>