@import "abstracts/mixins";
@import "abstracts/variables";
.security-config {
  .btn-group {
    button {
      border: none;
      padding: 1px 0px;
    }
    .dropdown-toggle {
      &:active {
        box-shadow: none;
      }
    }
    &.open {
      .dropdown-toggle {
        box-shadow: none;
      }
    }
    .dropdown-menu {
      min-width: 96px;
      width: 100%;
      max-height: 100px;
      overflow-y: auto;
      left: -17px;
      top: 20px;
      text-transform: capitalize;
      z-index: 99;
      li {
        a {
          @include custom-font-size($font-size-base);
          @include padding(3px, 5px, 3px, 5px);
          text-overflow: ellipsis;
          overflow: hidden;
          &:hover,
          &:focus {
            @include transition(all 0.25s ease-out);
          } 
          &.active{
            @include transition(all 0.25s ease-out);
          }
        }
      }
    }
  }
}
