<app-security-sidebar [sectionName]="'Batch Summary'" (refreshSummary)="checkShowBatchHeader()"></app-security-sidebar>

<div ng-sidebar-content>
    <div [ngClass]="{'common-fixed-header batch-summary-header-section': batchDetail && batchDetail?.enableAddPayment === true && isShowHeader}">
        <ent-header class="row col-12" [name]="'BATCH SUMMARY'"></ent-header>
        <app-batch-header *ngIf="batchDetail && batchDetail?.enableAddPayment === true && isShowHeader" [multiCurrencyEnabled]="multiCurrencyEnabled" [currency]="batchDetail?.currency" (reloadSummary)="reloadSummary($event)" [systemDate]="systemDate" [batchId]="batchId" [postedDate]="postedDate" [userId]="userId" [controlBank]="controlBank" [depositBank]="depositBank"
            [businessGroup]="businessGroup" [isBatchDetailLoaded]="resultList.isBatchPaymentListLoaded" [isShowHeader]="isShowHeader">
        </app-batch-header>
    </div>
    <div class="container">
        <div class="row">
            <div *ngIf="batchDetail" class="col-12">
                <app-summary-amount-header (reloadSummary)="reloadSummary($event)" #balances [batchDetail]="batchDetail" [systemDate]="systemDate" [controlBank]="controlBank" [depositBank]="depositBank" [depositDate]="depositDate" [userId]="userId" (downloadReportExcel)="downloadReportExcel($event)"
                    [isBatchDetailLoaded]="isBatchDetailLoaded"></app-summary-amount-header>
            </div>

            <div *ngIf="batchDetail" class="col-12">
                <hr>
            </div>

            <div *ngIf="batchDetail && batchPaymentList?.length > 0" class="col-12">
                <app-summary-header></app-summary-header>
            </div>

            <div class="col-12">
                <app-summary-results (reloadSummary)="reloadSummary($event)" #resultList [multiCurrencyEnabled]="multiCurrencyEnabled" [currency]="batchDetail?.currency" [batchId]="batchId" [postedDate]="postedDate" [systemDate]="systemDate" [userId]="userId" [page]="page" [size]="size"
                    [isAcceptBatch]='batchDetail?.isAccept' [isDepositBatch]='batchDetail?.isDeposit' (isStatementsEmpty)="isStatementsEmpty($event)"></app-summary-results>
            </div>
        </div>
    </div>
</div>