<div class="col-12 pl-0 pr-0 ent-checkbox-field">
    <div class="checkbox_block" [ngClass]="{'disabled':disabled}">
        <input #checkbox appAutoFocus [autoFocus]="isAutoFocus" type="checkbox" [disabled]="disabled" [(ngModel)]="value" [attr.id]="_uniqueId" (change)="onInputChange(checkbox.checked)" />
        <label [attr.for]="_uniqueId"></label>
    </div>
    <div *ngIf="text" class="checkbox-text">
        <label>{{text}}<sup *ngIf="requiredField" class="requiredField"><span
                    class="fas fa-star"></span></sup></label>
    </div>
    <ng-content></ng-content>
</div>