<div class="col-12 pr-0 pl-0 advance-search-filter">
    <div class="row">
        <div *checkPermission="'filtersSection'" class="col-8">
            <ent-card>
                <div class="row">
                    <div class="col-12">
                        <ent-title-bar [titleText]="'FILTERS'" border="false">
                            <span class="filters-wrapper float-right">
                                <span class="filter-tags">
                                    <span [ngClass]="{'filter-options-icon': filterTagsList?.length > 0, 'un-filter-options-icon': filterTagsList?.length <= 0}"></span>
                            </span>
                            </span>
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pb-2">
                        <div class="col-12">
                            <form [formGroup]="batchPaymentSearchForm" rule="form">
                                <div class="row">
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('fromDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'fromDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="From Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('fromDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="startDate" (dateChanged)="checkValid($event, 'startDate')" formControlName="startDate"></ent-date-picker>
                                            <ent-control-messages [control]="batchPaymentSearchForm.get('startDate')" labelName="From Date"></ent-control-messages>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('toDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'toDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="To Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('toDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="endDate" (dateChanged)="checkValid($event, 'endDate')" formControlName="endDate"></ent-date-picker>
                                            <ent-control-messages [control]="batchPaymentSearchForm.get('endDate')" labelName="To Date"></ent-control-messages>
                                            <span *ngIf="isGreater && batchPaymentSearchForm.get('endDate').valid" class="error-message">To Date cannot be less than From Date.</span>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('filterbyMinimumAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'filterbyMinimumAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Minimum Amount'"></ent-label>
                                            <ent-input type="number" [disabledField]="securityEngineService.checkVisibility('filterbyMinimumAmount', 'Disable')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid($event, 'fromAmount')" [(ngModel)]="fromAmount"
                                                formControlName="fromAmount"></ent-input>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *ngIf="!securityEngineService.checkVisibility('filterbyMaximumAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'filterbyMaximumAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Maximum Amount'"></ent-label>
                                            <ent-input type="number" [disabledField]="securityEngineService.checkVisibility('filterbyMaximumAmount', 'Disable')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid($event, 'toAmount')" [(ngModel)]="toAmount"
                                                formControlName="toAmount"></ent-input>
                                            <span *ngIf="isGreaterAmount" class="error-message">Maximum Amount can't be less than Minimum Amount.</span>
                                        </div>
                                    </ent-skeleton>
                                    <div class="col-6 pr-2 ml-auto pt-4 mt-2 text-right">
                                        <ent-button class="button-medium pr-2" buttonText="APPLY" (buttonClick)="searchBatchPayments()" [disabled]="isGreaterAmount || isGreater || !batchPaymentSearchForm.get('startDate').valid || !batchPaymentSearchForm.get('endDate').valid" inversedButton="true"></ent-button>
                                        <ent-button class="button-medium button-outline" buttonText="RESET" (buttonClick)="resetBatchPayments()" [disabled]="isNotSelecting()" inversedButton="true"></ent-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ng-template #skeletonLayout>
                    <div class="col-12 pl-0 pr-0 pt-1">
                        <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-medium skeleton-field"></ent-skeleton>
                        <ent-skeleton [loading]="false" [appearance]="'h2'"></ent-skeleton>
                    </div>
                </ng-template>
            </ent-card>
        </div>
        <div class="col-4 ml-auto">
            <div class="row">
                <div class="col-12 filter-section d-flex justify-content-end" [ngClass]="{'field-row': !securityEngineService.checkVisibility('filtersSection', 'Hide')}">
                    <ent-skeleton *checkPermission="'addBatchRejection'" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'addBatch'" [appearance]="'h2'" class="skeleton-paragraph-long-fixed">
                        <ent-button class="button-auto" [disabled]="securityEngineService.checkVisibility('addBatchRejection', 'Disable')" buttonText="ADD BATCH REJECTION" (buttonClick)="performAddBatch()"></ent-button>
                    </ent-skeleton>
                    <span *ngIf="securityEngineService?.roleSequenceId" class="pt-2 pl-3"><a class="fas fa-cog search-security-icon setting-icon" (click)="openSecurity('epBatchRejections')" aria-hidden="true"></a></span>
                </div>
                <div *checkPermission="'filtersSection'" class="col-12 filters-wrapper">
                    <div *ngIf="!securityEngineService?.isSecurityDataLoading" class="col-12 pl-0 pr-0 filter-tags">
                        <span *ngFor="let filterTag of filterTagsList" class="badge">{{filterTag.tag}}
                          <a class="fas fa-times" (click)="removeTagsFilter(filterTag.name)"></a>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>