<div class="ent-title-bar" [class.no-border]="border">
    <div class="title-bar">
        <ent-image *ngIf="iconUrl" imageUrl="{{iconUrl}}"></ent-image>
        <span>{{prefixText}}</span>
        <span *ngIf="!link">{{titleText}}</span>
        <a *ngIf="link" [routerLink]="link" [queryParams]="params">{{titleText}}</a>
        <span>{{suffixText}}</span>
        <div *ngIf="dropdownMenuObject" class="title-filter-menu">
            <ent-dropdown class="filter-dropdown" [dropdownItems]="dropdownMenuObject" type="filter" [value]="titleText" [displayField]="displayField" (selectedValue)="reflectTitle($event)"></ent-dropdown>
        </div>
        <ng-content></ng-content>
    </div>
</div>