<div class="col-12 pr-0 pl-0 add-agency-payment-section">
    <form [formGroup]="batchAgencyPaymentForm" (submit)="submit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <ent-label data="Select Account" requiredField="required"></ent-label>
                        <ent-select #select [url]="apiUrl" [queryParam]="queryParam" requiredField="required" placeholder="Search by Name, Address and Agency Account Number" [displayField]="'accountNumber'" [size]="'5'" (selectedValue)="selectedAccount($event)" [(ngModel)]="accountNumber"
                            formControlName="accountNumber" [applyQueryParamOnSearch]="'_score'" [disabledField]="modalType !== 'Add'" [selectRequired]="true" [control]="batchAgencyPaymentForm.get('accountNumber')" [isAutoFocus]="modalType === 'Add'">
                            <ul class="select-list-item">
                                <li *ngFor="let item of select.dropdownItems, let i = index" (click)="select.itemSelected(item, i)">
                                    <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                        <span class="title-name">{{item?.payorName}} ({{item?.accountNumber || item}})</span>
                                        <br *ngIf="item?.payorAddress">
                                        <span>{{(item?.payorAddress ? item?.payorAddress : '')}}</span>
                                        <br *ngIf="item?.businessGroup">
                                        <span *ngIf="item?.businessGroup">(<b>Business Group:</b> {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                    </a>
                                </li>
                            </ul>
                        </ent-select>
                        <ent-control-messages class="float-left" [control]="batchAgencyPaymentForm.get('accountNumber')" labelName="Agency Account"></ent-control-messages>
                    </div>
                    <div class="col-7" *ngIf="accountSelected">
                        <br>
                        <div class="row">
                            <div *checkPermission="'agencyActPayorDetail'" class="col-7">
                                <strong class="ent-label-text">
                                        <app-name-display  [nameOnly]="true" [name]="accountSelected?.payorName"></app-name-display>
                                </strong>

                                <small class="sub-title">
                                  <app-name-display  [nameOnly]="true" [name]="(accountSelected.payorAddress ? accountSelected.payorAddress : '')"></app-name-display></small>
                            </div>
                            <div class="col-5" *ngIf="accountBalanceDetail && !securityEngineService.checkVisibility('agencyOutstandingAmount', 'Hide')">
                                <ent-text className="font-weight-bold d-block" [text]="'Outstanding Amount'"></ent-text>
                                <ent-text className="ent-text" text="{{accountBalanceDetail.totalOutstandingAmount || '0' | currency:this.currency}}">
                                </ent-text>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="accountSelected">
                        <div class="row">
                            <div *ngIf="accountSelected" class="col-12">
                                <div class="strip-line"></div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12" *ngIf="accountSelected">
                                        <div class="row">
                                            <div [ngClass]="{'col-3':isMultiCurrencyEnable === 'true', 'col-4':isMultiCurrencyEnable !== 'true'}">
                                                <ent-label [data]="'Due Date'"></ent-label>
                                                <ent-dropdown [dropdownItems]="statementDueDateDropdown" [sort]='false' [displayField]="'statementDueDateFormat'" [(ngModel)]="statementDueDateFormat" formControlName="statementDueDate" type="select" (selectedValue)="selectedstatementDueDate($event)"
                                                    (clearInputValue)="clearStatementDate($event)"></ent-dropdown>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('statementDueDate')" labelName="Statement Date">
                                                </ent-control-messages>
                                            </div>
                                            <div class="col-4">
                                                <ent-label data="Amount" requiredField="required"></ent-label>
                                                <ng-container *ngIf="(receivedCurrency.value !== currency && isMultiCurrencyEnable === 'true') else currentAmount">
                                                    <ent-input [isAutoFocus]="modalType === 'Edit'" [control]="batchAgencyPaymentForm.get('paymentAmount')" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [(ngModel)]="paymentAmount" formControlName="paymentAmount" (valueChanged)="updateAmount($event)"
                                                        (clearInputValue)="clearPaymentAmount()"></ent-input>
                                                </ng-container>
                                                <ng-template #currentAmount>
                                                    <ent-dropdown [isAutoFocus]="modalType === 'Edit'" class="group-payment-amount" #selectPaymentAmount [control]="batchAgencyPaymentForm.get('paymentAmount')" [dropdownItems]="amountList" [showOthers]="true" [currency]="currency" [ngModel]="currentDueLabel" formControlName="paymentAmount"
                                                        displayField="name" type="select" (clearInputValue)="clearPaymentAmount()" (selectedValue)="setPaymentAmount($event.value)"></ent-dropdown>
                                                </ng-template>
                                                <p *ngIf="isUnValidPaymentAmount" class="error-message">Payment Amount must be greater than {{0 | currency: currency}}
                                                </p>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('paymentAmount')" labelName="Amount">
                                                </ent-control-messages>
                                            </div>
                                            <ng-container *ngIf="isMultiCurrencyEnable === 'true'">
                                                <div class="col-2">
                                                    <ent-label data="Received Currency" requiredField="required"></ent-label>
                                                    <ent-dropdown (selectedValue)="getReceivedCurrency($event)" [disabledField]="!currencyDropdown" [dropdownItems]="currencyDropdown" formControlName="receivedCurrency" type="select" [control]="receivedCurrency">
                                                    </ent-dropdown>
                                                    <ent-control-messages [control]="receivedCurrency" labelName="Currency">
                                                    </ent-control-messages>
                                                </div>
                                                <div class="col-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Exchange Rate ({{receivedCurrency?.value}} &rarr; {{currency}})">
                                                    </ent-label>
                                                    <ent-input type="number" [control]="batchAgencyPaymentForm.get('exchangeRate')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" formControlName="exchangeRate" (valueChanged)="updateAmount($event)">
                                                    </ent-input>
                                                    <ent-control-messages [control]="batchAgencyPaymentForm.get('exchangeRate')" labelName="Exchange Rate"></ent-control-messages>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-12 line">
                                        <div class="row">
                                            <div *ngIf="!securityEngineService.checkVisibility('agencyDateReceived', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Date Received'"></ent-label>
                                                <ent-date-picker [disabledField]="securityEngineService.checkVisibility('agencyDateReceived', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dateReceived" formControlName="dateReceived" #datePicker (inputFieldChanged)="resetDateValidate(datePicker, 'dateReceived')"></ent-date-picker>
                                                <p *ngIf="dateReceivedValid && batchAgencyPaymentForm.get('dateReceived').valid" class="error-message">Date Received cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('dateReceived')" labelName="Date Received"></ent-control-messages>
                                            </div>
                                            <div class="col-3 mt-3">
                                                <ent-label requiredField="required" [data]="'Payment Type'"></ent-label>
                                                <ent-dropdown [control]="batchAgencyPaymentForm.get('paymentType')" [dropdownItems]="PaymentTypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType" type="select"></ent-dropdown>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('paymentType')" labelName="Payment Type">
                                                </ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('agencyPaymentId', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Payment ID'"></ent-label>
                                                <ent-input [disabledField]="securityEngineService.checkVisibility('agencyPaymentId', 'Disable')" [maxlength]="10" [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('paymentId')" labelName="Payment ID"></ent-control-messages>
                                            </div>
                                            <ng-container *ngIf="isMultiCurrencyEnable === 'true'">
                                                <div class="col-3 mt-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Payment Amount"></ent-label>
                                                    <ent-input formControlName="paymentCalculatedAmount" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [disabledField]="true"></ent-input>
                                                </div>
                                            </ng-container>
                                            <div *ngIf="!securityEngineService.checkVisibility('agencyPostmarkDate', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Postmark Date'"></ent-label>
                                                <ent-date-picker [disabledField]="securityEngineService.checkVisibility('agencyPostmarkDate', 'Disable')" [openOnTop]="true" [currentDate]="systemDate" [(ngModel)]="postmarkDate" formControlName="postmarkDate" #postmarkdatePicker (inputFieldChanged)="resetDateValidate(postmarkdatePicker, 'postmarkDate')">
                                                </ent-date-picker>
                                                <p *ngIf="postmarkDateValid && batchAgencyPaymentForm.get('postmarkDate').valid" class="error-message">Postmark Date cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchAgencyPaymentForm.get('postmarkDate')" labelName="Postmark Date"></ent-control-messages>
                                            </div>
                                            <div class="col-6 mt-3 align-self-center">
                                                <div class="row">
                                                    <div *checkPermission="'agencyHoldInSuspense'" class="col-4 pr-0 hold-suspense-label align-self-center mt-4">
                                                        <ent-input-checkbox (valueChanged)="paymentOnHoldChanged($event)" formControlName="paymentOnHold" [(ngModel)]="paymentOnHold" [text]="'Hold In Suspense'">
                                                        </ent-input-checkbox>
                                                    </div>
                                                    <div class="col" *ngIf="paymentOnHold">
                                                        <ent-label [data]="'Reason'" requiredField="required"></ent-label>
                                                        <ent-dropdown [control]="batchAgencyPaymentForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="SuspenseReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                                        <ent-control-messages [control]="batchAgencyPaymentForm.get('suspenseReason')" labelName="Suspense reason">
                                                        </ent-control-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('agencyComment', 'Hide')" class="col-12">
                                        <br>
                                        <div class="row">
                                            <div class="col-2">
                                                <ent-label data="Comment :"></ent-label>
                                            </div>
                                            <div class="col-10">
                                                <ent-text-area [disabledField]="securityEngineService.checkVisibility('agencyComment', 'Disable')" [control]="batchAgencyPaymentForm.get('paymentComments')" formControlName="paymentComments" rowSize="1" [(ngModel)]="paymentComments"></ent-text-area>
                                                <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                                                <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button *ngIf="modalType === 'Add'" class="button-xlarge" buttonText="MAKE PAYMENT" [disabled]="!batchAgencyPaymentForm.valid || paymentComments?.length > 80" buttonType="submit"></ent-button>
                <ent-button *ngIf="modalType === 'Edit'" class="button-xlarge" buttonText="SUBMIT" [disabled]="!batchAgencyPaymentForm.valid || paymentComments?.length > 80" buttonType="submit"></ent-button>
            </div>
        </div>
    </form>
</div>
