@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .make-account-payment {
        .payment-section {
            .client-info-section {
                .sub-title {
                    text-align: -webkit-center;
                }
            }
            .payment-method-section {
                .instructions {
                    @include space(margin, bottom, $xs + $xs);
                    .desc {
                        .ent-label {
                            font-style: italic !important;
                            line-height: 1.7;
                        }
                    }
                }
            }
            .recurring-payment-balance {
                .error-message {
                    text-align: left;
                    display: block;
                }
            }
        }
        .payment-method-section {
            .paypal-credit {
                img {
                    width: 75px;
                    height: 50px;
                }
            }
        }
    }
}
