<app-security-sidebar [sectionName]="'Recurring Payment'" (refreshSummary)="checkSecurityOptions()">
</app-security-sidebar>

<div ng-sidebar-content>
    <div class="col-12 pr-0 pl-0 make-account-payment">
        <div class="col-12 pr-0 pl-0 header-wrapper">
            <ent-header
                name="{{(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) === 0 && !autoPaymentIntegration ? (headerName === 'Choose Amount' ? 'Setup Auto Payment' : headerName) : headerName}}"
                [showBreadcrumb]="false">
                <div class="col-12 pr-0 pl-0 mt-3 pt-4 make-payment">
                    <ol class="step-indicator-small">
                        <li class="{{isSelectAmount}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isPaymentMethod}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isConfirm}}">
                            <div class="step"></div>
                        </li>
                    </ol>
                </div>
            </ent-header>
        </div>
        <div class="container payment-section">
            <div class="row">
                <div class="col-12 client-info-section">
                    <div class="col-12 pr-0 pl-0 text-center">
                        <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'avatar'"
                            class="skeleton-avatar-xmedium skeleton-center">
                            <div *ngIf="accountDetails && isPaymentMethod !== propertyName?.active">
                                <ent-image class="preview-client-icon" alt="Not found"
                                    [errorImageUrl]="'assets/images/icons/Person.png'"
                                    imageUrl="{{(imageId && imageUrl ? (imageUrl + imageId+'.png') : 'assets/images/icons/Person.png')}}">
                                </ent-image>
                            </div>
                        </ent-skeleton>
                    </div>
                    <div class="text-center">
                        <div class="profile-title pt-3">
                            <ent-skeleton [loading]="isAccountDetailLoaded"
                                class="skeleton-paragraph-short skeleton-center">
                                <a x-no-tabbing *ngIf="accountDetails && isPaymentMethod !== propertyName?.active"><span
                                        class="main-title">
                                        <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="payorName"
                                            [maxWidth]="500" [length]="70">
                                        </app-name-display>
                                    </span></a>
                                <br>
                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-medium skeleton-center">
                                <span *ngIf="accountDetails && isPaymentMethod !== propertyName?.active"
                                    class="sub-title">
                                    <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="payorAddress"
                                        [maxWidth]="500" [length]="70">
                                    </app-name-display>
                                </span>

                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-short skeleton-center">
                                <strong *ngIf="accountDetails && isPaymentMethod !== propertyName?.active">
                                    <span>Account Number: </span>
                                    <span>{{accountNumber}}</span>
                                </strong>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSelectAmount === propertyName?.active" class="col-12 payment-amount-section">
                    <div *ngIf="securityEngineService?.roleSequenceId" class="col-12 pl-0 pr-0 text-right">
                        <a (click)="openSecurity('epPayments', autoPaymentIntegration ? 'selectRecurringPaymentAcceptJS' : 'selectRecurringPayment')">
                          <span class="fas fa-cog setting-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <ng-container
                        *ngIf="(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) === 0 && !autoPaymentIntegration else otherFlow">
                        <div class="col-12 text-center pt-5 pb-5">
                            <ent-button imagePosition="right" fasName="fa-chevron-circle-right" class="button-full"
                                buttonText="PAYMENT METHOD" (buttonClick)="navigateToAddPayment()" buttonType="submit">
                            </ent-button>
                        </div>
                    </ng-container>
                    <ng-template #otherFlow>
                        <ng-container *ngIf="isShowSelectPayment">
                            <div class="col-12 pt-4 label-header text-center"
                                *ngIf="(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) != 0">
                                <ent-title-bar class="label-title-bar"
                                    [titleText]="securityEngineService.checkVisibility('selectAmountSection', 'Show') ? 'Select Payment Amount' : ''"
                                    border="'false'">
                                </ent-title-bar>
                            </div>
                        </ng-container>
                        <div class="col-12 pr-0 pl-0 pb-2 radio-detail-card">
                            <div *checkPermission="'selectAmountSection'; else notAvailable"
                                class="col-12 text-center pl-0">
                                <div
                                    *ngIf="(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) != 0 || !isAccountBalanceDetailLoaded">
                                    <div class="row justify-content-center recurring-payment-balance">
                                        <ent-skeleton *checkPermission="'currentBalance'" class="col-4 pr-0"
                                            [loading]="isAccountBalanceDetailLoaded" [securityName]="'currentBalance'"
                                            [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                            <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                [disabled]="securityEngineService.checkVisibility('currentBalance', 'Disable')"
                                                (click)="selectAmount(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue,'isCurrentDue')"
                                                [class.active]="isCurrentDue">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Current Balance"></ent-label>
                                                    <div
                                                        class="payment-current current-balance-{{accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0}}">
                                                        <span appTabbing
                                                            *ngIf="!(accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0)"
                                                            class="dashed-border-help" [popoverOnHover]="true"
                                                            popover="<div class='rect-PastDue no-wrap'> Past Due: {{accountBalanceDetail?.pastDue | currency:currency}} </div> <div class='rect-CurrentDue no-wrap'> Current Due: {{accountBalanceDetail?.currentDue | currency:currency}} </div>"
                                                            popoverPlacement="bottom">{{accountBalanceDetail?.currentDue
                                                            + accountBalanceDetail?.pastDue | currency:currency}}</span>
                                                        <span appTabbing
                                                            *ngIf="(accountBalanceDetail?.currentDue === 0 && accountBalanceDetail?.pastDue === 0)"
                                                            class="dashed-border-help">{{accountBalanceDetail?.currentDue
                                                            + accountBalanceDetail?.pastDue | currency:currency}}</span>
                                                    </div>
                                                </ent-card>
                                            </fieldset>
                                        </ent-skeleton>
                                        <ent-skeleton *checkPermission="'otherAmount'" class="col-4 pr-0"
                                            [loading]="isAccountBalanceDetailLoaded" [securityName]="'otherAmount'"
                                            [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                            <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                [disabled]="securityEngineService.checkVisibility('otherAmount', 'Disable')"
                                                (click)="selectAmount(null, 'isOtherAmount')"
                                                [class.active]="isOtherAmount">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Other Amount"></ent-label>
                                                    <ent-input *ngIf="isOtherAmount" focus="true" class="other-amount"
                                                        type="number" [(ngModel)]="payment.amount"
                                                        [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                                    </ent-input>
                                                </ent-card>
                                                <span *ngIf="(payment.amount <1) && isOtherAmount"
                                                    class="error-message">Payment Amount must be
                                                    greater than $1</span>
                                            </fieldset>
                                        </ent-skeleton>
                                        <ent-skeleton
                                            *ngIf="(!autoPaymentIntegration || (autoPaymentIntegration && paymentProvider === propertyName.paymentus)) && accountBalanceDetail?.accountBalance !== 0 && !securityEngineService.checkVisibility('subscribeWithoutPayment', 'Hide')"
                                            class="col-4 pr-0" [loading]="isAccountBalanceDetailLoaded"
                                            [securityName]="'subscribeWithoutPayment'" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonLayout">
                                            <fieldset apptabbing *checkPermission="'subscribeWithoutPayment'"
                                                [disabled]="securityEngineService.checkVisibility('subscribeWithoutPayment', 'Disable')"
                                                class="col-12 pl-0 pr-0 radio-detail-card-item"
                                                (click)="selectAmount(null,'isAccountBalance')"
                                                [class.active]="isAccountBalance">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="Subscribe Without Payment">
                                                    </ent-label>
                                                </ent-card>
                                            </fieldset>
                                        </ent-skeleton>
                                        <ng-template #skeletonLayout>
                                            <fieldset class="col-12 pl-0 pr-0 radio-detail-card-item">
                                                <ent-card>
                                                    <ent-skeleton [loading]="false"
                                                        class="skeleton-paragraph-short-fixed mt-2 d-inline-flex">
                                                    </ent-skeleton>
                                                    <ent-skeleton [loading]="false"
                                                        class="skeleton-paragraph-long-fixed ml-4 d-inline-flex">
                                                    </ent-skeleton>
                                                    <ent-skeleton [loading]="false"
                                                        class="skeleton-paragraph-medium-fixed mt-2 float-right d-inline-flex">
                                                    </ent-skeleton>
                                                </ent-card>
                                            </fieldset>
                                        </ng-template>
                                    </div>
                                </div>
                                <div *ngIf="(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) === 0 && autoPaymentIntegration && paymentProvider !== propertyName.paymentus"
                                    class="col-12 pr-0 pl-0 text-center pt-5">
                                    <span class="deduct-info text-primary font-weight-bold bg-info">As current balance
                                        is 0, we will be
                                        deducting minimum amount $1.</span>
                                </div>
                            </div>
                            <ng-template #notAvailable>
                                <div class="col-12 app-section min-height-main">
                                    <ent-empty-view message="Select Payment Amount Section is not available."
                                        iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                                </div>
                            </ng-template>
                        </div>
                        <ng-container *checkPermission="'selectAmountSection'">
                            <ng-container
                                *ngIf="(accountBalanceDetail?.currentDue + accountBalanceDetail?.pastDue) === 0 && accountBalanceDetail?.accountBalance === 0 && autoPaymentIntegration">
                                <div class="col-12 text-center pt-5 pb-5">
                                    <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                                        class="button-full" buttonText="PAYMENT METHOD"
                                        (buttonClick)="updateplan(false)" buttonType="submit"></ent-button>
                                </div>
                            </ng-container>
                            <div class="col-12 pr-0 pl-0 mt-3" *ngIf="!isAccountBalance else withoutPayment">
                                <app-quote-schedule-apply #quoteApply
                                    [isDisabled]="(payment.amount <1) && isOtherAmount"
                                    [isShowSelectPayment]="isShowSelectPayment" (updateplan)="updateplan($event)"
                                    [accountDetails]="accountDetails">
                                </app-quote-schedule-apply>
                            </div>
                            <ng-template #withoutPayment>
                                <div class="col-12 text-center pt-5 pb-5">
                                    <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                                        class="button-full" buttonText="PAYMENT METHOD"
                                        (buttonClick)="navigateToAddPayment()" buttonType="submit"></ent-button>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-template>
                </div>
                <div *ngIf="isPaymentMethod === propertyName?.active " class="col-12 payment-method-section">
                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left">
                        <ent-title-bar class="label-title-bar" [titleText]="'Choose a Payment Method'" border="'false'">
                            <a class="d-flex float-right" *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epPayments', 'choosePaymentMethod')">
                              <span class="fas fa-cog setting-icon" aria-hidden="true"></span></a>
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pr-0 pl-0 radio-detail-payment-card">

                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                            <div appTabbing (click)="selectBank(list, i)"
                                *ngFor="let list of storedAccountDetails?.paymentProfiles;let i = index"
                                [ngClass]="{'active' : i === isBankIndex}"
                                class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                <ent-card class="bank-list">
                                    <div class="row">
                                        <div class="col-1 pt-3">
                                            <span class="radio-circle"></span>
                                        </div>
                                        <ng-container *ngIf="isObject(list) === propertyName?.digitalWallet">
                                            <div class="col-2 pt-2">
                                                <ent-image
                                                    class="{{list[propertyName?.digitalWallet].walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                    imageUrl="assets/images/bank/{{list[propertyName?.digitalWallet].walletType}}.svg"
                                                    [alt]="'Icon'">
                                                </ent-image>
                                            </div>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="isObject(list) === propertyName?.creditCard || isObject(list) === propertyName?.bankAccount">
                                            <div class="col-2 pt-2">
                                                <ent-image
                                                    class="{{isObject(list) === propertyName?.creditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                    imageUrl="assets/images/bank/{{isObject(list) === propertyName?.creditCard ? list[propertyName?.creditCard].cardType : 'bank' }}.svg"
                                                    [alt]="'Icon'">
                                                </ent-image>
                                            </div>
                                            <div class="col-5">
                                                <ent-label className="ent-label-inline-bold"
                                                    [data]="(isObject(list) === propertyName?.creditCard ? 'XXXX XXXX XXXX ' + list[propertyName?.creditCard].cardNumber.substr(list[propertyName?.creditCard].cardNumber.length - 4) : 'XXXX XXXX ' + list['bankAccount'].accountNumber.substr(list['bankAccount'].accountNumber.length - 4))">
                                                </ent-label>
                                                <ent-label
                                                    data="{{isObject(list) === propertyName?.creditCard ? propertyName?.CreditCard : propertyName?.BankAccount}}">
                                                </ent-label>
                                            </div>
                                        </ng-container>
                                        <div class="col-4 pl-0 text-right text-uppercase">
                                            <ent-label className="ent-label-inline-bold"
                                                data=" {{list?.name ? list?.name : list['bankAccount']?.nameOnAccount}}">
                                            </ent-label>
                                        </div>
                                    </div>
                                </ent-card>
                            </div>
                            <ng-container *ngIf="paymentProvider !== propertyName?.paymentus">
                                <a *checkPermission="'addNewCardOrBankAccount'"
                                    [routerLink]="['/recurring-payment', 'add-new-payment']"
                                    [queryParams]="{accountId: accountId, subType: subType, 'returnAppId':returnAppId}"
                                    class="col-12 text-center add-new-payment-link">
                                    <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'addNewCardOrBankAccount'"
                                        class="skeleton-paragraph-xlong-fixed skeleton-center">
                                        <a x-no-tabbing><i class="fas fa-plus pr-2"></i> ADD NEW CARD OR BANK ACCOUNT</a>
                                    </ent-skeleton>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="paymentProvider === propertyName?.paymentus">
                                <div *checkPermission="'addNewCardOrBankAccount'"
                                    class="col-12 text-center add-new-payment-link" (click)="paymentusFlow()">
                                    <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'addNewCardOrBankAccount'"
                                        class="skeleton-paragraph-xlong-fixed skeleton-center">
                                        <a><i class="fas fa-plus pr-2"></i> NEW PAYMENT METHOD</a>
                                    </ent-skeleton>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                        <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK"
                            class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                            buttonType="button"></ent-button>
                        <ent-button class="float-right button-full" imagePosition="right"
                            fasName="fa-chevron-circle-right" buttonText="REVIEW AND CONFIRM"
                            [disabled]="!payment.paymentMethod" (buttonClick)="makePaymentLoop('isPaymentMethod', true)"
                            buttonType="submit"></ent-button>
                    </div>
                </div>
                <div *ngIf="isConfirm === propertyName?.active " class="col-12 mt-5 payment-method-section">
                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-right">
                        <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epPayments', 'confirmAndRecurringPay')">
                          <span class="fas fa-cog setting-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div *ngIf="showPaymentAmount()"
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left">
                        <div class="row">
                            <div class="col-6">
                                <ent-label *ngIf="!isEdit" class="font-weight-bold"
                                    data="Payment Amount : ${{payment.amount}}">
                                </ent-label>
                            </div>
                        </div>
                    </div>
                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 mt-4 label-header text-left">
                        <ent-title-bar class="label-title-bar"
                            titleText="{{showPaymentAmount() ? 'Paying with' : 'Subscribing with'}}" border="'false'">
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                            <div [ngClass]="{'radio-detail-payment-card-item': payment?.paymentMethod}"
                                [class.active]="true" class="col-12 pr-0 pl-0">
                                <ent-card class="bank-list no-cursor">
                                    <ent-skeleton [loading]="payment?.paymentMethod" [appearance]="'template'"
                                        [skeletonTemplate]="skeletonPaymentMethod">
                                        <div *ngIf="payment?.paymentMethod" class="row pt-1">
                                            <div class="col-1 pt-3">
                                                <span class="radio-circle"></span>
                                            </div>
                                            <ng-container
                                                *ngIf="(payment?.paymentMethod === propertyName?.PaypalCredit || payment?.paymentMethod === propertyName?.Paypal)">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{payment?.walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                        imageUrl="assets/images/bank/{{payment?.walletType }}.svg"
                                                        [alt]="'Icon'">
                                                    </ent-image>
                                                </div>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="payment?.paymentMethod === propertyName?.CreditCard || payment?.paymentMethod === propertyName?.BankAccount">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{payment?.paymentMethod === propertyName?.CreditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                        imageUrl="assets/images/bank/{{payment?.paymentMethod === propertyName?.CreditCard ? payment?.creditCardType : 'bank' }}.svg"
                                                        [alt]="'Icon'">
                                                    </ent-image>
                                                </div>
                                                <div class="col-5">
                                                    <ent-label className="ent-label-inline-bold"
                                                        [data]="(payment?.paymentMethod === propertyName?.CreditCard ? 'XXXX XXXX XXXX ' + payment?.creditCardNumber.substr(payment?.creditCardNumber.length - 4) : 'XXXX XXXX ' + payment?.accountNumber.substr(payment?.accountNumber.length - 4))">
                                                    </ent-label>
                                                    <ent-label data="{{payment?.paymentMethod}}"></ent-label>
                                                </div>
                                            </ng-container>
                                            <div class="col-4 pl-0 text-right text-uppercase">
                                                <ent-label className="ent-label-inline-bold"
                                                    data="{{payment?.fullName}}"></ent-label>
                                            </div>
                                        </div>
                                    </ent-skeleton>
                                </ent-card>
                                <ng-template #skeletonPaymentMethod>
                                    <div class="row pt-1">
                                        <div class="col-1"></div>
                                        <div class="col-2 pr-0 pl-0">
                                            <ent-skeleton [loading]="false" [appearance]="'rect'"
                                                class="skeleton-rect-xxsmall">
                                            </ent-skeleton>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                        </div>
                                        <div class="col-4 text-right text-uppercase">
                                            <ent-skeleton [loading]="false"></ent-skeleton>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left instructions">
                        <ent-label class="desc"
                            data="Subscription payments will be automatically processed until subscription ends/cancelled manually.">
                        </ent-label>
                    </div>
                    <form [formGroup]="form" rule="form" novalidate>
                        <div
                            class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left instructions">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <ent-label className="ent-label-inline-modal" [data]="'EFT Plan:'"
                                        requiredField="required"></ent-label>
                                </div>
                                <div class="col-6">
                                    <ent-dropdown
                                        [dropdownItems]="getEftDropdown(payment?.paymentMethod)"
                                        [isAutoFocus]="true" type="select" formControlName="collectionType" [control]="collectionType">
                                    </ent-dropdown>
                                    <ent-control-messages [control]="collectionType" labelName="EFT Plan">
                                    </ent-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                            <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                                buttonType="button"></ent-button>
                            <div class="text-right">
                                <ent-button class="button-full" [disabled]="isEdit || !form.valid" imagePosition="right"
                                    fasName="fa-chevron-circle-right" buttonText="SETUP AUTO PAY"
                                    (buttonClick)="makePay()" buttonType="submit"></ent-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ent-modal class="modal-xsmall" #paymentReceivedModel (modalOutput)="printStatement() "></ent-modal>
    </div>
</div>
