<div class="col-12 security-settings references-settings">
  <!-- PARENT FIELD -->
  <div class="col-12 pl-0 pr-0 display-line space-bottom"
    *ngIf="securityFieldData">
    <ent-label class="pr-5" [data]="securityFieldData?.fieldLabel"></ent-label>
    <!-- RADIO BUTTON -->
    <div class="btn-switch" *ngIf="securityFieldData?.type === 'RBT'">
      <a class="d-block" appTabbing (click)="click(securityFieldData?.fieldProperty === 'Show' ? 'Hide' : 'Show', securityFieldData)">
        <input type="radio" [checked]="securityFieldData?.fieldProperty == 'Show'" value="Show"
          id="{{securityFieldData?.fieldName}}_show" name="{{securityFieldData?.fieldName}}"
          class="btn-switch__radio btn-switch__radio_yes" disabled/>
        <input type="radio" [checked]="securityFieldData?.fieldProperty == 'Hide'" value="Hide"
          id="{{securityFieldData?.fieldName}}_hide" name="{{securityFieldData?.fieldName}}"
          class="btn-switch__radio btn-switch__radio_no" disabled/>
        <label for="{{securityFieldData?.fieldName}}_show"
          class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Show</span></label>
        <label for="{{securityFieldData?.fieldName}}_hide"
          class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">Hide</span></label>
      </a>
    </div>
    <!-- BUTTON -->
    <div class="btn-group btn-group-md border" role="group" *ngIf="securityFieldData?.type === 'BTN'">
      <button type="button" (click)="click('Show', securityFieldData)"
        [ngClass]="{'btn_Show': securityFieldData?.fieldProperty === 'Show'}"
        class="btn btn-default">Show</button>
      <button type="button" (click)="click('Disable', securityFieldData)"
        [ngClass]="{'btn_Disable': securityFieldData?.fieldProperty === 'Disable'}"
        class="btn btn-default">Disable</button>
      <button type="button" (click)="click('Hide', securityFieldData)"
        [ngClass]="{'btn_Hide': securityFieldData?.fieldProperty === 'Hide'}"
        class="btn btn-default">Hide</button>
    </div>
  </div>
  <!-- CHILDREN FIELD -->
  <div class="col-12 pl-0 pr-0 line"
      [ngClass]="{'section_Disable': isChildListSectionDisabled()}">
    <div class="{{item?.collapseDataTarget + '-collapse'}}" [ngClass]="{'collapse show': item?.collapseDataTarget && getItemOfConfig(item?.collapseDataTarget).isCollapse === 'false' , 'collapse' : item?.collapseDataTarget && getItemOfConfig(item?.collapseDataTarget).isCollapse === 'true'}" *ngFor="let item of securityConfigList; index as i">
      <div *ngFor="let field of getSecuritySection(item.fieldName)">
        <div *ngIf="item.fieldName === field.fieldName"
          class="col-12 pl-0 pr-0"
          [ngClass]="{'line boder-bottom': (item.separator != 'false' && (item.level === 1 || (item.level === 2 && getItemOfConfig(field.fieldName).isCollapse)) && i < (securityConfigList.length - 1))}">
          <div class="col-12 display-line space-bottom" *ngIf="securityFieldData?.fieldName != field?.fieldName"
            [ngClass]="{'pl-0 pr-0': item.level === 1, 'pr-0': item.level === 2 , 'pr-5' : (item.level === 1 || item.level === 2) && getItemOfConfig(field.fieldName).isCollapse}">
            <ent-label class="pr-5" [ngClass]="{'section_Disable': checkRelatedField(field)}" [data]="field?.fieldLabel"></ent-label>
            <!-- RADIO BUTTON -->
            <div class="btn-switch" *ngIf="item.type === 'RBT'" [ngClass]="{'section_Disable': checkRelatedField(field)}">
              <a class="d-block" appTabbing [isTabbing]="!isChildListSectionDisabled() && !checkRelatedField(field)" (click)="click(field?.fieldProperty === 'Show' ? 'Hide' : 'Show', field)">
                <input type="radio" [checked]="field?.fieldProperty == 'Show'" value="Show"
                  id="{{field?.fieldName}}_show" name="{{field?.fieldName}}"
                  class="btn-switch__radio btn-switch__radio_yes" disabled/>
                <input type="radio" [checked]="field?.fieldProperty == 'Hide'" value="Hide"
                  id="{{field?.fieldName}}_hide" name="{{field?.fieldName}}"
                  class="btn-switch__radio btn-switch__radio_no" disabled/>
                <label for="{{field?.fieldName}}_show"
                  class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Show</span></label>
                <label for="{{field?.fieldName}}_hide"
                  class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">Hide</span></label>
              </a>
            </div>
            <!-- BUTTON -->
            <div class="btn-group btn-group-md border" role="group" *ngIf="item.type === 'BTN'" [ngClass]="{'section_Disable': checkRelatedField(field)}">
              <button type="button" appTabbing [isTabbing]="!isChildListSectionDisabled() && !checkRelatedField(field)" (click)="click('Show', field)"
                [ngClass]="{'btn_Show': field?.fieldProperty === 'Show'}"
                class="btn btn-default">Show</button>
              <button type="button" appTabbing [isTabbing]="!isChildListSectionDisabled() && !checkRelatedField(field)" (click)="click('Disable', field)"
                [ngClass]="{'btn_Disable': field?.fieldProperty === 'Disable'}"
                class="btn btn-default">Disable</button>
              <button type="button" appTabbing [isTabbing]="!isChildListSectionDisabled() && !checkRelatedField(field)" (click)="click('Hide', field)"
                [ngClass]="{'btn_Hide': field?.fieldProperty === 'Hide'}"
                class="btn btn-default">Hide</button>
            </div>
            <a *ngIf="getItemOfConfig(field?.fieldName).isCollapse" class="toggle-item" [attr.data-target]="'.' + field?.fieldName + '-collapse'" data-toggle="collapse" href="#{{field?.fieldName}}" (click)="changeChevron($event)">
              <i *ngIf="getItemOfConfig(field.fieldName).isCollapse === 'true'" class="fas fa-chevron-down float-right"></i>
              <i *ngIf="getItemOfConfig(field.fieldName).isCollapse === 'false'" class="fas fa-chevron-up float-right"></i>
            </a>
          </div>
          <!-- GROUP LIST -->
          <div *ngIf="item.values">
            <div *ngFor="let value of item.values" [ngClass]="{'section_Disable': isGroupListSectionDisabled(field, item)}">
              <div id="{{field?.fieldName}}" class="col-12 pl-0 pr-0" [ngClass]="{'collapse show': getItemOfConfig(field?.fieldName).isCollapse === 'false' , 'collapse' : getItemOfConfig(field?.fieldName).isCollapse === 'true'}" class="{{field?.fieldName + '-collapse'}}">
                <div *ngFor="let groupField of getSecuritySection(value.fieldName)">
                  <div *ngIf="groupField.fieldName === value.fieldName"
                    class="col-12 display-line space-bottom pr-0 pl-level-{{value.level}}">
                    <ent-label class="pr-5" [data]="groupField?.fieldLabel" [ngClass]="{'section_Disable': checkRelatedField(groupField, true)}"></ent-label>
                    <!-- BUTTON -->
                    <div class="btn-group btn-group-md border" role="group" *ngIf="value.type === 'BTN'" [ngClass]="{'section_Disable': checkRelatedField(groupField, true)}">
                      <button type="button" appTabbing [isTabbing]="!isGroupListSectionDisabled(field, item) && !checkRelatedField(groupField, true)" (click)="click('Show', groupField)"
                        [ngClass]="{'btn_Show': groupField?.fieldProperty === 'Show'}"
                        class="btn btn-default">Show</button>
                      <button type="button" appTabbing [isTabbing]="!isGroupListSectionDisabled(field, item) && !checkRelatedField(groupField, true)" (click)="click('Disable', groupField)"
                        [ngClass]="{'btn_Disable': groupField?.fieldProperty === 'Disable'}"
                        class="btn btn-default">Disable</button>
                      <button type="button" appTabbing [isTabbing]="!isGroupListSectionDisabled(field, item) && !checkRelatedField(groupField, true)" (click)="click('Hide', groupField)"
                        [ngClass]="{'btn_Hide': groupField?.fieldProperty === 'Hide'}"
                        class="btn btn-default">Hide</button>
                    </div>
                    <!-- RADIO BUTTON -->
                    <div class="btn-switch" *ngIf="value.type === 'RBT'" [ngClass]="{'section_Disable': checkRelatedField(groupField, true)}">
                      <a class="d-block" appTabbing [isTabbing]="!isGroupListSectionDisabled(field, item) && !checkRelatedField(groupField, true)" (click)="click(groupField?.fieldProperty === 'Show' ? 'Hide' : 'Show', groupField)">
                        <input type="radio" [checked]="groupField?.fieldProperty == 'Show'" value="Show"
                          id="{{groupField?.fieldName}}_show" name="{{groupField?.fieldName}}"
                          class="btn-switch__radio btn-switch__radio_yes" disabled/>
                        <input type="radio" [checked]="groupField?.fieldProperty == 'Hide'" value="Hide"
                          id="{{groupField?.fieldName}}_hide" name="{{groupField?.fieldName}}"
                          class="btn-switch__radio btn-switch__radio_no" disabled/>
                        <label for="{{groupField?.fieldName}}_show"
                          class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Show</span></label>
                        <label for="{{groupField?.fieldName}}_hide"
                          class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">Hide</span></label>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dynamic config-->
  <div class="col-12 pl-0 pr-0 display-line space-bottom"
    *ngIf="supplementalFieldsSettings">
    <ent-label [data]="'Supplemental Fields'"></ent-label>
  </div>
  <div *ngIf="supplementalFieldsSettings">
    <div *ngFor="let value of supplementalFieldsSettings">
      <div class="col-12 pl-0 pr-0" >
          <div
            [ngClass]="{'pl-0 pr-0': value.level === 1, 'pr-0': value.level === 2}"
            class="col-12 display-line space-bottom">
            <ent-label class="pr-5" [data]="value?.fieldLabel"></ent-label>
            <!-- BUTTON -->
            <div class="btn-group btn-group-md border" role="group">
              <button type="button" (click)="clickDynamic('Show', value)"
                [ngClass]="{'btn_Show': securitySectionData[value?.fieldName]?.fieldProperty === 'Show'}"
                class="btn btn-default">Show</button>
              <button type="button" (click)="clickDynamic('Disable', value)"
                [ngClass]="{'btn_Disable': securitySectionData[value?.fieldName]?.fieldProperty === 'Disable'}"
                class="btn btn-default">Disable</button>
              <button type="button" (click)="clickDynamic('Hide', value)"
                [ngClass]="{'btn_Hide': securitySectionData[value?.fieldName]?.fieldProperty === 'Hide'}"
                class="btn btn-default">Hide</button>
            </div>
      </div>
    </div>
  </div>
</div>