<div class="ent-tabs">
    <ul class="nav nav-pills" [ngClass]="{'custom-class': customClass}">
        <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active" [class.d-none]="tab.hidden" [class.disabled]="tab.disabled">
            <a>{{tab.title}}</a>
        </li>
    </ul>
    <ng-content (optionChanges)="refreshTabs()"></ng-content>
</div>