<div class="payment-search-action-section flex-container-center">
    <div class="smDropdown">
        <button [disabled]="!isPaymentListLoaded || securityEngineService.checkVisibility('paymentOptionsection', 'Disable')" title="More Options" class="btn dropdown-toggle" data-display="static" data-toggle="dropdown" (click)="eventClick()">
        <span class="fas fa-ellipsis-v" [class.disable-security-options]="!isPaymentListLoaded"></span>
    </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
            <li><a *checkPermission="'paymentUpdateOption'" class="dropdown-item" [class.disable-dropdown-options]="!updateIndicator" (click)="performAction('update')">Update</a></li>
            <li><a *checkPermission="'paymentDisburseOption'" class="dropdown-item" [class.disable-dropdown-options]="!disburseIndicator" (click)="performAction('disburse')">Disburse</a></li>
            <li><a *checkPermission="'paymentReverseOption'" class="dropdown-item" [class.disable-dropdown-options]="!reverseIndicator" (click)="performAction('reverse')">Reverse</a></li>
            <li><a *checkPermission="'paymentWriteOffOption'" class="dropdown-item" [class.disable-dropdown-options]="!writeOffIndicator" (click)="performAction('writeOff')">Write-Off</a></li>
            <li><a *checkPermission="'paymentSuspendOption'" class="dropdown-item" [class.disable-dropdown-options]="!suspendIndicator" (click)="performAction('suspend')">Suspend</a></li>
        </ul>
    </div>
</div>