@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .sections-header {
        .header-setting-icon {
            @include pseudo(absolute, 15px, 15px, false, false, 1001);
        }
        .user-profile {
            @include space(margin, all, auto);
            width: 100%;
            height: auto;
            @include space(margin, bottom, $small);
            border-radius: 0.3em;
            .header-icon img {
                width: 32px;
                height: 32px;
            }
            .icon-panel {
                @include space(margin, top, $xs + $xs);
                display: flex;
                align-items: center;
                justify-content: center;
                .profile-title.active {
                    &::before {
                        @include space(margin, top, -14px);
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        -moz-border-radius: 7.5px;
                        -webkit-border-radius: 7.5px;
                        border-radius: 7.5px;
                        border: 1px;
                        float: left;
                        @include space(margin, left, $xs + $xs);
                    }
                }
                .batch-header-title {
                    @include space(padding, top, $xxs + 1px);
                }
                .profile-title {
                    width: 144px;
                    float: left;
                    align-content: center;
                    cursor: pointer;
                }
            }
        }
    }
}
