<div class="container">
    <div class="row sections-header sub-fixed-header container pl-0 pr-0">
        <div *ngIf="securityEngineService?.roleSequenceId" class="col-12 text-right" [ngClass]="{'line': !isShowHeader}">
            <a x-no-tabbing (click)="openSecurity('epBatchSummary')">
                <span appTabbing class="fas fa-cog header-setting-icon search-security-icon setting-icon" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-12 pr-0 pl-0 user-profile">
            <div class="col-12 pr-0 pl-0 icon-panel">
                <ent-skeleton *ngIf="!securityEngineService.checkVisibility('accountPayment', 'Hide')" class="profile-title text-center" [loading]="isBatchDetailLoaded" [securityName]="'accountPayment'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div appTabbing (click)="performAction('accountPayment')" class="col-12 pl-0 pr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                        <a x-no-tabbing>
                            <ent-image class="header-icon" imageUrl="assets/images/options/account-payment-header.svg" alt="Icon"></ent-image>
                        </a>
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 batch-header-title font-weight-bold">
                            Account Payment
                        </div>
                    </div>
                </ent-skeleton>
                <ent-skeleton *ngIf="!securityEngineService.checkVisibility('groupPayment', 'Hide')" class="profile-title text-center" [loading]="isBatchDetailLoaded" [securityName]="'groupPayment'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div appTabbing (click)="performAction('groupPayment')" class="col-12 pl-0 pr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                        <a x-no-tabbing>
                            <ent-image class="header-icon" imageUrl="assets/images/options/group-payment-header.svg" alt="Icon"></ent-image>
                        </a>
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 batch-header-title font-weight-bold">
                            Group Payment
                        </div>
                    </div>
                </ent-skeleton>
                <ent-skeleton *ngIf="!securityEngineService.checkVisibility('agencyPayment', 'Hide')" class="profile-title text-center" [loading]="isBatchDetailLoaded" [securityName]="'agencyPayment'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div appTabbing (click)="performAction('agencyPayment')" class="col-12 pl-0 pr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                        <a x-no-tabbing>
                            <ent-image class="header-icon" imageUrl="assets/images/options/agency-payment-header.svg" alt="Icon"></ent-image>
                        </a>
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 batch-header-title font-weight-bold">
                            Agency Payment
                        </div>
                    </div>
                </ent-skeleton>
                <ent-skeleton *ngIf="!securityEngineService.checkVisibility('policyPayment', 'Hide')" class="profile-title text-center" [loading]="isBatchDetailLoaded" [securityName]="'policyPayment'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div appTabbing (click)="performAction('policyPayment')" class="col-12 pl-0 pr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                        <a x-no-tabbing>
                            <ent-image class="header-icon" imageUrl="assets/images/options/policy-payment-header.svg" alt="Icon"></ent-image>
                        </a>
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 batch-header-title font-weight-bold">
                            Policy Payment
                        </div>
                    </div>
                </ent-skeleton>
                <ent-skeleton *ngIf="!securityEngineService.checkVisibility('expressEntry', 'Hide')" class="profile-title text-center" [loading]="isBatchDetailLoaded" [securityName]="'expressEntry'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div appTabbing (click)="performAction('unidentifiedPayment')" class="col-12 pl-0 pr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                        <a x-no-tabbing>
                            <ent-image class="header-icon" imageUrl="assets/images/options/unidentified-payment-header.svg" alt="Icon"></ent-image>
                        </a>
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 batch-header-title font-weight-bold">
                            Express Entry
                        </div>
                    </div>
                </ent-skeleton>
            </div>
        </div>
    
        <ng-template #skeletonLayout>
            <div class="pl-2 pr-2">
                <ent-skeleton [loading]="false" [appearance]="'h2'" class="skeleton-paragraph-medium-fixed skeleton-center"></ent-skeleton>
                <ent-skeleton [loading]="false" class="no-margin-skeleton"></ent-skeleton>
            </div>
        </ng-template>
    
        <ng-content></ng-content>
    </div>
</div>
<ent-modal #batchPaymentsEditModal></ent-modal>
<ent-modal class="modal-xxlarge" #batchAccountPaymentModal (modalOutput)="getAccountPayment($event)"></ent-modal>
<ent-modal class="modal-xxlarge" #batchGroupPaymentModal (modalOutput)="getAccountPayment($event)"></ent-modal>
<ent-modal class="modal-xxlarge" #batchAgencyPaymentModal (modalOutput)="getAccountPayment($event)"></ent-modal>
<ent-modal class="modal-xxlarge" #batchPolicyPaymentModal (modalOutput)="getAccountPayment($event)"></ent-modal>
<ent-modal #batchUnidentifiedPaymentModal class="modal-xxlarge" (modalOutput)="getAccountPayment($event)"></ent-modal>