<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div class="col" *ngIf="!securityEngineService.checkVisibility('batchId', 'Hide')">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchId'">
                <span>BATCH ID</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                <span>DATE</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                <span>BATCH TOTAL</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                <span>TOTAL TRANSACTIONS</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                <span>USER</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                <span>STATUS</span>
            </ent-skeleton>
        </div>
        <div class="col-1 text-center">
            <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epBatchList')">
                <span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>