@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .payment-details-summary {
        .batch-entry-header .divider:only-child {
            display: none;
        }
        .bank-icon {
            img {
                @include space(padding, right, $xs);
                @include space(margin, top, -5px);
                @include space(margin, right, -5px);
                width: 32px;
                height: 32px;
            }
        }
        .credit-icon {
            img {
                @include space(margin, top, -3px);
                width: 35px;
                height: 35px;
            }
        }
    }
}
