<div class="col-12 pl-0 pr-0 payment-details-summary">
    <div class="row">
        <div class="col-12">
            <div class="row batch-entry-header">
                <ng-container *ngIf="paymentDetails?.identifierType === 'Policy' else showIdentifier">
                    <ent-skeleton class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewBatchEntry'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Number : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policyNumber"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewBatchEntry'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Symbol : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policySymbol"></ent-text>
                        </div>
                    </ent-skeleton>
                </ng-container>
                <ng-template #showIdentifier>
                    <ent-skeleton *checkPermission="'viewType'" class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewType'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Type :"></ent-label>
                            <span [ngStyle]="{'margin-left':'10px'}" class="badge-{{removeSpaces(paymentDetails?.identifierType)}}">{{paymentDetails?.identifierType}}</span>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'viewBatchId'" class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewBatchId'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Batch ID : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.batchId"></ent-text>
                        </div>
                    </ent-skeleton>
                </ng-template>
                <ent-skeleton *checkPermission="'viewEntryDate'" class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewEntryDate'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="ent-label-inline-bold" data="Entry Date : "></ent-label>
                        <ent-text className="ent-text-inline" [text]="paymentDetails?.entryDate | date:'MM/dd/yyyy'"></ent-text>
                    </div>
                </ent-skeleton>
                <!-- <ent-skeleton class="col-3" [loading]="paymentDetails && isLoading" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="ent-label-inline-bold" data="Entry Amount : "></ent-label>
                        <ent-text className="ent-text-inline" [text]="paymentDetails?.entryDate | currency:'USD'"></ent-text>
                    </div>
                </ent-skeleton> -->
                <ng-container *ngIf="paymentDetails?.identifierType !== 'Policy' && (paymentDetails?.policyNumber || paymentDetails?.policySymbol)">
                    <ent-skeleton class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewBatchEntry'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Number : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policyNumber"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0" [loading]="paymentDetails && isLoading" [securityName]="'viewBatchEntry'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Policy Symbol : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.policySymbol"></ent-text>
                        </div>
                    </ent-skeleton>
                </ng-container>
                <div class="col-12 divider"><div class="strip-line"></div></div>
            </div>
        </div>
        <div class="col-12 line">
            <div class="row">
                <ent-skeleton *checkPermission="'viewSettlementDate'" class="col-3 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewSettlementDate'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Settlement Date"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.settlementDate | date:'MM/dd/yyyy'"></ent-text>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewTraceNumber'" class="col-3 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewTraceNumber'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Trace Number"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.transactionNumber"></ent-text>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewReferenceNumber'" class="col-3 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewReferenceNumber'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Reference Number"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.referenceNumber"></ent-text>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewIdentifier'" class="col-3 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewIdentifier'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Identifier"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.identifier"></ent-text>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewPaymentMethod'" class="col-3 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewPaymentMethod'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Payment Method"></ent-label>
                        <ng-container *ngIf="paymentDetails?.bankAccountNumber else creditCardPayment">
                            <ent-image *ngIf="paymentDetails?.bankAccountNumber" class="bank-icon" [alt]="paymentDetails?.bankAccountNumber" imageUrl="assets/images/bank/bank.svg">
                            </ent-image>
                            <ent-text className="ent-text-inline" text="Bank Account ending with
                        {{paymentDetails?.bankAccountNumber.substr(paymentDetails?.bankAccountNumber.length - 4)}}">
                            </ent-text>
                        </ng-container>
                        <ng-template #creditCardPayment>
                            <ent-image *ngIf="paymentDetails?.creditCardNumber" class="credit-icon" [alt]="paymentDetails?.creditCardType" imageUrl="assets/images/bank/{{paymentDetails?.creditCardType}}.svg">
                            </ent-image>
                            <ent-text className="ent-text-inline" text="Credit Card ending with
                        {{paymentDetails?.creditCardNumber.substr(paymentDetails?.creditCardNumber.length - 4)}}">
                            </ent-text>
                        </ng-template>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewPayorName'" class="col-3 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewPayorName'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Payor Name"></ent-label>
                        <app-name-display  [nameOnly]="true"  [name]="paymentDetails?.payorName" [length]="30"></app-name-display>
                    </div>
                </ent-skeleton>
                <ent-skeleton *checkPermission="'viewRejectionReason'" class="col-6 pr-0 pb-3" [loading]="paymentDetails && isLoading" [securityName]="'viewRejectionReason'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Rejection Reason"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.rejectionReason">
                        </ent-text>
                    </div>
                </ent-skeleton>
            </div>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="col-12 pr-0 pl-0 app-section min-height">
        <ent-empty-view message="Payment Details is not available." iconUrl="assets/images/icons/no-statements.png">
        </ent-empty-view>
    </div>
</ng-template>
<ng-template #skeletonLayout>
    <div class="col-12 pl-0 pr-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
        <ent-skeleton [loading]="false" [appearance]="'h6'"></ent-skeleton>
    </div>
</ng-template>
<ng-template #skeletonHeaderLayout>
    <div class="col-12 pl-0 pr-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
    </div>
</ng-template>
