<div class="col-12 pr-0 pl-0 edit-agent">
    <form [formGroup]="agentForm" (submit)="selectAgent()" rule="form" novalidate>
        <div class="row">
            <div class="col-12 field-row">
                <ent-label data="Select the Agent:" requiredField="required"></ent-label>
                <ent-select [isAutoFocus]="true" placeholder="Search by Name, Address, Email and Phone" #agentSelect [url]="apiUrl" [queryParam]="queryParam" [displayField]="'name'" [other]="'agentNumber'" [applyQueryParamOnSearch]="'_score'" [size]="'5'" (selectedValue)="getAgentNumber($event)"
                    formControlName="agentNumber" [control]="agentForm.get('agentNumber')" [selectRequired]="true">
                    <ul class="select-list-item">
                        <li *ngFor="let item of agentSelect.dropdownItems, let i = index" (click)="agentSelect.itemSelected(item, i)">
                            <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                <span class="title-name">{{item.name || item}} {{item.agentNumber ? ' (' + item.agentNumber
                        +')' : ''}}</span>
                                <br *ngIf="item.addresses">
                                <span>{{(item.addresses ? item.addresses[0].address : '')}}</span>
                            </a>
                        </li>
                    </ul>
                </ent-select>
                <ent-control-messages class="control-error-message" [control]="agentForm.get('agentNumber')" labelName="Agent"></ent-control-messages>
            </div>
            <div class="col-12 button-row add-buttons">
                <ent-button [disabled]="!agentForm.valid" class="button-xlarge" buttonText="SUBMIT" buttonType="submit">
                </ent-button>
            </div>
        </div>
    </form>
</div>