<div class="col-12 pr-0 pl-0 import-payments-section">
    <form [formGroup]="importPaymentForm" (submit)="importPaymentsSubmit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12 line">
                <div class="row">
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Entry Date'"></ent-label>
                        <ent-date-picker [isAutoFocus]="true" [currentDate]="systemDate" [(ngModel)]="postedDate" formControlName="postedDate">
                        </ent-date-picker>
                        <ent-control-messages [control]="importPaymentForm.get('postedDate')" labelName="Posted Date">
                        </ent-control-messages>
                    </div>
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Deposit Date'"></ent-label>
                        <ent-date-picker [currentDate]="systemDate" [(ngModel)]="depositDate" formControlName="depositDate">
                        </ent-date-picker>
                        <ent-control-messages [control]="importPaymentForm.get('depositDate')" labelName="Deposit Date">
                        </ent-control-messages>
                    </div>
                    <div *checkPermission="'addBatchIdInImportPayments'" class="col-4">
                        <span *ngIf="isBatchId">
                            <br>
                            <br>
                            <a class="action-link" (click)="isBatchId = !isBatchId">Add Batch ID</a>
                        </span>
                        <div *ngIf="!isBatchId">
                            <ent-label data="Batch ID"></ent-label>
                            <ent-input [isAutoFocus]="!isBatchId" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'batchId')" [maxlength]="4"
                                [control]="importPaymentForm.get('batchId')" [(ngModel)]="batchId" formControlName="batchId" type="text"></ent-input>
                            <ent-control-messages [control]="importPaymentForm.get('batchId')" labelName="Batch Id"></ent-control-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 line">
                <div class="row">  
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Deposit Bank'"></ent-label>
                        <ent-dropdown (selectedValue)="selectedDepositBank()" [(ngModel)]="depositBank" [control]="importPaymentForm.get('depositBank')" [dropdownItems]="DepositBankDropdown?.propertyValues" formControlName="depositBank" type="select"></ent-dropdown>
                        <ent-control-messages [control]="importPaymentForm.get('depositBank')" labelName="Deposit Bank">
                        </ent-control-messages>
                    </div>
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Control Bank'"></ent-label>
                        <ent-dropdown [disabledField]="!ControlBankDropdown" [(ngModel)]="controlBank" [control]="importPaymentForm.get('controlBank')" [dropdownItems]="ControlBankDropdown" formControlName="controlBank" type="select"></ent-dropdown>
                        <ent-control-messages [control]="importPaymentForm.get('controlBank')" labelName="Control Bank">
                        </ent-control-messages>
                    </div>
                    <div class="col-4" *ngIf="multiCurrencyEnabled">
                        <ent-label data="Currency" requiredField="required"></ent-label>
                        <ent-dropdown [dropdownItems]="currencyDropdown?.propertyValues" formControlName="currency" type="select" [control]="importPaymentForm.get('currency')"></ent-dropdown>
                        <ent-control-messages [control]="importPaymentForm.get('currency')" labelName="Currency">
                        </ent-control-messages>
                    </div>
                </div>
            </div>
            <div class="col-12 line">
                <div class="row">
                    <div class="col-8 csv-ent-file-upload">
                        <ent-label requiredField="required" [data]="'Select CSV File'"></ent-label>
                        <ent-file-upload #paymentUpload [multiple]="false" [isUploadButton]="true" (selectFileOutput)="selectFileOutput($event)" (uploadOutput)="uploadFile($event)"></ent-file-upload>
                        <span *ngIf="!isFileUploaded" class="error-message">CSV File is required.</span>
                        <a class="action-link float-right " title="Download File Template" (click)="downloadTemplate()">Download File Template</a>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row import-payments-buttons">
                <ent-button class="button-xxlarge" buttonText="IMPORT PAYMENT" [disabled]="!importPaymentForm.valid || !isFileUploaded" buttonType="submit"></ent-button>
            </div>
        </div>
    </form>
</div>