<ul class="ent-status-bar">
    <li *ngFor="let label of labelList; let i = index" [class.completed]="i <= indexOf(labelList, activatedValue)" [attr.data-status]="activatedValue">
        <span class="bubble">
			<div *ngIf="i <= indexOf(labelList, activatedValue)" class="step">
				<i class="fas fa-check text-light"></i>
			</div>
		</span> {{label}}
    </li>
</ul>