<div class="batch-summary-results-section table-list">
    <div *checkPermission="'batchEntryResultTable'; else notFound">
        <ng-container *ngIf="batchEntryList?.length > 0 else notFound">
            <div *ngFor="let batchPayment of batchEntryList;let i = index">
                <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                    <div class="col-12 results-section">
                        <div *checkPermission="'columnSettlementDate'" class="col word-break">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnSettlementDate'">
                                {{batchPayment?.settlementDate | date:'MM/dd/yyyy'}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnTraceNumber'" class="col word-break">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnTraceNumber'">
                                {{batchPayment?.transactionNumber}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnReferenceNumber'" class="col word-break">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnReferenceNumber'">
                                {{batchPayment?.referenceNumber}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnRejectionReason'" class="col word-break">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnRejectionReason'">
                                {{batchPayment?.rejectionReason}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnPayorName'" class="col">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnPayorName'">
                                <app-name-display  [nameOnly]="true"  [name]="batchPayment?.payorName" [length]="30"></app-name-display>
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnSettlementAmount'" class="col word-break">
                            <ent-skeleton [loading]="isBatchEntryListLoaded" [securityName]="'columnSettlementAmount'">
                                {{batchPayment?.settlementAmount || '0' | currency:'USD'}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'batchRejectionRowMoreOptions'" class="col-1 right-option-icon">
                            <ent-skeleton class="skeleton-center skeleton-paragraph-medium-fixed" [loading]="isBatchEntryListLoaded" [securityName]="'batchRejectionRowMoreOptions'">
                                <div class="flex-container-center">
                                    <div class="smDropdown">
                                        <button [disabled]="!isBatchEntryListLoaded || securityEngineService.checkVisibility('batchRejectionRowMoreOptions', 'Disable')" title="More Options" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static">
                                          <span class="fas fa-ellipsis-v" [class.disable-security-options]="!isBatchEntryListLoaded"></span>
                                      </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                                            <li><a *checkPermission="'optionEdit'" class="dropdown-item" [class.disable-dropdown-options]="batchDetail?.isAccept" (click)="batchPaymentActions('Edit', batchPayment)">Edit</a></li>
                                            <li><a *checkPermission="'optionView'" class="dropdown-item" [class.disable-dropdown-options]="batchDetail?.isAccept" (click)="batchPaymentActions('View', batchPayment)">View</a></li>
                                            <li><a *checkPermission="'optionDelete'" class="dropdown-item" [class.disable-dropdown-options]="batchDetail?.isAccept" (click)="batchPaymentActions('Delete', batchPayment)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ent-skeleton>
                        </div>
                    </div>
                </ent-card>
            </div>
        </ng-container>
    </div>
    <ng-template #notFound>
        <div class="col-12 pr-0 pl-0 app-section min-height-main">
            <ent-empty-view *ngIf="!securityEngineService.checkVisibility('batchEntryResultTable', 'Hide')" class="no-batch-payment-found" message="No Batch Entry To Display" subMessage="As batch payment is generated for the account, categorized breakdown of premiums will appear here." iconUrl="assets/images/icons/no-account-payments.png"></ent-empty-view>
            <ent-empty-view *ngIf="securityEngineService.checkVisibility('batchEntryResultTable', 'Hide')" class="no-batch-payment-found" message="Batch Entry List is not available." iconUrl="assets/images/icons/no-account-payments.png"></ent-empty-view>
        </div>
    </ng-template>
    <div class="col-12">
        <ent-pagination [hidden]="!(batchEntryList && batchEntryList.length > 0) || !isBatchEntryListLoaded || securityEngineService.checkVisibility('batchEntryResultTable', 'Hide')" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
    </div>
</div>

<ent-modal #addBatchEntryModal class="modal-xmedium" (modalOutput)="reload($event)"></ent-modal>
<ent-modal #deleteBatchEntryModal (modalOutput)="deleteBatchEntry($event)"></ent-modal>
<ent-modal #viewBatchEntryModal class="modal-auto"></ent-modal>
