<div class="col-12 pr-0 pl-0">
    <div class="row text-center">
        <div class="col-12 field-row text-center">
            <p>Hold payment of <strong>{{payment.paymentAmount | currency:payment?.currency}}</strong> in suspense.</p>
        </div>
        <div class="col-12 button-row">
            <ent-button class="button-xlarge" buttonText="SUBMIT" (buttonClick)="paymentsSuspend()" buttonType="submit">
            </ent-button>
        </div>
    </div>
</div>