<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div *checkPermission="'columnSettlementDate'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnSettlementDate'">
                <span>SETTLEMENT DATE</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnTraceNumber'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnTraceNumber'">
                <span>TRACE NUMBER</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnReferenceNumber'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnReferenceNumber'">
                <span>REFERENCE NUMBER</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnRejectionReason'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnRejectionReason'">
                <span>REJECTION REASON</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnPayorName'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnPayorName'">
                <span>PAYOR NAME</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnSettlementAmount'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnSettlementAmount'">
                <span>SETTLEMENT AMOUNT</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'batchRejectionRowMoreOptions'" class="col-1 text-center"></div>
    </div>
</div>
