<div #popoverDiv class="ent-popover popover {{ effectivePlacement }}" [style.width]="popoverWidth" [style.top]="top + 'px'" [style.left]="left + 'px'" [class.show]="isIn" [class.fade]="animation" style="display: block" role="popover">
    <div [hidden]="!closeOnMouseOutside" class="virtual-area"></div>
    <div class="arrow"></div>
    <div [hidden]="!icon">
        <h3 *ngIf="title else nontitle" class="popover-title">
            {{ title }}
            <a x-no-tabbing (click)="hide()">&times;</a>
        </h3>
        <ng-template #nontitle>
            <div class="popover-nontitle">&nbsp;<a x-no-tabbing (click)="hide()">&times;</a></div>
        </ng-template>
    </div>
    <div class="popover-detail d-inline-block" [ngStyle]="{'font-size': !icon ? '12px' : '13px','padding' : !icon ? '5px 5px' : '9px 14px'}" [ngClass]="{'pt-0': icon}">
        <ng-content></ng-content>
        <span [ngClass]="{'popover-info' : !icon, 'popover-icon' : icon}"><span [innerHtml]="content"></span></span>
    </div>
</div>