<ol class="ent-breadcrumb breadcrumb justify-content-end p-0">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <a class="link-highlighted breadcrumb-link" (click)="navigateToUrl(breadcrumb.url, breadcrumb.queryParams)">
        	{{breadcrumb.label}}
    	</a>
    </li>
</ol>