//Consistent Font Sizes
@function calculateRem($size) {
    $remSize: $size / 10px;
    @return $remSize * 1rem;
}

@function setFlashTextColor($color: nth($status, 1)) {
    @if (lightness($color) > 40) {
        @return $black-color; // Lighter background, return dark color
    }
    @else {
        @return $white-color; // Darker background, return light color
    }
}

@function getCommonColor($themeName, $key) {
    @return map-get(map-get(map-get($themes-list, $themeName), common-colors), $key);
}

@function getComponentsColor($themeName, $componentName, $key) {
    @return map-get(map-get(map-get(map-get($themes-list, $themeName), components-colors), $componentName), $key);
}

@function getSystemColor($themeName, $key) {
    @return map-get(map-get($themes-list, $themeName), $key);
}