%icon {
    font-family: $font-awesome-free;
    font-style: normal;
    font-weight: 900;
    height: 100%;
    display: inline-block;
    @include pseudo(absolute, 0, false, 0.0em, false, false);
}

.letters-0 {
    display:inline-block;
    width:2.5em;
    height:2.5em;
    text-align:center;
    border-radius:50%;
    background-color: $letter-color-0;
    vertical-align:middle;
    @include space (margin, right, $xxs);
    text-transform: uppercase;
    cursor: pointer;
    @include custom-font-size ($font-size-sm, $white-color, bold, 2.5em);
}

.letters-1 {
    @extend .letters-0;
    background-color: $letter-color-1;
}

.letters-2 {
    @extend .letters-0;
    background-color: $letter-color-2;
}

.letters-3 {
    @extend .letters-0;
    background-color: $letter-color-3;
}

.letters-4 {
    @extend .letters-0;
    background-color: $letter-color-4;
}

%wz-btn {
    @include space (margin, right, $xxs);
    height: 25px;
    max-width: 189px;
    border: 1px solid $theme-primary-color;
    background: $theme-primary-color;
    @include custom-font-size($font-size-base, $white-color, false, $xs + 5px);
    outline: none;
    text-transform: capitalize;
    @include border-radius(14px);
    &:hover {
        @extend %wz-btn;
        @include box-shadow(inset 0 0px 5px 1px rgba(0, 0, 0, 0.45));
        transition-duration: 0.4s;
        outline: none;
    }
    &:disabled {
        @extend %wz-btn;
        cursor: not-allowed;
        outline: none;
        &:hover {
            @extend %wz-btn;
        }
        opacity: 0.6;
    }
}

%typeahead-style {
    @include padding (3px, 30px, 3px, 30px);
    @include pseudo(absolute, false, false, false, false, false);
    width: 100%;
    border: 1px solid $border-color-2;
    background-color: $white-color;
    @include border-radius(4px);
}

%flexer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
%no-flexer {
    display: block;
}
%no-flexer-element {
    -ms-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    flex: 0;
}
%flexer-element {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

%basic-dropdown {
    font-family: $app-font-family;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    border-radius: 4px; // height: 34px;
    line-height: 1.42857143;
    background-color: $white-color;
    background-image: none;
}