@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/*Common Colors*/
$white-color: $white;
$black-color: $black;
$red-color: $red;
$yellow-color: $yellow;

$gray-color-100: gray('100');
$gray-color-200: gray('200');
$gray-color-300: gray('300');
$gray-color-400: gray('400');
$gray-color-500: gray('500');
$gray-color-600: gray('600');
$gray-color-700: gray('700');
$gray-color-800: gray('800');
$gray-color-900: gray('900');

/*Table data Colors*/
$list-sub-header-color: lighten(saturate(adjust-hue($table-head-bg, 3), 0.60), 14.90);

/*Common Component */
$horizontal-row-color: $gray-color-300;
$text-dark-color: $gray-600;

/*----- COMPONENTS-----*/


$status-processing: #ffff00;
$status-notworking: #bd362f;
$status-operational: #14983c;

$font-awesome-free: 'Font Awesome 5 Free';
$font-awesome-brands: 'Font Awesome 5 Brands';

$font-thin: $font-weight-lighter;
$font-light: $font-weight-light;
$font-normal: $font-weight-normal;
$font-semi-bold: 600;
$font-bold: $font-weight-bold;
$font-bolder: $font-weight-bolder;
$font-ultra-bold: 900;
$card-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

//Media Queries Responsive
$phone: '(max-width: 575.98px)';
$tablet-portrait: '(min-width: 576px) and (max-width: 767.98px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 991.98px)';
$large-desktop: '(min-width: 992px) and (max-width: 1199.98px)';
$xlarge-desktop: '(min-width: 1200px)';
/*----- SPACE variable-----*/

$xxs: 5px;
$xs: 10px;
$small: 25px;
$medium: 50px;
$large: 75px;
$xlarge: 100px;
$xxlarge: 150px;





