/*Theme Color*/

$theme-primary-color : theme-color('primary');
$theme-secondary-color: theme-color('secondary');
$theme-success-color : theme-color('success');
$theme-info-color : theme-color('info');
$theme-warning-color : theme-color('warning');
$theme-danger-color : theme-color('danger');

/*Common Colors*/

$white-color: $white;
$black-color: $black;
$red-color: $red;
$yellow-color: $yellow;
$gray-color-100: gray('100');
$gray-color-200: gray('200');
$gray-color-300: gray('300');
$gray-color-400: gray('400');
$gray-color-500: gray('500');
$gray-color-600: gray('600');
$gray-color-700: gray('700');
$gray-color-800: gray('800');
$gray-color-900: gray('900');
$error-color: $error-msg-color;

/*Table data Colors*/

$table-head-bg-parent: $table-head-bg;
$table-head-color-parent: $table-head-color;
$list-header-color: $table-head-bg;

/*Radio, Steps, Checkbox Colors */

$active-border-color: $theme-primary-color;

/*Common Component */

$horizontal-row-color: $gray-color-300;
$text-dark-color: $gray-600;

/*Comment Component */

$comment-background-color: darken($theme-secondary-color, 5.14);
// Wizard
$wizard-color-neutral: $gray-color-400 !default;
$wizard-step-width-height: 64px !default;
$wizard-step-font-size: 24px !default;

/*Toast colors*/

$toast-success-color: $dark-green-clr;
$toast-error-color: $dark-red-clr;
$toast-info-color: $dark-blue-clr;
$toast-wait-color: $dark-purple-clr;
$toast-warning-color: $dark-orange-clr;
$menu-strip-active: #FF6347;
$toast-warning-color-2: darken(desaturate(adjust-hue($dark-yellow-clr, 17), 31.49), 2.16);
$toast-error-color-2: darken(saturate(adjust-hue($dark-red-clr, 345), 28.13), 12.75);
$toast-success-color-2: lighten(desaturate(adjust-hue($dark-green-clr, -40), 34.98), 3.14);
$toast-dark-success-color: $dark-green-clr;
$toast-dark-error-color: $dark-red-clr;
$toast-dark-info-color: $dark-blue-clr;

/*Box Shadow*/

$box-shadow-color: $gray-color-300;
$box-shadow-color-1:rgba(0, 24, 55, 0.25);
$box-shadow-color-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.12),
0 1px 5px 0 rgba(0, 0, 0, 0.2);
$card-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
//Toggle Button Colors
$toggle-border-color: $gray-color-500;
$toggle-bg-color: $gray-color-200;
$toggle-btn-color: $gray-color-600;

/*----- FONT-----*/


/*Font*/

$app-font-family: $font-family-base;
$app-dashboard-font-family: $font-family-base;
$error-font-family: $font-family-base;
$font-awesome-free: 'Font Awesome 5 Free';
$mydatepicker: 'mydatepicker';

/*----- ICONS-----*/

$icon-size:18px;
$icon-font-size: 8px;
$close-icon-color: #aaaaaa;

/*----- COMPONENTS-----*/

$remove-app-color: #a52e2e;
$greeting-color: #fb6a00;
$label-color: $gray-color-700;
$border-color:#dee1e7;
$border-top-color: #e5e6e9;
$border-sides-color:#dfe0e4;
$border-bottom-color: #d0d1d5;
$text-input-color: $black-color;
$border-color-1: #DDDDDD;
$border-focus-color: lighten(desaturate($theme-primary-color, 25.14), 23.53);
$un-active-color: $gray-color-700;
$active-color: $dark-green-clr;
$border-color-2: #ccc;
$border-color-3: #dff0d8;
$status-processing: #ffff00;
$status-notworking: #bd362f;
$status-operational: #14983c;
$success-color: #44cead;
$font-thin: $font-weight-lighter;
$font-light: $font-weight-light;
$font-normal: $font-weight-normal;
$font-semi-bold: 600;
$font-bold: $font-weight-bold;
$font-bolder: $font-weight-bolder;
$font-ultra-bold: 900;
$card-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
//Media Queries Responsive
$phone: '(max-width: 575.98px)';
$tablet-portrait: '(min-width: 576px) and (max-width: 767.98px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 991.98px)';
$large-desktop: '(min-width: 992px) and (max-width: 1199.98px)';
$xlarge-desktop: '(min-width: 1200px)';
//Popover component
$popover-border-color: $border-focus-color;
$popover-content-color: $black-color;
$popover-icon-color: $text-dark-color;
//Tabs
$tabs-unactive-color: $un-active-color;
//Timeline
$timeline-marker-after-color: #28dcaa;
$timeline-period-color: #CCD5DB;
$timeline-marker-outline-color: #FF6B6B;
//Type Ahead
$type-ahead-disable-color: $disable-color;
$type-ahead-border-color: $border-color-2;
$type-ahead-focus-color: $border-focus-color;
//Vertical Nav
$vertical-nav-link-color: $un-active-color;
//Alert
$alert-wait-color: #9480E0;
//Dropdown
$drop-down-disable-color: $disable-color;
$drop-down-border-color: $border-color-2;
$drop-down-focus-color: $border-focus-color;
$drop-down-hover-color: $hover-color;
$drop-down-active-color: lighten($theme-primary-color, 4.31);
//Search Input
$search-input-visited-color: $border-focus-color;
//Select
$select-visited-color: $border-focus-color;
$select-button-disable-color: $disable-color;
$select-search-icon-color: #3498db;
//Nav bar
$nav-bar-border-color: $border-color-2;
//wizard
$wizard-body-color: $un-active-color;
$wizard-border-left-color: #e4e4e4;
$wizard-title-color: #313131;
$wizard-stepnav-item-color: $border-color-3;
$wizard-stepnav-complete-color: $active-color;
//List content
$list-content-badge-wrapper-color: #26cfa2;
//Status bar
$status-bar-incomplete-color: $border-color-2 !default;
$status-bar-complete-color: #42e4be !default;
$status-bar-active-color: #337AB7 !default;
$status-bar-hover-color: #5671d0 !default;
$status-bar-step-danger-color: #d3140f !default;
$status-bar-step-warning-color: #edb10a !default;
$status-bar-step-info-color: #5b32d6 !default;
$incomplete: $status-bar-incomplete-color !default;
$complete: $status-bar-complete-color !default;
$active: $status-bar-active-color !default;
$hover: $status-bar-hover-color !default;
$step-danger: $status-bar-step-danger-color !default;
$step-warning: $status-bar-step-warning-color !default;
$step-info: $status-bar-step-info-color !default;
$bubble-size: 13px !default;
$bubble-line-thickness: 3px !default;
$border-thickness: 1px !default;
$darken-amount: 10% !default;
$mobile-size: 400px !default;
//Express Payment
$express-payment-msg-color: #F1948A;
//Date picker
$dp-background-color: $white-color;
$dp-background-color-2: #F1DEDE;
$dp-caltable-color: $date-picker-caltable-color;
$dp-disabled-color: #FBEFEF;
$dp-sunday-color: $dark-red-clr;
$dp-currmonth-color: #F6F6F6;
$dp-selectedday-border: darken($date-picker-selectedday-background-color, 55);
$dp-selectedday-background: $date-picker-selectedday-background-color;
$dp-header-focus-color: $hover-color;
$dp-icon-color: $black-color;
$dp-hover-color: $hover-color;
//Button
$button-border-color: darken($theme-primary-color, 10%);
//Flaticon
$flaticon-interface-color: #32C770;
$flaticon-clock-color: lighten(saturate(adjust-hue($toast-warning-color, 13), 4.72), 1.76);
$flaticon-symbol-color: lighten(saturate($toast-error-color, 39.83), 16.67);
//Letter
$letter-color-0: $light-blue-clr;
$letter-color-1: $light-red-clr;
$letter-color-2: $light-green-clr;
$letter-color-3: $light-purple-clr;
$letter-color-4: $dark-orange-clr;
//Sidebar
$sidebar-active-border-color: lighten($toast-warning-color, 12%);
//Breadcrumb
$breadcrumb-background-color: $theme-secondary-color;
//Form
$error-msg-color: $error-msg-color;
//Link
$link-decoration-val: $link-decoration-val;
$link-hover-decoration-val: $link-hover-decoration-val;
$link-clr: $link-clr;
$link-hover-clr: $link-hover-clr;
$link-visited-clr: $link-visited-clr;
//Checkbox - Radio
$checked-checkmark-clr: $checked-checkmark-clr;
$checked-indicator-clr: $checked-indicator-clr;
$checked-border-clr: $checked-border-clr;

/*----- SPACE variable-----*/

$xxs: 5px;
$xs: 10px;
$small: 25px;
$medium: 50px;
$large: 75px;
$xlarge: 100px;
$xxlarge: 150px;

/*----- Modal Size (width) variable-----*/

$modal-small: 400px;
$modal-xsmall: 500px;
$modal-medium: 576px;
$modal-xmedium: 700px;
$modal-xlarge: 800px;
$modal-xxlarge: 990px;
$modal-xxxlarge: 1200px;
$modal-auto: auto;

/*----- Button Size (width - height) variable-----*/

$button-small: 50px 32px;
$button-medium: 115px 32px;
$button-xmedium: 140px 32px;
$button-xlarge: 150px 32px;
$button-xxlarge: 200px 32px;
$button-xxxlarge: 250px 32px;
$button-auto: auto 32px;
$button-full: 100% 32px;
$button-warning: $toast-warning-color;
$button-alert: $toast-error-color;
$button-success: $toast-success-color;
$button-text-color: $button-text-color;
$button-background-color: $button-background-color;
$button-hover-background-color: $button-hover-background-color;
$button-hover-text-color: $button-hover-text-color;

/*----- Skeleton variable-----*/

$skeleton-color: #dedfe1;
$skeleton-color-2: #f2f3f5;
$skeleton-paragraph-short: 20%;
$skeleton-paragraph-medium: 50%;
$skeleton-paragraph-long: 90%;
$skeleton-paragraph-short-fixed: 20px;
$skeleton-paragraph-medium-fixed: 50px;
$skeleton-paragraph-long-fixed: 150px;
$skeleton-paragraph-xlong-fixed: 200px;
$skeleton-avatar-xs: 23px 23px;
$skeleton-avatar-small: 30px 30px;
$skeleton-avatar-medium: 40px 40px;
$skeleton-avatar-xmedium: 70px 70px;
$skeleton-avatar-xlarge: 100px 100px;
$skeleton-avatar-large: 115px 115px;
$skeleton-rect-xxsmall: 100% 40px;
$skeleton-rect-full: 100% 100%;
$skeleton-rect-small: 100% 172px;
$skeleton-rect-medium: 200px 200px;
$skeleton-rect-xxsmall-fixed: 25px 25px;

/*----- Scroll Modal Size (max-height) variable -----*/

$scroll-small: 190px;
$scroll-modal: 210px;
$scroll-xmodal: 250px;
$scroll-xxmodal: 300px;

/*----- Table Fixed Header Size (max-height) variable-----*/

$table-fixed-header-small: 200px;
$table-fixed-header-xsmall: 300px;
$table-fixed-header-medium: 350px;
$table-fixed-header-xmedium: 400px;
$table-fixed-header-large: 500px;
