<ent-header name="Configure Default Values" [showBreadcrumb]="false" class="row col-12"></ent-header>

<div class="container page-content configure-default">
    <div class="row justify-content-end">
        <div class="col col-2 mt-3">
            <a class="link-highlighted float-right" (click)="back()"><strong><i class="fas fa-chevron-left"></i>
                    Back</strong></a>
        </div>
    </div>
    <div class="col-12 pr-0 pl-0">
        <form [formGroup]="valuesFieldsForm" rule="form" novalidate>
            <div class="row line">
                <div class="col-3">
                    <ent-label data="Screen Name" requiredField="required"></ent-label>
                    <ent-select [isAutoFocus]="true" placeholder="Select Screen Name" #select [url]="apiUrl" [control]="valuesFieldsForm.get('screenName')" [ngModel]="screenNameDetails?.description" [queryParam]="queryParam" [displayField]="'description'" [applyQueryParamOnSearch]="'_score'"
                        [size]="'5'" (selectedValue)="selectedScreenName($event)" formControlName="screenName" [selectRequired]="true">
                        <ul class="select-list-item">
                            <li *ngFor="let item of select.dropdownItems, let i = index" (click)="select.itemSelected(item, i)">
                                <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                    <span>{{item?.description || item}}</span>
                                </a>
                            </li>
                        </ul>
                    </ent-select>
                    <ent-control-messages class="control-error-message" [control]="valuesFieldsForm.get('screenName')" labelName="Screen Name">
                    </ent-control-messages>
                </div>
                <div class="col-3">
                    <ent-label data="Section Name"></ent-label>
                    <ent-select placeholder="Select Section Name" #sectionSelect [url]="sectionApiUrl" [disabledField]="!screenNameDetails?.description" [ngModel]="sectionNameDetails?.fieldLabel" [queryParam]="queryParamSection" [displayField]="'fieldLabel'" [applyQueryParamOnSearch]="'_score'"
                        [size]="'5'" [control]="valuesFieldsForm.get('sectionName')" formControlName="sectionName" (selectedValue)="selectedSectionName($event)">
                        <ul class="select-list-item">
                            <li *ngFor="let item of sectionSelect.dropdownItems, let i = index" (click)="sectionSelect.itemSelected(item, i)">
                                <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                    <span>{{item?.fieldLabel || item}}</span>
                                </a>
                            </li>
                        </ul>
                    </ent-select>
                </div>
                <div class="col-4">
                    <ent-label data="Configuring as"></ent-label>
                    <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton skeleton-paragraph-medium">
                        <p *ngIf="roleSequenceId && securityEngineService?.selectedRole?.roleName else systemLevel" class="selected-role mb-0 mt-2">
                            <strong>{{securityEngineService?.selectedRole?.roleName}}</strong>
                            <a title="Edit Role" (click)="selectLevel()" class="pl-2"><span
                                class="fas fa-pencil-alt"></span></a>
                        </p>
                        <ng-template #systemLevel>
                            <p class="selected-role mb-0 mt-2">
                                <strong>System Level</strong>
                                <span class="pl-2">
                                    <a title="Edit Role" (click)="selectLevel()">
                                        <span class="fas fa-pencil-alt" ></span>
                                    </a>
                                </span>
                            </p>
                        </ng-template>
                    </ent-skeleton>
                </div>
                <div class="col-2 align-self-end text-right">
                    <ent-button class="button-medium" buttonText="SAVE" [disabled]="!enableSave" (click)="editFieldsValues()" buttonType="button">
                    </ent-button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12 pl-0 pr-0 table-list pt-4">
        <div class="col-12 header-section">
            <div class="col-2">
                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">FIELD LABEL</ent-skeleton>
            </div>
            <div class="col-5">
                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">FIELD LOCATION</ent-skeleton>
            </div>
            <div class="col-3">
                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">DEFAULT VALUE</ent-skeleton>
            </div>
            <div class="col-2 text-center">
                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">INCLUDE / EXCLUDE</ent-skeleton>
            </div>
        </div>
        <ng-container *ngIf="list?.length > 0 else notFound">
            <div class="col-12 pr-0 pl-0 account-search-result-list">
                <div *ngFor="let field of list;let i= index">
                    <ent-card class="col-12 ent-card-datarow pr-0 pl-0">
                        <div class="col-12 results-section">
                            <div class="col-2 data">
                                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">
                                    <span>{{field?.fieldLabel}}</span>
                                </ent-skeleton>
                            </div>
                            <div class="col-5 data word-break">
                                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">
                                    <span>{{field?.additionalInfo}}</span>
                                </ent-skeleton>
                            </div>
                            <div class="col-3">
                                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">
                                    <ent-dropdown [dropdownItems]="getDefaultDropdownItems(field)" [(ngModel)]="field.defaultValue" 
                                    (selectedValue)="selectedValue($event, i)" type="select">
                                    </ent-dropdown>
                                </ent-skeleton>
                            </div>
                            <div class="col-2 text-center">
                                <ent-skeleton [loading]="isValuesLoaded" class="no-margin-skeleton">
                                    <a (click)="view(field, $event)" [class.active]="previewed && previewed === field"><strong>View</strong></a>
                                </ent-skeleton>
                            </div>
                        </div>
                    </ent-card>
                    <div *ngIf="previewed && previewed === field" class="col-12 pr-0 pl-0">
                        <div class="col-12 pr-0 pl-0">
                            <div class="col-12 p-0">
                                <ent-card>
                                    <div class="col-12 pr-0 pl-0 panel-header">
                                        <ent-title-bar [titleText]="'INCLUDE/EXCLUDE LIST'" border="'false'">
                                            <span class="btn-switch-layout float-right">
                                                <div class="btn-switch">
                                                    <a class="d-block" appTabbing (click)="toggle(field?.includeExcludeType === 'INCLUDE' ? 'EXCLUDE' : 'INCLUDE', i)">
                                                        <input type="radio" [checked]="(field?.includeExcludeType === 'INCLUDE')" value="INCLUDE"
                                                            name="app-{{field?.fieldId}}"
                                                            id="app-{{field?.fieldId}}-show"
                                                            class="btn-switch-radio btn-switch-radio-yes" disabled/>
                                                        <input type="radio" [checked]="(field?.includeExcludeType === 'EXCLUDE')" value="EXCLUDE"
                                                            name="app-{{field?.fieldId}}"
                                                            id="app-{{field?.fieldId}}-hide"
                                                            class="btn-switch-radio btn-switch-radio-no" disabled/>
                                                        <label for="app-{{field?.fieldId}}-show"
                                                            class="btn-switch-label btn-switch-label-yes">
                                                            <span class="btn-switch-txt">Include</span></label>
                                                        <label for="app-{{field?.fieldId}}-hide" class="btn-switch-label btn-switch-label-no">
                                                            <span class="btn-switch-txt">Exclude</span></label>
                                                    </a>
                                                </div>
                                    </span>
                                    </ent-title-bar>
                            </div>
                            <div class="col-12 pr-0 pl-0">
                                <div class="row">
                                    <div class="col-12 d-flex include-exclude">
                                        <div class="list-view col-5">
                                            <div #element class="list-group">
                                                <a *ngFor="let plan of field?.supportDataItems; let j = index" class="list-group-item list-group-item-action" (click)="toggleActive('element',j, 'toggleAvailableItems')">
                                                            {{plan}}</a>
                                            </div>
                                        </div>
                                        <div class=" col-2 text-center">
                                            <ent-button class="button-medium btn-style" [disabled]="checkingButtonDisable('element', i, 'toggleAvailableItems')" imagePosition="right" fasName="fa-chevron-circle-right" (click)="addItem('element', i,'toggleAvailableItems')" buttonText="ADD" buttonType="button">
                                            </ent-button>
                                            <ent-button class="button-medium" [disabled]="checkingButtonDisable('assignedElements', i, 'toggleAssignedItems')" imagePosition="left" fasName="fa-chevron-circle-left" (click)="removeItem('assignedElements',i,'toggleAssignedItems')" buttonText="REMOVE" buttonType="button">
                                            </ent-button>
                                        </div>
                                        <div #assignedElements class="list-view col-5">
                                            <a *ngFor="let plan of field?.includeExcludeList; let k = index" class="list-group-item" (click)="toggleActive('assignedElements',k, 'toggleAssignedItems')">{{plan}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ent-card>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </ng-container>
    <ng-template #notFound>
        <div class="col-12 app-section">
            <div class="col-12 min-height-main">
                <ent-empty-view message="No Default Value Found" subMessage="When Default Values are added, default values details will be displayed here." iconUrl="assets/images/icons/no-parties.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>
</div>
</div>
<ent-modal class="change-role-model-width" #selectRoleModel></ent-modal>