@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .alternate-payment-method {
        @include space (margin, top, 90px);
        .instructions {
            @include space (margin, bottom, $xs + $xs);
            .desc {
                font-style: italic !important;
                line-height: 1.7;
            }
        }
        .ent-card {
            @include space (padding, all, $xs + $xxs !important);
            &:hover {
                background: none !important;
            }
        }
        .alternate-payment-method-section {
            .field-row {
                .info-label {
                    float: left;
                    min-width: auto;
                }
                .info-icon {
                    img {
                        height: 15px;
                        @include space (margin, bottom, $xxs + 3px);
                        @include space (padding, left, $xxs);
                    }
                }
                .card_issuers {
                    @include pseudo(absolute, 10px, 1px, false, false, false);
                    width: 37px;
                    height: 26px;
                    display: block;
                }
                .visa_bg {
                    background: url('../../../../assets/images/common/bank.png') 0 0;
                }
                .master_bg {
                    background: url('../../../../assets/images/common/bank.png') -39px 0;
                }
                .american_express_bg {
                    background: url('../../../../assets/images/common/bank.png') -77px 0;
                }
                .discover_bg {
                    background: url('../../../../assets/images/common/bank.png') 37px 0;
                }
                .ccInput {
                    .input-text {
                        input {
                            @include space (padding,
                            right,
                            $small+$xs+2px !important);
                        }
                    }
                }
            }
        }
    }
}