<app-security-sidebar [sectionName]="'Add New Payment Method'" (refreshSummary)="checkSecurityOption()"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Add New Payment Method" [showBreadcrumb]="false"></ent-header>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-lg-3 col-lg-4 offset-md-4 col-md-6 offset-sm-3 col-12 alternate-payment-method">
                <div class="row">
                    <div *ngIf="securityEngineService?.roleSequenceId" class="col-xl-8 col-lg-12 col-md-12 col-12 text-right pb-2 pl-0 pr-2">
                        <a (click)="openSecurity('epAddNewPaymentMethod', subType, oneTimePaymentIntegration ? ['nameOnAccount'] : [])"><span class="fas fa-cog setting-icon" aria-hidden="true"></span></a>
                    </div>
                    <div *ngIf="securityEngineService?.isSecurityDataLoading || (securityEngineService.checkVisibility('paymentMethodCreditCard', 'Show') || securityEngineService.checkVisibility('paymentMethodBankAccount', 'Show')); else notAvailable" class="row">
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12 text-center instructions">
                            <ent-label className="ent-label-inline desc" data="Choose the payment method below and fill out the appropriate information"></ent-label>
                        </div>
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12 text-center alternate-payment-method-wrapper">
                            <div class="col-12">
                                <div class="row">
                                    <ent-skeleton *checkPermission="'paymentMethodBankAccount'" class="col pr-0" [loading]="!securityEngineService?.isSecurityDataLoading" [securityName]="'paymentMethodBankAccount'" [appearance]="'template'" [skeletonTemplate]="skeletonOptionLayout">
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium" [class.active]="payment.paymentMethod === 'Bank Account'" (click)="showHideControls('Bank Account')">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/bank.svg" alt="Bank Account"></ent-image>
                                                <ent-label data="BANK ACCOUNT"></ent-label>
                                            </ent-card>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton *checkPermission="'paymentMethodCreditCard'" class="col pr-0" [loading]="!securityEngineService?.isSecurityDataLoading" [securityName]="'paymentMethodCreditCard'" [appearance]="'template'" [skeletonTemplate]="skeletonOptionLayout">
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium" [class.active]="payment.paymentMethod === 'Credit Card'" (click)="showHideControls('Credit Card')">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/credit-card.svg" alt="Bank Account"></ent-image>
                                                <ent-label data="CREDIT CARD"></ent-label>
                                            </ent-card>
                                        </div>
                                    </ent-skeleton>
                                    <ng-template #skeletonOptionLayout>
                                        <div class="col-12 pl-0 pr-0 select-box-medium">
                                            <ent-card>
                                                <ent-skeleton [loading]="false" [appearance]="'rect'" class="skeleton-rect-xxsmall skeleton-paragraph-medium-fixed skeleton-center"></ent-skeleton>
                                                <div class="skeleton-paragraph-long-fixed skeleton-center mt-2">
                                                    <div class="ent-skeleton">
                                                        <h5></h5>
                                                    </div>
                                                </div>
                                            </ent-card>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12 alternate-payment-method-section">
                            <div class="col-12 pr-0">
                                <ng-container *ngIf="payment.paymentMethod === 'Bank Account' else creditCard">
                                    <form [formGroup]="makeBankAccountForm" rule="form" novalidate #acceptForm id="paymentForm" method="POST" action="https://test.authorize.net/gateway/transact.dll" target="_blank">
                                        <ent-card>
                                            <div class="row">
                                                <div class="col-12 field-row">
                                                    <div class="col-12 pr-0 pl-0">
                                                        <ent-label className="ent-label-inline info-label" data="Bank Routing #" requiredField="required"></ent-label>
                                                        <span class="pl-1">
                                                            <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/routing-number.jpg' width='350px' height='173px'>" popoverPlacement="top"></span>
                                                        </span>
                                                        <ent-input [isAutoFocus]="true" infoMsg="The Bank Routing number is a nine-digit code that's based on the U.S. Bank location where your account was opened" [control]="makeBankAccountForm.get('routingNumber')" type="bank" [(ngModel)]="payment.routingNumber" formControlName="routingNumber"></ent-input>
                                                        <ent-control-messages [control]="makeBankAccountForm.get('routingNumber')" labelName="Bank routing"></ent-control-messages>
                                                    </div>
                                                </div>
                                                <div class="col-12 field-row">
                                                    <div class="col-12 pr-0 pl-0">
                                                        <ent-label className="ent-label-inline info-label" data="Bank Account #" requiredField="required"></ent-label>
                                                        <span class="pl-1">
                                                            <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/account-number.jpg' width='350px' height='173px'>" popoverPlacement="top"></span>
                                                        </span>
                                                        <ent-input [control]="makeBankAccountForm.get('accountNumber')" type="bank" [(ngModel)]="payment.accountNumber" formControlName="accountNumber"></ent-input>
                                                        <ent-control-messages [control]="makeBankAccountForm.get('accountNumber')" labelName="Bank account number"></ent-control-messages>
                                                    </div>
                                                </div>
                                                <div class="col-12 field-row">
                                                    <div class="row">
                                                        <div *ngIf="!securityEngineService.checkVisibility('nameOnAccount', 'Hide') || oneTimePaymentIntegration" class="col-6">
                                                            <ent-label data="Name on Account" requiredField="{{oneTimePaymentIntegration ? 'required' : undefined}}"></ent-label>
                                                            <ent-input [control]="makeBankAccountForm.get('fullName')" type="text" [(ngModel)]="payment.fullName" formControlName="fullName" (input)="restrictInitialSpace($event)" [disabledField]="securityEngineService.checkVisibility('nameOnAccount', 'Disable')"></ent-input>
                                                            <ent-control-messages [control]="makeBankAccountForm.get('fullName')" labelName="Name on account"></ent-control-messages>
                                                        </div>
                                                        <div class="col-6" [ngClass]="{'pl-0': !securityEngineService.checkVisibility('nameOnAccount', 'Hide') || oneTimePaymentIntegration}">
                                                            <ent-label data="Account Type" requiredField="required"></ent-label>
                                                            <ent-dropdown [control]="makeBankAccountForm.get('accountType')" type="select" [(ngModel)]="payment.accountType" formControlName="accountType" [dropdownItems]="accountTypeDropdown"></ent-dropdown>
                                                            <ent-control-messages [control]="makeBankAccountForm.get('accountType')" labelName="Account type"></ent-control-messages>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="(subType !== 'RecurringPayment') && oneTimePaymentIntegration && !securityEngineService.checkVisibility('storeBankAccountForFuture', 'Hide') && type != 'Unidentified'" class="col-12 field-row">
                                                    <div class="col-12 pr-0 pl-0">
                                                        <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [securityName]="'storeBankAccountForFuture'" [appearance]="'h5'" class="skeleton-paragraph-medium">
                                                            <ent-input-checkbox [disabled]="securityEngineService.checkVisibility('storeBankAccountForFuture', 'Disable')" [text]="'Store Account for future Payments'" [(ngModel)]="payment.storeAccount" formControlName="storeAccount"></ent-input-checkbox>
                                                        </ent-skeleton>
                                                    </div>
                                                </div>
                                                <div class="col-12 alternate-payment-method-btn">
                                                    <div class="col-12 pr-0 pl-0 button-row add-buttons">
                                                        <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK" class="float-left button-xlarge button-outline" (buttonClick)="navigateToSetUpPayment()" buttonType="button"></ent-button>
                                                        <ent-button imagePosition="right" fasName="fa-chevron-circle-right" class="float-right button-xlarge" (buttonClick)="addBankAccount()" [disabled]="!makeBankAccountForm.valid" buttonText="CONTINUE" buttonType="button"></ent-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ent-card>
                                    </form>
                                </ng-container>
                                <ng-template #creditCard>
                                    <form [formGroup]="makeCreditCardForm" rule="form" novalidate #acceptForm id="paymentForm" method="POST" action="https://test.authorize.net/gateway/transact.dll" target="_blank">
                                        <ent-card>
                                            <div class="row">
                                                <div class="col-12 field-row">
                                                    <ent-skeleton class="col-12 pr-0 pl-0" [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                                        <div class="col-12 pr-0 pl-0">
                                                            <ent-label className="ent-label-inline info-label" data="Credit Card #" requiredField="required"></ent-label>
                                                            <span class="pl-1">
                                                                <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/creditcard-number.jpg' width='350px' height='217px'>" popoverPlacement="top"></span>
                                                            </span>
                                                            <ent-input [isAutoFocus]="true" [control]="makeCreditCardForm.get('creditCardNumber')" class="ccInput" [(ngModel)]="payment.creditCardNumber" formControlName="creditCardNumber" (valueChanged)="setSelectedCardValue()" type="bank">
                                                                <span class="visa_bg card_issuers" *ngIf="payment.creditCardType == 'Visa'"></span>
                                                                <span class="master_bg card_issuers" *ngIf="payment.creditCardType == 'MasterCard'"></span>
                                                                <span class="american_express_bg card_issuers" *ngIf="payment.creditCardType == 'AmericanExpress'"></span>
                                                                <span class="discover_bg card_issuers" *ngIf="payment.creditCardType == 'Discover'"></span>
                                                            </ent-input>
                                                            <ent-control-messages [control]="makeCreditCardForm.get('creditCardNumber')" labelName="Credit card"></ent-control-messages>
                                                        </div>
                                                    </ent-skeleton>
                                                </div>
                                                <div class="col-12 field-row">
                                                    <div class="row">
                                                        <ent-skeleton class="col-6" [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                                            <div class="col-12 pr-0 pl-0">
                                                                <ent-label className="ent-label-inline info-label" data="Card Expires On (MM/YY)" requiredField="required"></ent-label>
                                                                <span class="pl-1">
                                                                    <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/creditcard-valid-date.jpg' width='350px' height='217px'>" popoverPlacement="top"></span>
                                                                </span>
                                                                <div class="d-inline-block col-12 pl-0 pr-0">
                                                                    <ent-input [control]="makeCreditCardForm.get('creditCardExpiryDate')" [(ngModel)]="payment.creditCardExpiryDate" formControlName="creditCardExpiryDate" placeholder="MM/YY"></ent-input>
                                                                    <ent-control-messages [control]="makeCreditCardForm.get('creditCardExpiryDate')" labelName="Expiration date"></ent-control-messages>
                                                                </div>
                                                            </div>
                                                        </ent-skeleton>
                                                        <ent-skeleton class="col-6 pl-0" [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                                            <div class="col-12 pr-0 pl-0">
                                                                <ent-label className="ent-label-inline info-label" data="CVV Code" requiredField="required"></ent-label>
                                                                <span class="pl-1">
                                                                    <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/cvv.jpg' width='250px' height='311px'>" popoverPlacement="top"></span>
                                                                </span>
                                                                <ent-input [control]="makeCreditCardForm.get('cvvNumber')" type="bank" [(ngModel)]="payment.cvvNumber" formControlName="cvvNumber"></ent-input>
                                                                <ent-control-messages [control]="makeCreditCardForm.get('cvvNumber')" labelName="CVV"></ent-control-messages>
                                                                <ng-container *ngIf="checkAmexCard()"></ng-container>
                                                            </div>
                                                        </ent-skeleton>
                                                    </div>
                                                </div>
                                                <div class="col-12 field-row">
                                                    <ent-skeleton class="col-12 pr-0 pl-0" [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                                        <div class="col-12 pr-0 pl-0">
                                                            <ent-label data="Name on Card" requiredField="required"></ent-label>
                                                            <ent-input [control]="makeCreditCardForm.get('fullName')" type="text" [(ngModel)]="payment.fullName" (input)="restrictInitialSpace($event)" formControlName="fullName"></ent-input>
                                                            <ent-control-messages [control]="makeCreditCardForm.get('fullName')" labelName="Name on card"></ent-control-messages>
                                                        </div>
                                                    </ent-skeleton>
                                                </div>
                                                <div *ngIf="(subType !== 'RecurringPayment') && oneTimePaymentIntegration && !securityEngineService.checkVisibility('storeCardForFuture', 'Hide') && type != 'Unidentified'" class="col-12 field-row">
                                                    <div class="col-12 pr-0 pl-0">
                                                        <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [securityName]="'storeCardForFuture'" [appearance]="'h5'" class="skeleton-paragraph-medium">
                                                            <ent-input-checkbox [disabled]="securityEngineService.checkVisibility('storeCardForFuture', 'Disable')" [text]="'Store Card for future Payments'" [(ngModel)]="payment.storeCard" formControlName="storeCard"></ent-input-checkbox>
                                                        </ent-skeleton>
                                                    </div>
                                                </div>
                                                <div class="col-12 alternate-payment-method-btn">
                                                    <div class="col-12 pr-0 pl-0 button-row add-buttons">
                                                        <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK" class="float-left button-xlarge button-outline" (buttonClick)="navigateToSetUpPayment()" buttonType="button"></ent-button>
                                                        <ent-button imagePosition="right" fasName="fa-chevron-circle-right" class="float-right button-xlarge" (buttonClick)="addCreditCard()" [disabled]="!makeCreditCardForm.valid" buttonText="CONTINUE" buttonType="button"></ent-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ent-card>
                                    </form>
                                </ng-template>
                                <ng-template #skeletonLayout>
                                    <div class="col-12 pl-0 pr-0 pt-1">
                                        <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-medium skeleton-field"></ent-skeleton>
                                        <ent-skeleton [loading]="false" [appearance]="'h2'"></ent-skeleton>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #notAvailable>
                <div class="col-xl-8 col-lg-12 col-md-12 col-12">
                    <div class="col-12 app-section min-height-main">
                        <ent-empty-view message="Payment Method is not available" iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>