<div class="ent-sidebar">
    <ul class="side">
        <li *ngFor="let sidebar of sidebarObject" [routerLinkActive]="['active']" [routerLinkActiveOptions]="sidebar.activeOption" [ngClass]="{'active' : sidebar?.active}">
            <a *ngIf="!sidebar?.noLink" [routerLink]="[sidebar.routeUrl]" [queryParams]="sidebar.queryParams">
                <p>{{sidebar.displayText}}</p>
                <ent-image imageUrl="{{sidebar.imageUrl}}" alt="{{sidebar.displayText}}" width="32" height="32"></ent-image>
            </a>
            <a *ngIf="sidebar?.noLink" (click)="navigate(sidebar?.linkUrl)">
                <p>{{sidebar.displayText}}</p>
                <ent-image imageUrl="{{sidebar.imageUrl}}" alt="{{sidebar.displayText}}" width="32" height="32"></ent-image>
            </a>
        </li>
    </ul>
</div>