<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div *ngIf="!securityEngineService.checkVisibility('columnBatchId', 'Hide')" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnBatchId'">
                <span>BATCH ID</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnDate'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnDate'">
                <span>DATE</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnAccumulatedAmount'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnAccumulatedAmount'">
                <span>ACCUMULATED AMOUNT</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnTotalTransactions'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnTotalTransactions'">
                <span>TOTAL TRANSACTIONS</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'columnStatus'" class="col">
            <ent-skeleton [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'columnStatus'">
                <span>STATUS</span>
            </ent-skeleton>
        </div>
        <div *checkPermission="'batchRejectionRowMoreOptions'" class="col-1 text-center"></div>
    </div>
</div>
