<div class="col-12 account-search-result-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div class="col-1">
            <ent-skeleton [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">

            </ent-skeleton>
        </div>
        <div class="col-3">
            <ent-skeleton [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                BANK TYPE
            </ent-skeleton>
        </div>
        <div class="col-2">
            <ent-skeleton [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                ACCOUNT TYPE
            </ent-skeleton>
        </div>
        <div class="col-3">
            <ent-skeleton [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                ACCOUNT NUMBER
            </ent-skeleton>
        </div>
        <div class="col-3">
            <ent-skeleton [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                ROUTING NUMBER
            </ent-skeleton>
        </div>
    </div>
</div>
<div class="col-12 pr-0 pl-0 account-search-result-list payment-profile radio-detail-payment-card">
    <ng-container *ngIf="paymentProfiles?.length > 0 else notFound">
        <div appTabbing *ngFor="let list of paymentProfiles;let i = index" (click)="selectBank(list, i)" class="radio-detail-payment-card-item" [ngClass]="{'active' : i === isBankIndex}">
            <ent-card class="col-12 ent-card-datarow payment-profile-section pr-0 pl-0">
                <div class="col-12 results-section">
                    <div class="col-1">
                        <span class="radio-circle"></span>
                    </div>
                    <div class="col-3">
                        <ent-skeleton [loading]="isPaymentProfilesLoaded" [securityName]="'nameOnAccount'" [appearance]="'template'" [skeletonTemplate]="skeletonProfile">
                            <div class="d-flex align-items-center">
                                <ent-image class="d-none d-lg-block bank-icon" imageUrl="assets/images/icons/{{list?.attributeValue === 'Main Bank' ? 'bank' : 'other-bank'}}.png" [alt]="list?.attributeValue">
                                </ent-image>
                                <span> {{list?.attributeValue}}</span>
                            </div>
                        </ent-skeleton>
                    </div>
                    <div class="col-2 data">
                        <ent-skeleton [securityName]="'accountType'" [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                            {{list?.bankAccount?.accountType}}
                        </ent-skeleton>
                    </div>
                    <div class="col-3">
                        <ent-skeleton [securityName]="'accountNumber'" [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                            {{list?.bankAccount?.accountNumber}}
                        </ent-skeleton>
                    </div>
                    <div class="col-3">
                        <ent-skeleton [securityName]="'routingNumber'" [loading]="isPaymentProfilesLoaded" class="no-margin-skeleton">
                            {{list?.bankAccount?.routingNumber}}
                        </ent-skeleton>
                    </div>
                </div>
            </ent-card>
        </div>
    </ng-container>

    <ng-template #skeletonProfile>
        <div class="col-12 pr-0 pl-0 name">
            <div class="">
                <ent-skeleton [loading]="false" [appearance]="'avatar'" class="skeleton-avatar-small"></ent-skeleton>
            </div>
            <div class="">
                <ent-skeleton [loading]="false" class="skeleton-layout no-margin-skeleton"></ent-skeleton>
            </div>
        </div>
    </ng-template>

    <ng-template #notFound>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view message="No Payment profiles To Display" iconUrl="assets/images/icons/no-statements.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>
</div>
<ent-pagination [hidden]="!(paymentProfiles && paymentProfiles.length > 0) || !isPaymentProfilesLoaded" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
