@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .payment-profile {
        .radio-detail-payment-card-item {
            &.active {
                .ent-card {
                    position: relative;
                    &::before {
                        @include pseudo(absolute, 15%, false, 30px, false, false);
                    }
                }
            }
        }
        .payment-profile-section {
            .bank-icon {
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            span {
                @include space(padding, left, 10px);
            }
            .radio-circle {
                margin-left: 15px;
            }
        }
    }
}