<div *ngIf="quotePlanList?.length > 0" class="col-12 quote-schedule-section pr-0 pl-0">
    <ent-card class="quote-schedule-type-section" *ngFor="let plan of quotePlanList; let i = index">
        <div class="plan-detail">
            <span *ngIf="plan?.isCurrentPlan" class="price-tag bg-dark-green ">Active Plan</span>
            <ent-skeleton [loading]="isQuotePlanListLoaded">
                <label class="text-font-size-lg font-weight-bold w-70 mb-0 word-break">{{plan?.accountPlan}}</label>
            </ent-skeleton>
        </div>
        <br><br>
        <div class="col-12 pr-0 pl-0">
            <ent-skeleton *checkPermission="'planDetails'" [loading]="isQuotePlanListLoaded" [securityName]="'planDetails'">
               <span class="field-row pt-3 d-inline-flex">
                    <a (click)="details(plan?.accountPlan)" class="link-highlighted text-font-size-lg font-weight-bold">Plan Details
                        <span title="View Plan Details" class="fas fa-external-link-alt text-font-size-sm pl-3 pt-2"></span>
                    </a>
               </span>
            </ent-skeleton>
            <ng-container *ngIf="isShowSelectPayment">
                <ent-button [disabled]="!isQuotePlanListLoaded || isDisabled" buttonText="{{plan?.isCurrentPlan ? 'PAY' : 'SELECT & PAY'}}" imagePosition="right" fasName="fa-chevron-circle-right" class="button-full" buttonType="button" (buttonClick)="selectPlan(plan?.accountPlan, i)"></ent-button>
            </ng-container>
        </div>
    </ent-card>
</div>
<div *ngIf="isQuotePlanListError" class="col-12 pr-0 pl-0 no-profile-msg">
    <span class="text-font-size-sm text-dark-red">Account Balance Details not available. Try again later</span>
</div>
<ent-modal class="modal-xxxlarge" #quoteSchedulePreviewModel></ent-modal>
