<div class="col-12">
    <div class="row">
        <div class="col-5 p-0 field-row">
            <ent-label data="Select from contracts" requiredField="required"></ent-label>
            <ent-select [isAutoFocus]="true" #selectContract [url]="apiUrlContract" placeholder="Search by Contract Number" [displayField]="'contractNumber'" [size]="'5'" (selectedValue)="selectedContract($event)" [applyQueryParamOnSearch]="'_score'" [selectRequired]="true">
                <ul class="select-list-item">
                    <li *ngFor="let item of selectContract.dropdownItems, let i = index" (click)="selectContract.itemSelected(item, i)">
                        <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                            <span class="title-name">{{item?.name || item}} <span
                  *ngIf="item?.contractNumber">({{item?.contractNumber}})</span></span>
                            <br *ngIf="item.address">
                            <span>{{item?.address}}</span>
                        </a>
                    </li>
                </ul>
            </ent-select>
        </div>
        <div class="col-7 field-row" *ngIf="contractSelected?.contractId">
            <div class="col-12 mt-4 pl-0 pr-0">
                <strong class="ent-label-text">
          <app-name-display [nameOnly]="true" [name]="contractSelected?.name"
            [number]="contractSelected?.contractNumber" [popoverPlacement]="'bottom'" [length]="50"></app-name-display>
        </strong>
                <small class="sub-title">{{contractSelected?.address}}</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="contractSelected?.contractId" class="col-12 pr-0 pl-0">
            <app-payment-profile [contract]="contractSelected" (selectedProfile)="selectedProfile($event)">
            </app-payment-profile>
        </div>
    </div>
</div>
