<div class="edit-batch-total-form">
    <form [formGroup]="editBatchTotalForm" (submit)="saveBatchTotal()" rule="form" novalidate>
       <div class="row">
            <div class="col-12 field-row">
                <div class="row">
                    <div class="col-5">
                        <ent-label requiredField="required" [data]="'Batch Total :'"></ent-label>
                    </div>
                    <div class="col-7">
                        <ent-input [isAutoFocus]="true" type="number" [(ngModel)]="batchAmount" formControlName="batchAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')"></ent-input>
                        <ent-control-messages [control]="editBatchTotalForm.get('batchAmount')" labelName="Batch Total"></ent-control-messages>
                    </div>
                </div>
            </div>
            <div class="col-12 field-row" *ngIf="multiCurrencyEnabled">
                <div class="row">
                    <div class="col-5">
                        <ent-label requiredField="required" [data]="'Currency :'"></ent-label>
                    </div>
                    <div class="col-7">
                        <ent-dropdown [disabledField]="true" [dropdownItems]="currencyDropdown" [(ngModel)]="currency" formControlName="currency" type="select" [control]="editBatchTotalForm.get('currency')"></ent-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button class="button-xlarge" buttonText="SUBMIT" [disabled]="!editBatchTotalForm.valid" buttonType="submit"></ent-button>
            </div>
       </div>
    </form>
</div>