.account-search-result-list {
  @extend .table-list;
  .name {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    & > div:first-child {
      width: auto;
    }
    & > div:last-child {
      width: calc(100% - 35px);
    }
    .avatar-icon {
      img {
        width: 2.5em;
        height: 2.5em;
        @include space(margin, right, $xxs);
        border-radius: 50%;
      }
    }
  }
  .data {
    .icons {
      width: auto;
      @include custom-font-size(15px);
      @include space(margin, right, 5px);
    }
  }
}

.include-exclude {
  .list-group-item {
      border: none;
      border-bottom: 1px solid #ddd;
      @include custom-font-size($font-size-base, $black-color, $font-normal);
      &:hover, 
      &:focus-visible {
          background-color: $hover-color;
          color: $black-color;
      }
      &.active{
          background-color: $theme-primary-color;
          border: 1px solid $theme-primary-color;
          &:hover {
              color: $white-color;
          }
      }
  }
  .list-view {
      min-width: 41.66666667%;
      min-height: 200px;
      max-height: 200px;
      @include space(padding, all, 0);
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: auto;
      font-size: 12px;
  }
  .btn-style{
      @include space (margin, bottom, 3rem);
      @include space (margin, top, 4rem);
      display: block;
  }
}
