.dashboard-header {
    @include space(margin, top, 100px);
    @include space(padding, top, $small + $xs !important);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .dashboard-flex {
        width: 30%;
        @include space(margin, right, 10px);
        background-color: $white-color;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
        box-sizing: border-box;
        transition: box-shadow 0.5s;
        height: 390px;
        padding-bottom: 48px;
        position: relative;
        .image {
            text-align: center;
            display: block;
            padding-top: 15px;
            img {
                width: 50px;
                height: 50px;
            }
        }
        .title {
            @include custom-font-size(1.5rem, false, $font-normal);
            @include space(margin, all, 0px);
            @include padding(25px, 0, 25px, 0);
            text-transform: none;
            text-align: center;
            &:hover {
                color: $theme-primary-color;
            }
        }
        a {
            bottom: 0;
            border-top: 0.5px solid $gray-color-400;
            background-color: $gray-color-100;
            box-sizing: border-box;
            @include custom-font-size($font-size-lg, $black-color, $font-normal, 4.8rem);
            @include pseudo(absolute, false, 0, 0, false, false);
            text-align: center;
            @include space(padding, right, 10px);
        }
        .description {
            @include custom-font-size($font-size-base, $black-color, $font-normal, 2.2rem);
            @include padding(0, 16px, 0, 16px);
            @include space(margin, all, 0px);
            text-align: center;
        }
        &:hover,
        &:focus {
            cursor: pointer;
            box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);  
            a {
                line-height: 4.8rem;
                background: $button-background-color radial-gradient(circle, transparent 1%, $button-hover-background-color 1%) center/15000%;
                background-color: $button-background-color;
                color: $button-text-color !important;
            }
            .title {
                color: $button-background-color;
            }
        }
        &:focus-visible{
            transition: none;
            box-shadow: $input-focus-box-shadow;
        }
    }
    .disable-security-options {
        background-color: $disable-color !important;
        opacity: 0.7;
        cursor: not-allowed;
        .title, a {
            color: initial !important;
        }
    }
    .skeleton-title {
        border-top: 0.5px solid $gray-color-400;
        background-color: $gray-color-100;
        box-sizing: border-box;
        @include pseudo(absolute, false, 0, 0, false, false);
        .ent-skeleton {
            @include space(padding, top, $xs + $xs);
        }
    }
    .description-skeleton {
        height: 170px;
        .ent-skeleton {
            @include space(padding, top, 8px);
        }
    }
}

.security-icon {
    @include pseudo(absolute, 90px, 15px, false, false, false);
}