.make-account-payment {
    .common-fixed-header {
        .sub-fixed-header {
            top: 120px !important;
        }
        .client-info-section {
            @include space(padding, top, 30px);
        }
    }
    .make-payment {
        position: absolute;
        z-index: -1;
    }
    .header-title {
        top: 10px !important;
    }
    .payment-section {
        @include space(padding, top, 100px);
        .client-info-section {
            .preview-client-icon {
                img {
                    height: 76px;
                    border-radius: 50%;
                    width: 76px;
                }
            }
            .profile-title {
                font-weight: 600;
                .main-title {
                    display: inline-block;
                    @include custom-font-size($font-size-base);
                    cursor: default;
                }
                .sub-title {
                    height: auto;
                    @include custom-font-size($font-size-base);
                    line-height: 20px;
                    color: $black-color;
                    font-weight: normal;
                }
                strong {
                    @include custom-font-size($font-size-base);
                }
            }
            .payment-btn-group {
                .btn-group {
                    .btn-default {
                        @include padding(10px, 10px, 10px, 10px);
                        font-weight: $font-bold;
                        @include custom-font-size($font-size-base);
                        border-radius: 0;
                        border: 1px solid $light-grey-clr;
                        &.active {
                            cursor: not-allowed;
                            pointer-events: none;
                            background-color: $theme-primary-color;
                            color: $white-color;
                            border: 1px solid $theme-primary-color;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        &:focus-visible {
                            box-shadow: $input-focus-box-shadow;
                        }
                        &:disabled {
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
        .payment-amount-section {
            .label-header {
                .label-title-bar {
                    .title-bar {
                        text-transform: capitalize;
                        @include custom-font-size($font-size-base);
                        color: $black-color;
                        font-weight: $font-bold;
                    }
                }
            }
        }
        .payment-method-section {
            .label-header {
                @include space(padding, top, 0 !important);
                @include space(padding, bottom, 0 !important);
                .label-title-bar {
                    .title-bar {
                        text-transform: capitalize;
                        @include custom-font-size($font-size-base);
                        color: $black-color;
                        font-weight: $font-bold;
                    }
                }
                .amount {
                    .ent-label {
                        @include custom-font-size($font-size-base);
                        line-height: 2;
                    }
                }
                .amount-link {
                    color: $active-border-color;
                    line-height: 2;
                    &:hover {
                        color: $active-border-color;
                    }
                }
                .icon-disabled {
                    color: $gray-color-200;
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
        .deduct-info {
            @include space(margin, left, auto);
            @include space(margin, right, auto);
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            pointer-events: auto;
            @include padding(8px, 8px, 8px, 8px);
        }
        .payment-type-skeleton {
            .ent-skeleton {
                width: 280px;
            }
        }
    }
    .quote-schedule-section {
        display: flex;
        @include space(margin, bottom, 25px);
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        @include space(margin, bottom, 25px);
        .quote-schedule-type-section {
            width: 20%;
            @include space(margin, right, 5px);
            .ent-card {
                @include space(padding, all, $xs + $xxs !important);
                position: relative;
                overflow: hidden;
                &:hover {
                    background: none !important;
                }
                .plan-detail {
                    display: block;
                    @include padding(18px, 12px, 18px, 12px);
                    @include space(margin, all, -15px);
                    background-color: $gray-color-200;
                    height: auto;
                    .amount-label {
                        @include custom-font-size(1.3vw);
                        color: $black-color;
                        .small-font {
                            @include custom-font-size($font-size-base);
                        }
                    }
                    .price-tag {
                        @include pseudo(absolute, 19px, -70px, false, false, false);
                        line-height: 2;
                        color: $white-color;
                        @include custom-font-size($font-size-base);
                        text-align: center;
                        width: 100%;
                        transform: rotate(40deg);
                    }
                }
            }
        }
    }
}
