.step-indicator {
    border-collapse: separate;
    display: table;
    @include space(margin, left, 0px);
    @include pseudo(relative, false, false, false, false, false);
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    @include space(padding, left, 0px);
    @include space(padding, top, 10px);
    @include space(margin, bottom, 0px);
    li {
        display: table-cell;
        @include pseudo(relative, false, false, false, false, false);
        float: none;
        @include space(padding, all, 0px);
        width: 1%;
        [class^="flaticon-"]:before,
        [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after,
        [class*=" flaticon-"]:after {
            @include custom-font-size(30px);
        }
        .ent-svg-icon {
            svg {
                fill: $dark-grey-clr;
                width: 35px !important;
                height: 35px !important;
            }
        }
        &:focus {
            outline: none;
        }
        &:after {
            background-color: $wizard-color-neutral;
            content: "";
            display: block;
            height: 2px;
            @include pseudo(absolute, $wizard-step-width-height/2, false, 50%, false, false);
            width: 100%;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        &.active {
            .step {
                .fas {
                    color: $button-text-color;
                }
                border-color: $button-background-color;
                background: $button-background-color;
            }
            .caption {
                color: $theme-primary-color;
            }
            .ent-svg-icon {
                svg {
                    fill: $button-text-color;
                    width: 35px !important;
                    height: 35px !important;
                }
            }
        }
        &.complete {
            &:after {
                background-color: $dark-green-clr;
            }
            .step {
                .ent-svg-icon {
                    svg {
                        fill: $white-color;
                        width: 35px !important;
                        height: 35px !important;
                    }
                }
                border-color: $dark-green-clr;
                background: $dark-green-clr;
            }
            .caption {
                color: $theme-primary-color;
            }
        }
        &.inprogress {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    .step {
        background-color: $white-color;
        border-radius: 50%;
        border: 1px solid $wizard-color-neutral;
        @include custom-font-size($wizard-step-font-size, $wizard-color-neutral, false, $wizard-step-width-height);
        height: $wizard-step-width-height;
        @include margin(0px, auto, 0px, auto);
        @include pseudo(relative, false, false, false, false, 1);
        width: $wizard-step-width-height;
        // .ent-svg-icon {
        //     svg {
        //         fill: $button-hover-text-color;
        //         width: 35px !important;
        //         height: 35px !important;
        //     }
        // }
        &:hover {
            cursor: pointer;
        }
    }
    .caption {
        color: $wizard-color-neutral;
        @include padding(11px, 16px, 11px, 16px);
    }
}

.step-indicator-small {
    border-collapse: separate;
    display: inline-block;
    @include space(margin, left, 0px);
    @include pseudo(relative, false, false, false, false, false);
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    @include space(padding, left, 0px);
    @include space(padding, top, $xs);
    @include space(margin, bottom, 0px);
    @include margin(0, auto, 0, auto);
    li {
        display: table-cell;
        @include pseudo(relative, false, false, false, false, false);
        float: none;
        @include space(padding, all, 0);
        width: 15%;
        &:focus {
            outline: none;
        }
        &.active {
            pointer-events: none;
            cursor: not-allowed;
            .step {
                border-color: $white-color;
                background-color: $white-color;
            }
        }
        &.complete {
            pointer-events: none;
            cursor: not-allowed;
            &:after {
                border-color: $active-color;
                background-color: $active-color;
            }
            .step {
                border-color: $active-color;
                background-color: $active-color;
            }
        }
        &.inprogress {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    .step {
        background-color: $gray-color-500;
        border-radius: 50%;
        border: 1px solid $gray-color-500;
        color: $wizard-color-neutral;
        height: 12px;
        @include margin(0, auto, 0, auto);
        @include pseudo(relative, false, false, false, false, false);
        width: 12px;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
}