.flipswitch {
    display: flex;
    @include pseudo(relative, false, false, false, false, false);
    width: 195px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    input[type=checkbox] {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }
}

.flipswitch-label {
    display: inline-table;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 2px $toggle-border-color;
    @include space(margin, right, 2px);
    @include space(margin, bottom, 0px);
    border-radius: 50px;
}

.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
        float: left;
        width: 50%;
        height: 31px;
        @include space (padding, all, 0);
        @include custom-font-size ($font-size-base, $white-color, bold, $small + 6px);
        font-family: $app-font-family;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:before {
        content: "Unidentified payments";
        @include space (padding, left, 8px);
        background-color: $toggle-uncheck-background-color;
        color: $toggle-uncheck-color;
    }
    &:after {
        content: "Identified payments";
        @include space (padding, right, 8px);
        background-color: $toggle-checked-background-color;
        color: $toggle-checked-color;
        text-align: right;
    }
}

.flipswitch-switch {
    width: 34px;
    height: 37px;
    @include space (margin, top, -3px);
    background: $light-grey-clr;
    border: 2px solid $toggle-border-color;
    border-radius: 50px;
    @include pseudo(absolute, 0, 164px, false, 0, false);
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked+.flipswitch-label {
    .flipswitch-inner {
        @include space (margin, left, 0px);
    }
    .flipswitch-switch {
        right: 0;
    }
}
.flipswitch-cb:focus-visible~.flipswitch-label:after{
    content: "";
    @include pseudo(absolute, 0, false, 0, false, false);
    width: 100%;
    height: 100%;
    box-shadow: $input-focus-box-shadow;
    outline: none;
}