@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import 'abstracts/functions';
@import "../../../../assets/configuration/theme.json";

//System colors
$theme-colors: (
  "primary":    getSystemColor('other-theme', 'primary-color'),
  "secondary":  getSystemColor('other-theme', 'secondary-color'),
  "success":    getSystemColor('other-theme', 'success-color'),
  "info":       getSystemColor('other-theme', 'info-color'),
  "warning":    getSystemColor('other-theme', 'warning-color'),
  "danger":     getSystemColor('other-theme', 'danger-color')
);

//Bootstrap common theme color
$primary:       theme-color('primary');
$secondary:     theme-color('secondary');
$success:      theme-color('success');
$info:          theme-color('info');
$warning:       theme-color('warning');
$danger:       theme-color('danger');

//Component colors
$light-grey-clr: getCommonColor('other-theme', 'light-grey-color');
$dark-grey-clr: getCommonColor('other-theme', 'dark-grey-color');
$error-msg-color:  getComponentsColor('other-theme', 'form', 'error-msg-color');
$focus-shadow-color: rgba(theme-color('primary'), .25);
$button-text-color:   getComponentsColor('other-theme', 'button-colors', 'button-text-color');
$button-background-color:   getComponentsColor('other-theme', 'button-colors', 'button-background-color');
$button-outline-color:   getComponentsColor('other-theme', 'button-colors', 'button-outline-color');
$button-hover-background-color:   getComponentsColor('other-theme', 'button-colors', 'button-hover-background-color');
$button-hover-border-color:   getComponentsColor('other-theme', 'button-colors', 'button-hover-border-color');
$button-hover-text-color:   getComponentsColor('other-theme', 'button-colors', 'button-hover-text-color');
$link-decoration-val:   getComponentsColor('other-theme', 'link', 'link-decoration');
$link-hover-decoration-val:   getComponentsColor('other-theme', 'link', 'link-hover-decoration');
$link-clr:   getComponentsColor('other-theme', 'link', 'link-color');
$link-hover-clr:   getComponentsColor('other-theme', 'link', 'link-hover-color');
$link-visited-clr:   getComponentsColor('other-theme', 'link', 'link-visited-color');
$checked-checkmark-clr:  getComponentsColor('other-theme', 'checkbox', 'checked-checkmark-color');
$checked-indicator-clr:   getComponentsColor('other-theme', 'checkbox', 'checked-indicator-color');
$checked-border-clr:   getComponentsColor('other-theme', 'checkbox', 'checked-border-color');
$toggle-uncheck-color:   getComponentsColor('other-theme', 'toggle', 'toggle-uncheck-color');
$toggle-uncheck-background-color:   getComponentsColor('other-theme', 'toggle', 'toggle-uncheck-background-color');
$toggle-checked-color:  getComponentsColor('other-theme', 'toggle', 'toggle-checked-color');
$toggle-checked-background-color:   getComponentsColor('other-theme', 'toggle', 'toggle-checked-background-color');
$date-picker-caltable-color:   getComponentsColor('other-theme', 'date-picker', 'date-picker-caltable-color');
$date-picker-selectedday-background-color:  getComponentsColor('other-theme', 'date-picker', 'date-picker-selectedday-background-color');
$date-picker-selectedday-color:   getComponentsColor('other-theme', 'date-picker', 'date-picker-selectedday-color');
$tabs-background-color: getComponentsColor('other-theme', 'tabs', 'tabs-background-color');
$tabs-active-background-color: getComponentsColor('other-theme', 'tabs', 'tabs-active-background-color');
$tabs-active-text-color: getComponentsColor('other-theme', 'tabs', 'tabs-active-text-color');
$tabs-underlined-color: getComponentsColor('other-theme', 'tabs', 'tabs-underlined-color');
$tabs-active-border-color: getComponentsColor('other-theme', 'tabs', 'tabs-active-border-color');
$tabs-border-color: getComponentsColor('other-theme', 'tabs', 'tabs-border-color');
$table-head-bg: getComponentsColor('other-theme', 'table', 'table-parent-header-background-color');
$list-sub-header-color: getComponentsColor('other-theme', 'table', 'table-header-background-color');
$header-background-color: getComponentsColor('other-theme', 'header', 'header-background-color');
$header-text-color: getComponentsColor('other-theme', 'header', 'header-text-color');
//Common colors
$light-green-clr: getCommonColor('other-theme', 'light-green-color');
$light-red-clr: getCommonColor('other-theme', 'light-red-color');
$light-blue-clr: getCommonColor('other-theme', 'light-blue-color');
$light-purple-clr: getCommonColor('other-theme', 'light-purple-color');
$light-yellow-clr: getCommonColor('other-theme', 'light-yellow-color');
$dark-red-clr: getCommonColor('other-theme', 'dark-red-color');
$dark-green-clr: getCommonColor('other-theme', 'dark-green-color');
$dark-blue-clr: getCommonColor('other-theme', 'dark-blue-color');
$dark-orange-clr: getCommonColor('other-theme', 'dark-orange-color');
$dark-purple-clr: getCommonColor('other-theme', 'dark-purple-color');
$dark-yellow-clr: getCommonColor('other-theme', 'dark-yellow-color');
$primary-theme-lighter-color: rgba(theme-color('primary'), .10);
//Bootstrap SASS Theme variable overrides
$font-family-base: map-get(map-get($themes-list, other-theme), base-font-family);
$table-head-color: theme-color('secondary');
$link-color: theme-color('primary');
$link-hover-color: theme-color('primary');
$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;
$link-hover-decoration: none;
$input-focus-border-color: lighten(theme-color('primary'), 25%);
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width $focus-shadow-color;
$popover-arrow-outer-color: theme-color('primary');
$popover-max-width: none;
$modal-md: 600px;
$text-muted: $dark-grey-clr;
//Custom SASS Theme variable define
$font-size-base: 1.0rem;
$icon-size-base: $font-size-base * 1.8;
$icon-size-sm: $font-size-base * 1.5;
$icon-size-lg: $font-size-base * 2.0;
$sort-header-un-active-color: $black;
$sort-header-active-color: theme-color('primary');
/*System Colors  */
$disable-color: getSystemColor('other-theme', 'disable-color');
$hover-color: getSystemColor('other-theme', 'hover-color');

html {
    font-size: $base-font-size;
}

small,
.small {
    font-size: 90% !important;
}

//Independent Components
$row-highlight-color: $light-yellow-clr;
$row-text-highlight-color: $black;
$icon-highlight-color: theme-color('primary');
$profile-active-color: $dark-orange-clr;
$pagination-hover-font-weight: 800;