.pb360-container{
    @include space(margin, top, 60px);
}

.app-section {
    background-color: $white-color;
    @include space(padding, all, $xs + $xxs);
    border-radius: 5px;
    border: 1px solid;
    border-top-color: $border-top-color;
    border-right-color: $border-sides-color;
    border-left-color: $border-sides-color;
    border-bottom-color: $border-bottom-color;
    @include space(margin, bottom, $xs);
    box-sizing: border-box;
}

/* style glyph */
.inner-addon .fas {
    position: absolute;
    @include space(padding, all, 10px);
    pointer-events: none;
    color: $theme-primary-color;
}


/* align glyph */

.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

.right-addon input {
    @include space(padding, right, 30px);
}

.flaticon-hash {
    @include space(margin, top, -2px);
    font-weight: $font-bold;
}

// List Search Styles
.search-section {
    padding-top: 20px;
    padding-bottom: 20px;
    .search-bar {
        float: right;
    }
    .ent-checkbox-field {
        display: flex !important;
    }
}

.pac-container {
    z-index: 100000;
}

.min-height-main {
    min-height: 200px;
}

.line {
    @include space(margin, bottom, 10px);
}

.field-row {
    @include space(margin, bottom, $xs + $xxs);
}

.add-link,
.edit-link {
    float: right;
    text-transform: capitalize;
    &:not(ent-link){
        @extend .link-highlighted;
    }
    @include custom-font-size($font-size-sm, false, $font-bold);
}

.view-link {
    text-transform: capitalize;
    @include custom-font-size($font-size-sm, false, $font-bold);
}

.action-link {
    float: right;
    @include space(padding, top, $xxs);
    text-transform: capitalize;
    @include custom-font-size($font-size-sm, false, $font-bold);
    &:not(ent-link){
        @extend .link-highlighted;
    }
}

.sub-table-pagination {
    @include pseudo(absolute, 5px, 0, false, false, 1);
    @extend .pagination-subtable;
}

.sub-link {
    @extend .add-link;
    @extend .link-highlighted;
    @include space(margin, top, 5px);
    @include space(margin, bottom, 5px);
}

.table-title {
    @include space(margin, bottom, 10px);
    span {
        color: $label-color;
    }
}

.error-message {
    @include custom-font-size($font-size-sm, $error-color);
    @include space(margin, top, 5px);
}

.characters-count {
    @include custom-font-size($font-size-sm, $theme-primary-color);
    @include space(margin, top, 5px);
}

.buttons-block {
    text-align: right;
    @include space(padding, right, 5px);
    @include space(padding, top, 7px);
    width: auto;
}

.word-break{
    word-wrap: break-word;
}

.word-wrap{
    @include word-wrap;
}

.flex-container-center {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
}

.select-list-item {
    list-style: none;
    @include space(padding, left, 0px);
    li {
        a {
            @include padding(3px, 5px, 3px, 5px);
            text-overflow: ellipsis;
            overflow: hidden;
            border-bottom: 1px solid $gray-color-200;
            .title-name {
                font-weight: $font-bolder;
            }
        }
    }
}

.btn-sm {
    button {
        height: 28px;
    }
}

.badge-no-border {
    @include space(padding, all, 0px);
    border: none;
    @include custom-font-size($font-size-base);
    display: inline;
}

.page-content {
    @include space(margin, top, 70px);
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.disable-dropdown-options {
    pointer-events: none;
    cursor: default;
    color: $disable-color !important;
}

.comment-col {
    @include ellipsis(126px);
}
.security-settings-xl {
    position: absolute;
    top: 2px;
    right: 25px;
}

.security-settings-xs {
    float: right;
    top: 10px;
    position: absolute;
    right: -6px;
}

.disable-security-options {
    pointer-events: none;
    cursor: not-allowed;
    color: $disable-color !important;
    .ent-card {
        background-color: $disable-color !important;
        .ent-label, .label-name {
            color: initial !important;
        }
        .radio-circle {
            background-color: $disable-color !important;
        }
    }
    .ent-input-field {
        input {
            background-color: $disable-color !important;
        }
    }
    .checkbox-block {
        .checkmark {
            opacity: 0.34;
        }
    }
    a,
    .fas,
    .far {
        color: $disable-color !important;
        cursor: not-allowed;
        &:visited {
            color: $disable-color !important;
        }
    }
    .ent-date-picker {
        input,
        .mydp,
        .selbtngroup {
            background-color: $disable-color !important;
        }
    }
    .filter-option {
        &:before {
            color: $disable-color !important;
        }
    }
    .flipswitch-label {
        opacity: 0.5;
        outline: none;
    }
    img,
    .ent-number-field {
        opacity: 0.45;
        cursor: not-allowed !important;
    }
    .selected-list {
        .c-btn {
            background-color: $disable-color !important;
        }
    }
}

.non-active-component {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    opacity: 0.65;
    box-shadow: none;
}

.dashed-border-help {
    border-bottom: 1px dashed $gray-color-700;
    &:hover {
        cursor: help;
    }
}

.text-more {
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 0px);
    white-space: nowrap;
    cursor: pointer;
    display: block;
    max-width: 225px;
}

.border-none {
    border: none !important;
}

.table-fixed-header {
    overflow-y: auto; 
    max-height: 400px;
    table {
        border-collapse: collapse; 
        width: 100%;
        thead th {
            position: sticky; 
            top: 0;
            background-color: $list-header-color;
        }
    }
}

pre{
  font-family: $app-font-family !important;
  @include custom-font-size($font-size-base !important);
}

.droparea {
    border: 3px dashed $theme-primary-color;
    background-color: $white-color;
    color: $black-color;
    i {
        color: $theme-primary-color;
    }
}

//Bootstrap Reboot overrides
a {
    color: theme-color('primary');
    text-decoration: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        color: theme-color('primary');
        text-decoration: none;
    }
    &:not([href]),
    &:not([href]):hover,
    &:not([href]):not([class]),
    &:not([href]):not([class]):hover {
        color: theme-color('primary');
        text-decoration: none;
    }
}

*,
*:focus,
*:hover {
    outline: none;
}
*:focus-visible{
    box-shadow: $input-focus-box-shadow;
    outline: none;
}
.btn {
    &:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }
    &:focus, .focus-visible:focus:not(:focus-visible) {
        outline: none;
        box-shadow: $input-focus-box-shadow;
    }
}
small,
.small {
    font-size: 85%;
}

.min-height {
    min-height: 150px;
}