/* You can add global styles to this file, and also import other style files */

@import 'abstracts/functions',
'abstracts/mixins',
'abstracts/placeholders';
@import 'base/reset',
'base/typography',
'base/scroll',
'base/flex-width';
@import 'layout/header',
'layout/spinner',
'layout/filters',
'layout/table-list',
'layout/table-list-flat',
'layout/detail-card',
'layout/filter-checkboxes',
'layout/forms',
'layout/strip-line',
'layout/security-settings',
'layout/btn-switch',
'layout/radio-detail-card';
@import 'components/alert',
'components/badge',
'components/breadcrumb',
'components/buttons',
'components/button',
'components/button-group',
'components/datagrid',
'components/dropdown',
'components/input',
'components/search-input',
'components/text-area',
'components/input-checkbox',
'components/typeahead',
'components/card',
'components/emtpy-view',
'components/export-to-excel',
'components/file-upload',
'components/filter',
'components/filter-dropdown',
'components/header',
'components/label',
'components/link',
'components/menu-items',
'components/navbar',
'components/number-incrementer',
'components/pagination',
'components/date-picker',
'components/sidebar',
'components/popover',
'components/select',
'components/signpost',
'components/status-bar',
'components/tabs',
'components/text',
'components/title-bar',
'components/timeline',
'components/wizard',
'components/wizard-step',
'components/vertical-nav',
"components/skeleton",
"components/copy-to-clipboard",
"components/modal",
"components/name-display.component",
"components/multiselect",
"components/tooltip";
@import 'pages/step-indicator',
'pages/account-search-result-list',
'pages/make-account-payment',
'pages/dashboard',
'pages/toggle-check-box';
@import "bootstrap/scss/bootstrap";
@import "themes/theme";
body {
    font-family: $app-font-family;
    -ms-overflow-style: scrollbar;
    opacity: 1 !important;
}

html {
    scroll-behavior: smooth;
}