<div class="col-12 pr-0 pl-0 accept-form">
    <form [formGroup]="batchActionForm" (submit)="batchPaymentActionSubmit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 accept-header text-center" *ngIf="modalAction === 'Accept'">
                        Are you sure you want to accept the Batch immediately?
                    </div>
                    <div class="col-12" *ngIf="modalAction === 'Deposit' || modalAction === 'AcceptAndDeposit'">
                        <div class="row">
                            <div class="col-6">
                                <ent-label requiredField="required" class="edit-label" data="Deposit Date:"></ent-label>
                            </div>
                            <div class="col-6">
                                <ent-date-picker [isAutoFocus]="true" [currentDate]="systemDate" [(ngModel)]="depositDate" formControlName="depositDate"></ent-date-picker>
                                <ent-control-messages [control]="batchActionForm.get('depositDate')" labelName="Deposit Date">
                                </ent-control-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row add-batch-button" ngPreserveWhitespaces="true">
                <br>
                <ent-button *ngIf="modalAction === 'Accept'" class="button-medium" buttonText="YES" buttonType="submit">
                </ent-button>
                <ent-button *ngIf="modalAction === 'Deposit' || modalAction === 'AcceptAndDeposit'" [disabled]="!batchActionForm.valid" class="button-medium" buttonText="SUBMIT" buttonType="submit">
                </ent-button>
            </div>
        </div>
    </form>
</div>