<div class="ent-dropdown">
    <div class="col-12 pl-0 pr-0">
        <div class="dropdown" [ngClass]="{'inner-addon left-addon': type === 'select'}">
            <div #dropdown class="{{type}}">
                <span *ngIf="prefix" [class.dropdown-text]="prefix" [attr.data-before]="prefix">{{value}}</span>
                <i *ngIf="fasName" class="fas {{fasName}}"></i>
                <div data-display="static" class="filter-status d-flex mt-1" *ngIf="type === 'filter'" data-toggle="dropdown" (click)="openDropdown();onTouched()">
                    <i class="fas fa-caret-down ml-1"></i>
                    <i *ngIf="filterMsg && filterMsg != 'Clear All'" [popoverWidth]="'max-content'" popover="<span class='font-weight-bold'>Filtered with {{filterMsg}}</span>" popoverPlacement="top" [popoverOnHover]="true" class="fas fa-filter ml-0"></i>
                </div>
                <i *ngIf="type === 'select'" [class.float-right]="type === 'select'" class="fas fa-chevron-down caret"></i>
                <button #buttonDropdown isEllipsisActive appAutoFocus [autoFocus]="isAutoFocus" data-toggle-second="tooltip" data-placement="right" *ngIf="type !== 'filter'" type="button" [class.isError]="isError()" (click)="openDropdown(dropdownItems);onTouched()" class="form-control dropdown-toggle" [ngStyle]="{'padding-left':fasName ? '30px' : '12px' }" data-toggle="dropdown" [disabled]="disabledField" (keydown.esc)="dropdownMenuClosingFocus()">
              <span *ngIf="type === 'select'" class="float-left">{{value}}</span>

          </button>
                <ul #menu class="dropdown-menu">
                    <ng-template [ngIf]="dropdownItems">
                        <li *ngFor="let dropdownItem of dropdownItems | orderBy : [displayField] : sort;let i=index" class="dropdown-item" (keydown.esc)="dropdownMenuClosingFocus()">
                            <a id="menuDropdownItem-{{i}}" href="javascript:void(0)" [class.active]="value && (value===dropdownItem[displayField] || value===dropdownItem)" (click)="itemSelected(dropdownItem, i, true)">
                                <span isEllipsisActive data-toggle="tooltip" data-boundary="viewport" data-placement="right" class="dropdown-item-label">{{dropdownItem[displayField] || dropdownItem}}</span>
                            </a>
                            <a #otherInput [class.active]="isOtherSelected" *ngIf="showOthers && i == dropdownItems.length - 1" role="presentation" class="show-others" (click)="othersValueSelected(numberInput)" (keyup)="othersValueInput(numberInput)" role="menuitem ">
                                <div class="col-xl-2 pl-0 pr-0">Other</div>
                                <div class="col-xl-12 pl-0 pr-0">
                                    <ent-input #numberInput name="numberInput" id="numberInput" [placeholder]="currencySymbol(currency)" (keyup)="othersValueInput(numberInput)" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')"></ent-input>
                                </div>
                            </a>
                        </li>
                    </ng-template>
                    <ng-content></ng-content>
                </ul>
            </div>
        </div>
        <div class="float-right">
            <i *ngIf="showClose && value && value.length > 0" appTabbing [isTabbing]="!disabledField" (click)="value = '';clearValues($event);$event.stopPropagation()" class="{{disabledField ? 'disabledClose' : 'fas fa-times close-addon-icon'}}"></i>
        </div>
    </div>
</div>