<div class="col-12 pr-0 pl-0 add-batch-form">
    <form [formGroup]="addBatchForm" (submit)="saveBatchInfo()" rule="form" novalidate>
        <div class="row">
            <div class="col-12 pt-3 field-row">
                <div class="row">
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Entry Date'"></ent-label>
                    </div>
                    <div class="col-8">
                        <ent-date-picker [isAutoFocus]="true" [currentDate]="systemDate" [(ngModel)]="batchRejectionModel.entryDate" formControlName="entryDate">
                        </ent-date-picker>
                        <ent-control-messages [control]="addBatchForm.get('entryDate')" labelName="Entry Date"></ent-control-messages>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button class="button-xlarge" buttonText="ADD BATCH" [disabled]="!addBatchForm.valid" buttonType="submit">
                </ent-button>
            </div>
        </div>
    </form>
</div>
