<div class="col-12 pr-0 pl-0 batch-detail-header">
    <span class="header font-weight-bold">BATCH DETAIL</span>
    <div class="col-12 pt-3">
        <div class="row app-section batch-header bg-primary-theme-lighter">
            <div *checkPermission="'batchId'" class="col">
                <div class="row box-0">
                    <div class="col-12 pl-0 description">
                        Batch ID
                    </div>
                    <div class="col-12 pl-0 number">
                        <ent-skeleton [loading]="isBatchDetailLoaded" [securityName]="'batchId'" class="no-margin-skeleton pt-2">
                            {{batchDetail?.batchId}}
                        </ent-skeleton>
                    </div>
                </div>
            </div>
            <div *checkPermission="'entryDate'" class="col-4">
                <div class="row box-0">
                    <div class="col-12 pl-0 description">
                        Entry Date
                    </div>
                    <div class="col-12 pl-0 number">
                        <ent-skeleton [loading]="isBatchDetailLoaded" [securityName]="'entryDate'" class="no-margin-skeleton pt-2">
                            {{batchDetail?.entryDate | date:'MMM dd, yyyy'}}
                        </ent-skeleton>
                    </div>
                </div>
            </div>
            <div *checkPermission="'accumulatedTotal'" class="col">
                <div class="row box-0">
                    <div class="col-12 pl-0 description">
                        Accumulated Total
                    </div>
                    <div class="col-12 pl-0 number current-balance-amounts">
                        <ent-skeleton [loading]="isBatchDetailLoaded" [securityName]="'accumulatedTotal'" class="no-margin-skeleton pt-2">
                            <span> {{batchDetail?.accumulatedAmount || '0' | currency:'USD'}} </span>
                        </ent-skeleton>
                    </div>
                </div>
            </div>
            <div class="col-2 text-center mt-2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">
                <ent-skeleton [loading]="isBatchDetailLoaded" [securityName]="'batchDetail'" class="no-margin-skeleton pt-2">
                    <a *checkPermission="'accept'" class="link-highlighted" [class.disable-dropdown-options]="(batchDetail?.numberOfTransactions == 0 && !batchDetail?.isAccept) || securityEngineService.checkVisibility('accept', 'Disable')" (click)="openAcceptDepositModal(batchDetail)"><strong>Accept</strong></a>
                    <span class="pl-3">
                        <ent-image appTabbing *checkPermission="'downloadBatchDetails'" title="Download Batch Details" (click)="getContentToExport()" class="excel-icon" imageUrl="assets/images/icons/excel.svg" alt="Excel"></ent-image>
                    </span>
                </ent-skeleton>
            </div>
        </div>
    </div>
</div>


<ent-modal #batchRejectionAcceptModal (modalOutput)="batchAcceptAction($event)"></ent-modal>
