@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .batch-detail-header {
        &:before {
            display: table;
            content: " ";
        }
        .header {
            @include custom-font-size($font-size-base);
            font-weight: 600;
        }
        .box-0 {
            text-align: left;
            .number {
                @include space(padding, bottom, 0);
                @include custom-font-size($font-size-base);
                .edit-link {
                    float: none;
                    @include space(padding, left, $xs);
                }
            }
            .description {
                @include space(padding, bottom, 0);
                font-weight: normal;
                @include custom-font-size($font-size-base);
            }
        }
        .excel-icon {
            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
    /* ----------- iPad 1, 2, Mini and Air ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .boxes {
            div:nth-child(n) {
                @include space(padding, right, $xs + $xxs !important);
            }
        }
    }
}
