@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .payments-received {
        @include pseudo(relative, false, false, false, false, false);
        .message {
            @include pseudo(absolute, -205px, 0, 0, false, false);
            font-weight: bold;
            @include custom-font-size($font-size-base);
            float: left;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            pointer-events: auto;
            @include padding(5px, 10px, 5px, 15px);
            width: 25em;
            z-index: 99;
            @include space (margin, left, auto);
            @include space (margin, right, auto);
        }
        .row-custom {
            @include space (margin, right, -20px);
            @include space (margin, left, -20px);
        }
        .preview-info {
            tbody {
                tr {
                    td {
                        &.bank-icon {
                            img {
                                @include space (padding, right, $xs);
                                width: 32px;
                                height: 32px;
                            }
                        }
                        &.paypal-icon {
                            img {
                                @include space (padding, right, $xs);
                                width: 80px;
                                height: 32px;
                            }
                        }
                        &.credit-icon {
                            @include space (padding, top, 0px);
                            @include space (padding, bottom, 0px);
                            img {
                                @include space (margin, right, 5px);
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                }
            }
        }
    }
}
