<div class="col-12 pr-0 pl-0 payments-received">
    <div class="row">
        <span *ngIf="isEmailSent" class="message text-primary bg-light-grey">
            Email sent to {{payorEmail}}
        </span>
        <div class="col-12 pr-0 pl-0">
            <div class="row row-custom detail-card">
                <table class="preview-info detail-card-table">
                    <tbody>
                        <tr *ngIf='paymentReceived?.transactionId'>
                            <td>
                                Transaction ID:
                            </td>
                            <td>
                                <span>
                                    {{paymentReceived?.transactionId}}
                                </span>
                            </td>
                        </tr>
                        <tr *checkPermission="'payor'" [class.d-none]="type === 'Unidentified'">
                            <td>
                                {{paymentReceived?.paymentDoneType === 'Commission' ? 'Payee ' : 'Payor'}}:
                            </td>
                            <td>
                                <span>
                                    <app-name-display [nameOnly]="true" [name]="payorName" [length]="30">
                                    </app-name-display>
                                </span>
                            </td>
                        </tr>
                        <tr *checkPermission="'accountNumber'" [class.d-none]="type === 'Unidentified'">
                            <td>
                                Account Number:
                            </td>
                            <ng-container *ngIf="paymentReceived?.paymentMethod !== 'Agency Sweep' else bankPayment">
                                <td>
                                    <span>
                                        {{accountDetails?.accountNumber}}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-template #bankPayment>
                                <td>
                                    <span>
                                        {{paymentReceived?.identifier}}
                                    </span>
                                </td>
                            </ng-template>
                        </tr>
                        <tr *ngIf="type === 'Unidentified' && policyNumber">
                            <td>
                                Policy Number:
                            </td>
                            <td>
                                <span>
                                    {{policyNumber}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="type === 'Unidentified' && policySymbol && !securityEngineService.checkVisibility('policyPaymentPolicySymbolReceived', 'Hide')">
                            <td>
                                Policy Symbol:
                            </td>
                            <td>
                                <span>
                                    {{policySymbol}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="type === 'Unidentified' && identifier && ((isPolicyUnidentifiedPayment && !securityEngineService.checkVisibility('policyPaymentAccountNumberReceived', 'Hide')) || (!isPolicyUnidentifiedPayment && !securityEngineService.checkVisibility('billAccountPaymentAccountNumber', 'Hide')))">
                            <td>
                                Account Number:
                            </td>
                            <td>
                                <span>
                                    {{identifier}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="paymentReceived?.paymentMethod == 'Agency Sweep'">
                            <td>
                                Agent Number:
                            </td>
                            <td>
                                <span>
                                    {{paymentReceived?.agencyNumber}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf='paymentReceived'>
                            <td>
                                Payment Method:
                            </td>
                            <ng-container *ngIf="(paymentReceived?.paymentMethod === propertyName?.PaypalCredit || paymentReceived?.paymentMethod === propertyName?.Paypal)">
                                <td class="paypal-icon">
                                    <ent-image [alt]="paymentReceived?.paymentType" imageUrl="assets/images/bank/{{paymentReceived?.walletType }}.svg">
                                    </ent-image>
                                    <span *ngIf="paymentReceived?.walletIdentifier">with
                                        <app-name-display style="display: inline-block; line-height:0.7" [nameOnly]="true" popoverPlacement="top"
                                        [name]="paymentReceived?.walletIdentifier" [maxWidth]="175" [length]="30">
                                    </app-name-display>
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="(paymentReceived?.paymentMethod !== propertyName?.PaypalCredit && paymentReceived?.paymentMethod !== propertyName?.Paypal)">
                                <ng-container *ngIf="paymentReceived?.paymentMethod !== 'Agency Sweep' else bankPayment">
                                    <td class="{{(paymentReceived?.paymentMethod === 'Credit Card' ? 'credit-icon' : 'bank-icon')}}">
                                        <ent-image [alt]="(paymentReceived?.paymentMethod === 'Credit Card' ? paymentReceived?.creditCardType : paymentReceived?.accountType)" imageUrl="assets/images/bank/{{paymentReceived?.paymentMethod === 'Credit Card' ? paymentReceived?.creditCardType : 'bank'}}.svg">
                                        </ent-image>
                                        <span>
                                            {{paymentReceived?.paymentMethod}} ending with {{paymentReceived?.paymentMethod
                                            === 'Credit Card' ?
                                            paymentReceived?.creditCardNumber?.substr(paymentReceived?.creditCardNumber.length
                                            - 4)
                                            :
                                            paymentReceived?.bankAccountNumber?.substr(paymentReceived?.bankAccountNumber.length
                                            -
                                            4)}}
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-template #bankPayment>
                                    <td class="bank-icon">
                                        <ent-image [alt]="paymentReceived?.paymentType" imageUrl="assets/images/bank/bank.svg">
                                        </ent-image>
                                        <span>
                                            {{paymentReceived?.paymentMethod}} ending with
                                            {{paymentReceived?.bankAccountNumber?.substr(paymentReceived?.bankAccountNumber.length
                                            -
                                            4)}}
                                        </span>
                                    </td>
                                </ng-template>
                            </ng-container>
                        </tr>
                        <tr *ngIf='paymentReceived?.paymentAmount'>
                            <td>
                                Paid Amount:
                            </td>
                            <td>
                                <span>
                                    {{paymentReceived?.paymentAmount | currency:currency}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="(type !== 'Unidentified' && paymentReceived?.paymentModelType !== 'subscriptions' && !securityEngineService.checkVisibility('paymentDate', 'Hide'))
                                || (type === 'Unidentified' && isPolicyUnidentifiedPayment && !securityEngineService.checkVisibility('policyPaymentPaymentDate', 'Hide'))
                                || (type === 'Unidentified' && !isPolicyUnidentifiedPayment && !securityEngineService.checkVisibility('billAccountPaymentPaymentDate', 'Hide'))">
                            <td>
                                Payment Date:
                            </td>
                            <td>
                                <span>
                                    {{systemDate | date:'MM/dd/yyyy'}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" *ngIf="isEmail">
                <div class="col-12">
                    <ent-label [data]="'Please enter the email.'"></ent-label>
                    <ent-input type="text" [(ngModel)]="payorEmail"></ent-input>
                </div>
            </div>
        </div>
        <div class="col-12 button-row add-buttons mt-3" ngPreserveWhitespaces="true">
            <ng-container *ngIf="paymentReceived?.paymentMethod != 'Agency Sweep'">
                <ng-container *ngIf="paymentReceived?.paymentModelType !== 'subscriptions'">
                    <div *ngIf="type != 'Unidentified'" [ngClass]="{'field-row': !(securityEngineService.checkVisibility('printReceipt', 'Hide') && securityEngineService.checkVisibility('emailReceipt', 'Hide'))}">
                        <ent-button *ngIf="paymentReceived && !securityEngineService.checkVisibility('printReceipt', 'Hide')" [disabled]="securityEngineService.checkVisibility('printReceipt', 'Disable')" imagePosition="right" fasName="fas fa-print" class="button-xxlarge" buttonText="PRINT RECEIPT"
                            (buttonClick)="print()"></ent-button>
                        <ent-button *ngIf="paymentReceived && !securityEngineService.checkVisibility('emailReceipt', 'Hide')" [disabled]="securityEngineService.checkVisibility('emailReceipt', 'Disable')" imagePosition="right" fasName="fas fa-paper-plane" class="button-xxlarge"
                            buttonText="EMAIL RECEIPT" (buttonClick)="email()"></ent-button>
                    </div>
                </ng-container>
            </ng-container>
            <ent-button *ngIf='!paymentReceived' imagePosition="left" fasName="fa-chevron-circle-left" class="button-xlarge" buttonText="RETURN" (buttonClick)="dismiss()"></ent-button>
            <ent-button *ngIf='paymentReceived' class="button-full" buttonText="DONE" (buttonClick)="onSuccessNavigate()">
            </ent-button>
        </div>
    </div>
</div>