<app-security-sidebar [sectionName]="'Batch Rejection Summary'"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" [name]="'BATCH REJECTION SUMMARY'"></ent-header>

    <div class="container">
        <div class="row pt-2">
            <div *ngIf="securityEngineService?.roleSequenceId" class="col-12 text-right" [ngClass]="{'line': securityEngineService.checkVisibility('batchDetail', 'Hide')}">
                <a (click)="openSecurity('epBatchRejectionSummary')"><span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span></a>
            </div>
            <div *checkPermission="'batchDetail'" class="col-12">
                <app-batch-details (reloadSummary)="reloadSummary($event)" #balances [batchDetail]="batchDetail" [systemDate]="systemDate" (downloadReportExcel)="downloadReportExcel()" [isBatchDetailLoaded]="isBatchDetailLoaded"></app-batch-details>
            </div>
            <div class="col-12 line d-flex justify-content-end">
                <ent-button *checkPermission="'addBatchEntry'" [disabled]="securityEngineService.checkVisibility('addBatchEntry', 'Disable')" class="button-auto" buttonText="ADD BATCH ENTRY" (buttonClick)="addBatchEntry()"></ent-button>
                <span *ngIf="securityEngineService?.roleSequenceId" class="pl-3 pt-2"><a class="fas fa-cog search-security-icon setting-icon" (click)="openSecurity('epBatchRejectionSummary', 'tableSection')" aria-hidden="true"></a></span>
            </div>
            <div *ngIf="batchPaymentList?.length > 0 && !securityEngineService.checkVisibility('batchEntryResultTable', 'Hide')" class="col-12">
                <app-batch-entry-header></app-batch-entry-header>
            </div>
            <div class="col-12">
                <app-batch-entry-results (reloadSummary)="reloadSummary($event)" #resultList [batchId]="batchId" [entryDate]="entryDate" [batchDetail]="batchDetail" [page]="page" [size]="size" (isStatementsEmpty)="isStatementsEmpty($event)">
                </app-batch-entry-results>
            </div>
        </div>
    </div>
</div>