<div class="col-12 pr-0 pl-0 payment-details-summary">
    <div class="row">
        <div class="col-12">
            <div class="col-12 pr-0">
                <div class="row">
                    <ent-skeleton *checkPermission="'type'" class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [securityName]="'type'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Type :"></ent-label>
                            <span [ngStyle]="{'margin-left':'10px'}" class="badge-{{removeSpaces(paymentDetails?.identifierType)}}">
                          {{paymentDetails?.identifierType}}
                          </span>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'PaymentIdentifier'" class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [securityName]="'PaymentIdentifier'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Identifier : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.identifier"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Payment Date : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.paymentDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentAmount'" class="col-3 pl-0" [loading]="paymentDetails && isAccountNumber" [securityName]="'paymentAmount'" [skeletonTemplate]="skeletonHeaderLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="ent-label-inline-bold" data="Payment Amount : "></ent-label>
                            <ent-text className="ent-text-inline" [text]="paymentDetails?.paymentAmount | currency:paymentDetails?.currency"></ent-text>
                        </div>
                    </ent-skeleton>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="strip-line mb-0"></div>
        </div>
        <div class="col-12 line">
            <div class="col-12 pl-0">
                <div class="row">
                    <ent-skeleton *checkPermission="'payorName'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [securityName]="'payorName'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payor Name"></ent-label>
                            <app-name-display [nameOnly]="true" [name]="paymentDetails?.payorName" [maxWidth]="170" [length]="30"></app-name-display>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Posted Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.postedDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentType'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [securityName]="'paymentType'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Type"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.paymentType"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Method"></ent-label>
                            <ng-container *ngIf="paymentDetails?.paymentMethod === 'Bank Account' else creditCardPayment">
                                <ent-image class="bank-icon" [alt]="paymentDetails?.paymentMethod" imageUrl="assets/images/bank/bank.svg">
                                </ent-image>
                                <ent-text className="ent-text-inline" text="{{paymentDetails?.paymentMethod}} ending with
                              {{paymentDetails?.bankAccountNumber?.substr(paymentDetails?.bankAccountNumber.length - 4)}}">
                                </ent-text>
                            </ng-container>
                            <ng-template #creditCardPayment>
                                <ng-container *ngIf="paymentDetails?.paymentMethod === 'Credit Card' else batchPayment">
                                    <ent-image class="credit-icon" [alt]="paymentDetails?.creditCardType" imageUrl="assets/images/bank/{{paymentDetails?.creditCardType}}.svg">
                                    </ent-image>
                                    <ent-text className="ent-text-inline" text="{{paymentDetails?.paymentMethod}} ending with
                                        {{paymentDetails?.creditCardNumber?.substr(paymentDetails?.creditCardNumber.length - 4)}}">
                                    </ent-text>
                                </ng-container>
                                <ng-template #batchPayment>
                                    <ng-container *ngIf="(paymentDetails?.paymentMethod !== propertyName?.PaypalCredit && paymentDetails?.paymentMethod !== propertyName?.Paypal)">
                                         <ent-text className="ent-text" [text]="paymentDetails?.paymentMethod"></ent-text>
                                    </ng-container>
                                    <ng-container *ngIf="(paymentDetails?.paymentMethod === propertyName?.PaypalCredit || paymentDetails?.paymentMethod === propertyName?.Paypal)">
                                        <ent-image class="paypal-icon" [alt]="paymentDetails?.paymentType" imageUrl="assets/images/bank/{{paymentDetails?.walletType }}.svg">
                                        </ent-image>
                                        <span *ngIf="paymentDetails?.walletIdentifier">with 
                                            <app-name-display style="display: inline-block; line-height:0.7" [nameOnly]="true" popoverPlacement="top"
                                                  [name]="paymentDetails?.walletIdentifier" [maxWidth]="160" [length]="30">
                                           </app-name-display>
                                        </span>
                                    </ng-container>
                                </ng-template>
                            </ng-template>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'paymentDescription'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [securityName]="'paymentDescription'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment Description"></ent-label>
                            <ent-text className="ent-text rect-{{removeSpaces(paymentDetails?.status || 'Applied')}}" [text]="(paymentDetails?.status ? paymentDetails?.status : 'Applied')">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Postmark Date"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.postmarkDate | date:'MM/dd/yyyy'"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Payment ID"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.paymentId"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ng-container *ngIf="paymentDetails?.paymentMethod === 'Credit Card' else bankPayment">
                                <ent-label className="font-weight-bold" data="Auth Code"></ent-label>
                                <ent-text className="ent-text" [text]="paymentDetails?.authorization"></ent-text>
                            </ng-container>
                            <ng-template #bankPayment>
                                <ent-label className="font-weight-bold" data="Account Type"></ent-label>
                                <ent-text className="ent-text" [text]="paymentDetails?.accountType"></ent-text>
                            </ng-template>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'suspenseAmount'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [securityName]="'suspenseAmount'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Suspense Amount"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.suspenseAmount | currency:paymentDetails?.currency">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Applied Amount"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.appliedAmount | currency:paymentDetails?.currency">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Disbursed Amount"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.disbursedAmount | currency:paymentDetails?.currency">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Write Off Amount"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.writeOffAmount | currency:paymentDetails?.currency">
                            </ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton *checkPermission="'batchID'" class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [securityName]="'batchID'" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="Batch ID"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.batchId"></ent-text>
                        </div>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <ng-container *ngIf="paymentDetails?.depositBank else controlbank">
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="font-weight-bold" data="Deposit Bank"></ent-label>
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true" popover="<strong class='bank-detail-section'>Control Bank:</strong> <span class='bank-value'> {{paymentDetails?.controlBank}}</span>" popoverPlacement="bottom"> {{paymentDetails?.depositBank}}
                                </span>
                            </div>
                        </ng-container>
                        <ng-template #controlbank>
                            <div class="col-12 pr-0 pl-0">
                                <ent-label className="font-weight-bold" data="Control Bank"></ent-label>
                                <ent-text className="ent-text" [text]="paymentDetails?.controlBank"></ent-text>
                            </div>
                        </ng-template>
                    </ent-skeleton>
                    <ent-skeleton class="col-3 pr-0 mt-3" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="skeletonLayout" [appearance]="'template'">
                        <div class="col-12 pr-0 pl-0">
                            <ent-label className="font-weight-bold" data="User Name"></ent-label>
                            <ent-text className="ent-text" [text]="paymentDetails?.userName"></ent-text>
                        </div>
                    </ent-skeleton>
                </div>
            </div>
        </div>
        <ng-container *ngIf="paymentDetails?.receivedAmount && paymentDetails?.receivedCurrency && paymentDetails?.rate">
            <div class="col-12">
                <div class="strip-line mt-0"></div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <ent-label className="ent-label-inline-bold" data="Received Currency :"></ent-label>
                        <ent-text className="ent-text-inline" [text]="paymentDetails?.receivedCurrency"></ent-text>
                    </div>
                    <div class="col-3">
                        <ent-label className="ent-label-inline-bold" data="Received Amount :"></ent-label>
                        <ent-text className="ent-text-inline" [text]="paymentDetails?.receivedAmount | currency: paymentDetails?.receivedCurrency"></ent-text>
                    </div>
                    <div class="col-3">
                        <ent-label className="ent-label-inline-bold" data="Exchange Rate :"></ent-label>
                        <ent-text className="ent-text-inline" [text]="paymentDetails?.rate"></ent-text>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails?.paymentComments">
            <div *ngIf="paymentDetails?.paymentComments" class="col-12">
                <div class="strip-line" [ngClass]="{'mt-0': !paymentDetails?.receivedAmount && !paymentDetails?.receivedCurrency && !paymentDetails?.rate}"></div>
            </div>
            <div class="col-12 line">
                <ent-skeleton class="col-12 pr-0 pl-0" [loading]="paymentDetails && isAccountNumber" [skeletonTemplate]="commentsSkeletonLayout" [appearance]="'template'">
                    <div class="col-12 pr-0 pl-0">
                        <ent-label className="font-weight-bold" data="Comment"></ent-label>
                        <ent-text className="ent-text" [text]="paymentDetails?.paymentComments"></ent-text>
                    </div>
                </ent-skeleton>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #notFound>
    <div class="col-12 pr-0 pl-0 app-section min-height">
        <ent-empty-view message="Payment Details is not available." iconUrl="assets/images/icons/no-statements.png">
        </ent-empty-view>
    </div>
</ng-template>
<ng-template #skeletonLayout>
    <div class="col-12 pl-0 pr-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
        <ent-skeleton [loading]="false" [appearance]="'h6'"></ent-skeleton>
    </div>
</ng-template>
<ng-template #skeletonHeaderLayout>
    <div class="col-12 pl-0 pr-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
    </div>
</ng-template>
<ng-template #commentsSkeletonLayout>
    <div class="col-12 pr-0 pl-0">
        <ent-skeleton [loading]="false" [appearance]="'h5'" class="skeleton-paragraph-short">
        </ent-skeleton>
        <ent-skeleton [loading]="false" [appearance]="'h6'"></ent-skeleton>
    </div>
</ng-template>