<div class="ent-number-field col-12">
    <button class="fas fa-minus-circle nf-control" type="button" (click)="decrease()"></button>
    <input [class.isError]="isError()" class="number-input" type="number" (blur)="onTouched();onInputBlur($event)"
        (keypress)="restrictDecimals($event)" [(ngModel)]="value" (keyup)="onInputChange()">
    <button class="fas fa-plus-circle nf-control" type="button" (click)="increase()"></button>
</div>