<div class="batch-payment-actions-section flex-container-center">
    <div class="smDropdown">
        <button [disabled]="!isBatchPaymentListLoaded || securityEngineService.checkVisibility('moreOptions', 'Disable')" title="More Options" class="btn dropdown-toggle" data-display="static" data-toggle="dropdown" (click)="eventClick()">
          <span class="fas fa-ellipsis-v" [class.disable-security-options]="!isBatchPaymentListLoaded"></span>
      </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
            <li><a *checkPermission="!showDelete ? 'batchDetailOptionEdit' : 'edit'" class="dropdown-item" [class.disable-dropdown-options]="!isEdit" (click)="performAction('edit')">Edit</a></li>
            <li *ngIf="showDelete"><a *checkPermission="'delete'" class="dropdown-item" [class.disable-dropdown-options]="!isDelete" (click)="performAction('delete')">Delete</a></li>
            <li><a *checkPermission="!showDelete ? 'batchDetailOptionAccept' : 'accept'" class="dropdown-item" [class.disable-dropdown-options]="!isAccept" (click)="performAction('accept')">Accept</a></li>
            <li><a *checkPermission="!showDelete ? 'batchDetailOptionDeposit' : 'deposit'" class="dropdown-item" [class.disable-dropdown-options]="!isDeposit" (click)="performAction('deposit')">Deposit</a></li>
            <li><a *checkPermission="!showDelete ? 'batchDetailoptionAcceptAndDeposit' : 'acceptDeposit'" class="dropdown-item" [class.disable-dropdown-options]="!isAcceptAndDeposit" (click)="performAction('acceptAndDeposit')">Accept & Deposit</a></li>
        </ul>
    </div>
</div>