<div class="col-12 ent-file-upload">
    <div class="row">
        <div class="choose-file" [ngClass]="{'col-9': isUploadButton, 'w-88': !isUploadButton}">
            <label appTabbing class="choose-button ellipsed mb-0" for="my-file-selector{{indexValue}}">
            <input id="my-file-selector{{indexValue}}" name="file" type="file" accept=".csv" (change)="selectFiles()" #fileInput [multiple]="multiple">
                <span class="fas fa-file fa-sm" title="Select file"></span>
            </label>
            <label title="{{filenameDisplay}}" id="upload-file-name{{indexValue}}" class="file-name mb-0 pl-2">{{filename}}</label>
        </div>
        <div [class.upload-button-active]="isUploadButton" class="upload-button" [ngClass]="{'col-3': isUploadButton, 'w-12 pl-0': !isUploadButton}">
            <ent-button [disabled]=!isSupportedFile class="upload-btns button-medium" *ngIf="isUploadButton" imagePosition="right" fasName="fas fa-file-upload" buttonText="UPLOAD" (buttonClick)="upload()"></ent-button>
            <!-- <img *ngIf="!isUploadButton" src="assets/images/icons/upload.png" alt="upload" title="Upload" (click)="upload()" /> -->
            <i *ngIf="!isUploadButton" (click)="upload()" title="Upload" class="fas fa-file-upload file-upload-icon"></i>
        </div>
    </div>
</div>
