<div class="col-12 pr-0 pl-0 add-batch-form">
    <form [formGroup]="addBatchEntryForm" (submit)="submit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12 field-row">
                <div class="row">
                    <div class="col-6 description-section">
                        <ent-label requiredField="required" [data]="'Settlement Date'"></ent-label>
                        <ent-date-picker [isAutoFocus]="true" [currentDate]="systemDate" [(ngModel)]="batchEntry.settlementDate" formControlName="settlementDate">
                        </ent-date-picker>
                        <ent-control-messages [control]="addBatchEntryForm.get('settlementDate')" labelName="Settlement Date">
                        </ent-control-messages>
                    </div>
                    <div class="col-6">
                        <ent-label [data]="'Rejection Reason'" requiredField="required"></ent-label>
                        <ent-dropdown [control]="addBatchEntryForm.get('rejectionReason')" [dropdownItems]="RejectionReasonDropdown" [(ngModel)]="batchEntry.rejectionReason" formControlName="rejectionReason" type="select"></ent-dropdown>
                        <ent-control-messages [control]="addBatchEntryForm.get('rejectionReason')" labelName="Rejection Reason"></ent-control-messages>
                    </div>                    
                </div>
            </div>
            <div class="col-12 field-row">
                <div class="row">
                    <div class="col-6 description-section">
                        <ent-label  [data]="'Trace Number'" requiredField="{{traceNumberRequired ? 'required' : undefined}}"></ent-label>
                        <ent-input [disabledField]="traceInput" type="text" [(ngModel)]="batchEntry.transactionNumber" (valueChanged)="inputDisable($event,'transactionNumber')" [control]="addBatchEntryForm.get('transactionNumber')" formControlName="transactionNumber"></ent-input>
                        <ent-control-messages [control]="addBatchEntryForm.get('transactionNumber')" labelName="Trace Number / Reference Number"></ent-control-messages>
                    </div>
                    <div class="col-6 description-section">
                        <ent-label  [data]="'Reference Number'" requiredField="{{referenceNumberRequired ? 'required' : undefined}}"></ent-label>
                        <ent-input [disabledField]="referenceInput" type="text" [(ngModel)]="batchEntry.referenceNumber" (valueChanged)="inputDisable($event,'referenceNumber')" [control]="addBatchEntryForm.get('referenceNumber')" formControlName="referenceNumber"></ent-input>
                        <ent-control-messages [control]="addBatchEntryForm.get('referenceNumber')" labelName="Reference Number / Trace Number"></ent-control-messages>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button class="button-xlarge" buttonText="SUBMIT" [disabled]="!addBatchEntryForm.valid" buttonType="submit">
                </ent-button>
            </div>
        </div>
    </form>
</div>
