<div class="ent-date-picker row">
    <div class="col-md-12">
        <div class="mydp" [ngStyle]="{'width': getComponentWidth(), 'border': opts.inline ? 'none' : null}">
            <div class="selectiongroup" *ngIf="!opts.inline" [class.isError]="isError()">

                <span class="selbtngroup" [style.height]="opts.height">
        <button #selectorButton type="button" aria-label="Open Calendar" class="btnpicker" (keydown)="openBtnKeydown($event)" (click)="openBtnClicked()" [ngClass]="{'btnpickerenabled': !opts.componentDisabled, 'btnpickerdisabled': opts.componentDisabled, 'btnleftborder': opts.showInputField||selectionDayTxt.length>0&&opts.showClearDateBtn}"
                [disabled]="opts.componentDisabled">
          <span class="icon icon-calendar" [ngStyle]="{'line-height': opts.height}"></span>
                </button>
                </span>
                <input *ngIf="opts.showInputField" appAutoFocus [autoFocus]="isAutoFocus" #inputDate ngtype="text" class="selection" aria-label="Calendar input field" [attr.maxlength]="opts.dateFormat.length" [ngClass]="{'invaliddate': invalidDate&&opts.indicateInvalidDate}" placeholder="{{opts.showDateFormatPlaceholder?opts.dateFormat:opts.customPlaceholderTxt}}"
                    [ngStyle]="{'height': opts.height, 'line-height': opts.height, 'font-size': opts.selectionTxtFontSize, 'border': 'none'}" (keyup)="userDateInput($event)" [value]="selectionDayTxt" (blur)="lostFocusInput($event)" [disabled]="opts.componentDisabled"
                    [readonly]="!opts.editableDateField" [required]="opts.inputValueRequired">

                <span class="selbtngroup" [style.height]="opts.height">
      <button type="button" aria-label="Clear Date" class="btnclear" *ngIf="(selectionDayTxt.length>0 || value)&&opts.showClearDateBtn" (click)="removeBtnClicked();value='';$event.stopPropagation()" [ngClass]="{'btnclearenabled': !opts.componentDisabled, 'btncleardisabled': opts.componentDisabled, 'btnleftborder': opts.showInputField}" [disabled]="opts.componentDisabled">
        <span class="icon icon-cross" [ngStyle]="{'line-height': opts.height}"></span>
                </button>
                </span>

            </div>
            <div class="selector component-overlay-leave" *ngIf="showSelector||opts.inline" [ngClass]="{'inlinedp': opts.inline, 'alignselectorright': opts.alignSelectorRight, 'selectorarrow': opts.showSelectorArrow&&!opts.inline&&!openOnTop, 'selectorarrowleft': opts.showSelectorArrow&&!opts.alignSelectorRight&&!opts.inline&&!openOnTop, 'selectorarrowright': opts.showSelectorArrow&&opts.alignSelectorRight&&!opts.inline&&!openOnTop, 'position-top': openOnTop }">
                <table class="header">
                    <tr>
                        <td>
                            <div style="float:left">
                                <div class="headerbtncell"><button #prevMonthSelector type="button" aria-label="Previous Month" class="headerbtn icon icon-left" (click)="prevMonth()"></button></div>
                                <div class="headermonthtxt">
                                    <input #inputEditMonth type="text" class="monthinput" maxlength="10" inputFocus [value]="visibleMonth.monthTxt" (keyup)="userMonthInput($event)" (focusout)="userMonthInputFocusout()" (click)="$event.stopPropagation()" [ngClass]="{'invalidmonth': invalidMonth, 'd-none': !editMonth}">                                    
                                    <button #buttonEditMonth class="headerlabelbtn" type="button" [ngClass]="{'monthlabel': opts.editableMonthAndYear, 'd-none': editMonth}" (click)="opts.editableMonthAndYear&&editMonthClicked($event)" tabindex="{{opts.editableMonthAndYear?'0':'-1'}}">{{visibleMonth.monthTxt}}</button>
                                </div>
                                <div class="headerbtncell"><button type="button" aria-label="Next Month" class="headerbtn icon icon-right" (click)="nextMonth()"></button></div>
                            </div>
                        </td>
                        <td *ngIf="opts.showTodayBtn"><button type="button" class="headertodaybtn" (click)="todayClicked();$event.stopPropagation()" [disabled]="disableTodayBtn" [ngClass]="{'headertodaybtnenabled': !disableTodayBtn, 'headertodaybtndisabled': disableTodayBtn}">{{opts.todayBtnTxt}}</button></td>
                        <td>
                            <div style="float:right">
                                <div class="headerbtncell"><button type="button" aria-label="Previous Year" class="headerbtn icon icon-left" (click)="prevYear()"></button></div>
                                <div class="headeryeartxt">
                                    <input #inputEditYear type="text" class="yearinput" maxlength="4" inputFocus [value]="visibleMonth.year" (keyup)="userYearInput($event)" (focusout)="userYearInputFocusout()" (click)="$event.stopPropagation()" [ngClass]="{'invalidyear': invalidYear, 'd-none': !editYear}">
                                    <button #buttonEditYear class="headerlabelbtn" type="button" [ngClass]="{'yearlabel': opts.editableMonthAndYear, 'd-none': editYear}" (click)="opts.editableMonthAndYear&&editYearClicked($event)" tabindex="{{opts.editableMonthAndYear?'0':'-1'}}">{{visibleMonth.year}}</button>
                                </div>
                                <div class="headerbtncell"><button type="button" aria-label="Next Year" class="headerbtn icon icon-right" (click)="nextYear()"></button></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="caltable">
                    <thead>
                        <tr>
                            <th class="weekdaytitle" scope="col" *ngFor="let d of weekDays">{{d}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let w of dates">
                            <td class="daycell" *ngFor="let d of w" [ngClass]="{'currmonth':d.cmo===CURR_MONTH&&!d.disabled, 'selectedday':selectedDate.day===d.dateObj.day && selectedDate.month===d.dateObj.month && selectedDate.year===d.dateObj.year && d.cmo===CURR_MONTH, 'disabled': d.disabled, 'tablesingleday': d.cmo===CURR_MONTH&&!d.disabled}"
                                (click)="!d.disabled&&cellClicked(d);$event.stopPropagation()" (keydown)="cellKeyDown($event, d)" tabindex="0">
                                <div [ngClass]="{'prevmonth':d.cmo===PREV_MONTH,'currmonth':d.cmo===CURR_MONTH,'nextmonth':d.cmo===NEXT_MONTH,'sunday':d.dayNbr === 0 && opts.sunHighlight}"><span [ngClass]="{'currday':d.currDay&&opts.markCurrentDay, 'sundayDim': opts.sunHighlight && d.dayNbr === 0 && (d.cmo===PREV_MONTH || d.cmo===NEXT_MONTH || d.disabled)}">{{d.dateObj.day}}</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>