<div [formGroup]="paymentsReverseForm" class="col-12 pr-0 pl-0">
    <div class="row">
        <div class="col-12 field-row text-center">
            <p>A Payment Reversal will be processed for an amount of
                <strong>{{payment.paymentAmount || '0' | currency:payment?.currency}}</strong> with a deposit date of
                <strong>{{payment.postedDate | date:'MMM dd, yyyy'}}</strong>.
            </p><br>
        </div>
        <div class="col-12 field-row">
            <div class="row">
                <div class="col-7 pr-0 edit-label text-left">
                    <ent-label className="ent-label-inline-modal" data="Select a reason why you want to Reverse Payment?" requiredField="required"></ent-label>
                </div>
                <div class="col-5">
                    <ent-dropdown [control]="paymentsReverseForm.get('ReversalReason')" [(ngModel)]="reason" [dropdownItems]="ReversalReasonDropdown" type="select" formControlName="ReversalReason" [isAutoFocus]="true">
                    </ent-dropdown>
                    <ent-control-messages [control]="paymentsReverseForm.get('ReversalReason')" labelName="Reason">
                    </ent-control-messages>
                </div>
            </div>
        </div>
        <div class="col-12 button-row text-center">
            <ent-button [disabled]="!paymentsReverseForm.valid" class="button-xlarge" buttonText="SUBMIT" (buttonClick)="paymentsReverse()" buttonType="submit"></ent-button>
        </div>
    </div>
</div>