<div id="pb360-navbar-id" class="ent-navbar fixed-top" role="navigation">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-section pl-0 pr-0">
            <span class="navbar-brand pl-0 pr-0">
                <a id="pb360-navbar-header" class="link-invisible" appTabbing [isTabbing]="false"></a>
                <ent-image imageUrl="{{logoPath}}" [alt]="'Company Logo'"></ent-image>
                <div class="divider-navbar"></div>
                <a (click)="goToHome()"
                    class="navbar-title">{{headerTag?.title}}</a>
                <a class="skip-content-link text-font-size-base font-weight-bold ml-3" (click)="skipToContent($event, 'main-content')">Skip to main content</a>
            </span>
            <ul class="navbar-nav navbar-right ml-auto">
                <li *checkPermission="'dashboardIcon'" class="dashboard-ui-icon nav-item d-flex align-items-center navbar-right-item">
                    <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading" [appearance]="'rect'" class="skeleton-rect-xxsmall-fixed">
                        <a (click)="redirectToDashboard()">
                            <ent-image title="Dashboard" svgIcon="true" width="27" height="27" imageUrl="assets/images/common/dashboard.svg" alt="Icon"></ent-image>
                        </a>
                    </ent-skeleton>
                </li>
                <li *checkPermission="'menuGridIcon'" class="dropdown app-menu-items nav-item d-flex align-items-center navbar-right-item">
                    <ent-skeleton [loading]="applicationsLoaded && !securityEngineService?.isSecurityDataLoading" [appearance]="'rect'" class="skeleton-rect-xxsmall-fixed">
                        <ent-menu-items *ngIf="appMenuItems?.length > 0" [appMenuItems]='appMenuItems'></ent-menu-items>
                    </ent-skeleton>
                </li>
                <li class="dropdown-user nav-item dropdown profile-section align-items-center navbar-right-item">
                  <a id="navbarDropdownMenuLink" class="dropdown-toggle profile-image d-flex align-items-center" [ngClass]="{'disable-dropdown-options': securityEngineService?.isSecurityDataLoading}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ent-skeleton [loading]="userProfileImageUrl" [appearance]="'avatar'" class="skeleton-avatar-small">
                      <ent-image *ngIf="userProfileImageUrl" title="Profile" [errorImageUrl]="'assets/images/icons/Person.png'" [imageUrl]="userProfileImageUrl" [alt]="'Profile'" [skeletonAppearance]="'skeleton-avatar'">
                      </ent-image>
                    </ent-skeleton>
                  </a>
                    <app-name-display class="user-name pl-2" [nameOnly]="true" [maxWidth]="200" [name]="userName"
                        [popoverPlacement]="'bottom'" [length]="30"></app-name-display>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngIf="enableAuthentication">
                            <a class="dropdown-item" (click)="openProfileDetail()" *checkPermission="'myProfile'">
                                <i class="fas fa-cog"></i> My Profile</a>
                        </li>
                       <li *ngIf="appConfig?.isComponentSecurity">
                            <a class="dropdown-item" (click)="securityConfig(modelObjects?.SecurityConfiguration)" *checkPermission="'securityConfiguration'">
                                <i class="fas fa-cog"></i> {{modelObjects?.SecurityConfiguration}}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="selectLevel(modelObjects?.ConfigureDefaultValues)" *checkPermission="'configureDefaultValues'">
                                <i class="fas fa-cog"></i> {{modelObjects?.ConfigureDefaultValues}}</a>
                        </li>
                        <li *ngIf="enableAuthentication">
                            <a class="dropdown-item" (click)="checkAuthorization()" *checkPermission="'userAdministration'">
                                <i class="fas fa-user"></i> User Administration</a>
                        </li>
						<li class="dropdown-submenu ent-dropdown-select">
                            <a appMultipleClick class="dropdown-item dropdown-toggle sub-menu dropdown-submenu-toggle">
                                <i class="fas fa-fill-drip"></i> Theme Settings
                                <i class="fas fa-caret-right float-right pt-1"></i>
                            </a>
                            <ul class="dropdown-submenu-section">
                                <li *ngFor="let item of themeList">
                                    <a *ngIf="item.active === 'true'" class="dropdown-item"
                                        [ngClass]="{'active': checkCurrentTheme(item.themeKey)}"
                                        (click)="setTheme(item.themeKey)"> {{item['theme-display-name']}}</a>
                                </li>
                            </ul>
                        </li>
						<li *checkPermission="'logout'">
                            <a class="dropdown-item" (click)="logout()">
                                <i class="fas fa-sign-out-alt"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<ent-modal class="change-role-model-width" #selectRoleModel></ent-modal>
