@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .payments-update-section {
        @include pseudo(relative, false, false, false, false, false);
        .payments-update-wrapper {
            .advance-search-section {
                @include space (margin, top, $xs);
            }
        }
    }
}
