<div class="col-12 pr-0 pl-0 payments-update-section">
    <div class="row payments-update-wrapper">
        <div class="col-12">
            <div class="col-12 pl-0 text-left">
                <div class="row justify-content-center">
                    <div appTabbing *ngIf="transferToDirect && !securityEngineService?.checkVisibility('paymentUpdateConsumerDirect', 'Hide')" [class.disable-security-options]="securityEngineService?.checkVisibility('paymentUpdateConsumerDirect', 'Disable')" class="col-4 pr-0 select-box-small" [class.active]="selectedValue === 'BillAccount'" (click)="showActiveControls('BillAccount')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/account-payment-header.svg" alt="CONSUMER DIRECT"></ent-image>
                            <span class="label-name">CONSUMER DIRECT</span>
                        </ent-card>
                    </div>
                    <div appTabbing *ngIf="transferToGroup && !securityEngineService?.checkVisibility('paymentUpdateGroup', 'Hide')" [class.disable-security-options]="securityEngineService?.checkVisibility('paymentUpdateGroup', 'Disable')" class="col-4 pr-0 select-box-small" [class.active]="selectedValue === 'GroupAccount'" (click)="showActiveControls('GroupAccount')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/group-payment-header.svg" alt="GROUP ACCOUNT"></ent-image>
                            <span class="label-name">GROUP</span>
                        </ent-card>
                    </div>
                    <div appTabbing *ngIf="transferToAgency && !securityEngineService?.checkVisibility('paymentUpdateAgency', 'Hide')" [class.disable-security-options]="securityEngineService?.checkVisibility('paymentUpdateAgency', 'Disable')" class="col-4 pr-0 select-box-small" [class.active]="selectedValue === 'AgencyAccount'" (click)="showActiveControls('AgencyAccount')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/agency-payment-header.svg" alt="AGENCY ACCOUNT"></ent-image>
                            <span class="label-name">AGENCY</span>
                        </ent-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <form [formGroup]="paymentsUpdateForm" (submit)="paymentsUpdate()" rule="form" novalidate>
                <div class="row">
                    <div class="col-12 advance-search-section scroll-xmodal">
                        <div class="row info-section">
                            <div class="col-12">
                                <div class="row">
                                    <ng-container *ngIf="selectedValue === 'BillAccount'">
                                        <div *ngIf="!securityEngineService.checkVisibility('paymentupdateBillAccount', 'Hide')" class="col-6 bill-account">
                                            <ent-label [data]="'Bill Account:'"></ent-label>
                                            <ent-select #billAccountselect [disabledField]="securityEngineService.checkVisibility('paymentupdateBillAccount', 'Disable')" [url]="apiUrl" [queryParam]="queryParam" requiredField="required" [control]="paymentsUpdateForm.get('billAccountNumber')" [applyQueryParamOnSearch]="'_score'"
                                                placeholder="Search by Name and Address" [displayField]="'accountNumber'" [size]="'5'" (valueChanged)="changeAccount($event.toUpperCase())" (selectedValue)="selectedAccount($event)" [(ngModel)]="billaccount"
                                                formControlName="billAccountNumber" [isAutoFocus]="true">
                                                <ul class="select-list-item">
                                                    <li *ngFor="let item of billAccountselect.dropdownItems, let i = index" (click)="billAccountselect.itemSelected(item, i)">
                                                        <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                                            <span class="title-name">{{item.payorName}} ({{item.accountNumber || item}})</span>
                                                            <br *ngIf="item.payorAddress">
                                                            <span>{{(item.payorAddress ? item.payorAddress : '')}}</span>
                                                            <br *ngIf="item.type">
                                                            <span *ngIf="item.type">{{item.type === 'DirectBill' ? 'Consumer Direct' : 'Member Account'}}</span>
                                                            <span *ngIf="item?.businessGroup"> (<b>Business Group:</b> {{item?.businessGroup ? item?.businessGroup : ''}}) </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ent-select>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('billAccountNumber')" labelName="Bill Account">
                                            </ent-control-messages>
                                        </div>
                                        <div class="col-3">
                                            <ent-label [data]='"Amount(" + currency +"):"'></ent-label>
                                            <ent-input type="number" [control]="paymentsUpdateForm.get('paymentAmount')" [disabledField]="true" [(ngModel)]="paymentAmount" formControlName="paymentAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')"></ent-input>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selectedValue === 'GroupAccount'">
                                        <div class="col-6 bill-account">
                                            <ent-label [data]="'Group Account:'" requiredField="required"></ent-label>
                                            <ent-select #select [url]="apiUrl" [queryParam]="queryParamGroup" requiredField="required" placeholder="Search by Name and Address" [displayField]="'accountNumber'" [size]="'5'" [applyQueryParamOnSearch]="'_score'" [control]="paymentsUpdateForm.get('groupAccount')"
                                                (valueChanged)="displayError($event.toUpperCase())" (selectedValue)="selectedGroupAccount($event)" [(ngModel)]="billaccount" formControlName="groupAccount" [isAutoFocus]="true">
                                                <ul class="select-list-item" *ngIf="select.dropdownItems[0] !== 'No records are available'">
                                                    <li *ngFor="let item of select.dropdownItems, let i = index" (click)="select.itemSelected(item, i)">
                                                        <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                                            <span class="title-name">{{item.payorName}} ({{item.accountNumber || item}})</span>
                                                            <br *ngIf="item.payorAddress">
                                                            <span>{{(item.payorAddress ? item.payorAddress : '')}}</span>
                                                            <br *ngIf="item?.businessGroup">
                                                            <span *ngIf="item?.businessGroup">(<b>Business Group:</b> {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul class="select-list-item" *ngIf="select.dropdownItems[0] === 'No records are available'">
                                                    <li *ngFor="let item of select.dropdownItems, let i = index">
                                                        <a>
                                                            <span class="title-name">{{item.name || item}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ent-select>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('groupAccount')" labelName="Group Account">
                                            </ent-control-messages>
                                        </div>
                                        <div class="col-3">
                                            <ent-label [data]='"Amount(" + currency +"):"'></ent-label>
                                            <ent-input type="number" [control]="paymentsUpdateForm.get('paymentAmount')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [disabledField]="true" [(ngModel)]="paymentAmount" formControlName="paymentAmount"></ent-input>
                                        </div>
                                        <div *ngIf="!securityEngineService.checkVisibility('paymentupdateAdditionalID', 'Hide')" class="col-3">
                                            <ent-label [data]="'Additional ID:'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('paymentupdateAdditionalID', 'Disable')" [control]="paymentsUpdateForm.get('additionalId')" [(ngModel)]="additionalId" formControlName="additionalId"></ent-input>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('additionalId')" labelName="Additional ID">
                                            </ent-control-messages>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selectedValue === 'AgencyAccount'">
                                        <div class="col-6 bill-account">
                                            <ent-label [data]="'Agency Account:'" requiredField="required"></ent-label>
                                            <ent-select #select [url]="apiUrl" [queryParam]="queryParamAgency" requiredField="required" placeholder="Search by Name, Address, Email or Phone" [displayField]="'accountNumber'" [size]="'5'" [control]="paymentsUpdateForm.get('agencyAccount')" (valueChanged)="displayError($event.toUpperCase())"
                                                (selectedValue)="selectedGroupAccount($event)" [(ngModel)]="billaccount" formControlName="agencyAccount" [isAutoFocus]="true">
                                                <ul class="select-list-item" *ngIf="select.dropdownItems[0] !== 'No records are available'">
                                                    <li *ngFor="let item of select.dropdownItems, let i = index" (click)="select.itemSelected(item, i)">
                                                        <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                                            <span class="title-name">{{item.payorName}} ({{item.accountNumber || item}})</span>
                                                            <br *ngIf="item.payorAddress">
                                                            <span>{{(item.payorAddress ? item.payorAddress : '')}}</span>
                                                            <br *ngIf="item?.businessGroup">
                                                            <span *ngIf="item?.businessGroup">(<b>Business Group:</b> {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul class="select-list-item" *ngIf="select.dropdownItems[0] === 'No records are available'">
                                                    <li *ngFor="let item of select.dropdownItems, let i = index">
                                                        <a>
                                                            <span class="title-name">{{item.name || item}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ent-select>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('agencyAccount')" labelName="Agency Account">
                                            </ent-control-messages>
                                        </div>
                                        <div class="col-3">
                                            <ent-label [data]='"Amount(" + currency +"):"'></ent-label>
                                            <ent-input type="number" [control]="paymentsUpdateForm.get('paymentAmount')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [disabledField]="true" [(ngModel)]="paymentAmount" formControlName="paymentAmount"></ent-input>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-12 field-row">
                                <div class="row">
                                    <div *ngIf="!securityEngineService.checkVisibility('paymentupdatePaymentID', 'Hide')" class="col-4 mt-3">
                                        <ent-label [data]="'Payment ID:'"></ent-label>
                                        <ent-input [disabledField]="securityEngineService.checkVisibility('paymentupdatePaymentID', 'Disable') || !enablePaymentId || disablePaymentId" [control]="paymentsUpdateForm.get('paymentId')" [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                        <ent-control-messages [control]="paymentsUpdateForm.get('paymentId')" labelName="Payment ID">
                                        </ent-control-messages>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('paymentupdatePaymentType', 'Hide')" class="col-4 mt-3">
                                        <ent-label [data]="'Payment Type:'"></ent-label>
                                        <ent-dropdown [disabledField]="securityEngineService.checkVisibility('paymentupdatePaymentType', 'Disable')" [control]="paymentsUpdateForm.get('paymentType')" [dropdownItems]="Payment_TypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType"
                                            type="select"></ent-dropdown>
                                        <ent-control-messages [control]="paymentsUpdateForm.get('paymentType')" labelName="Payment Type">
                                        </ent-control-messages>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('paymentupdateAccountDueDate', 'Hide')" class="col-4 mt-3">
                                        <ent-label [data]="'Account Due Date:'"></ent-label>
                                        <ent-date-picker [disabledField]="securityEngineService.checkVisibility('paymentupdateAccountDueDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dueDate" formControlName="dueDate" (inputFieldChanged)="resetDateValidate()"></ent-date-picker>
                                        <p *ngIf="isUnValidDateReceived && paymentsUpdateForm.get('dueDate').valid" class="errorMessage">Date Received cannot be greater than system date</p>
                                        <ent-control-messages [control]="paymentsUpdateForm.get('dueDate')" labelName="Account / Due Date">
                                        </ent-control-messages>
                                    </div>
                                    <ng-container *ngIf="selectedValue === 'BillAccount'">
                                        <div *ngIf="!securityEngineService.checkVisibility('paymentupdatePolicyAgreement', 'Hide')" class="col-4 mt-3">
                                            <ent-label [data]="'Policy/Agreement:'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('paymentupdatePolicyAgreement', 'Disable')" [control]="paymentsUpdateForm.get('policyAgreement')" [(ngModel)]="policyAgreement" formControlName="policyAgreement" (valueChanged)="resetPolicyInfo($event.toUpperCase())"
                                                (clearInputValue)="resetPolicyInfo($event)"></ent-input>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('policyAgreement')" labelName="Policy Agreement">
                                            </ent-control-messages>
                                        </div>
                                        <div *ngIf="!securityEngineService.checkVisibility('paymentupdatePolicySymbol', 'Hide')" class="col-4 mt-3">
                                            <ent-label [data]="'Policy Symbol:'"></ent-label>
                                            <ent-dropdown [disabledField]="securityEngineService.checkVisibility('paymentupdatePolicySymbol', 'Disable')" [control]="paymentsUpdateForm.get('policySymbol')" [dropdownItems]="Policy_SymbolDropdown" [disabledField]="!policyAgreement" [(ngModel)]="policySymbol"
                                                formControlName="policySymbol" type="select"></ent-dropdown>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('policySymbol')" labelName="Policy Symbol">
                                            </ent-control-messages>
                                        </div>
                                        <div *ngIf="!securityEngineService.checkVisibility('paymentupdatePayableItem', 'Hide')" class="col-4 mt-3">
                                            <ent-label [data]="'Payable Item:'"></ent-label>
                                            <ent-dropdown [disabledField]="securityEngineService.checkVisibility('paymentupdatePayableItem', 'Disable')" [control]="paymentsUpdateForm.get('paymentItem')" [dropdownItems]="PayableItemDropdown" [disabledField]="!policyAgreement" [(ngModel)]="payableItem"
                                                formControlName="payableItem" type="select"></ent-dropdown>
                                            <ent-control-messages [control]="paymentsUpdateForm.get('payableItem')" labelName="Payable Item">
                                            </ent-control-messages>
                                        </div>
                                    </ng-container>
                                    <div class="col-8 mt-3 field-row" *ngIf="!securityEngineService.checkVisibility('paymentupdateHoldInSuspense', 'Hide')">
                                        <div class="row">
                                            <div *checkPermission="'paymentupdateHoldInSuspense'" class="col hold-suspense-label mt-4 align-self-center">
                                                <ent-input-checkbox [disabled]="securityEngineService.checkVisibility('paymentupdateHoldInSuspense', 'Disable')" (valueChanged)="holdSuspenseChanged($event)" formControlName="holdSuspenseIndicator" [(ngModel)]="holdSuspenseIndicator" [text]="'Hold In Suspense'"></ent-input-checkbox>
                                            </div>
                                            <div class="col" *ngIf="holdSuspenseIndicator">
                                                <ent-label [data]="'Reason:'" requiredField="required"></ent-label>
                                                <ent-dropdown [control]="paymentsUpdateForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="Suspense_ReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                                <ent-control-messages [control]="paymentsUpdateForm.get('suspenseReason')" labelName="Reason">
                                                </ent-control-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="selectedValue === 'BillAccount'">
                                        <div class="col-8">
                                            <div class="row">
                                                <div *checkPermission="'overrideBusinessGroup'" class="col-6 override-businessGroup-label mt-4 align-self-center">
                                                    <ent-input-checkbox [disabled]="securityEngineService.checkVisibility('overrideBusinessGroup', 'Disable')" (valueChanged)="overrideBusinessGroup($event)" formControlName="overrideBusinessGroupEditIndicator" [(ngModel)]="overrideBusinessGroupEditIndicator"
                                                        [text]="'Override Business Group'"></ent-input-checkbox>
                                                </div>
                                                <div *ngIf="!securityEngineService.checkVisibility('businessGroup', 'Hide')" class="col-6">
                                                    <ent-label [data]="'Business Group:'"></ent-label>
                                                    <ent-input [disabledField]="securityEngineService.checkVisibility('businessGroup', 'Disable')" [control]="paymentsUpdateForm.get('businessGroup')" [(ngModel)]="businessGroup" formControlName="businessGroup"></ent-input>
                                                    <ent-control-messages [control]="paymentsUpdateForm.get('businessGroup')" labelName="Business Group">
                                                    </ent-control-messages>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div *ngIf="!securityEngineService.checkVisibility('paymentupdateComments', 'Hide')" class="col-12 field-row">
                                <div class="col-12 pr-0 pl-0">
                                    <ent-label [data]="'Comments:'"></ent-label>
                                    <ent-text-area [disabledField]="securityEngineService.checkVisibility('paymentupdateComments', 'Disable')" [control]="paymentsUpdateForm.get('paymentComments')" formControlName="paymentComments" rowSize="2" [(ngModel)]="paymentComments"></ent-text-area>
                                    <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                                    <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center button-row">
                        <ent-button *ngIf="selectedValue === 'BillAccount'" class="button-xlarge" buttonText="SUBMIT" [disabled]="!paymentsUpdateForm.valid || !isSubmitEnabled" buttonType="submit"></ent-button>
                        <ent-button *ngIf="selectedValue === 'GroupAccount' || selectedValue === 'AgencyAccount'" class="button-xlarge" buttonText="SUBMIT" [disabled]="!paymentsUpdateForm.valid || !billaccount" buttonType="submit"></ent-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>