<span class="ent-signpost">
    <popover-content #myPopover
                    [title]="title"
                    [placement]="placement"
                    [closeOnClickOutside]="closeOnClickOutside"
                    [icon]="icon"
                    [popoverWidth]="popoverWidth">
        <span [innerHtml]="message"></span>
</popover-content>

<img *ngIf="imageUrl && !name && !iconClass" [class.img-circle]="!imageUrl" [class]="imageUrl==='assets/images/icons/question-mark1.png' ? 'img-circle question edit' : ''" [class.cursor-pointer]="imageUrl" [src]="imageUrl" alt="Question Mark" [popover]="myPopover"
    [popoverOnHover]="popoverOnHover">
<ng-container *ngIf="iconClass">
    <span appTabbing class="{{iconClass}} info" [popover]="myPopover" [popoverOnHover]="popoverOnHover"></span>
</ng-container>
<ng-container *ngIf="name">
    <span class="name cursor-pointer" data-placement="left" data-toggle="popover" [popover]="myPopover" [popoverOnHover]="popoverOnHover"> {{name}}</span>
</ng-container>
</span>