<div *ngIf="alert" class="ent-alert-{{alert.type}} ent-alert alert-dismissable">
    <i class="icon-{{alert.type}} d-inline-flex align-items-center"></i>
    <div class="ent-alert-content">
        <div class="ent-alert-message">
            <span *ngIf="alert.message">{{alert.message}}</span>
            <span *ngIf="alert.messages">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let alert of alert.messages">
                        <span>{{alert.message}}</span>
            </li>
            </ul>
            </span>
        </div>
    </div>
    <div class="ent-alert-close">
        <span class="alert-close" (click)="removeAlert(alert)">&times;</span>
    </div>
</div>