<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div class="col-1">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT AMOUNT</span>
            </ent-skeleton>
        </div>
        <div class="col-1 pr-0">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT DATE</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT METHOD</span>
            </ent-skeleton>
        </div>
        <div *ngIf="!securityEngineService.checkVisibility('columnPaymentIdentifier', 'Hide')" class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'columnPaymentIdentifier'">
                <span>IDENTIFIER</span>
            </ent-skeleton>
        </div>
        <div class="w-11">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>TYPE</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYOR</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>USER NAME</span>
            </ent-skeleton>
        </div>
        <div class="w-{{securityEngineService.checkVisibility('columnPaymentDeatilorStatus', 'Hide') ? '5': '13'}} pr-3">
            <div class="col-12">
                <div class="row">
                    <div *ngIf="!securityEngineService.checkVisibility('columnPaymentDeatilorStatus', 'Hide')" class="col-8 pl-0 pr-0">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'columnPaymentDeatilorStatus'">
                            <span>STATUS</span>
                        </ent-skeleton>
                    </div>
                    <div class="col pl-0 pr-0 text-center">
                        <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epPaymentsSearchIdentifiedPayments')">
                            <span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>