<span #filter class="ent-filter">
    <span class="fas fa-filter" [class.active]="value || selectedItems.length !== dropdownItems.length"
        (click)="toggleFilter()"></span>
<div [hidden]="!showFilter" class="filter-box">
    <input class="search-input" placeholder="Search" [(ngModel)]="tempValue" (keyup)="search($event)">
    <i *ngIf="this.tempValue && this.tempValue.length > 0" (click)="clearInput()" class="fas fa-times close-icon"></i>
    <div *ngIf="selected === 'multiple'" class="select-all">
        <input #checkAll type="checkbox" checked (click)="selectAll(checkAll.checked)">Select All
    </div>
    <ul class="filter-list">
        <ng-container *ngIf="selected === 'multiple'">
            <li *ngFor="let dropdownItem of searchedList; let i=index">
                <input #item type="checkbox" [ngModel]="searchCheckBoxList[i]" (click)="check(item.checked, i)"> {{dropdownItem[displayField] || dropdownItem}}
            </li>
        </ng-container>
        <ng-container *ngIf="selected === 'single'">
            <li *ngFor="let dropdownItem of searchedList; let i=index" class="single" (click)="itemSelected(dropdownItem, i)">
                {{dropdownItem[displayField] || dropdownItem}}
            </li>
        </ng-container>
        <ng-container *ngIf="searchedList.length === 0">
            <li>No records are available.</li>
        </ng-container>
    </ul>
    <div class="confirm-btn">
        <ng-container *ngIf="selected === 'single'">
            <button [disabled]="!optionSelected" (click)="applySingle()">APPLY</button>&nbsp;&nbsp;
        </ng-container>
        <ng-container *ngIf="selected === 'multiple'">
            <button [disabled]="searchedList.length === 0" (click)="applyMultiple()">APPLY</button>&nbsp;&nbsp;
        </ng-container>
        <button (click)="reset()">RESET</button>&nbsp;&nbsp;
        <button (click)="cancel()" class="pb360_inverse_btn">CLOSE</button>
    </div>
</div>
</span>