@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .select-customer-type-section {
        .select-customer-type-wrapper {
            .edit-link {
                float: none;
                @include space (padding, left, $xs);
            }
        }
    }
}
