<div [formGroup]="paymentsDisburseForm" class="col-12 pr-0 pl-0 select-customer-type-section">
    <div class="row select-customer-type-wrapper">
        <div *ngIf="payorName && payorAddress" class="col-12 text-center">
            <ent-label className="ent-label-inline-bold" [data]="payorName"></ent-label>
            <a class="pl-2" title="Change Payor" (click)="changePayor()"><span class="fas fa-pencil-alt"></span></a>
            <ent-label className="ent-label" [data]="payorAddress"></ent-label>
            <br>
        </div>
        <div class="col-12 pr-0 pl-0" *ngIf="!(payorName && payorAddress)">
            <div class="col-12 pb-4 text-center">
                <div class="row">
                    <ng-container *ngFor="let item of typeData;let i = index">
                        <div appTabbing *ngIf="!securityEngineService.checkVisibility(getFieldNameSecurityConfig(item), 'Hide')" class="col-6 select-box-no-image {{securityEngineService.checkVisibility(getFieldNameSecurityConfig(item), 'Disable') ? ' disable-security-options': ''}}" (click)="showActiveControls(item)" [class.active]="selectedType === item">
                            <ent-card class="selected-box-items">
                                <ent-label data="{{item}}"></ent-label>
                            </ent-card>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="selectedType === typeData[0]">
            <div *ngIf="!clientSelected?.status" class="col-12 payor-select field-row">
                <ent-label data="Select Payee" requiredField="required"></ent-label>
                <ent-select #select [url]="apiUrl" [queryParam]="queryParam" requiredField="required"
                    placeholder="Search by Account Number or Policy Number" [displayField]="'accountNumber'" [size]="'5'"
                    (selectedValue)="selectedAccount($event)" [(ngModel)]="accountNumber"
                    [applyQueryParamOnSearch]="'_score'" formControlName="payorName"
                    [control]="paymentsDisburseForm.get('payorName')" [selectRequired]="true" [isAutoFocus]="selectedType === typeData[0]">
                    <ul class="select-list-item">
                        <li *ngFor="let item of select.dropdownItems, let i = index"
                            (click)="select.itemSelected(item, i)">
                            <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                <span class="title-name">{{item?.payorName}} ({{item?.accountNumber || item}})</span>
                                <br *ngIf="item?.payorAddress">
                                <span>{{(item?.payorAddress ? item?.payorAddress : '')}}</span>
                                <br *ngIf="item?.type">
                                <span *ngIf="item?.type">
                                    <ng-container [ngSwitch]="item?.type">
                                        <ng-container *ngSwitchCase="'DirectBill'">
                                            Consumer Direct
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'GroupBill'">
                                            Group Member Account
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'AgencyBill'">
                                            Agency Member Account
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Group'">
                                            Group Account
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Agency'">
                                            Agency Account
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            Member Account
                                        </ng-container>
                                    </ng-container>
                                </span>
                                <span *ngIf="item?.businessGroup"> (<b>Business Group:</b> {{item?.businessGroup ?
                                    item?.businessGroup : ''}})</span>
                            </a>
                        </li>
                    </ul>
                </ent-select>
                <ent-control-messages class="payor-selection" [control]="paymentsDisburseForm.get('payorName')"
                    labelName="Payee"></ent-control-messages>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedType === typeData[1]">
            <div *ngIf="!clientSelected?.status" class="col-12 payor-select field-row">
                <ent-label data="Select Payee" requiredField="required"></ent-label>
                <ent-select #select [url]="apiUrl" [queryParam]="queryParam" requiredField="required"
                    placeholder="Search by Name, Address, Email or Phone" [displayField]="'name'" [size]="'5'"
                    [control]="paymentsDisburseForm.get('payorName')" (selectedValue)="selectedClient($event)"
                    [(ngModel)]="payorName" formControlName="payorName" [selectRequired]="true" [isAutoFocus]="selectedType === typeData[1]">
                    <ul class="select-list-item" *ngIf="select.dropdownItems[0] !== 'No records are available'">
                        <li *ngFor="let item of select.dropdownItems, let i = index"
                            (click)="select.itemSelected(item, i)">
                            <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                <span class="title-name">{{item.name || item}}</span>
                                <br *ngIf="item.addresses">
                                <span>{{(item.addresses ? item.addresses[0].address : '')}}</span>
                                <br *ngIf="item.emailId">
                                <span>{{item.emailId ? item.emailId : ''}}</span>
                                <br *ngIf="item.phoneNumber">
                                <span>{{item.phoneNumber ? item.phoneNumber : ''}}</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="select-list-item" *ngIf="select.dropdownItems[0] === 'No records are available'">
                        <li *ngFor="let item of select.dropdownItems, let i = index">
                            <a>
                                <span class="title-name">{{item.name || item}}</span>
                            </a>
                        </li>
                    </ul>
                </ent-select>
                <ent-control-messages class="payor-selection" [control]="paymentsDisburseForm.get('payorName')"
                    labelName="Payee"></ent-control-messages>
            </div>
        </ng-container>
        <div *ngIf="payorName && payorAddress" class="col-12 text-center">
            <p>Disburse <strong>{{payment?.paymentAmount | currency:payment?.currency}}</strong> to payee
                <strong>{{payorName}}</strong>
            </p>
            <br>
        </div>
        <div class="col-12 field-row">
            <div class="row">
                <div [ngClass]="!(paymentMethodSelected === 'Manual Check') ? 'col-7' : 'col-6'">
                    <ent-label className="ent-label-inline" [data]="'Payment Method:'"></ent-label>
                    <ent-label [ngStyle]="{'margin-left':'10px'}" className="ent-label-inline-bold"
                        [data]="paymentMethodSelected"></ent-label>
                </div>
                <div class="col" [hidden]="!(paymentMethodSelected === 'Manual Check')">
                    <ent-label className="ent-label-inline-modal" [data]="'Check number:'" requiredField="required">
                    </ent-label>
                </div>
                <div class="col pl-0" [hidden]="!(paymentMethodSelected === 'Manual Check')">
                    <ent-input [control]="paymentsDisburseForm.get('checkNumber')" class="check-number-pr-0 pl-0"
                        formControlName="checkNumber" [(ngModel)]="checkNumber" type="number"></ent-input>
                    <ent-control-messages [control]="paymentsDisburseForm.get('checkNumber')" labelName="Check number">
                    </ent-control-messages>
                </div>
            </div>
        </div>

        <div class="col-12 field-row">
            <div class="row">
                <div class="col-6">
                    <ent-label className="ent-label-inline-modal" data="Select a reason why you want to Disburse?"
                        requiredField="required"></ent-label>
                </div>
                <div class="col-6">
                    <ent-dropdown [control]="paymentsDisburseForm.get('Disbursement_Reason')" [(ngModel)]="reason"
                        [dropdownItems]="Disbursement_ReasonDropdown" type="select"
                        formControlName="Disbursement_Reason">
                    </ent-dropdown>
                    <ent-control-messages [control]="paymentsDisburseForm.get('Disbursement_Reason')"
                        labelName="Reason">
                    </ent-control-messages>
                </div>
            </div>
        </div>
        <div class="col-12 button-row">
            <ent-button [disabled]="!paymentsDisburseForm.valid" class="button-xlarge" buttonText="SUBMIT"
                (buttonClick)="submit()" buttonType="submit"></ent-button>
        </div>
    </div>
</div>