<app-security-sidebar [sectionName]="'Batch Rejections'" (toggleClose)="searchSection?.resetBatchPayments()"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Batch Rejections"></ent-header>

    <div class="container">
        <div class="row">
            <div class="col-12 field-row" [ngClass]="{'pt-4': !securityEngineService.checkVisibility('filtersSection', 'Hide') || !securityEngineService.checkVisibility('addBatchRejection', 'Hide')}">
                <app-rejections-search #searchSection [resultList]="resultList" [filters]="filters" [systemDate]="systemDate"></app-rejections-search>
            </div>
            <div *checkPermission="'batchRejectionsResultTable'" class="col-12">
                <app-rejections-header *ngIf="batchRejectionList?.length > 0"></app-rejections-header>
            </div>
            <div class="col-12">
                <app-rejections-results #resultList (isBatchRejectionsEmpty)="isBatchRejectionsEmpty($event)" [filters]="filters" [systemDate]="systemDate"></app-rejections-results>
            </div>
        </div>
    </div>
</div>