<div class="container payment-section pt-0">
    <div class="row sections-header sub-fixed-header container pl-0 pr-0 pb-3 client-info-section">
        <div class="col-1 pr-0">
            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'avatar'">
                <div *ngIf="accountDetails">
                    <ent-image class="preview-client-icon" alt="{{accountDetails?.payorName}}" [errorImageUrl]="'assets/images/icons/Person.png'" imageUrl="{{(accountDetails?.imageId && imageUrl ? (imageUrl + accountDetails?.imageId+'.png') : 'assets/images/icons/Person.png')}}">
                    </ent-image>
                </div>
            </ent-skeleton>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="profile-title pt-1">
                <ent-skeleton [loading]="isAccountDetailLoaded" class="skeleton-paragraph-medium">
                    <div *ngIf="accountDetails">
                        <a x-no-tabbing>
                            <span class="main-title">
                  <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="accountDetails?.payorName"
                    [maxWidth]="500" [length]="70">
                  </app-name-display>
                </span></a>
                        <br>
                    </div>
                </ent-skeleton>
                <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'" class="skeleton-paragraph-long">
                    <div *ngIf="accountDetails">
                        <span class="sub-title">
                <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="accountDetails?.payorAddress"
                  [maxWidth]="500" [length]="70">
                </app-name-display>
              </span>

                    </div>
                </ent-skeleton>
                <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'" class="skeleton-paragraph-short">
                    <strong *ngIf="accountDetails">
              <span>Account Number: </span>
              <span *ngIf="removeSpaces(accountDetails?.status); let statusVal"
                        [ngClass]="{'circle-Active': statusVal === 'Active', 'circle-empty': statusVal === 'empty', 'circle-other-status': statusVal !== 'Active' && statusVal !== 'empty'}"
                        [popoverOnHover]="true" [popoverDisabled]="!(statusVal != 'empty')"
                        popover="<span class='badge-no-border badge-{{(statusVal !== 'Active' && statusVal !== 'empty') ? 'other-status' : statusVal}}'>{{accountDetails?.status}}</span>"
                        popoverPlacement="bottom"></span>
              <span>{{accountDetails?.accountNumber}}</span>
            </strong>
                </ent-skeleton>
            </div>
        </div>
        <div class="col-5 align-self-end payment-btn-group">
            <div class="col-12 pl-0 pr-0">
                <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h2'" class="float-right payment-type-skeleton">
                    <div class="btn-group float-right" role="payments" aria-label="payments">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" [disabled]="isConfirm === 'active'" [class.active]="type === 'N'" (click)="selectType('N')">
                  New Profile</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" [disabled]="isConfirm === 'active'" [class.active]="type === 'C'" (click)="selectType('C')">Select
                  From Contracts</button>
                        </div>
                    </div>
                </ent-skeleton>
            </div>
        </div>
    </div>
</div>
