<div #modalRoot class="modal" appDraggable [dragEventTarget]="dragEventTarget"
    [ngStyle]="{'display': isOpen ? 'inline-table' : 'none', 'opacity': 1}" id="myModal" [attr.data-keyboard]="false"
    [attr.data-backdrop]="'static'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" cdkTrapFocus>
        <div class="modal-content">
            <div class="modal-header" [hidden]=!modalHeader (mousedown)="initDrag($event)"
                (touchstart)="initDrag($event)">
                <div class="col-12 pl-0 pr-0">
                    <button *ngIf="hideClose" type="button" class="close" (mousedown)="onCloseIcon($event)"
                        (touchstart)="onCloseIcon($event)" data-dismiss="modal" (click)='close()'
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="col-12 pl-0 pr-0">
                    <img *ngIf="icon" class="img-responsive img-icon" src="{{icon}}">
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                    <p *ngIf="subModalTitle" class="modal-sub-title">{{subModalTitle}}</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-12 modal-body">
                    <div class="modal-message text-center" [hidden]=!modalMessage innerHTML="{{message}}">
                    </div>
                    <div #child>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-top-0" [hidden]=!modalFooter ngPreserveWhitespaces="true">
                <span [hidden]="!okButton">
                    <ent-button class="button-medium" [buttonText]="okButtonText" (buttonClick)="submit()"></ent-button>
                </span>
                <span [hidden]="!cancelButton">
                    <ent-button class="button-medium button-outline" [buttonText]="cancelButtonText"
                        (buttonClick)="close()"></ent-button>
                </span>
            </div>
        </div>
    </div>
</div>