<div class="ent-text-area row">
    <div class="col-md-12">
        <div class="inner-addon left-addon">
            <i *ngIf='fasName' class="icon fas {{fasName}}">
            </i>
            <textarea [class.isError]="isError()" [ngStyle]="{'padding-left':fasName ? '30px' : '12px' }" #textarea class="form-control control-block" [class.spaceForIcon]="fasName" [(ngModel)]="value" placeholder="{{placeholder}}" (blur)="onTouched()"
                (keyup)="onInputChange($event)" [rows]="rowSize" [disabled]="disabledField" (keydown.enter)="confirmText($event);false" (keydown.esc)="resetText()" [class.textarea-scroll]="isScroll">
            </textarea>
        </div>
        <div class="float-right">
            <i appTabbing *ngIf="showClose && value && value.length > 0" (click)="value = '';clearValues($event)" class="{{disabledField ? 'disabledClose' : 'fas fa-times close-addon-icon'}}"></i>
        </div>
    </div>
</div>