<div class="unidentified-payment-result-section table-list">
    <ng-container *ngIf="paymentList?.length > 0 else notFound">
        <div *ngFor="let payment of paymentList;let i = index">
            <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                <div class="col-12 results-section">
                    <div class="name col word-break">
                        <ent-skeleton [loading]="isPaymentListLoaded">
                            {{payment?.paymentAmount || '0' | currency:payment?.currency}}
                        </ent-skeleton>
                    </div>
                    <div class="col word-break">
                        <ent-skeleton [loading]="isPaymentListLoaded">
                            {{payment?.postedDate | date:'MM/dd/yyyy'}}
                        </ent-skeleton>
                    </div>
                    <div class="col word-break">
                        <ent-skeleton [loading]="isPaymentListLoaded">
                            {{payment?.paymentMethod}}
                        </ent-skeleton>
                    </div>
                    <div class="col word-wrap">
                        <ent-skeleton [loading]="isPaymentListLoaded">
                            <span>{{payment?.identifier}}</span>
                        </ent-skeleton>
                    </div>
                    <div class="col word-break">
                        <ent-skeleton [loading]="isPaymentListLoaded">
                            <span appTabbing class="dashed-border-help word-break" [popoverOnHover]="true" popover="<b>User ID:</b> {{payment?.userId }}" popoverPlacement="top" [popoverWidth]="'max-content'">
                            {{payment?.userName}}
                          </span>
                        </ent-skeleton>
                    </div>
                    <div *checkPermission="'PaymentDeatilorStatusSection'" class="col word-break">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'PaymentDeatilorStatusSection'">
                            <span class="rect-{{removeSpaces(payment?.status || 'Applied')}}">
                              <a class="link-highlighted" (click)="getUnidentifiedPaymentsDetail(payment)">{{payment?.status || 'Applied'}}</a>
                          </span>
                        </ent-skeleton>
                    </div>
                    <div class="col-1 right-option-icon" [ngClass]="{'invisible': securityEngineService.checkVisibility('paymentOptionsection', 'Hide')}">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentOptionsection'" class="skeleton-center skeleton-paragraph-medium-fixed">
                            <app-payments-search-actions *checkPermission="'paymentOptionsection'" (actionClicked)="handleAction(payment, $event)" [payment]="payment" [isPaymentListLoaded]="isPaymentListLoaded"></app-payments-search-actions>
                        </ent-skeleton>
                    </div>
                </div>
            </ent-card>

        </div>

    </ng-container>
    <ng-template #notFound>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view message="No Payment Found" subMessage="" iconUrl="assets/images/icons/no-batch.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>

    <div class="col-12">
        <ent-pagination [hidden]="!(paymentList && paymentList.length > 0) || !isPaymentListLoaded" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
    </div>
</div>
<ent-modal class="modal-xxxlarge" #paymentDetailsModal></ent-modal>

<ent-modal #unidentifiedPaymentWriteOffModal (modalOutput)="reloadPaymentSearch($event)"></ent-modal>
<ent-modal #unidentifiedPaymentReverseModal class="modal-xmedium" (modalOutput)="reloadPaymentSearch($event)"></ent-modal>
<ent-modal #unidentifiedPaymentSuspendModal (modalOutput)="reloadPaymentSearch($event)"></ent-modal>
<ent-modal #unidentifiedPaymentDisburseModal class="modal-xmedium" (modalOutput)="reloadPaymentSearch($event)"></ent-modal>
<ent-modal #unidentifiedPaymentRefundMethodSelectModal [ngClass]="{'modal-xlarge': disbursementMethodTypes?.length > 2}" (modalOutput)="openDisburseModal($event)"></ent-modal>
<ent-modal #unidentifiedPaymentUpdateModal class="modal-xxlarge" (modalOutput)="openConfirmModal($event)"></ent-modal>
<ent-modal #confirmModal (modalOutput)="confirmModalSubmit($event)"></ent-modal>
