<div class="col-xl-8 offset-lg-3 col-lg-4 offset-md-4 col-md-6 offset-sm-3 col-12 alternate-payment-method">
    <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12 col-12 text-center alternate-payment-method-wrapper">
            <div class="col-12">
                <div class="row">
                    <ent-skeleton class="col pr-0" [loading]="true" [appearance]="'template'" [skeletonTemplate]="skeletonOptionLayout">
                        <div class="col-12 pl-0 pr-0 select-box-medium">
                            <ent-card>
                                <ent-image class="perview-icon" imageUrl="assets/images/bank/bank.svg" alt="Bank Account"></ent-image>
                                <ent-label data="BANK ACCOUNT"></ent-label>
                            </ent-card>
                        </div>
                    </ent-skeleton>
                    <ng-template #skeletonOptionLayout>
                        <div class="col-12 pl-0 pr-0 select-box-medium">
                            <ent-card>
                                <ent-skeleton [loading]="false" [appearance]="'rect'" class="skeleton-rect-xxsmall skeleton-paragraph-medium-fixed skeleton-center"></ent-skeleton>
                                <div class="skeleton-paragraph-long-fixed skeleton-center mt-2">
                                    <div class="ent-skeleton">
                                        <h5></h5>
                                    </div>
                                </div>
                            </ent-card>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12 col-md-12 col-12 alternate-payment-method-section">
            <div class="col-12 pr-0">
                <form [formGroup]="makeBankAccountForm" rule="form" novalidate>
                    <ent-card>
                        <div class="row">
                            <div class="col-12 field-row">
                                <div class="col-12 pr-0 pl-0">
                                    <ent-label className="ent-label-inline info-label" data="Bank Routing #" requiredField="required">
                                    </ent-label>
                                    <span class="pl-1">
                                        <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/routing-number.jpg' width='350px' height='173px'>" popoverPlacement="top"></span>
                                    </span>
                                    <ent-input [isAutoFocus]="true" infoMsg="The Bank Routing number is a nine-digit code that's based on the U.S. Bank location where your account was opened" [control]="form?.routingNumber" type="bank" formControlName="routingNumber"></ent-input>
                                    <ent-control-messages [control]="form?.routingNumber" labelName="Bank routing"></ent-control-messages>
                                </div>
                            </div>
                            <div class="col-12 field-row">
                                <div class="col-12 pr-0 pl-0">
                                    <ent-label className="ent-label-inline info-label" data="Bank Account #" requiredField="required">
                                    </ent-label>
                                    <span class="pl-1">
                                        <span appTabbing class="info-icon fas fa-question-circle fa-md text-primary" [popoverOnHover]="true" popover="<img src='assets/images/bank/account-number.jpg' width='350px' height='173px'>" popoverPlacement="top"></span>
                                    </span>
                                    <ent-input [control]="form?.accountNumber" type="bank" formControlName="accountNumber"></ent-input>
                                    <ent-control-messages [control]="form?.accountNumber" labelName="Bank account number">
                                    </ent-control-messages>
                                </div>
                            </div>
                            <div class="col-12 field-row">
                                <div class="row">
                                    <div class="col-6">
                                        <ent-label data="Name on Account"></ent-label>
                                        <ent-input [control]="form?.fullName" type="text" formControlName="fullName">
                                        </ent-input>
                                        <ent-control-messages [control]="form?.fullName" labelName="Name on account">
                                        </ent-control-messages>
                                    </div>
                                    <div class="col-6">
                                        <ent-label data="Account Type" requiredField="required"></ent-label>
                                        <ent-dropdown [control]="form?.accountType" type="select" formControlName="accountType" [dropdownItems]="accountTypeDropdown"></ent-dropdown>
                                        <ent-control-messages [control]="form?.accountType" labelName="Account type">
                                        </ent-control-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 alternate-payment-method-btn">
                                <div class="col-12 pr-0 pl-0 button-row add-buttons">
                                    <ent-button buttonText="RESET" class="float-left button-xlarge button-outline" [disabled]="!makeBankAccountForm.valid" (buttonClick)="reset()" buttonType="button"></ent-button>
                                    <ent-button imagePosition="right" fasName="fa-chevron-circle-right" class="float-right button-xlarge" (buttonClick)="addBankAccount()" [disabled]="!makeBankAccountForm.valid" buttonText="NEXT" buttonType="button"></ent-button>
                                </div>
                            </div>
                        </div>
                    </ent-card>
                </form>
            </div>
        </div>
    </div>
</div>
