<app-security-sidebar [sectionName]="'Dashboard'"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" [name]="'Dashboard'" [showBreadcrumb]="false"></ent-header>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epDashBoard')" class="security-icon"><span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span></a>
                <ent-skeleton class="col-12 pl-0 pr-0" [loading]="dashboardMetadata" [securityName]="'dashboard'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                    <div #dashboard *ngIf="checkSecurityOptions() else notAvailable" class="col-12 pl-0 pr-0 dashboard-header">
                        <div *ngFor="let metadata of dashboardMetadata; let i=index" appTabbing [hidden]="securityEngineService.checkVisibility(metadata?.securityName, 'Hide')" [class.disable-security-options]="securityEngineService.checkVisibility(metadata?.securityName, 'Disable')" class="dashboard-flex" (click)="redirectToPage(metadata?.redirectUrl, metadata?.securityName)">
                            <ent-image class="image" imageUrl="{{metadata?.iconPath}}" alt="Icon"></ent-image>
                            <p class="title">{{metadata?.title}}</p>
                            <p class="description">{{metadata?.description}}</p>
                            <a x-no-tabbing>{{metadata?.title}}</a>
                        </div>
                    </div>
                </ent-skeleton>
            </div>
            <ng-template #skeletonLayout>
                <div class="dashboard-header">
                    <div *ngFor="let metadata of dashboardMetadata" class="dashboard-flex">
                        <ent-skeleton [loading]="false" [appearance]="'avatar'" class="skeleton-avatar-xmedium skeleton-center image"></ent-skeleton>
                        <div class="title">
                            <ent-skeleton [loading]="false" [appearance]="'h5'" class="skeleton-paragraph-long-fixed skeleton-center"></ent-skeleton>
                        </div>
                        <div class="description-skeleton">
                            <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-xlong-fixed skeleton-center"></ent-skeleton>
                            <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-xlong-fixed skeleton-center"></ent-skeleton>
                            <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-xlong-fixed skeleton-center"></ent-skeleton>
                            <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-xlong-fixed skeleton-center"></ent-skeleton>
                        </div>
                        <div class="skeleton-title">
                            <ent-skeleton [loading]="false" [appearance]="'h5'" class="skeleton-paragraph-long-fixed skeleton-center"></ent-skeleton>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #notAvailable>
                <div class="dashboard-header">
                    <div class="col-12 app-section min-height-main pl-4 pr-4">
                        <ent-empty-view message="Dashboard is not available." iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>