<app-security-sidebar [sectionName]="'Recurring Payment'" (refreshSummary)="checkSecurityOptions()">
</app-security-sidebar>

<div ng-sidebar-content>
    <div class="make-account-payment">
        <div class="common-fixed-header">
            <ent-header name="{{headerName}}" [showBreadcrumb]="false">
                <div class="col-12 pr-0 pl-0 mt-3 pt-4 make-payment">
                    <ol class="step-indicator-small">
                        <li class="{{isSelectOptions}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isConfirm}}">
                            <div class="step"></div>
                        </li>
                    </ol>
                </div>
            </ent-header>
            <app-commission-header [isConfirm]="isConfirm" [isAccountDetailLoaded]="isAccountDetailLoaded" [accountDetails]="accountDetails" [type]="selectedType" (paymentType)="paymentType($event)"></app-commission-header>
        </div>
    </div>
    <div class="container payment-section">
        <div class="row">
            <div class="col-12">
                <div *ngIf="isSelectOptions === 'active'" class="col-12 pl-0 pr-0">
                    <ng-container *ngIf="selectedType === 'C'">
                        <app-contracts-list [accountDetails]="accountDetails" (selectedProfileEvent)="selectedProfileEvent($event)"></app-contracts-list>
                        <div class="col-12 text-center pt-4">
                            <ent-button imagePosition="right" (buttonClick)="next()" fasName="fa-chevron-circle-right" class="button-full" buttonText="NEXT" [disabled]="enableNext" buttonType="button">
                            </ent-button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedType === 'N'">
                        <app-add-new-profile (newProfileEvent)="newProfileEvent($event)"></app-add-new-profile>
                    </ng-container>
                </div>
                <div *ngIf="isConfirm === 'active'" class="col-12 payment-method-section">
                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left">
                        <ent-title-bar class="label-title-bar" titleText="Enrolling with" border="'false'">
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                            <div [class.active]="true" class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                <ent-card class="bank-list no-cursor">
                                    <ent-skeleton [loading]="true" [appearance]="'template'" [skeletonTemplate]="skeletonPaymentMethod">
                                        <div class="row pt-1">
                                            <div class="col-1 pt-3">
                                                <span class="radio-circle"></span>
                                            </div>
                                            <div class="col-2 pt-3">
                                                <ent-image class="bank-icon bank-custom" imageUrl="assets/images/bank/bank.svg" [alt]="'Icon'">
                                                </ent-image>
                                            </div>
                                            <div class="col-4">
                                                <ent-label className="ent-label-inline-bold" [data]="'XXXX XXXX ' + payment?.accountNumber.substr(payment?.accountNumber.length - 4)">
                                                </ent-label>
                                                <ent-label data="Bank Account"></ent-label>
                                            </div>
                                            <div class="col-5 pl-0 text-right text-uppercase">
                                                <ent-label className="ent-label-inline-bold" data="{{payment?.fullName }}"></ent-label>
                                            </div>
                                        </div>
                                    </ent-skeleton>
                                </ent-card>
                                <ng-template #skeletonPaymentMethod>
                                    <div class="row pt-1">
                                        <div class="col-1"></div>
                                        <div class="col-2 pr-0 pl-0">
                                            <ent-skeleton [loading]="false" [appearance]="'rect'" class="skeleton-rect-xxsmall">
                                            </ent-skeleton>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                        </div>
                                        <div class="col-4 text-right text-uppercase">
                                            <ent-skeleton [loading]="false"></ent-skeleton>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left instructions">
                        <ent-label class="desc" data="Subscription payments will be automatically processed until subscription ends/cancelled manually.">
                        </ent-label>
                    </div>
                    <form [formGroup]="eftPlanForm" rule="form" novalidate>
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left instructions">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <ent-label className="ent-label-inline-modal" [data]="'EFT Plan:'" requiredField="required">
                                    </ent-label>
                                </div>
                                <div class="col-6">
                                    <ent-dropdown [isAutoFocus]="true" [dropdownItems]="(payment?.paymentMethod === 'Credit Card' ? cardEftPlans : bankEftPlans)" type="select" formControlName="collectionType" [control]="collectionType"></ent-dropdown>
                                    <ent-control-messages [control]="collectionType" labelName="EFT Plan">
                                    </ent-control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                            <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL" class="float-left button-xlarge button-outline" (buttonClick)="goBack()" buttonType="button">
                            </ent-button>
                            <div class="text-right">
                                <ent-button class="button-full" [disabled]="!eftPlanForm.valid" imagePosition="right" fasName="fa-chevron-circle-right" buttonText="SETUP AUTO PAY" (buttonClick)="setupAutoPayment()" buttonType="submit"></ent-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ent-modal class="modal-xsmall" #paymentReceivedModel></ent-modal>
