<div #commonHeader class="col-12 pr-0 pl-0">
    <div class="col-12 well well-sm common-header ent-header pl-0 pr-0">
        <div class="container pl-0 pr-0 header-wrapper">
            <ent-image *ngIf="cancelUrl" appTabbing title="Go Back" (click)="goBack()" class="preview-icon" imageUrl="assets/images/icons/back.svg" [alt]="'Back'"></ent-image>
            <span class="header-title">{{name | titlecase}}</span>
            <span>{{originalName}}</span>
            <span *ngIf="securityEngineService?.roleSequenceId" class="selected-role float-right">Configuring as
        {{securityEngineService?.selectedRole?.roleName}}
            <span class="pl-3">
                <a (click)="clearRole()" class="fas fa-times" aria-hidden="true"></a>
            </span>
            </span>
            <ng-content></ng-content>
        </div>
    </div>
    <div class="container pl-0 pr-0">
        <div [hidden]="!showBreadcrumb" class="container text-right common-breadscrumb pr-0 pl-0" [ngStyle]="{'height': returnAppId && isSummary? '175px' : (name != ' ' ? '' : '110px') }">
            <ent-breadcrumb></ent-breadcrumb>
        </div>
    </div>
</div>
<a appTabbing [isTabbing]="false" id="main-content" (focusin)="mainContentFocused()"></a>