<div class="menu-apps-dropdown dropdown-toggle" title="Apps" data-toggle="dropdown">
    <a appTabbing class="d-block"><i class="fas fa-th"></i></a>
</div>
<ul class="dropdown-menu apps pl-0 pr-0 pb-0">
    <div *ngFor="let appItem of appsSectionList; let i = index" class="apps-section">
        <li *ngFor="let value of appItem.values" class="app-block">
            <a (click)="navigateToApp(value.routeUrl)">
                <ent-image class="app-menu-item" svgIcon="true" imageUrl="{{value.imageUrl}}"></ent-image>
                <span class="ellipsis-style">{{value.displayText | titlecase}}</span>
            </a>
        </li>
    </div>
</ul>