<div class="text-center ent-view-wapper">
    <div *ngIf="iconUrl" class="col-12 icon-section">
        <ent-image class="preview-icon" imageUrl="{{iconUrl}}"></ent-image>
    </div>
    <div class="col-12 message-text">
        <span>{{message}}</span>
    </div>
    <div *ngIf="subMessage" class="col-12 message-text-small">
        <p>{{subMessage}}</p>
    </div>
</div>