<div class="col-12 pr-0 pl-0 batch-policy-payments">
    <form [formGroup]="batchPolicyPaymentForm" (submit)="policyPaymentSubmit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <ent-label data="Policy Number" requiredField="required"></ent-label>
                        <ent-select #policyPaymentSelect [url]="apiUrl" [queryParam]="queryParam" requiredField="required" (dropdownClick)="checkFirstLoad()" placeholder="Search by Policy Number of Direct/Group Bill Accounts" [applyQueryParamOnSearch]="'_score'" [disabledField]="modalType !== 'Add'"
                            [isLoadApi]="false" [control]="batchPolicyPaymentForm.get('policyNumber')" [size]="'5'" (selectedValue)="selectedAccount($event)" (valueChanged)="checkPolicyNumber($event.toUpperCase())" formControlName="policyNumber" [selectRequired]="true"
                            [(ngModel)]="policyNumberValue" [displayField]="'accountNumber'" [isAutoFocus]="modalType === 'Add'">
                            <ul class="select-list-item">
                                <li *ngFor="let item of policyPaymentSelect.dropdownItems, let i = index" (click)="policyPaymentSelect.itemSelected(item, i)">
                                    <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                        <span class="title-name">{{item?.payorName}}
                      ({{item?.accountNumber || item}})</span>
                                        <br *ngIf="item?.payorAddress">
                                        <span>{{(item?.payorAddress ? item?.payorAddress : '')}}</span>
                                        <br *ngIf="item?.type">
                                        <span *ngIf="item?.type">{{item?.type === 'DirectBill' ? 'Consumer Direct' : 'Member Account'}}</span>
                                        <span *ngIf="item?.businessGroup"> (<b>Business Group:</b>
                      {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                    </a>
                                </li>
                            </ul>
                        </ent-select>
                        <ent-control-messages class="float-left" [control]="batchPolicyPaymentForm.get('policyNumber')" labelName="Account Number of Policy"></ent-control-messages>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="col-5">
                                <ent-label data="Policy Symbol" requiredField="required"></ent-label>
                                <ent-dropdown (selectedValue)="selectedPolicySymbol($event)" [disabledField]="(!policySymbolDropdown || policySymbolDropdown?.length === 1 || modalType === 'Edit')" [displayField]="'policySymbol'" [dropdownItems]="policySymbolDropdown" formControlName="policySymbol"
                                    type="select" [control]="policySymbol"></ent-dropdown>
                                <ent-control-messages [control]="policySymbol" labelName="Policy Symbol">
                                </ent-control-messages>
                            </div>
                            <ng-container *ngIf="(accountSelected?.accountId && policyAmount) || modalType === 'Edit'">
                                <div *ngIf="accountSelected && !securityEngineService.checkVisibility('policyPaymentPayorDetail', 'Hide')" class="col-7 line">
                                    <br>
                                    <strong class="ent-label-text">
                                        <app-name-display  [nameOnly]="true" [name]="policyAmount?.insuredName" ></app-name-display>
                                    </strong>

                                    <small class="sub-title">
                                      <app-name-display  [nameOnly]="true" [name]="(policyAmount?.insuredAddress ? policyAmount.insuredAddress : '')" ></app-name-display></small>
                                    <strong>Account Number : </strong><small class="sub-title"> {{accountSelected?.accountNumber}}</small>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="(accountSelected?.accountId && policyAmount) || modalType === 'Edit'">
                        <div *ngIf="policyAmountDetail" class="row">
                            <div *checkPermission="'policyPaymentCurrentBalance'" class="col-3">
                                <ent-text className="ent-text-inline-bold" [text]="'Current Balance : '"></ent-text>
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true" popover="<div class='rect-PastDue no-wrap'><strong> Past Due :</strong> {{policyAmountDetail.pastDue | currency:currency}} </div> <div class='rect-CurrentDue no-wrap'><strong>Current Due : </strong> {{policyAmountDetail.currentDue | currency:currency}} </div>"
                                    popoverPlacement="bottom"> &nbsp;{{policyAmountDetail.currentDue + policyAmountDetail.pastDue | currency:currency}}</span>
                            </div>
                            <div *checkPermission="'policyPaymentTotalBalance'" class="col-3">
                                <ent-text className="ent-text-inline-bold" [text]="'Total Balance : '">
                                </ent-text>
                                <ent-text className="ent-text-inline" [text]="(policyAmountDetail.futureDue + policyAmountDetail.currentDue + policyAmountDetail.pastDue) || '0' | currency:currency">
                                </ent-text>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="(accountSelected?.accountId && policyAmount) || modalType === 'Edit'">
                        <div class="row">
                            <div *ngIf="accountSelected" class="col-12">
                                <div class="strip-line"></div>
                            </div>
                            <div class="col-12 scroll-xmodal">
                                <div class="row">
                                    <div class="col-12" *ngIf="accountSelected">
                                        <div class="row">
                                            <div class="col-4">
                                                <ent-label data="Amount" requiredField="required"></ent-label>
                                                <ng-container *ngIf="(receivedCurrency.value !== currency && isMultiCurrencyEnable === 'true') else currentAmount">
                                                    <ent-input type="number" [control]="batchPolicyPaymentForm.get('paymentAmount')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [(ngModel)]="paymentAmount" formControlName="paymentAmount" (valueChanged)="updateAmount($event)"
                                                        (clearInputValue)="clearPaymentAmount()" [isAutoFocus]="modalType === 'Edit'"></ent-input>
                                                </ng-container>
                                                <ng-template #currentAmount>
                                                    <ent-dropdown [control]="batchPolicyPaymentForm.get('paymentAmount')" (clearInputValue)="clearPaymentAmount()" [dropdownItems]="amountList" [showOthers]="true" [currency]="currency" [ngModel]="currentDueLabel" formControlName="paymentAmount" displayField="name"
                                                        type="select" (selectedValue)="setPaymentAmount($event.value)" [isAutoFocus]="modalType === 'Edit'"></ent-dropdown>
                                                </ng-template>

                                                <p *ngIf="isUnValidPaymentAmount" class="error-message">Payment Amount must be greater than {{0 | currency: currency}}
                                                </p>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('paymentAmount')" labelName="Amount"></ent-control-messages>
                                            </div>
                                            <ng-container *ngIf="isMultiCurrencyEnable === 'true'">
                                                <div class="col-2">
                                                    <ent-label data="Received Currency" requiredField="required"></ent-label>
                                                    <ent-dropdown (selectedValue)="getReceivedCurrency($event)" [disabledField]="!currencyDropdown" [dropdownItems]="currencyDropdown" formControlName="receivedCurrency" type="select" [control]="receivedCurrency">
                                                    </ent-dropdown>
                                                    <ent-control-messages [control]="receivedCurrency" labelName="Currency">
                                                    </ent-control-messages>
                                                </div>
                                                <div class="col-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Exchange Rate ({{receivedCurrency?.value}} &rarr; {{currency}})"></ent-label>
                                                    <ent-input type="number" [control]="batchPolicyPaymentForm.get('exchangeRate')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" formControlName="exchangeRate" (valueChanged)="updateAmount($event)"></ent-input>
                                                    <ent-control-messages [control]="batchPolicyPaymentForm.get('exchangeRate')" labelName="Exchange Rate"></ent-control-messages>
                                                </div>
                                                <div class="col-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Payment Amount"></ent-label>
                                                    <ent-input formControlName="paymentCalculatedAmount" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [disabledField]="true"></ent-input>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-12 line">
                                        <div class="row">
                                            <div *ngIf="!securityEngineService.checkVisibility('policyPaymentDueDate', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Due Date'"></ent-label>
                                                <ent-date-picker #dueDatePicker [disabledField]="securityEngineService.checkVisibility('policyPaymentDueDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dueDate" formControlName="dueDate" (inputFieldChanged)="resetDateValidate(dueDatePicker, 'dueDate')"></ent-date-picker>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('dueDate')" labelName="Due Date">
                                                </ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('policyPaymentDateReceived', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Date Received'"></ent-label>
                                                <ent-date-picker #datePicker [disabledField]="securityEngineService.checkVisibility('policyPaymentDateReceived', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dateReceived" formControlName="dateReceived" (inputFieldChanged)="resetDateValidate(datePicker, 'dateReceived')"></ent-date-picker>
                                                <p *ngIf="dateReceivedValid && batchPolicyPaymentForm.get('dateReceived').valid" class="error-message">Date Received cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('dateReceived')" labelName="Date Received"></ent-control-messages>
                                            </div>
                                            <div class="col-3 mt-3">
                                                <ent-label requiredField="required" [data]="'Payment Type'"></ent-label>
                                                <ent-dropdown [dropdownItems]="PaymentTypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType" type="select" [control]="batchPolicyPaymentForm.get('paymentType')"></ent-dropdown>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('paymentType')" labelName="Payment Type"></ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('policyPaymentId', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Payment ID'"></ent-label>
                                                <ent-input [disabledField]="securityEngineService.checkVisibility('policyPaymentId', 'Disable')" [maxlength]="10" [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('paymentId')" labelName="Payment ID"></ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('policyPaymentPostmarkDate', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Postmark Date'"></ent-label>
                                                <ent-date-picker #postmarkdatePicker [disabledField]="securityEngineService.checkVisibility('policyPaymentPostmarkDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="postmarkDate" formControlName="postmarkDate" (inputFieldChanged)="resetDateValidate(postmarkdatePicker, 'postmarkDate')">
                                                </ent-date-picker>
                                                <p *ngIf="postmarkDateValid && batchPolicyPaymentForm.get('postmarkDate').valid" class="error-message">Postmark Date cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('postmarkDate')" labelName="Postmark Date"></ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('policyPaymentPayableItem', 'Hide')" class="col-3 mt-3">
                                                <ent-label data="Payable Item"></ent-label>
                                                <ent-dropdown [disabledField]="securityEngineService.checkVisibility('policyPaymentPayableItem', 'Disable')" [dropdownItems]="PayableItemDropdown" [(ngModel)]="payableItem" formControlName="payableItem" type="select"></ent-dropdown>
                                                <ent-control-messages [control]="batchPolicyPaymentForm.get('payableItem')" labelName="Payable Item"></ent-control-messages>
                                            </div>
                                            <div class="col-6 mt-3 align-self-center">
                                                <div class="row">
                                                    <div *checkPermission="'policyPaymentHoldInSuspense'" class="col-4 pr-0 hold-suspense-label align-self-center mt-4">
                                                        <ent-input-checkbox (valueChanged)="paymentOnHoldChanged($event)" formControlName="paymentOnHold" [(ngModel)]="paymentOnHold" [text]="'Hold In Suspense'">
                                                        </ent-input-checkbox>
                                                    </div>
                                                    <div class="col" *ngIf="paymentOnHold">
                                                        <ent-label [data]="'Reason'" requiredField="required"></ent-label>
                                                        <ent-dropdown [control]="batchPolicyPaymentForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="SuspenseReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                                        <ent-control-messages [control]="batchPolicyPaymentForm.get('suspenseReason')" labelName="Suspense reason">
                                                        </ent-control-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('policyComment', 'Hide')" class="col-12">
                                        <br>
                                        <div class="row">
                                            <div class="col-2">
                                                <ent-label data="Comment :"></ent-label>
                                            </div>
                                            <div class="col-10">
                                                <ent-text-area [disabledField]="securityEngineService.checkVisibility('policyComment', 'Disable')" [control]="batchPolicyPaymentForm.get('paymentComments')" formControlName="paymentComments" rowSize="1" [(ngModel)]="paymentComments"></ent-text-area>
                                                <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                                                <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button *ngIf="modalType === 'Add'" class="button-xlarge" buttonText="MAKE PAYMENT" [disabled]="!batchPolicyPaymentForm.valid || !(accountSelected?.accountId)  || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount)" buttonType="submit"></ent-button>
                <ent-button *ngIf="modalType === 'Edit'" class="button-xlarge" buttonText="SUBMIT" [disabled]="!batchPolicyPaymentForm.valid  || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount)" buttonType="submit"></ent-button>
            </div>
        </div>
    </form>
</div>
