<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div class="col">
            <span>PAYMENT AMOUNT</span>
        </div>
        <div class="col-2">
            <span>PAYMENT TYPE</span>
        </div>
        <div class="col-2">
            <span>IDENTIFIER</span>
        </div>
        <div class="col-2">
            <span>IDENTIFIER TYPE</span>
        </div>
        <div class="col-2">
            <span>REVIEW</span>
        </div>
        <div class="col">
            <span>CURRENT DUE</span>
        </div>
        <div class="col-1 text-center">
            <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epBatchSummary')">
                <span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>