<div class="container errorBlock">
    <div class="col-12 text-center">
        <div class="errorImage">
            <div class="errorCode">
                <img src="assets/images/errors/computer.png" alt="500" />
            </div>
        </div>
        <div class="errorContent">
            <h2>{{messageHeader}}</h2>
            <hr>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
                <h4 class="">{{messageContent}}</h4>
                <h5>{{message}}
                    <ent-signpost iconClass="fas fa-info-circle" [message]="errorDescription"></ent-signpost>
                </h5>
                <h5 class="support"><a [attr.href]="'mailto:' + supportEmail">Contact Support</a></h5>
                <div class="gotoHome">
                    <a [routerLink]="landingPageLink">Go To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>