<div class="col-12 pr-0 pl-0 payments-search-results-section table-list">
    <ng-container *ngIf="paymentList?.length > 0 else notFound">
        <div *ngFor="let payment of paymentList;let i = index">
            <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                <div class="col-12 results-section">
                    <div class="name col-1">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            <ng-container *ngIf="payment?.receivedAmount else multiCurrencyOff">
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true" popover="<div class='rect-STARTED no-wrap'><strong>Received Amount: </strong> {{payment?.receivedAmount || '0' | currency:payment?.receivedCurrency}} </div> <div class='rect-CurrentDue no-wrap'><strong>Exchange Rate:</strong> {{payment?.rate}} </div>"
                                    popoverPlacement="bottom">
                              {{payment?.paymentAmount || '0' | currency:payment?.currency}}
                              </span>
                            </ng-container>
                            <ng-template #multiCurrencyOff>
                                {{payment?.paymentAmount || '0' | currency:payment?.currency}}
                            </ng-template>
                        </ent-skeleton>
                    </div>
                    <div class="col-1 pr-0">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            {{payment?.paymentDate | date:'MM/dd/yyyy'}}
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            {{payment?.paymentMethod}}
                        </ent-skeleton>
                    </div>
                    <div *checkPermission="'columnPaymentIdentifier'" class="col">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'columnPaymentIdentifier'">
                            <ent-link class="font-weight-bold word-wrap" [linkText]="payment?.identifier" (linkClickOutput)="goToAccountPage(payment)"></ent-link>
                        </ent-skeleton>
                    </div>
                    <div class="w-11">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            <span class="badge-{{removeSpaces(payment?.identifierType)}}-inverse badge-no-border">{{payment?.identifierType}}</span>
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            <app-name-display class="user-name" [nameOnly]="true" [name]="payment?.payorName" [popoverPlacement]="'top'" [length]="25" [maxWidth]="126"></app-name-display>
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                            <span appTabbing class="dashed-border-help word-break" [popoverOnHover]="true" popover="<b>User ID:</b> {{payment?.userId }}" popoverPlacement="top" [popoverWidth]="'max-content'">
                              {{payment?.userName}}
                            </span>
                        </ent-skeleton>
                    </div>
                    <div class="w-{{securityEngineService.checkVisibility('columnPaymentDeatilorStatus', 'Hide') ? '5': '13'}} pr-3">
                        <ent-skeleton *checkPermission="'columnPaymentDeatilorStatus'" [loading]="isPaymentListLoaded" [securityName]="'columnPaymentDeatilorStatus'">
                            <span class="rect-{{removeSpaces(payment?.status || 'Applied')}}">
                              <a class="link-highlighted"
                              (click)="openPaymentDetail(payment)">{{payment?.status || 'Applied'}}</a>
                          </span>
                        </ent-skeleton>
                    </div>
                </div>
            </ent-card>

        </div>

    </ng-container>
    <ng-template #notFound>
        <br>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view message="No Payment Found" subMessage="" iconUrl="assets/images/icons/no-batch.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>

    <ent-pagination [hidden]="!(paymentList && paymentList.length > 0) || !isPaymentListLoaded" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
</div>
<ent-modal class="modal-auto" #PaymentDetailModal></ent-modal>
