<div class="col-12 table-list pr-0 pl-0">
    <div class="col-12 header-section">
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT AMOUNT</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT DATE</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>PAYMENT METHOD</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>IDENTIFIER</span>
            </ent-skeleton>
        </div>
        <div class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'paymentResultTable'">
                <span>USER NAME</span>
            </ent-skeleton>
        </div>
        <div *ngIf="!securityEngineService.checkVisibility('PaymentDeatilorStatusSection', 'Hide')" class="col">
            <ent-skeleton [loading]="isPaymentListLoaded" [securityName]="'PaymentDeatilorStatusSection'">
                <span>STATUS</span>
            </ent-skeleton>
        </div>
        <div class="col-1 text-center">
            <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epPaymentsSearchUnidentifiedPayments')">
                <span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>