<div class="ent-link">
    <ng-container *ngIf="linkUrl && linkText && query && textHighlight">
        <a appAutoFocus [autoFocus]="isAutoFocus" [title]="(title ? title : '')" class="font-weight-bold" entCtrlClick (ctrlClick)="ctrlClick($event)" [innerHTML]="linkText | highlightText : query"></a>
    </ng-container>
    <ng-container *ngIf="linkUrl && linkText && !query">
        <a appAutoFocus [autoFocus]="isAutoFocus" [title]="(title ? title : '')" class="font-weight-bold" entCtrlClick (ctrlClick)="ctrlClick($event)">{{linkText}}</a>
    </ng-container>
    <a appAutoFocus [autoFocus]="isAutoFocus" [title]="(title ? title : '')" *ngIf='href' [attr.href]="href">{{linkText}}</a>
    <a appAutoFocus [autoFocus]="isAutoFocus" [title]="(title ? title : '')" *ngIf='!customLink && !linkUrl && !href' [class.text-ellipsis]="ellipsis" (click)="linkClick()">{{linkText}}</a>
    <div class="float-right" *ngIf="allowEdit">
        <a appAutoFocus [autoFocus]="isAutoFocus" [title]="(title ? title : '')" class="edit" (click)="showEditMode()">
            <span class="fas fa-pencil-alt"></span>
        </a>
    </div>
    <span *ngIf="customLink">
    <ng-content></ng-content>
  </span>
</div>