@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .express-payments-section {
        .express-payments-message {
            @include pseudo(absolute, 5px, 0, 0, false, 99);
            @include space(margin, left, auto);
            @include space(margin, right, auto);
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            pointer-events: auto;
            @include padding(8px, 10px, 8px, 15px);
            width: 60%;
        }
        .radio-button-selection-card{
            .express-radio-option{
                &:last-child {
                    @include space(padding, right, 0px !important);
                }
            }
        }
        .skeleton-label {
            .ent-skeleton {
                width: 125px !important;
            }
        }
    }
}
