<app-security-sidebar [sectionName]="'Provide Bill Information'"
    (refreshSummary)="checkSecurityOptions($event); handleUnidentifiedPaymentSecurityConfig($event)">
</app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Provide Bill Information"></ent-header>

    <div class="container express-payments-section">
        <div class="row">
            <div class="col-12 text-center">
                <span *ngIf="noDataFound" class="express-payments-message font-weight-semi-bold bg-danger">
                    Please select a different search criteria or correct the information provided below.
                </span>
            </div>
            <div *ngIf="securityEngineService?.roleSequenceId" class="col-12 text-right pt-3">
                <a (click)="openSecurity('epProvideBillingInformation')"><span class="fas fa-cog search-security-icon setting-icon" aria-hidden="true"></span></a>
            </div>
            <div *checkPermission="'payOptions'; else notAvailable" class="col-12 pr-0">
                <form [formGroup]="expressPaymentForm" rule="form" novalidate>
                    <div class="row radio-button-selection-card">
                        <div class="col-12">
                            <ent-label class="sub-title text-center"
                                data="Pay Insurance Bill with available {{checkMultiExpressPaymentOptionsEnable() ? 'options': 'option'}}.">
                            </ent-label>
                            <br>
                            <div class="col-12">
                                <div #expressEntries class="row justify-content-center">
                                    <div *ngFor="let expressOption of expressPaymentOptionsList; let i=index"
                                        [hidden]="securityEngineService.checkVisibility(expressOption?.securityName, 'Hide')"
                                        [class.disable-security-options]="securityEngineService.checkVisibility(expressOption?.securityName, 'Disable')"
                                        class="col-3 pl-0 pr-3">
                                        <ent-skeleton id="{{expressOption?.value}}"
                                            [loading]="!securityEngineService?.isSecurityDataLoading"
                                            [securityName]="expressOption?.securityName" [appearance]="'template'"
                                            [skeletonTemplate]="skeletonLayout">
                                            <div appTabbing (click)="selectMethod(expressOption?.value);"
                                                [ngClass]="{'active': checkExpressOptionsEnable(expressOption?.value)}"
                                                class="col-12 pl-0 pr-0 box">
                                                <ent-card>
                                                    <span class="radio-circle"></span>
                                                    <ent-label class="payment-label" data="{{expressOption?.name}}">
                                                    </ent-label>
                                                    <ent-image class="payment-icon"
                                                        imageUrl="{{expressOption?.imageUrl}}"
                                                        alt="expressOption?.name"></ent-image>
                                                </ent-card>
                                            </div>
                                        </ent-skeleton>
                                    </div>
                                    <ng-template #skeletonLayout>
                                        <div class="col-12 pl-0 pr-0 box">
                                            <ent-card>
                                                <ent-skeleton [loading]="false" class="skeleton-paragraph-short-fixed">
                                                </ent-skeleton>
                                                <ent-skeleton [loading]="false" class="skeleton-label ml-3">
                                                </ent-skeleton>
                                                <ent-skeleton [loading]="false" [appearance]="'h2'"
                                                    class="skeleton-paragraph-medium-fixed ml-4"></ent-skeleton>
                                            </ent-card>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 policy-number-section">
                            <div class="row">
                                <div
                                    class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 label-header pr-0 pl-0 text-left pt-3">
                                    <div class="row">
                                        <div class="col-9 field-row"> 
                                            <ent-label [data]="labelName" [requiredField]="'required'"></ent-label>
                                            <ng-container *ngIf="!isUnidentified">
                                                <ent-select 
                                                #policyPaymentSelect 
                                                [url]="apiUrl" 
                                                [queryParam]="queryParam" 
                                                requiredField="required"
                                                placeholder="Search by {{labelName}} of Direct/Group Bill Accounts"
                                                [applyQueryParamOnSearch]="'_score'" 
                                                [(ngModel)]="policyNumberValue"
                                                [isLoadApi]="false" 
                                                [size]="'5'" 
                                                (dropdownClick)="checkFirstLoad()" 
                                                (selectedValue)="selectedAccount($event)"
                                                (valueChanged)="searchCriteriaValueChange($event, 'verifyNumber', true); checkPolicyNumber($event.toUpperCase())" 
                                                formControlName="verifyNumber" 
                                                [selectRequired]="true"
                                                [displayField]="isSelectedDisplayField" 
                                                [isAutoFocus]="isFocus">
                                                    <ul class="select-list-item">
                                                    <li *ngFor="let item of policyPaymentSelect.dropdownItems, let i = index"
                                                        (click)="policyPaymentSelect.itemSelected(item, i)">
                                                        <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                                            <span class="title-name">{{item?.payorName}}
                                                                ({{item?.accountNumber || item}})</span>
                                                            <br *ngIf="item?.payorAddress">
                                                            <span>{{(item?.payorAddress ? item?.payorAddress : '')}}</span>
                                                            <br *ngIf="item?.type">
                                                            <span *ngIf="item?.type">{{item?.type === 'DirectBill' ? 'Consumer Direct' : 'Member Account'}}</span>
                                                            <span *ngIf="item?.businessGroup"> (<b>Business Group:</b>
                                                                {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ent-select>
                                            </ng-container> 
                                          <ent-input *ngIf="isUnidentified && (isAccountNumber || isPolicyNumber)" [control]="form?.verifyNumber"
                                                [isAutoFocus]="isFocus" class="other-amount" [type]="'text'"
                                                (valueChanged)="searchCriteriaValueChange($event, 'verifyNumber', true)"
                                                [disabledField]="isUnidentified"
                                                formControlName="verifyNumber"></ent-input>
                                            <ent-control-messages *ngIf="isUnidentified" [control]="form?.verifyNumber"
                                                [labelName]="labelName">
                                            </ent-control-messages>
                                        </div>
                                        <div *ngIf="!isUnidentified && isPolicyNumber && !isEmail && !isPhoneNumber && !securityEngineService.checkVisibility('unidentifiedPolicyPaymentPolicySymbol', 'Hide')"
                                            class="col-3 field-row">
                                            <ent-label [data]="'Policy Symbol'" [requiredField]="'required'"></ent-label>
                                            <ent-dropdown [control]="form?.policySymbol"
                                                [dropdownItems]="PolicySymbolDropdown"
                                                [disabledField]="(!PolicySymbolDropdown || PolicySymbolDropdown?.length === 1) || securityEngineService.checkVisibility('unidentifiedPolicyPaymentPolicySymbol', 'Disable')"
                                                (selectedValue)="selectedPolicySymbol($event)"
                                                formControlName="policySymbol" type="select"
                                                (clearInputValue)="searchCriteriaValueChange('true')"
                                                 ></ent-dropdown>
                                            <ent-control-messages [control]="form?.policySymbol"
                                                labelName="Policy Symbol"></ent-control-messages>
                                        </div>
                                        <div *ngIf="isUnidentified && isPolicyNumber && !isEmail && !isPhoneNumber && !securityEngineService.checkVisibility('unidentifiedPolicyPaymentAccountNumber', 'Hide')"
                                            class="col-6 field-row">
                                            <ent-label [data]="'Account Number'"></ent-label>
                                            <ent-input [control]="form?.policyAccountNumber"
                                                [disabledField]="securityEngineService.checkVisibility('unidentifiedPolicyPaymentAccountNumber', 'Disable')"
                                                (valueChanged)="convertToUpperCase($event.toUpperCase(), 'policyAccountNumber')"
                                                formControlName="policyAccountNumber"></ent-input>
                                            <ent-control-messages [control]="form?.policyAccountNumber"
                                                labelName="Account Number"></ent-control-messages>
                                        </div>
                                        <div *ngIf="isUnidentified && !isEmail && !isPhoneNumber"
                                            class="col-6 field-row">
                                            <ent-label data="Payment Amount" [requiredField]="'required'"></ent-label>
                                            <ent-input [isAutoFocus]="isUnidentified && !isEmail && !isPhoneNumber" [control]="form?.paymentAmount" formControlName="paymentAmount"
                                                type="number"
                                                [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                            </ent-input>
                                            <ent-control-messages [control]="form?.paymentAmount"
                                                labelName="Payment Amount">
                                            </ent-control-messages>
                                        </div>
                                        <div *ngIf="isUnidentified && !isEmail && !isPhoneNumber" class="col-12">
                                            <div class="row">
                                                <div class="col-8 pb-4 text-center">
                                                    <div class="row">
                                                        <ng-container
                                                            *ngFor="let item of accountTypeData;let i = index">
                                                            <div *checkPermission="getFieldNameSecurityConfig(item)" appTabbing
                                                                class="col-6 select-box-no-image" (click)="showActiveControls(item)"
                                                                [class.active]="accountType === item"
                                                                [class.disabled]="item === 'Agency Sweep' ? !(isAgencySweepEnabled == 'true') : false">
                                                                <ent-card class="selected-box-items">
                                                                    <ent-label data="{{item}}"></ent-label>
                                                                </ent-card>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-4">
                                            <div *ngIf="policyPaymentSelect?.dropdownItems && 
                                            policyPaymentSelect?.dropdownItems.length === 1 && policyPaymentSelect?.dropdownItems[0] === NO_RECORDS_ARE_AVAILABLE
                                            && !isEmail && !isPhoneNumber"
                                            class="col-12">
                                            <span class="float-left text-dark-red font-weight-bold text-font-size-sm">
                                                No {{isPolicyNumber ? 'Policy' : 'Account'}} Found for your search
                                                criteria. <span>Need to make Unidentified Payment?
                                                    <ent-link [isAutoFocus]="isMakeUnidentifiedPaymentLink" class="d-inline-block" [linkText]="' Click Here.'"
                                                        (linkClickOutput)="unidentifiedPaymentSwitch(true)"></ent-link>
                                                </span>
                                            </span>
                                        </div>
                                        </div>
                                        <div class="col-12 mt-4 pb-3">
                                            <ent-button *ngIf="isUnidentified" imagePosition="left"
                                                fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                                class="float-left button-xlarge button-outline" (buttonClick)="unidentifiedPaymentCancelHandle()"
                                                buttonType="button"></ent-button>
                                            <div *ngIf="isUnidentified"
                                                class="text-right">
                                                <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                                                    class="button-xlarge" buttonText="CONTINUE"
                                                    [disabled]="!expressPaymentForm.valid || isMakeUnidentifiedPaymentLink"
                                                    (buttonClick)="expressPaymentAction()"></ent-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <ent-skeleton *ngIf="accountId" class="col-12 pr-0 pl-0"
                                    [loading]="isAccountDetailsLoaded" [appearance]="'template'"
                                    [skeletonTemplate]="skeletonProfile">
                                    <div *ngIf="accountDetails" class="col-12">
                                        <div class="strip-line"></div>
                                    </div>
                                    <div *ngIf="accountDetails" class="col-12 mt-4">
                                        <div class="row">
                                            <div class="col-6">
                                                <strong class="ent-label-text"  *ngIf="accountDetails?.payorName">
                                                    <app-name-display [nameOnly]="true"
                                                        [name]="accountDetails?.payorName" [maxWidth]="700"
                                                        [length]="70"></app-name-display>
                                                </strong>
                                                <small class="sub-title" *ngIf="accountDetails?.payorAddress">
                                                    <app-name-display [nameOnly]="true"
                                                        [name]="(accountDetails?.payorAddress ? accountDetails?.payorAddress : '')"
                                                        [maxWidth]="700" [length]="70"></app-name-display>
                                                </small>
                                                <small *ngIf="accountDetails?.payorEmail || accountDetails?.payorPhone"
                                                    class="ent-label-text email-section">{{accountDetails?.payorEmail}}
                                                    {{accountDetails?.payorPhone ? ' . ' + accountDetails?.payorPhone :
                                                    ''}}
                                                </small><br *ngIf="accountDetails?.payorEmail || accountDetails?.payorPhone">
                                                <small *ngIf="accountDetails?.accountNumber" class="sub-title"> <strong>Account Number : </strong>
                                                    {{accountDetails?.accountNumber}}</small>
                                            </div>
                                            <div class="col-6 pt-4 text-right">
                                                <ent-button (buttonClick)="expressPaymentNavigate()"
                                                    imagePosition="right" fasName="fa-chevron-circle-right"
                                                    class="button-medium" buttonText="NEXT" buttonType="button">
                                                </ent-button>
                                            </div>
                                        </div>
                                    </div>
                                </ent-skeleton>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <ng-template #notAvailable>
                <div class="col-12 mt-3">
                    <div class="col-12 app-section min-height-main">
                        <ent-empty-view message="Provide Bill Information is not available."
                            iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #skeletonProfile>
        <div class="col-12">
            <div class="strip-line"></div>
        </div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <ent-skeleton [loading]="false" [appearance]="'h5'" class="skeleton-paragraph-medium">
                    </ent-skeleton>
                    <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-long"></ent-skeleton>
                    <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-medium">
                    </ent-skeleton>
                </div>
            </div>
        </div>
    </ng-template>
    <ent-modal class="modal-medium" #selectAgentModal (modalOutput)="selectAgentEvent($event)"></ent-modal>
</div>