@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .security-setting-header {
        .title-bar {
            color: $white-color;
            .client-summary-close-icon {
                color: $white-color;
            }
        }
    }
    .ng-sidebar-container_opened {
        position: fixed;
        overflow: hidden;
        z-index: 9999;
        left: 0;
        .ng-sidebar__content {
            overflow: auto;
        }
        .ng-sidebar {
            overflow: hidden;
            @include space (padding, bottom, 50px);
        }
    }
    .ng-sidebar-container_closed {
        position: relative;
        overflow: visible;
        .ng-sidebar__content {
            overflow: visible;
        }
    }
    .ng-sidebar__content {
        position: relative;
    }
    .ng-sidebar {
        z-index: 1050 !important;
    }
    aside {
        background-color: $white-color;
        position: absolute;
        width: auto;
        overflow: hidden;
        min-width: 470px;
    }
    .ng-sidebar__backdrop {
        z-index: 1050 !important;
        opacity: 0.40 !important;
    }
}
