<ng-sidebar-container [ngClass]="securityEngineService.securityOpen ? 'ng-sidebar-container_opened' : 'ng-sidebar-container_closed'">
    <ng-sidebar #sidebar [(opened)]="securityEngineService.securityOpen" [mode]="MODES[modeNum]" [keyClose]="keyClose" [position]="POSITIONS[positionNum]" [dock]="dock" [dockedSize]="'50px'" [autoCollapseHeight]="autoCollapseHeight" [autoCollapseWidth]="autoCollapseWidth"
        [closeOnClickOutside]="closeOnClickOutside" [closeOnClickBackdrop]="closeOnClickBackdrop" [showBackdrop]="showBackdrop" [animate]="animate" [trapFocus]="trapFocus" [autoFocus]="autoFocus" (onClosed)="securityConfigClosed()" (onOpened)="securityConfigOpened()">
        <div class="col-12 security-setting-header bg-primary">
            <ent-title-bar border="'false'" [titleText]="getTitleText()">
                <a appTabbing [isTabbing]="opened" class="float-right client-summary-close-icon" (click)="closeSidebar()"><span
            class="fas fa-times" aria-hidden="true"></span></a>
            </ent-title-bar>
        </div>
        <app-security-sidebar-detail #securitySidebarDetail [ngClass]="{'d-none': !securityEngineService.securityOpen}" [securitySectionList]="securityEngineService.securitySectionList" [securityFieldData]="securityEngineService.securityFieldData" [securitySectionData]="securityEngineService.securitySectionData"
            [roleSequenceId]="securityEngineService.roleSequenceId" [securityConfigList]="securityEngineService.securityConfigList" [supplementalFieldsSettings]="securityEngineService.supplementalFieldsSettings">
        </app-security-sidebar-detail>
    </ng-sidebar>
</ng-sidebar-container>