@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .batch-summary-results-section {
        .no-batch-payment-found {
            img {
                width: 192px;
            }
        }
    }
}
