<div class="batch-summary-results-section table-list">
    <ng-container *ngIf="batchPaymentList?.length > 0 else notFound">
        <div *ngFor="let batchPayment of batchPaymentList;let i = index">
            <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                <div class="col-12 results-section">
                    <div class="col word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            <ng-container *ngIf="batchPayment?.receivedAmount else multiCurrencyOff">
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true" popover="<div class='rect-STARTED no-wrap'><strong>Received Amount: </strong> {{batchPayment?.receivedAmount || '0' | currency:batchPayment?.receivedCurrency}} </div> <div class='rect-CurrentDue no-wrap'><strong>Exchange Rate:</strong> {{batchPayment?.rate}} </div>"
                                    popoverPlacement="bottom">
                                  {{batchPayment?.paymentAmount || '0' | currency:currency}}
                              </span>
                            </ng-container>
                            <ng-template #multiCurrencyOff>
                                {{batchPayment?.paymentAmount || '0' | currency:currency}}
                            </ng-template>
                        </ent-skeleton>
                    </div>
                    <div class="col-2 word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            {{batchPayment?.paymentType}}
                        </ent-skeleton>
                    </div>
                    <div class="col-2 word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            {{batchPayment?.identifier}}
                        </ent-skeleton>
                    </div>
                    <div class="col-2">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            <span class="badge-{{removeSpaces(batchPayment?.identifierType)}}-inverse badge-no-border">{{batchPayment?.identifierType}}</span>
                        </ent-skeleton>
                    </div>
                    <div class="col-2 badge-wrapper-left data hidden-xs word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            {{batchPayment?.reviewCode}}
                        </ent-skeleton>
                    </div>
                    <div class="col word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded">
                            {{batchPayment?.currentDue || '0' | currency:currency}}
                        </ent-skeleton>
                    </div>
                    <div class="col-1 right-option-icon" [ngClass]="{'invisible': securityEngineService.checkVisibility('paymentRowMoreOptions', 'Hide')}">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'paymentRowMoreOptions'" class="skeleton-center skeleton-paragraph-medium-fixed">
                            <div *checkPermission="'paymentRowMoreOptions'" class="flex-container-center">
                                <div class="smDropdown">
                                    <button [disabled]="!isBatchPaymentListLoaded || securityEngineService.checkVisibility('paymentRowMoreOptions', 'Disable')" title="More Options" class="btn dropdown-toggle" data-display="static" data-toggle="dropdown">
                                        <span class="fas fa-ellipsis-v" [class.disable-security-options]="!isBatchPaymentListLoaded"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                                        <li><a *checkPermission="'paymentOptionEdit'" class="dropdown-item"
                                                [class.disable-dropdown-options]="!batchPayment?.isEdit || !isAcceptBatch && isDepositBatch && batchPayment?.isEdit || isAcceptBatch && !isDepositBatch && !batchPayment?.isEdit || !isAcceptBatch && !isDepositBatch && !batchPayment?.isEdit"
                                                (click)="batchPaymentActions('Edit', batchPayment)">Edit</a></li>
                                        <li><a *checkPermission="'paymentOptionDelete'" class="dropdown-item"
                                                [class.disable-dropdown-options]="!batchPayment?.isDelete || !isAcceptBatch && isDepositBatch && batchPayment?.isDelete || isAcceptBatch && !isDepositBatch && !batchPayment?.isEdit || !isAcceptBatch && !isDepositBatch && !batchPayment?.isEdit"
                                                (click)="batchPaymentActions('Delete', batchPayment)">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ent-skeleton>
                    </div>
                </div>
            </ent-card>
        </div>

    </ng-container>

    <ng-template #notFound>
        <br>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view class="no-batch-payment-found" message="No Batch Payment To Display" subMessage="As batch payment is generated for the account, categorized breakdown of premiums will appear here." iconUrl="assets/images/icons/no-account-payments.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>

    <div class="col-12">
        <ent-pagination [hidden]="!(batchPaymentList && batchPaymentList.length > 0) || !isBatchPaymentListLoaded" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
    </div>
</div>
<ent-modal #batchSummaryEditModal class="modal-xxlarge" (modalOutput)="refreshBatchPaymentsModal($event)"></ent-modal>
<ent-modal #batchSummaryDeleteModal class="delete-batch-payment-modal" (modalOutput)="deleteBatchPayment($event)"></ent-modal>
<ent-modal #batchGroupPaymentEditModal class="modal-xxlarge" (modalOutput)="refreshBatchPaymentsModal($event)"></ent-modal>
<ent-modal #batchUnidentifiedPaymentEditModal class="modal-xmedium" (modalOutput)="refreshBatchPaymentsModal($event)"></ent-modal>