<div class="col-12 pr-0 pl-0 add-batch-form">
    <form [formGroup]="addBatchForm" (submit)="submit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12">
                <span *ngIf="isBatchId">
                    <a *checkPermission="'addBatchIDLinkinAddBatch'" [hidden]="modalType === 'Edit'" class="action-link" (click)="isBatchId = !isBatchId">Add Batch ID</a>
                </span>
                <div *ngIf="!isBatchId || modalType === 'Edit'" class="col-6 pl-0">
                    <div class="row">
                      <div class="col-8">
                            <ent-label className="ent-label-inline-modal" data="Batch ID"></ent-label>
                            <ent-input [isAutoFocus]="!isBatchId" [disabledField]="modalType === 'Edit'" [maxlength]="4"
                                (valueChanged)="convertToUpperCase($event.toUpperCase(), 'batchId')"
                                [control]="form.batchId" formControlName="batchId" type="text"></ent-input>
                            <ent-control-messages [control]="form.batchId" labelName="Batch Id"></ent-control-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 field-row">
                <div class="row">
                    <div class="col-4 description-section">
                        <ent-label requiredField="required"
                            [data]="(modalType === 'Add' ? 'Entry Date' : 'Posted Date')"></ent-label>
                        <ent-date-picker [isAutoFocus]="modalType && modalType === 'Add'" [currentDate]="systemDate"
                            formControlName="postedDate" [options]="postDatePickerOptions"></ent-date-picker>
                        <ent-control-messages [control]="form.postedDate" labelName="Posted Date">
                        </ent-control-messages>
                    </div>
                    <div class="col-4 description-section">
                        <ent-label requiredField="required" [data]="'Deposit Date'"></ent-label>
                        <ent-date-picker [isAutoFocus]="modalType && modalType !== 'Add'" [currentDate]="systemDate"
                            formControlName="depositDate"></ent-date-picker>
                        <ent-control-messages [control]="form.depositDate" labelName="Deposit Date">
                        </ent-control-messages>
                    </div>
                    <div class="col-4">
                      <ent-label requiredField="required" [data]="'Batch Total'"></ent-label>
                      <ent-input type="number" formControlName="batchAmount" [disabledField]="batchDetails?.isAccept === false" 
                          [options]="commonService.getComponentConfiguration('inputAmountOptions')"></ent-input>
                      <ent-control-messages [control]="form.batchAmount" labelName="Batch Total">
                      </ent-control-messages>
                  </div>
                </div>
            </div>
            <div class="col-12 field-row">
                <div class="row">
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Deposit Bank'"></ent-label>
                        <ent-dropdown (selectedValue)="selectedDepositBank($event)" 
                            [control]="form.depositBank" [dropdownItems]="DepositBankDropdown?.propertyValues"
                            formControlName="depositBank" type="select"></ent-dropdown>
                        <ent-control-messages [control]="form.depositBank" labelName="Deposit Bank">
                        </ent-control-messages>
                    </div>
                    <div class="col-4">
                        <ent-label requiredField="required" [data]="'Control Bank'"></ent-label>
                        <ent-dropdown [disabledField]="!ControlBankDropdown" 
                            [control]="form.controlBank" [dropdownItems]="ControlBankDropdown"
                            formControlName="controlBank" type="select"></ent-dropdown>
                        <ent-control-messages [control]="form.controlBank" labelName="Control Bank">
                        </ent-control-messages>
                    </div>
                    <div class="col-4" *ngIf="multiCurrencyHide">
                      <ent-label data="Currency" requiredField="required"></ent-label>
                      <ent-dropdown [disabledField]="multiCurrencyEnabled" [dropdownItems]="currencyDropdown?.propertyValues"
                          formControlName="currency" type="select" [control]="form.currency"></ent-dropdown>
                      <ent-control-messages [control]="form.currency" labelName="Currency">
                      </ent-control-messages>
                  </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button class="button-xlarge" [buttonText]="(modalType === 'Edit' ? 'SUBMIT' : 'ADD')"
                    [disabled]="!addBatchForm.valid" buttonType="submit"></ent-button>
            </div>
        </div>
    </form>
</div>