<div class="col-12 pr-0 pl-0 pt-3">
    <div class="row">
        <div class="col-12">
            <div class="col-12 pr-0">
                <div #expressEntries class="row text-left">
                    <div appTabbing id="AccountPayment" *checkPermission="'expressEntryAccountPayment'" class="col-3 pl-0 select-box-small" [class.active]="searchType === 'AccountPayment'" (click)="showActiveControls('AccountPayment')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/account-payment-header.svg" alt="ACCOUNT PAYMENT"></ent-image>
                            <span class="label-name">ACCOUNT PAYMENT</span>
                        </ent-card>
                    </div>
                    <div appTabbing id="GroupPayment" *checkPermission="'expressEntryGroupPayment'" class="col-3 pl-0 select-box-small" [class.active]="searchType === 'GroupPayment'" (click)="showActiveControls('GroupPayment')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/group-payment-header.svg" alt="GROUP PAYMENT"></ent-image>
                            <span class="label-name">GROUP PAYMENT</span>
                        </ent-card>
                    </div>
                    <div appTabbing id="PolicyPayment" *checkPermission="'expressEntryPolicyPayment'" class="col-3 pl-0 select-box-small" [class.active]="searchType === 'PolicyPayment'" (click)="showActiveControls('PolicyPayment')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/policy-payment-header.svg" alt="POLICY PAYMENT"></ent-image>
                            <span class="label-name">POLICY PAYMENT</span>
                        </ent-card><br>
                    </div>
                    <div appTabbing id="AgencyPayment" *checkPermission="'expressEntryAgencyPayment'" class="col-3 pl-0 select-box-small" [class.active]="searchType === 'AgencyPayment'" (click)="showActiveControls('AgencyPayment')">
                        <ent-card>
                            <ent-image class="perview-icon" imageUrl="assets/images/options/agency-payment-header.svg" alt="AGENCY PAYMENT">
                            </ent-image>
                            <span class="label-name">AGENCY PAYMENT</span>
                        </ent-card>
                    </div>
                </div>
            </div>
            <form [formGroup]="batchUnidentifiedPaymentForm" (submit)="unidentifiedPaymentSubmit()" rule="form">
                <div class="col-12 pl-1 batch-unidentified-section scroll-modal">
                    <div class="row">
                        <ng-container *ngIf="searchType === 'AccountPayment'">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <ent-label [data]="'Account Number'" requiredField="required"></ent-label>
                                        <ent-input [isAutoFocus]="true" [control]="batchUnidentifiedPaymentForm.get('accountNumber')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'accountNumber')" [(ngModel)]="accountNumber" formControlName="accountNumber"></ent-input>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('accountNumber')" labelName="Account Number"></ent-control-messages>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="searchType === 'GroupPayment'">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <ent-label [data]="'Group Number'" requiredField="required"></ent-label>
                                        <ent-input [isAutoFocus]="true" [control]="batchUnidentifiedPaymentForm.get('groupAccountNumber')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'groupAccountNumber')" [(ngModel)]="groupAccountNumber" formControlName="groupAccountNumber"></ent-input>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('groupAccountNumber')" labelName="Group Number"></ent-control-messages>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="searchType === 'AgencyPayment'">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <ent-label [data]="'Agency Number'" requiredField="required"></ent-label>
                                        <ent-input [isAutoFocus]="true" [control]="batchUnidentifiedPaymentForm.get('agencyAccountNumber')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'agencyAccountNumber')" [(ngModel)]="agencyAccountNumber" formControlName="agencyAccountNumber"></ent-input>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('agencyAccountNumber')" labelName="Agency Number"></ent-control-messages>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="searchType === 'PolicyPayment'">
                            <div class="col-12">
                                <div class="row">
                                    <div *ngIf="!securityEngineService.checkVisibility('expEntPolPolicySymbol', 'Hide')" class="col-4">
                                        <ent-label [data]="'Policy Symbol'"></ent-label>
                                        <ent-dropdown [disabledField]="securityEngineService.checkVisibility('expEntPolPolicySymbol', 'Disable')" [control]="batchUnidentifiedPaymentForm.get('policySymbol')" [dropdownItems]="PolicySymbolDropdown" [(ngModel)]="policySymbol" formControlName="policySymbol" type="select"></ent-dropdown>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('policySymbol')" labelName="Policy Symbol"></ent-control-messages>
                                    </div>
                                    <div class="col-4">
                                        <ent-label [data]="'Policy Number'" requiredField="required"></ent-label>
                                        <ent-input [isAutoFocus]="true" [control]="batchUnidentifiedPaymentForm.get('policyNumber')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'policyNumber')" [(ngModel)]="policyNumber" formControlName="policyNumber"></ent-input>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('policyNumber')" labelName="Policy Number"></ent-control-messages>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('expEntPolPayAccountNumber', 'Hide')" class="col-4">
                                        <ent-label [data]="'Account Number'"></ent-label>
                                        <ent-input [disabledField]="securityEngineService.checkVisibility('expEntPolPayAccountNumber', 'Disable')" [control]="batchUnidentifiedPaymentForm.get('policyAccountNumber')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'policyAccountNumber')" [(ngModel)]="policyAccountNumber" formControlName="policyAccountNumber"></ent-input>
                                        <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('policyAccountNumber')" labelName="Account Number"></ent-control-messages>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-12 line">
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <ent-label [data]="'Payment Amount'" requiredField="required"></ent-label>
                                    <ent-input [control]="batchUnidentifiedPaymentForm.get('paymentAmount')" type="number" [(ngModel)]="paymentAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')" formControlName="paymentAmount" (valueChanged)="resetMountValidate($event)"></ent-input>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('paymentAmount')" labelName="Payment Amount"></ent-control-messages>
                                    <p *ngIf="isUnValidPaymentAmount" class="error-message">Payment Amount must be greater than 0
                                    </p>
                                </div>
                                <div *ngIf="!securityEngineService.checkVisibility(getSecurityNameByPaymentType('PaymentID'), 'Hide')" class="col-4 mt-3">
                                    <ent-label [data]="'Payment ID'"></ent-label>
                                    <ent-input [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('PaymentID'), 'Disable')" [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('paymentId')" labelName="Payment ID"></ent-control-messages>
                                </div>
                                <div class="col-4 mt-3">
                                    <ent-label [data]="'Payment Type'" requiredField="required"></ent-label>
                                    <ent-dropdown [control]="batchUnidentifiedPaymentForm.get('paymentType')" [dropdownItems]="PaymentTypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType" type="select"></ent-dropdown>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('paymentType')" labelName="Payment Type"></ent-control-messages>
                                </div>
                                <div *ngIf="!securityEngineService.checkVisibility(getSecurityNameByPaymentType('DateReceived'), 'Hide')" class="col-4 mt-3">
                                    <ent-label [data]="'Date Received'"></ent-label>
                                    <ent-date-picker #datePicker [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('DateReceived'), 'Disable')" [currentDate]="systemDate" [(ngModel)]="dateReceived" formControlName="dateReceived" (inputFieldChanged)="resetDateValidate(datePicker, 'dateReceived')"></ent-date-picker>
                                    <p *ngIf="dateReceivedValid && batchUnidentifiedPaymentForm.get('dateReceived').valid" class="error-message">Date Received cannot be greater than system date</p>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('dateReceived')" labelName="Date Received"></ent-control-messages>
                                </div>
                                <div *ngIf="!securityEngineService.checkVisibility(getSecurityNameByPaymentType('PostmarkDate'), 'Hide')" class="col-4 mt-3">
                                    <ent-label [data]="'Postmark Date'"></ent-label>
                                    <ent-date-picker #postmarkdatePicker [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('PostmarkDate'), 'Disable')" [currentDate]="systemDate" [(ngModel)]="postmarkDate" formControlName="postmarkDate" (inputFieldChanged)="resetDateValidate(postmarkdatePicker, 'postmarkDate')">
                                    </ent-date-picker>
                                    <p *ngIf="postmarkDateValid && batchUnidentifiedPaymentForm.get('postmarkDate').valid" class="error-message">Postmark Date cannot be greater than system date</p>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('postmarkDate')" labelName="Postmark Date"></ent-control-messages>
                                </div>
                                <div *ngIf="!securityEngineService.checkVisibility(getSecurityNameByPaymentType('DueDate'), 'Hide')" class="col-4 mt-3">
                                    <ent-label [data]="'Due Date'"></ent-label>
                                    <ent-date-picker #dueDatePicker [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('DueDate'), 'Disable')" [currentDate]="systemDate" [(ngModel)]="dueDate" formControlName="dueDate" (inputFieldChanged)="resetDateValidate(dueDatePicker,'dueDate')"></ent-date-picker>
                                    <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('dueDate')" labelName="Due Date"></ent-control-messages>
                                </div>
                                <div class="col{{searchType === 'PolicyPayment' && !securityEngineService.checkVisibility(getSecurityNameByPaymentType('PayableItem'), 'Hide') ? '-12': '-8'}}">
                                    <div class="row">
                                        <div *checkPermission="getSecurityNameByPaymentType('HoldInSuspense')" class="col-4 hold-suspense-label mt-4 align-self-center">
                                            <br>
                                            <ent-input-checkbox [disabled]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('HoldInSuspense'), 'Disable')" (valueChanged)="paymentOnHoldChanged($event)" formControlName="paymentOnHold" [(ngModel)]="paymentOnHold" [text]="'Hold In Suspense'">
                                            </ent-input-checkbox>
                                        </div>
                                        <div class="col-4 mt-3" *ngIf="searchType === 'PolicyPayment' && !securityEngineService.checkVisibility(getSecurityNameByPaymentType('PayableItem'), 'Hide')">
                                            <ent-label data="Payable Item"></ent-label>
                                            <ent-dropdown [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('PayableItem'), 'Disable')" [dropdownItems]="PayableItemDropdown" [(ngModel)]="payableItem" formControlName="payableItem" type="select"></ent-dropdown>
                                            <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('payableItem')" labelName="Payable Item"></ent-control-messages>
                                        </div>
                                        <div class="col mt-3" *ngIf="paymentOnHold">
                                            <ent-label [data]="'Reason'" requiredField="required"></ent-label>
                                            <ent-dropdown [control]="batchUnidentifiedPaymentForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="SuspenseReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                            <ent-control-messages [control]="batchUnidentifiedPaymentForm.get('suspenseReason')" labelName="Suspense reason">
                                            </ent-control-messages>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!securityEngineService.checkVisibility(getSecurityNameByPaymentType('Comment'), 'Hide')" class="col-12">
                            <div class="col-12 pr-0 pl-0 description-section">
                                <ent-label data="Comment"></ent-label>
                                <ent-text-area [disabledField]="securityEngineService.checkVisibility(getSecurityNameByPaymentType('Comment'), 'Disable')" [control]="batchUnidentifiedPaymentForm.get('paymentComments')" formControlName="paymentComments" rowSize="2" [(ngModel)]="paymentComments"></ent-text-area>
                                <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                                <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 button-row" ngPreserveWhitespaces="true">
            <ent-button class="button-xlarge" buttonText="MAKE PAYMENT" [disabled]="!batchUnidentifiedPaymentForm.valid || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount)" (buttonClick)="unidentifiedPaymentSubmit()" buttonType="submit"></ent-button>
            <ent-button *checkPermission="getSecurityNameByPaymentType('PayAndAddAnotherBtn')" class="button-xxlarge" buttonText="PAY AND ADD ANOTHER" [disabled]="!batchUnidentifiedPaymentForm.valid || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount) || securityEngineService.checkVisibility(getSecurityNameByPaymentType('PayAndAddAnotherBtn'), 'Disable')" (buttonClick)="submitAddAnotherPayment()" buttonType="button"></ent-button>
        </div>
    </div>
</div>