<div class="batch-payments-results-section table-list">
    <ng-container *ngIf="batchPaymentList?.length > 0 else notFound">
        <div *ngFor="let batchPayment of batchPaymentList;let i = index">
            <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                <div class="col-12 results-section">
                    <div class="col" *checkPermission="'batchId'">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchId'">
                            <ent-link *ngIf="batchPayment" class="font-weight-bold" [linkText]="batchPayment?.batchId" [linkUrl]="['/ent-payments','batch-payments', batchPayment?.batchId, 'payments', batchPayment?.postedDate, batchPayment.userId]" [queryParams]="{returnAppId: returnAppId, 'nav': navParam}"></ent-link>
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                            {{batchPayment?.postedDate | date:'MM/dd/yyyy'}}
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                            {{batchPayment?.batchAmount || '0' | currency: batchPayment?.currency}}
                        </ent-skeleton>
                    </div>
                    <div class="col badge-wrapper-left data hidden-xs">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                            <span title="Transactions" class="badge-Info">{{batchPayment?.numberOfTransactions || '0'}}</span>
                        </ent-skeleton>
                    </div>
                    <div class="col word-break">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                            {{batchPayment?.user}}
                        </ent-skeleton>
                    </div>
                    <div class="col">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'">
                            <span class="rect-deposited" *ngIf="batchPayment?.isAccept == true && batchPayment?.isDeposit == true">{{batchPayment?.status}}</span>
                            <span class="rect-accepted" *ngIf="batchPayment?.status === 'Accepted'" >{{batchPayment?.status}}</span>
                            <span class="rect-pending" *ngIf="batchPayment?.status === 'Pending'">{{batchPayment?.status}}</span>
                        </ent-skeleton>
                    </div>
                    <div class="col-1 right-option-icon" [ngClass]="{'invisible': securityEngineService.checkVisibility('moreOptions', 'Hide')}">
                        <ent-skeleton [loading]="isBatchPaymentListLoaded" [securityName]="'batchList'" class="skeleton-center skeleton-paragraph-medium-fixed">
                            <app-batch-payments-actions *checkPermission="'moreOptions'" (actionClicked)="handleAction(batchPayment, $event)" [batchPayment]="batchPayment" [isBatchPaymentListLoaded]="isBatchPaymentListLoaded"></app-batch-payments-actions>
                        </ent-skeleton>
                    </div>

                </div>
            </ent-card>
        </div>
    </ng-container>
    <ng-template #notFound>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view message="No Batch Found" subMessage="Add batch to perform payment." iconUrl="assets/images/icons/no-statements.png">
                </ent-empty-view>
            </div>
        </div>
    </ng-template>
    <div class="col-12">
        <ent-pagination [hidden]="!(batchPaymentList && batchPaymentList?.length > 0) || !isBatchPaymentListLoaded" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
    </div>

    <ent-modal #batchPaymentsEditModal  class="modal-xlarge" (modalOutput)="saveBatchPaymentsInfoModal($event)"></ent-modal>
    <ent-modal #batchPaymentsAcceptModal class="modal-medium" (modalOutput)="saveBatchPaymentsInfoModal($event)"></ent-modal>
    <ent-modal #batchDeleteModal (modalOutput)="batchPaymentDelete($event)"></ent-modal>
</div>