<div id="dropdown" class="dropdown ent-filter-dropdown">
    <div class="text-right cross">
        <i (click)="close()" class="fas fa-times"></i>
    </div>
    <div #dropdown class="filter">
        <div [hidden]="value" class="prefix" data-toggle="dropdown">
            <span [class.dropdown-text]="prefix">{{prefix}}</span>
            <i *ngIf="fasName" class="fas {{fasName}}"></i>
            <button (click)="onTouched()" class="dropdown-toggle">
				<span>
					<span class="fas fa-chevron-down"></span>
				</span>
			</button>
        </div>
        <span *ngIf="value" class="badge">
			<span>{{value}}</span>
        <i (click)="resetFilter()" class="fas fa-times"></i>
        </span>
        <ul #menu class="dropdown-menu">
            <ng-template [ngIf]="dropdownItems">
                <li *ngFor="let dropdownItem of dropdownItems;let i = index">
                    <a [class.active]="value && (value === dropdownItem[displayField] || value === dropdownItem)" (click)="itemSelected(dropdownItem, i)">
						{{dropdownItem[displayField] || dropdownItem}}
					</a>
                </li>
                <li *ngIf="showOthers" role="presentation">
                    <a (click)="setOthers(numberInput)" role="menuitem">
						Other
						<input #numberInput name="numberInput" id="numberInput" class="form-control" placeholder="$" (keyup)="setOthers(numberInput)"
						 type="number">
					</a>
                </li>
            </ng-template>
            <ng-content></ng-content>
        </ul>
    </div>
</div>