@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
  .paymentUs-card {
    @include space(margin, top, 70px);
  }
  .alternate-payment-method {
    @include space(margin, top, 20px);
    .ent-card {
      @include space(padding, all, 20px !important);
      height: 110px;
      &:hover {
        background: none !important;
      }
    }
    .payment-us-section {
      width: 100%;
      border: none;
    }
    .height-Echeck {
      height: 680px;
    }
    .height-CreditCard {
      height: 530px;
    }
    .height-PayPal {
      height: 530px;
    }
    .height-PayPalCredit {
      height: 530px;
    }
    .paypal {
      img {
        width: 85px;
        height: 64px;
      }
    }
  }
}
