<div>
    <ent-header class="row col-12" name="Paymentus Profile Create" [showBreadcrumb]="false"></ent-header>
    <div class="paymentUs-card">
        <ent-card>
            <div class="container">
                <div class="row">
                    <div class="col-12 alternate-payment-method">
                        <div class="row">
                            <div class="col-xl-4 col-lg-12 col-md-12 col-12 text-center alternate-payment-method-wrapper">
                                <div class="col-12">
                                    <div class="row">
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium"
                                            [class.active]="payment.paymentMethod === propertyName?.Echeck"
                                            (click)="showHideControls(propertyName?.Echeck)">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/bank.svg"
                                                    alt="Bank Account"></ent-image>
                                                <ent-label data="BANK ACCOUNT"></ent-label>
                                            </ent-card>
                                        </div>
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium"
                                            [class.active]="payment.paymentMethod === propertyName?.CreditCard"
                                            (click)="showHideControls(propertyName?.CreditCard)">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/credit-card.svg"
                                                    alt="Credit Card">
                                                </ent-image>
                                                <ent-label data="CREDIT CARD"></ent-label>
                                            </ent-card>
                                        </div>
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium paypal"
                                            [class.active]="payment.paymentMethod === propertyName?.Paypal"
                                            (click)="showHideControls(propertyName?.Paypal)">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/PayPal.svg"
                                                    alt="PayPal">
                                                </ent-image>
                                            </ent-card>
                                        </div>
                                        <div appTabbing class="col-12 pl-0 pr-0 select-box-medium paypal"
                                            [class.active]="payment.paymentMethod === propertyName?.PaypalCredit "
                                            (click)="showHideControls(propertyName?.PaypalCredit)">
                                            <ent-card>
                                                <ent-image class="perview-icon" imageUrl="assets/images/bank/PayPal Credit.svg"
                                                    alt="PayPal Credit">
                                                </ent-image>
                                            </ent-card>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <br>
                                    <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL"
                                        class="center button-xlarge button-outline" (buttonClick)="cancel()"
                                        buttonType="button"></ent-button>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-12 col-md-12 col-12 text-center alternate-payment-method-wrapper">
                                <ent-skeleton [loading]="paymentusTokenLoaded" [appearance]="'rect'"
                                    class="skeleton-rect-medium-full custom-skeleton">
                                    <iframe *ngIf="url" [id]="iframeHeight" class="payment-us-section height-{{iframeHeight}}"
                                        [src]="url" [name]="iframeHeight" [title]="payment.paymentMethod"></iframe>
                                </ent-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ent-card>
    </div>

</div>