<div class="name-display" [ngClass]="{'d-flex': nameEdit}">
    <ng-container *ngIf="nameAvathar">
        <div class="col-12 pr-0 pl-0 name">
            <div class="">
                <ent-image class="avatar-icon" alt="Not found" [errorImageUrl]="'assets/images/icons/Person.png'" imageUrl="{{(imageId && imageUrl ? (imageUrl + imageId+'.png') : 'assets/images/icons/Person.png')}}">
                </ent-image>
            </div>
            <div class="">
                <span *ngIf="name" [class.text-ellipsis]="name?.length > length" [popoverOnHover]="name?.length > length" [popoverPlacement]="popoverPlacement" popover="<div>{{name}}</div>" [innerHTML]="name ? (name | highlightText : query) : ''" [popoverDisabled]="name?.length <= length"></span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="nameOnly">
        <div class="">
            <span *ngIf="name" [class.text-ellipsis]="name?.length > length" [class.float-left]="number" [ngStyle]="{'max-width.px': maxWidth}" [innerHTML]="name ? (name | highlightText : query) : ''" [popoverOnHover]="name?.length > length" [popoverPlacement]="popoverPlacement"
                [popoverWidth]="popoverWidth" popover="<div>{{name}}</div>" [innerHTML]="name ? (name | highlightText : query) : ''" [popoverDisabled]="name?.length <= length">
            </span>
            <span *ngIf="number"> {{' (' + number + ')'}}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="nameEdit">
        <span class="ent-link d-inline-flex">
            <a (click)="linkEventTrigger()">
                <span [class.text-ellipsis-header]="name?.length > length" [ngStyle]="{'max-width.px': maxWidth}" [popoverOnHover]="name?.length > length"
                    [popoverPlacement]="popoverPlacement" popover="<div>{{name}}</div>" [popoverDisabled]="name?.length <= length">{{name}}</span></a>
        </span>
        <br *ngIf="!showEdit">
        <span *ngIf="showEdit">
            <a *checkPermission="securityEditName" class="ml-2 pl-0" (click)="editEventTrigger()">
                <span [class]="icon" [title]="titleName"></span>
        </a>
        </span>
        <a *ngIf="roleSequenceId" (click)="openSecurity()"><span class="fas fa-cog search-security-icon setting-icon ml-2" aria-hidden="true"></span></a>
    </ng-container>
    <ng-container *ngIf="nameLink">
        <ent-link class="font-weight-bold" [ellipsis]="name?.length > length" [popoverOnHover]="name?.length > length" [popoverPlacement]="popoverPlacement" popover="<div>{{name}}</div>" [linkText]="name" (linkClickOutput)="linkEventTrigger()" [popoverDisabled]="name?.length <= length">
        </ent-link>
    </ng-container>
</div>