<ng-content *ngIf="isLoadingCheck() && !securityEngineService.checkVisibility(securityName, 'Hide')"></ng-content>
<div *ngIf="!isLoadingCheck() && !securityEngineService.checkVisibility(securityName, 'Hide')" class="ent-skeleton" [ngSwitch]="appearance">
    <ng-container *ngSwitchCase="'template'" >
        <div *ngTemplateOutlet="skeletonTemplate"></div>
    </ng-container>
    <div *ngSwitchCase="'avatar'" class="skeleton-avatar"> </div>
    <div *ngSwitchCase="'rect'" class="rect"></div>
    <h2 *ngSwitchCase="'h2'"></h2>
    <h6 *ngSwitchCase="'h6'"></h6>
    <h5 *ngSwitchDefault></h5>
</div>