<ng-container *ngIf="modelObjects?.SecurityConfiguration === configurationType">
<div class="col-12 pl-0 pr-0 user-attach-role-section">
    <div class="col-12 col-sm-12 col-sm-12 pl-0 pr-0 form-group user-attach">
        <ent-label data="Select Role" requiredField="required"></ent-label>
        <div class="typeahead-role">
            <ent-typeahead #typeahead [(ngModel)]="selectedRole" [list]="roles" [searchProperty]="'roleName'" [displayProperty]="'roleName'" [maxSuggestions]="5" (suggestionSelected)="roleSelected($event)" placeholder="Enter a role" (input)="userText($event.target.value)"
                (onInputChange)="updateRolelist($event)" (clearInputValue)="clearRoleInput($event)" [isAutoFocus]="true">
            </ent-typeahead>
        </div>
    </div>
    <div class="button-row attach-buttons">
        <ent-button class="button-xlarge" buttonText="SUBMIT" buttonType="submit" (buttonClick)="processRole()" [disabled]="!selectedRole"></ent-button>
    </div>
</div>
</ng-container>
<ng-container *ngIf="modelObjects?.ConfigureDefaultValues === configurationType">
    <div class="col-12 pl-0 pr-0 user-attach-role-section">
        <div class="col-12 p-0">
            <div class="row">
                <div class="col-12">
                    <ent-label data="Configure As" requiredField="required"></ent-label>
                </div>
                <div class="col-12 pb-4 text-center">
                    <div class="row">
                        <ng-container *ngFor="let item of typeData;let i = index">
                            <div appTabbing class="col-6 select-box-no-image" [class.active]="selectedLevel === item" (click)="showActiveControls(item)">
                                <ent-card class="selected-box-items">
                                    <ent-label data="{{item}}"></ent-label>
                                </ent-card>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="selectedLevel === typeData[1]">
            <div class="col-12 col-sm-12 col-sm-12 pl-0 pr-0 form-group user-attach">
                <ent-label data="Select Role" requiredField="required"></ent-label>
                <div class="typeahead-role">
                    <ent-typeahead #typeahead [(ngModel)]="selectedRole" [list]="roles" [searchProperty]="'roleName'" [displayProperty]="'roleName'" [maxSuggestions]="5" (suggestionSelected)="roleSelected($event)" placeholder="Enter a role" (input)="userText($event.target.value)"
                        (onInputChange)="updateRolelist($event)" (clearInputValue)="clearRoleInput($event)" [isAutoFocus]="true">
                    </ent-typeahead>
                </div>
            </div>
        </ng-container>
        <div class="button-row attach-buttons">
            <ent-button class="button-xlarge" buttonText="SUBMIT" buttonType="submit" (buttonClick)="processRole()" [disabled]="!selectedRole"></ent-button>
        </div>
    </div>
</ng-container>