<app-security-sidebar [sectionName]="'Unidentified Payments'" (toggleClose)="searchSection?.resetIdentifiedPayments()"></app-security-sidebar>

<div ng-sidebar-content>
    <ent-header class="row col-12" name="Payments Search - Unidentified Payments"></ent-header>

    <div class="container">
        <div class="row">
            <div class="col-12 pt-4 batch-payments-list">
                <app-unidentified-payment-search #searchSection (refreshSummary)="reloadSummary($event)" (multiCurrencyEvent)="multiCurrencyEnable($event)" [since]="since" [until]="until" [paymentMethod]="paymentMethod" [minAmount]="minAmount" [maxAmount]="maxAmount" [page]="page"
                    [size]="size" [systemDate]="systemDate" [currency]="currency" [isPaymentListLoaded]="paymentList.isPaymentListLoaded"></app-unidentified-payment-search>
            </div>
            <div class="col-12">
                <app-unidentified-payment-header [isPaymentListLoaded]="paymentList.isPaymentListLoaded"></app-unidentified-payment-header>
            </div>
            <div class="col-12">
                <app-unidentified-payment-results #paymentList (isPaymentEmpty)="isPaymentEmpty($event)" [since]="since" [until]="until" [multiCurrencyEnabled]="multiCurrencyEnabled" [paymentMethod]="paymentMethod" [minAmount]="minAmount" [maxAmount]="maxAmount" [page]="page"
                    [size]="size" [identifierType]="identifierType" [userId]="userId" [paymentId]="paymentId" [currency]="currency" [systemDate]="systemDate" [status]="status" [identifier]="identifier" [cashWithApplication]="cashWithApplication"></app-unidentified-payment-results>
            </div>
        </div>
    </div>
</div>