<div class="col-12 pr-0 pl-0 add-account-payment-section">
    <form [formGroup]="batchAccountPaymentForm" (submit)="accountPaymentSubmit()" rule="form" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <ent-label data="Select Account" requiredField="required"></ent-label>
                        <ent-select #select [url]="apiUrl" [queryParam]="queryParam" requiredField="required" placeholder="Search by Name, Address and Account Number" [displayField]="'accountNumber'" [size]="'5'" (selectedValue)="selectedAccount($event)" [(ngModel)]="accountNumber"
                            [applyQueryParamOnSearch]="'_score'" formControlName="accountNumber" [control]="batchAccountPaymentForm.get('accountNumber')" [disabledField]="modalType !== 'Add'" [selectRequired]="true" [isAutoFocus]="modalType === 'Add'">
                            <ul class="select-list-item">
                                <li *ngFor="let item of select.dropdownItems, let i = index" (click)="select.itemSelected(item, i)">
                                    <a id="dropdownItem-{{i}}" href="javascript:void(0)">
                                        <span class="title-name">{{item?.payorName}} ({{item?.accountNumber || item}})</span>
                                        <br *ngIf="item?.payorAddress">
                                        <span>{{(item?.payorAddress ? item?.payorAddress : '')}}</span>
                                        <br *ngIf="item?.type">
                                        <span *ngIf="item?.type">{{item?.type === 'DirectBill' ? 'Consumer Direct' : 'Member Account'}}</span>
                                        <span *ngIf="item?.businessGroup"> (<b>Business Group:</b> {{item?.businessGroup ? item?.businessGroup : ''}})</span>
                                    </a>
                                </li>
                            </ul>
                        </ent-select>
                        <ent-control-messages [control]="batchAccountPaymentForm.get('accountNumber')" labelName="Account"></ent-control-messages>
                    </div>
                    <div class="col-7" *ngIf="accountSelected">
                        <br>
                        <div class="row">
                            <div *checkPermission="'dbActPayorDetail'" class="col">
                                <strong class="ent-label-text">
                                        <app-name-display  [nameOnly]="true"  [name]="accountSelected?.payorName" ></app-name-display>
                                </strong>

                                <small class="sub-title">
                                  <app-name-display  [nameOnly]="true"  [name]="(accountSelected.payorAddress ? accountSelected.payorAddress : '')" ></app-name-display></small>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col current-balance-amounts" *ngIf="accountBalanceDetail && !securityEngineService.checkVisibility('dbCurrentBalance', 'Hide')">
                                        <ent-text className="font-weight-bold d-block" [text]="'Current Balance'"></ent-text>
                                        <span appTabbing class="dashed-border-help" [popoverOnHover]="true" popover="<div class='rect-PastDue no-wrap'><strong>Past Due :</strong> {{accountBalanceDetail.pastDue | currency:currency}} </div> <div class='rect-CurrentDue no-wrap'><strong>Current Due :</strong> {{accountBalanceDetail.currentDue | currency:currency}} </div>"
                                            popoverPlacement="bottom">{{accountBalanceDetail.currentDue + accountBalanceDetail.pastDue | currency:currency}}</span>
                                    </div>
                                    <div class="col" *ngIf="accountBalanceDetail && !securityEngineService.checkVisibility('dbTotalBalance', 'Hide')">
                                        <div class="float-right">
                                            <ent-text className="font-weight-bold d-block" [text]="'Total Balance'"></ent-text>
                                            <ent-text className="ent-text" text="{{accountBalanceDetail.accountBalance || '0' | currency:currency}}"></ent-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="accountSelected">
                        <div class="row">
                            <div *ngIf="accountSelected" class="col-12">
                                <div class="strip-line"></div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4">
                                                <ent-label data="Amount" requiredField="required"></ent-label>
                                                <ng-container *ngIf="(receivedCurrency.value !== currency && isMultiCurrencyEnable === 'true') else currentAmount">
                                                    <ent-input [control]="batchAccountPaymentForm.get('paymentAmount')" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [(ngModel)]="paymentAmount" formControlName="paymentAmount" (valueChanged)="updateAmount($event)"
                                                        (clearInputValue)="clearPaymentAmount()" [isAutoFocus]="modalType === 'Edit'"></ent-input>
                                                </ng-container>
                                                <ng-template #currentAmount>
                                                    <ent-dropdown #selectPaymentAmount [control]="batchAccountPaymentForm.get('paymentAmount')" [currency]="currency" [dropdownItems]="amountList" [showOthers]="true" [ngModel]="currentDueLabel" formControlName="paymentAmount" displayField="name" type="select"
                                                        (selectedValue)="setPaymentAmount($event.value)" (clearInputValue)="clearPaymentAmount()" [isAutoFocus]="modalType === 'Edit'"></ent-dropdown>
                                                </ng-template>
                                                <p *ngIf="isUnValidPaymentAmount" class="error-message">Amount must be greater than {{0 | currency: currency}}.
                                                </p>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('paymentAmount')" labelName="Amount" [amountValue]="'1'"></ent-control-messages>
                                            </div>
                                            <ng-container *ngIf="isMultiCurrencyEnable === 'true'">
                                                <div class="col-2">
                                                    <ent-label data="Received Currency" requiredField="required"></ent-label>
                                                    <ent-dropdown (selectedValue)="getReceivedCurrency($event)" [disabledField]="!currencyDropdown" [dropdownItems]="currencyDropdown" formControlName="receivedCurrency" type="select" [control]="receivedCurrency">
                                                    </ent-dropdown>
                                                    <ent-control-messages [control]="receivedCurrency" labelName="Currency">
                                                    </ent-control-messages>
                                                </div>
                                                <div class="col-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Exchange Rate ({{receivedCurrency?.value}} &rarr; {{currency}})"></ent-label>
                                                    <ent-input type="number" [control]="batchAccountPaymentForm.get('exchangeRate')" [options]="commonService.getComponentConfiguration('inputAmountOptions')" formControlName="exchangeRate" (valueChanged)="updateAmount($event)"></ent-input>
                                                    <ent-control-messages [control]="batchAccountPaymentForm.get('exchangeRate')" labelName="Exchange Rate"></ent-control-messages>
                                                </div>
                                                <div class="col-3" *ngIf="enableExchangeRate">
                                                    <ent-label data="Payment Amount"></ent-label>
                                                    <ent-input formControlName="paymentCalculatedAmount" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" [disabledField]="true"></ent-input>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-12 line">
                                        <div class="row">
                                            <div *ngIf="!securityEngineService.checkVisibility('dbDueDate', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Due Date'"></ent-label>
                                                <ent-date-picker #dueDatePicker [disabledField]="securityEngineService.checkVisibility('dbDueDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dueDate" formControlName="dueDate" (inputFieldChanged)="resetDateValidate(dueDatePicker, 'dueDate')">
                                                </ent-date-picker>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('dueDate')" labelName="Due Date">
                                                </ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('dbDateReceived', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Date Received'"></ent-label>
                                                <ent-date-picker [disabledField]="securityEngineService.checkVisibility('dbDateReceived', 'Disable')" [currentDate]="systemDate" [(ngModel)]="dateReceived" formControlName="dateReceived" #datePicker (inputFieldChanged)="resetDateValidate(datePicker, 'dateReceived')"></ent-date-picker>
                                                <p *ngIf="dateReceivedValid && batchAccountPaymentForm.get('dateReceived').valid" class="error-message">Date Received cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('dateReceived')" labelName="Date Received"></ent-control-messages>
                                            </div>
                                            <div class="col-3 mt-3">
                                                <ent-label requiredField="required" [data]="'Payment Type'"></ent-label>
                                                <ent-dropdown [control]="batchAccountPaymentForm.get('paymentType')" [dropdownItems]="PaymentTypeDropdown" [(ngModel)]="paymentType" formControlName="paymentType" type="select"></ent-dropdown>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('paymentType')" labelName="Payment Type"></ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('dbPaymentID', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Payment ID'"></ent-label>
                                                <ent-input [disabledField]="securityEngineService.checkVisibility('dbPaymentID', 'Disable')" [maxlength]="10" [(ngModel)]="paymentId" formControlName="paymentId"></ent-input>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('paymentId')" labelName="Payment ID"></ent-control-messages>
                                            </div>
                                            <div *ngIf="!securityEngineService.checkVisibility('dbPostmarkDate', 'Hide')" class="col-3 mt-3">
                                                <ent-label [data]="'Postmark Date'"></ent-label>
                                                <ent-date-picker [disabledField]="securityEngineService.checkVisibility('dbPostmarkDate', 'Disable')" [openOnTop]="true" [currentDate]="systemDate" #postmarkdatePicker [(ngModel)]="postmarkDate" formControlName="postmarkDate" (inputFieldChanged)="resetDateValidate(postmarkdatePicker, 'postmarkDate')">
                                                </ent-date-picker>
                                                <p *ngIf="postmarkDateValid && batchAccountPaymentForm.get('postmarkDate').valid" class="error-message">Postmark Date cannot be greater than system date</p>
                                                <ent-control-messages [control]="batchAccountPaymentForm.get('postmarkDate')" labelName="Postmark Date"></ent-control-messages>
                                            </div>
                                            <div class="col-6 mt-3 align-self-center">
                                                <div class="row">
                                                    <div *checkPermission="'dbHoldInSuspense'" class="col-4 pr-0 hold-suspense-label align-self-center mt-4">
                                                        <ent-input-checkbox (valueChanged)="paymentOnHoldChanged($event)" formControlName="paymentOnHold" [(ngModel)]="paymentOnHold" [text]="'Hold In Suspense'">
                                                        </ent-input-checkbox>
                                                    </div>
                                                    <div class="col" *ngIf="paymentOnHold">
                                                        <ent-label [data]="'Reason'" requiredField="required"></ent-label>
                                                        <ent-dropdown [control]="batchAccountPaymentForm.get('suspenseReason')" [(ngModel)]="suspenseReason" [dropdownItems]="SuspenseReasonDropdown" type="select" formControlName="suspenseReason"></ent-dropdown>
                                                        <ent-control-messages [control]="batchAccountPaymentForm.get('suspenseReason')" labelName="Suspense reason">
                                                        </ent-control-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!securityEngineService.checkVisibility('dbComment', 'Hide')" class="col-12">
                                        <br>
                                        <div class="row">
                                            <div class="col-2">
                                                <ent-label data="Comment :"></ent-label>
                                            </div>
                                            <div class="col-10">
                                                <ent-text-area [disabledField]="securityEngineService.checkVisibility('dbComment', 'Disable')" [control]="batchAccountPaymentForm.get('paymentComments')" formControlName="paymentComments" rowSize="1" [(ngModel)]="paymentComments"></ent-text-area>
                                                <span class="float-right characters-count">{{paymentComments?.length ? paymentComments?.length : '0'}}/80</span>
                                                <p *ngIf="paymentComments?.length > 80" class="error-message">Comment should not be more than 80 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 button-row">
                <ent-button *ngIf="modalType === 'Add'" class="button-xlarge" buttonText="MAKE PAYMENT" [disabled]="!batchAccountPaymentForm.valid || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount || paymentComments?.length > 80)" buttonType="button"
                    (buttonClick)="accountPaymentSubmit()">
                </ent-button>
                <ent-button *ngIf="modalType === 'Edit'" class="button-xlarge" buttonText="SUBMIT" [disabled]="!batchAccountPaymentForm.valid  || (dateReceivedValid || postmarkDateValid || isUnValidPaymentAmount || paymentComments?.length > 80)" buttonType="button" (buttonClick)="accountPaymentSubmit()">
                </ent-button>
            </div>
        </div>
    </form>
</div>
