<img *ngIf="!iconClass;else icon" class="img-circle question edit bg-primary" src="assets/images/question-mark1.png" alt="Question Mark" (click)="showInfoModal()">
<ng-template #icon>
    <span class="{{iconClass}} info" (click)="showInfoModal()"></span>
</ng-template>

<ent-modal #infoModal class="helper text-primary"></ent-modal>