@import 'abstracts/variables';
@import 'abstracts/mixins';

.question {
	width: 14px;
	height: 14px;
    @include space (margin, top, -2px);
	cursor: pointer;
}

.helper {
	.modal-header {
		background-color: $white-color;
	}
}

.info {
	cursor: pointer;
}
