@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .payment-search-section {
        .ent-card {
            @include space(margin, bottom, 0px);
            @include space (padding, bottom, 10px);
        }
        .reset-filter-button{
            @include space (margin, top, -5px);
        }
        .ent-title-bar{
            height: 29px;
            @include space (padding, bottom, 0px);
            .filter-icon{
                @include pseudo(absolute, -5px, false, false, false, false);
            }
        }
    }
}