<div class="col-12 payment-search-section">
    <div class="row">
        <div *checkPermission="'searchSection'" class="w-78 pr-0 mb-2">
            <ent-card>
                <div class="row">
                    <div class="col-12">
                        <ent-title-bar [titleText]="'FILTERS'" border="false">
                            <span class="filters-wrapper pl-3">
                                <span class="filter-tags">
                                    <span class="filter-icon" [ngClass]="{'filter-options-icon-sm': filterTagsList?.length > 0, 'un-filter-options-icon-sm': filterTagsList?.length <= 0}"></span>
                                </span>
                            </span>
                            <span class="float-right">
                                <ent-button *ngIf="!isFiltersExpand && filterTagsList.length > 0" class="pr-3 button-full button-outline d-inline-block reset-filter-button" buttonText="RESET" (buttonClick)="resetIdentifiedPayments()"></ent-button>
                                <a appNonMultipleClick class="view-link" (click)="moreFilters('isFiltersExpand')" data-toggle="collapse" data-target="#filtersTarget">
                                    <i class="fas {{isFiltersExpand ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                                </a>
                            </span>
                        </ent-title-bar>
                    </div>
                    <div #paymentFilterToggle id="filtersTarget" class="col-12 collapse">
                        <div class="col-12 pt-2 pb-2">
                            <form [formGroup]="paymentSearchForm" rule="form">
                                <div #filterControlList class="row">
                                    <ent-skeleton id="startDate" *ngIf="!securityEngineService.checkVisibility('startDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'startDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="From Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('startDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="startDate" (dateChanged)="checkValid($event, 'startDate')" formControlName="startDate"></ent-date-picker>
                                            <ent-control-messages [control]="paymentSearchForm.get('startDate')" labelName="From Date">
                                            </ent-control-messages>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="endDate" *ngIf="!securityEngineService.checkVisibility('endDate', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'endDate'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="To Date"></ent-label>
                                            <ent-date-picker [disabledField]="securityEngineService.checkVisibility('endDate', 'Disable')" [currentDate]="systemDate" [(ngModel)]="endDate" (dateChanged)="checkValid($event, 'endDate')" formControlName="endDate"></ent-date-picker>
                                            <ent-control-messages [control]="paymentSearchForm.get('endDate')" labelName="To Date">
                                            </ent-control-messages>
                                            <span *ngIf="isGreater && paymentSearchForm.get('endDate').valid" class="error-message">To Date
                        cannot be less than From Date.</span>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="accountType" *ngIf="!securityEngineService.checkVisibility('accountType', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'accountType'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="Type"></ent-label>
                                            <ent-dropdown [disabledField]="securityEngineService.checkVisibility('accountType', 'Disable')" [dropdownItems]="identifierTypeDropdown" [(ngModel)]="identifierType" type="select" formControlName="type"></ent-dropdown>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="searchbyPaymentMethod" *ngIf="!securityEngineService.checkVisibility('searchbyPaymentMethod', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchbyPaymentMethod'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label data="Payment Method"></ent-label>
                                            <ent-dropdown [disabledField]="securityEngineService.checkVisibility('searchbyPaymentMethod', 'Disable')" [dropdownItems]="paymentMethodDropdown" [(ngModel)]="paymentMethod" type="select" formControlName="paymentMethod">
                                            </ent-dropdown>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="searchbyUserId" *ngIf="!securityEngineService.checkVisibility('searchbyUserId', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchbyUserId'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'User ID'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('searchbyUserId', 'Disable')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'userId')" [(ngModel)]="userId" formControlName="userId">
                                            </ent-input>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="searchbyPaymentID" *ngIf="!securityEngineService.checkVisibility('searchbyPaymentID', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchbyPaymentID'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Payment ID'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('searchbyPaymentID', 'Disable')" (valueChanged)="convertToUpperCase($event.toUpperCase(), 'paymentId')" [(ngModel)]="paymentId" [maxlength]="10" formControlName="paymentId">
                                            </ent-input>
                                        </div>
                                    </ent-skeleton>
                                   
                                    <ent-skeleton id="searchbyMinimumAmount" *ngIf="!securityEngineService.checkVisibility('searchbyMinimumAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchbyMinimumAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Minimum Amount'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('searchbyMinimumAmount', 'Disable')" type="number" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid('minAmount')" [(ngModel)]="minAmount"
                                                formControlName="minAmount"></ent-input>
                                        </div>
                                    </ent-skeleton>
                                    <ent-skeleton id="searchbyMaximumAmount" *ngIf="!securityEngineService.checkVisibility('searchbyMaximumAmount', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchbyMaximumAmount'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                        <div class="col-12 pl-0 pr-0">
                                            <ent-label [data]="'Maximum Amount'"></ent-label>
                                            <ent-input [disabledField]="securityEngineService.checkVisibility('searchbyMaximumAmount', 'Disable')" type="number" [(ngModel)]="maxAmount" [options]="commonService.getComponentConfiguration('inputAmountOptions')" (valueChanged)="checkAmountValid('maxAmount')"
                                                formControlName="maxAmount"></ent-input>
                                            <span *ngIf="isGreaterAmount" class="error-message">Maximum Amount can't be less than Minimum
                        Amount.</span>
                                        </div>
                                    </ent-skeleton>
                                    <ng-container *ngIf="multiCurrencyDropdown?.length > 0 && multiCurrencyDropdown[0] === 'true'">
                                        <ent-skeleton id="searchCurrency" *ngIf="!securityEngineService.checkVisibility('searchCurrency', 'Hide')" class="col-3 pl-1 pr-2" [loading]="!securityEngineService.isSecurityDataLoading" [securityName]="'searchCurrency'" [appearance]="'template'" [skeletonTemplate]="skeletonLayout">
                                            <div class="col-12 pl-0 pr-0">
                                                <ent-label [data]="'Currency'"></ent-label>
                                                <ent-dropdown [disabledField]="securityEngineService.checkVisibility('searchCurrency', 'Disable')" [dropdownItems]="currencyDropdown" [(ngModel)]="currency" type="select" formControlName="currency"></ent-dropdown>
                                            </div>
                                        </ent-skeleton>
                                    </ng-container>
                                    <div class="col-3 pl-1 pr-2 ml-auto pt-4 mt-2">
                                        <div class="col-12 pr-0 pl-0 d-flex">
                                            <ent-button class="col-6 pl-0 pr-1 button-full" buttonText="APPLY" (buttonClick)="searchIdentifiedPayments()" [disabled]="isGreaterAmount || isGreater || !paymentSearchForm.get('startDate').valid || !paymentSearchForm.get('endDate').valid" inversedButton="true"></ent-button>
                                            <ent-button class="col-6 pl-1 pr-0 button-full button-outline" buttonText="RESET" (buttonClick)="resetIdentifiedPayments()" [disabled]="isNotSelecting()"></ent-button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ent-card>
            <ng-template #skeletonLayout>
                <div class="col-12 pl-0 pr-0 pt-1">
                    <ent-skeleton [loading]="false" [appearance]="'h6'" class="skeleton-paragraph-medium skeleton-field">
                    </ent-skeleton>
                    <ent-skeleton [loading]="false" [appearance]="'h2'"></ent-skeleton>
                </div>
            </ng-template>
        </div>
        <div class="col pr-0">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex float-right">
                        <ent-skeleton *ngIf="securityEngineService.checkVisibility('identifiedPaymentSearch', 'Show') && securityEngineService.checkVisibility('unIdentifiedPaymentSearch', 'Show')" class="skeleton-paragraph-xlong-fixed" [loading]="!securityEngineService?.isSecurityDataLoading"
                            [securityName]="'toggletoUnIdentifiedPayment'" [appearance]="'h2'">
                            <div class="flipswitch" (click)="togglePayment()">
                                <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs">
                                <label class="flipswitch-label" for="fs">
                                    <div class="flipswitch-inner"></div>
                                    <div class="flipswitch-switch"></div>
                                </label>
                            </div>
                        </ent-skeleton>
                        <a x-no-tabbing *ngIf="securityEngineService?.roleSequenceId" class="pl-3">
                            <span appTabbing (click)="openSecurity('epPaymentsSearchIdentifiedPayments')" class="fas fa-cog search-security-icon setting-icon pt-1 mt-2" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 pr-0 pl-0 filters-wrapper">
            <div class="col-12 filter-tags pr-0 pl-0" *ngIf="filterTagsList.length > 0 && !securityEngineService?.isSecurityDataLoading">
                <span *ngFor="let filterTag of filterTagsList" class="badge">{{filterTag.tag}}
                    <a class="fas fa-times" (click)="removeTagsFilter(filterTag.name)"></a>
                </span>
            </div>
        </div>
    </div>
</div>