<div class="col-12 pl-0 pr-0 ent-export-to-excel">
    <div class="excel">
        <a>
            <ent-image width="20px" height="20px" imageUrl="assets/images/icons/excel.svg" alt="Export To Excel" title="Export To Excel" (click)="exportToExcel(tableId, fileName, reportHeader)"></ent-image>
        </a>
    </div>
</div>