<div class="batch-payments-results-section table-list">
    <div *checkPermission="'batchRejectionsResultTable'; else notFound">
        <ng-container *ngIf="batchRejectionList?.length > 0 else notFound">
            <div *ngFor="let batch of batchRejectionList;let i = index">
                <ent-card class="col-12 pr-0 pl-0 ent-card-datarow">
                    <div class="col-12 results-section">
                        <div *checkPermission="'columnBatchId'" class="col">
                            <ent-skeleton [loading]="isBatchRejectionListLoaded" [securityName]="'columnBatchId'">
                                <ent-link *ngIf="batch" class="font-weight-bold" [linkText]="batch?.batchId" [linkUrl]="['/ent-payments','batch-rejection', batch?.batchId, 'summary', batch?.entryDate]" [queryParams]="{returnAppId: returnAppId, 'nav': navParam}"></ent-link>
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnDate'" class="col">
                            <ent-skeleton [loading]="isBatchRejectionListLoaded" [securityName]="'columnDate'">
                                {{batch?.entryDate | date:'MM/dd/yyyy'}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnAccumulatedAmount'" class="col">
                            <ent-skeleton [loading]="isBatchRejectionListLoaded" [securityName]="'columnAccumulatedAmount'">
                                {{batch?.accumulatedAmount || '0' | currency:'USD'}}
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnTotalTransactions'" class="col badge-wrapper-left data hidden-xs">
                            <ent-skeleton [loading]="isBatchRejectionListLoaded" [securityName]="'columnTotalTransactions'">
                                <span title="Transactions" class="badge-Info">{{batch?.numberOfTransactions || '0'}}</span>
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'columnStatus'" class="col">
                            <ent-skeleton [loading]="isBatchRejectionListLoaded" [securityName]="'columnStatus'">
                                <span class="rect-accepted" *ngIf="batch?.isAccept == true">{{batch?.status || 'Accepted'}}</span>
                                <span class="rect-pending" *ngIf="batch?.isAccept == false">{{batch?.status || 'Pending'}}</span>
                            </ent-skeleton>
                        </div>
                        <div *checkPermission="'batchRejectionRowMoreOptions'" class="col-1 right-option-icon">
                            <ent-skeleton class="skeleton-center skeleton-paragraph-medium-fixed" [loading]="isBatchRejectionListLoaded" [securityName]="'batchRejectionRowMoreOptions'">
                                <div class="batch-payment-actions-section flex-container-center">
                                    <div class="smDropdown">
                                        <button [disabled]="!isBatchRejectionListLoaded || securityEngineService?.checkVisibility('batchRejectionRowMoreOptions', 'Disable')" title="More Options" class="btn dropdown-toggle" data-display="static" data-toggle="dropdown">
                                            <span class="fas fa-ellipsis-v" [class.disable-security-options]="!isBatchRejectionListLoaded"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                                            <li><a *checkPermission="'optionAccept'" class="dropdown-item" [class.disable-dropdown-options]="(batch?.numberOfTransactions == 0 && !batch?.isAccept)" (click)="openAcceptDepositModal(batch)">Accept</a></li>
                                            <li><a *checkPermission="'optionDelete'" class="dropdown-item" (click)="openBatchRejectionDeleteModal(batch)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ent-skeleton>
                        </div>
                    </div>
                </ent-card>
            </div>
        </ng-container>
    </div>
    <ng-template #notFound>
        <div class="col-12 pr-0 pl-0 app-section">
            <div class="col-12 pr-0 pl-0 min-height-main">
                <ent-empty-view *ngIf="!securityEngineService?.checkVisibility('batchRejectionsResultTable', 'Hide')" message="No Batch Rejection Found" subMessage="Add batch rejection to perform payment." iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                <ent-empty-view *ngIf="securityEngineService?.checkVisibility('batchRejectionsResultTable', 'Hide')" message="Batch Rejection List is not available." iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
            </div>
        </div>
    </ng-template>
    <div class="col-12">
        <ent-pagination [hidden]="!(batchRejectionList && batchRejectionList?.length > 0) || !isBatchRejectionListLoaded || securityEngineService?.checkVisibility('batchRejectionsResultTable', 'Hide')" class="text-center" [size]="size" [showSizeDropdown]="true"></ent-pagination>
    </div>

    <ent-modal #addbatchRejectionsModal class="modal-small" (modalOutput)="reload($event)"></ent-modal>
    <ent-modal #batchRejectionDeleteModal (modalOutput)="batchRejectionDelete($event)"></ent-modal>
    <ent-modal #batchRejectionAcceptModal (modalOutput)="batchAcceptAction($event)"></ent-modal>
</div>
