@import 'abstracts/mixins';
@import 'abstracts/variables';
:host ::ng-deep {
    .quote-detail-section {
        .quote-detailed-info {
            .ent-card {
                position: relative;
                @include space (padding, all, $xs + $xxs !important);
                @include space (margin, bottom, 0 !important);
                &:hover {
                    background: none !important;
                }
            }
            .panel-header {
                .mytextdiv {
                    border: none !important;
                    @include space (margin, bottom, 0px);
                }
            }
        }
    }
    .min-height-table {
        min-height: 182px;
    }
    .min-height {
        min-height: 182px;
        .no-references {
            .ent-view-wapper {
                @include space (margin, top, $xxs + 2px);
            }
            img {
                width: 192px;
            }
        }
    }
}
