<div class="row">
    <div class="col-12 quote-detail-section">
        <ent-card class="quote-detailed-info">
            <div *ngIf="(quoteList?.length > 0 && quoteList !== 'No Data') else notQuoteListFound" class="col-12 pr-0 pl-0">
                <div class="row min-height-table">
                    <table class="table-list-flat-sub-detail">
                        <thead>
                            <tr>
                                <th class="col">INVOICE DATE</th>
                                <th class="col">DUE DATE</th>
                                <th class="col">SCHEDULED AMOUNT</th>
                                <th class="col">TOTAL AMOUNT</th>
                                <th class="col">CLOSED AMOUNT</th>
                                <th class="col">BALANCE AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quote of quoteList; let i = index">
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.invoiceDate | date:'MM/dd/yyyy'}}
                                    </ent-skeleton>
                                </td>
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.dueDate | date:'MM/dd/yyyy'}}
                                    </ent-skeleton>
                                </td>
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.scheduledAmount | currency:currency}}
                                    </ent-skeleton>
                                </td>
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.totalAmount | currency:currency}}
                                    </ent-skeleton>
                                </td>
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.closedAmount | currency:currency}}
                                    </ent-skeleton>
                                </td>
                                <td class="col word-break">
                                    <ent-skeleton [loading]="isQuoteListLoaded" class="no-margin-skeleton">
                                        {{quote?.balanceAmount | currency:currency}}
                                    </ent-skeleton>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ent-pagination [position]="'middle'" (isLoading)="isLoading($event)" [hidden]="!(quoteList && quoteList !== 'No Data') || !isQuoteListLoaded" [viewPagination]="true" [size]="size" (response)="refreshQuoteSchedule($event)" class="text-center">
            </ent-pagination>
            <ng-template #notQuoteListFound>
                <div class="col-12 pr-0 pl-0">
                    <div class="min-height row">
                        <ent-empty-view *ngIf="!isQuoteListError" class="no-references" message="No Quote Schedule To Display" iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                        <ent-empty-view *ngIf="isQuoteListError" class="no-references" message="Quote Schedule Items are not available" iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                    </div>
                </div>
            </ng-template>
        </ent-card>
    </div>
</div>
