<div class="container errorBlock">
    <div class="col-12 text-center">
        <div class="errorImage">
            <div class="errorCode text-primary">
                <img src="assets/images/errors/computer.png" alt="{{messageHeader}}" />
            </div>
        </div>
        <div class="errorContent text-primary pt-5">
            <h2 class="text-primary">{{messageHeader}}</h2>
            <hr>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
                <h4 class="">{{messageContent}}</h4>
                <h5>{{message}}
                    <ent-signpost iconClass="fas fa-info-circle" [message]="errorDescription"></ent-signpost>
                </h5>
                <h5 class="support"><a [attr.href]="'mailto:' + supportEmail">Contact Support</a></h5>
                <div class="gotoHome">
                    <img src="assets/images/logos/company_logo.png" [routerLink]="landingPageLink" />
                </div>
            </div>
        </div>
    </div>
</div>