@import 'abstracts/mixins';
@import 'abstracts/variables';

.errorBlock{
    @include space (margin, top, $xlarge);
    .errorImage{
        display: block;
        position: relative;
        .errorCode{
            position: relative;
            @include custom-font-size($font-size-lg);
            letter-spacing: 2;
        }
    }
    .errorContent{
            h5{
                line-height: 20px;
            }
            .gotoHome{
                @include space (margin, top, $xs + $xs);
                img{
                    cursor: pointer;
                    width: 160px;
                }
            }
            .support {
                @include space (margin, top, $xs + $xs + $xs);
            }
        }
    .errorHint{
        @include custom-font-size($font-size-lg);
    }
    .unauth{
        @include space (margin, top, $large + 5px);
        .image{
            img{
                width: 255px;
            }
        }
        .errorContent{
            text-align: center;
            .errorCode{
                @include custom-font-size($font-size-lg + $font-size-lg);
                letter-spacing: 10px;
                @include space (margin, top, -55px);
                @include space (margin, bottom, -45px);
            }
            h1{
                @include custom-font-size($font-size-lg);
            }
            p{
                @include custom-font-size($font-size-lg);
            }
        }

        div[class^="col"]{
            @include space (padding, all, 0px);
        }
    }
}
