<div class="input-text">
    <div class="ent-typeahead col-md-12 pl-0 pr-0">
        <div class="inner-addon left-addon">
            <div class="input-text">
                <div class="inner-addon left-addon">
                    <i class="fas fa-search"></i>
                    <input #inputElement appAutoFocus [autoFocus]="isAutoFocus" [class.isError]="isError()" class="form-control" [placeholder]="placeholder" [(ngModel)]="input" type="text" [ngClass]="{'typeahead-input': true, 'typeahead-input-has-selection': hasSelection()}" typeahead="off" spellcheck="false"
                        (keyup)="inputKeyUp($event)" (keydown)="inputKeyDown($event)" (ngModelChange)="textChanged($event)" (click)="inputFocus($event)" (blur)="inputBlur($event)" [disabled]="isDisabled" (keydown.esc)="dropdownMenuClosingFocus()">
                </div>
            </div>

        </div>
        <a *ngIf="!isDisabled && selectedSuggestion" appTabbing (click)="clear()" class="fas fa-times close-icon"></a>
        <div #suggestionsContainer class="typeahead-suggestions" [ngClass]="{'d-none': !areSuggestionsVisible}">
            <ul (mouseout)="suggestionsMouseOut($event)" (keydown.esc)="dropdownMenuClosingFocus()">
                <li *ngFor="let suggestion of suggestions" (mouseover)="suggestionMouseOver(suggestion)" (mousedown)="suggestionMouseDown(suggestion)" [ngClass]="{'typeahead-suggestion-active': activeSuggestion===suggestion}">
                    {{ suggestion[displayProperty] }}<br />
                    <span *ngIf='subscriptProperty' class="subscript">{{ suggestion[subscriptProperty] }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>