@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .batch-summary-header {
        &:before {
            display: table;
            content: " ";
        }
        .batch-detail-header {
            .ent-title-bar {
                height: 0px;
            }
        }
        .actions {
            @include space(margin, top, 8px);
            .batch-detail-options{
                min-width: 50px;
            }
        }
        .box-0 {
            text-align: left;
            .number {
                @include space(padding, bottom, 0);
                .edit-link {
                    float: none;
                    @include space(padding, left, $xs);
                }
            }
            .description {
                @include space(padding, bottom, 0);
            }
        }
        .recon-icons {
            img {
                width: 20px;
                @include space(margin, top, -5px);
            }
        }
        .excel-icon {
            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        .custom-col {
            width: 13.8%;
        }
        .skeleton-info {
            .ent-skeleton {
                @include space(margin, top, 5px);
            }
        }
    }
    /* ----------- iPad 1, 2, Mini and Air ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .boxes {
            div:nth-child(n) {
                @include space(padding, right, $xs + $xxs !important);
            }
        }
    }
}
