<div *ngIf="batchDetail" class="col-12 pr-0 pl-0 batch-summary-header">
    <ent-title-bar class="batch-detail-header" [titleText]="'BATCH DETAIL'" border="'false'">
        <div class="d-flex float-right">
            <a *ngIf="securityEngineService?.roleSequenceId" (click)="openSecurity('epBatchSummary')">
                <span class="fas fa-cog setting-icon" aria-hidden="true"></span>
            </a>
        </div>
    </ent-title-bar>
    <div class="col-12 pr-0 pl-0 pt-3">
        <div class="col-12 app-section batch-header bg-primary-theme-lighter">
            <div class="row">
                <div class="col pr-0 pl-0">
                    <div class="col-12 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Batch ID
                        </div>
                        <div class="col-12 pr-0 pl-0 number">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                {{batchDetail?.batchId}}
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col pr-0 pl-0">
                    <div class="col-12 pl-0 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Entry Date
                        </div>
                        <div class="col-12 pr-0 pl-0 number">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                {{batchDetail?.postedDate | date:'MMM dd, yyyy'}}
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col pr-0 pl-0">
                    <div class="col-12 pl-0 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Deposit Date
                        </div>
                        <div class="col-12 pr-0 pl-0 number">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                {{depositDate ? (depositDate | date:'MMM dd, yyyy') : (systemDate | date:'MMM dd,
                                yyyy')}}
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col pr-0 pl-0 custom-col">
                    <div class="col-12 pl-0 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Accumulated Total
                        </div>
                        <div class="col-12 pr-0 pl-0 number current-balance-amounts">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true"
                                    popover="<div class='rect-STARTED no-wrap'><strong>Cash Amount: </strong> {{batchDetail?.cashAmount || '0' | currency:batchDetail?.currency}} </div> <div class='rect-CurrentDue no-wrap'><strong>Check/Other Amount:</strong> {{batchDetail?.nonCashAmount || '0' | currency:batchDetail?.currency}} </div>"
                                    popoverPlacement="bottom">
                                    {{batchDetail?.accumulatedAmount || '0' | currency:batchDetail?.currency}}
                                </span>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col pl-0 custom-col">
                    <div class="col-12 pr-0 pl-0 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Batch Total
                        </div>
                        <div class="col-12 pr-0 pl-0 number current-balance-amounts">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                <span class="pr-2">{{batchDetail?.batchAmount || '0' | currency:batchDetail?.currency}}</span>
                                <a title="Edit Batch Total" (click)="editBatchPaymentsDetails()"
                                    [class.disable-security-options]="!batchDetail?.isEdit">
                                    <span class="fas fa-pencil-alt fa-sm"></span>
                                </a>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col pr-0 pl-0 custom-col">
                    <div class="col-12 pl-0 box-0">
                        <div class="col-lg-12 col-md-12 pr-0 pl-0 description font-weight-normal">
                            Deposit Bank
                        </div>
                        <div class="col-12 pr-0 pl-0 number recon-icons">
                            <ent-skeleton [loading]="isBatchDetailLoaded" class="no-margin-skeleton skeleton-info">
                                <span appTabbing class="dashed-border-help" [popoverOnHover]="true"
                                    popover="<div class='no-wrap'><strong>Control Bank: </strong> {{controlBank}}</div>"
                                    popoverPlacement="bottom"> {{depositBank}}</span>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col-1 actions text-center flex-container-center pr-0 pl-0" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: false }">
                    <ent-image appTabbing title="Download Batch Details" (click)="getContentToExport()" class="excel-icon pb-1"
                        imageUrl="assets/images/icons/excel.svg" alt="Excel"></ent-image>
                    <ent-skeleton [loading]="isBatchDetailLoaded" [securityName]="'batchDetailMoreOptions'"
                        class="skeleton-center skeleton-paragraph-short-fixed pl-2">
                        <app-batch-payments-actions *checkPermission="'batchDetailMoreOptions'"
                            class="batch-detail-options" (actionClicked)="handleAction(batchDetail, $event)"
                            [batchPayment]="batchDetail" [showDelete]="false"
                            [isBatchPaymentListLoaded]="isBatchDetailLoaded"></app-batch-payments-actions>
                    </ent-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>

<ent-modal #editBatchTotalModal class="modal-xsmall" (modalOutput)="saveBatchTotalModal($event)"></ent-modal>
<ent-modal #batchPaymentsEditModal class="modal-xlarge" (modalOutput)="getAccountPayment($event)"></ent-modal>
<ent-modal #batchPaymentsAcceptModal class="modal-xsmall" (modalOutput)="getAccountPayment($event)"></ent-modal>