@import "abstracts/mixins";
@import "abstracts/variables";
:host ::ng-deep {
    .no-profile-msg {
        @include space(margin, top, $small - 2px);
        text-align: center;
    }
    .payment-method-section {
        .paypal-credit {
            img {
                width: 75px;
                height: 50px;
            }
        }
    }
}
