<app-security-sidebar [sectionName]="'Group Payment'" (refreshSummary)="checkSecurityOptions()"></app-security-sidebar>

<div ng-sidebar-content>
    <div class="col-12 pr-0 pl-0 make-account-payment">
        <div class="col-12 pr-0 pl-0 header-wrapper">
            <ent-header name="{{headerName}}" [showBreadcrumb]="false">
                <div class="col-12 pr-0 pl-0 mt-3 pt-4 make-payment">
                    <ol class="step-indicator-small">
                        <li class="{{isSelectAmount}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isPaymentMethod}}">
                            <div class="step"></div>
                        </li>
                        <li class="{{isConfirm}}">
                            <div class="step"></div>
                        </li>
                    </ol>
                </div>
            </ent-header>
        </div>
        <div class="container payment-section">
            <div class="row">
                <div class="col-12 client-info-section">
                    <div class="col-12 pr-0 pl-0 text-center">
                        <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'avatar'"
                            class="skeleton-avatar-xmedium skeleton-center">
                            <div *ngIf="accountDetails && isPaymentMethod !== propertyName?.active">
                                <ent-image class="preview-client-icon" alt="Not found"
                                    [errorImageUrl]="'assets/images/icons/Person.png'"
                                    imageUrl="{{(imageId && imageUrl ? (imageUrl + imageId+'.png') : 'assets/images/icons/Person.png')}}">
                                </ent-image>
                            </div>
                        </ent-skeleton>
                    </div>
                    <div class="text-center">
                        <div class="profile-title pt-3">
                            <ent-skeleton [loading]="isAccountDetailLoaded"
                                class="skeleton-paragraph-short skeleton-center">
                                <a x-no-tabbing *ngIf="accountDetails && isPaymentMethod !== propertyName?.active">
                                    <span class="main-title">
                                        <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="payorName"
                                            [maxWidth]="500" [length]="70">
                                        </app-name-display>
                                    </span>
                                </a>
                                <br>
                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-medium skeleton-center">
                                <span *ngIf="accountDetails && isPaymentMethod !== propertyName?.active"
                                    class="sub-title">
                                    <app-name-display [nameOnly]="true" popoverPlacement="bottom" [name]="payorAddress"
                                        [maxWidth]="500" [length]="70">
                                    </app-name-display>
                                </span>

                            </ent-skeleton>
                            <ent-skeleton [loading]="isAccountDetailLoaded" [appearance]="'h6'"
                                class="skeleton-paragraph-short skeleton-center">
                                <strong *ngIf="accountDetails && isPaymentMethod !== propertyName?.active">
                                    <span>Account Number: </span>
                                    <span>{{accountNumber}}</span>
                                </strong>
                            </ent-skeleton>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSelectAmount === propertyName?.active" class="col-12 payment-amount-section">
                    <div class="row">
                        <div class="col-12 label-header text-left mt-5">
                            <ent-title-bar class="label-title-bar"
                                [titleText]="securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show) ? 'Select Payment Amount' : ''"
                                border="'false'">
                                <span *ngIf="securityEngineService?.roleSequenceId"><a
                                        class="fas fa-cog float-right setting-icon"
                                        (click)="openSecurity('epPayments', 'selectPayment')"
                                        aria-hidden="true"></a></span>
                            </ent-title-bar>
                        </div>
                        <div class="col-12 radio-detail-card">
                            <div *checkPermission="'selectAmountSection'; else notAvailable" class="col-12 pl-0">
                                <div class="row justify-content-center">
                                    <ent-skeleton *checkPermission="'currentBalance'" class="col-4 pr-0"
                                        [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'currentBalance'" [appearance]="'template'"
                                        [skeletonTemplate]="skeletonLayout">
                                        <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                            [disabled]="accountBalanceDetail?.currentDue === 0 || isAccountBalanceDetailError"
                                            (click)="selectAmount(accountBalanceDetail?.currentDue, 'isCurrentDue')"
                                            [class.active]="isCurrentDue">
                                            <ent-card>
                                                <span class="radio-circle"></span>
                                                <ent-label class="payment-label" data="Current Balance"></ent-label>
                                                <ent-skeleton [loading]="isAccountBalanceDetailLoaded"
                                                    class="skeleton-paragraph-medium-fixed float-right">
                                                    <ent-label *ngIf="accountBalanceDetail else notAmount"
                                                        class="payment-account current-balance"
                                                        data="{{accountBalanceDetail?.currentDue | currency:currency}}">
                                                    </ent-label>
                                                </ent-skeleton>
                                            </ent-card>
                                        </fieldset>
                                    </ent-skeleton>
                                    <ent-skeleton *checkPermission="'totalBalance'" class="col-4 pr-0"
                                        [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'totalBalance'" [appearance]="'template'"
                                        [skeletonTemplate]="skeletonLayout">
                                        <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                            [disabled]="accountBalanceDetail?.accountBalance === 0 || isAccountBalanceDetailError"
                                            (click)="selectAmount(accountBalanceDetail?.accountBalance,'isAccountBalance')"
                                            [class.active]="isAccountBalance">
                                            <ent-card>
                                                <span class="radio-circle"></span>
                                                <ent-label class="payment-label" data="Total Balance"></ent-label>
                                                <ent-skeleton [loading]="isAccountBalanceDetailLoaded"
                                                    class="skeleton-paragraph-medium-fixed float-right">
                                                    <ent-label *ngIf="accountBalanceDetail else notAmount"
                                                        class="payment-account total-balance"
                                                        data="{{accountBalanceDetail?.accountBalance | currency:currency}}">
                                                    </ent-label>
                                                </ent-skeleton>
                                            </ent-card>
                                        </fieldset>
                                    </ent-skeleton>
                                    <ent-skeleton *checkPermission="'otherAmount'" class="col-4 pr-0"
                                        [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'otherAmount'" [appearance]="'template'"
                                        [skeletonTemplate]="skeletonLayout">
                                        <fieldset appTabbing class="col-12 pl-0 pr-0 radio-detail-card-item"
                                            [disabled]="isAccountBalanceDetailError"
                                            (click)="selectAmount(null, 'isOtherAmount')"
                                            [class.active]="isOtherAmount">
                                            <ent-card>
                                                <span class="radio-circle"></span>
                                                <ent-label class="payment-label" data="Other Amount"></ent-label>
                                                <ent-input *ngIf="isOtherAmount" focus="true" class="other-amount"
                                                    type="number" [(ngModel)]="payment.amount"
                                                    [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                                </ent-input>
                                            </ent-card>
                                            <p *ngIf="(payment.amount <1) && isOtherAmount" class="error-message">
                                                Payment Amount must be greater than $1
                                            </p>
                                        </fieldset>
                                    </ent-skeleton>
                                </div>
                                <ng-template #notAmount>
                                    <ent-label class="payment-account total-balance"
                                        data="{{ '0' | currency:currency}}"></ent-label>
                                </ng-template>
                                <ng-template #skeletonLayout>
                                    <fieldset class="col-12 pl-0 pr-0 radio-detail-card-item">
                                        <ent-card>
                                            <ent-skeleton [loading]="false"
                                                class="skeleton-paragraph-short-fixed mt-2 d-inline-flex">
                                            </ent-skeleton>
                                            <ent-skeleton [loading]="false"
                                                class="skeleton-paragraph-long-fixed ml-4 d-inline-flex"></ent-skeleton>
                                            <ent-skeleton [loading]="false"
                                                class="skeleton-paragraph-medium-fixed mt-2 float-right d-inline-flex">
                                            </ent-skeleton>
                                        </ent-card>
                                    </fieldset>
                                </ng-template>
                            </div>
                            <ng-template #notAvailable>
                                <div class="col-12 app-section min-height-main">
                                    <ent-empty-view message="Select Payment Amount Section is not available."
                                        iconUrl="assets/images/icons/no-statements.png"></ent-empty-view>
                                </div>
                            </ng-template>
                        </div>
                        <div *ngIf="isAccountBalanceDetailError" class="col-12 no-profile-msg">
                            <span class="text-font-size-sm text-dark-red">Account Balance Details not available. Try
                                again later</span>
                        </div>
                        <div *ngIf="!isAccountBalanceDetailError" class="col-12 pt-5 pb-5 text-center">
                            <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                                *ngIf="storedAccountDetails" class="button-full" buttonText="PAYMENT METHOD"
                                [disabled]="payment.amount <1 || !isShowPaymentMethodButton || !securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show)"
                                (buttonClick)="makePaymentLoop('isSelectAmount', true)" buttonType="submit">
                            </ent-button>
                            <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                                *ngIf="!storedAccountDetails" class="button-full" buttonText="PAYMENT METHOD"
                                [disabled]="payment.amount <1 || !isShowPaymentMethodButton || !securityEngineService.checkVisibility('selectAmountSection', propertyName?.Show)"
                                (buttonClick)="navigateToAddPayment()" buttonType="submit"></ent-button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isPaymentMethod === propertyName?.active " class="col-12 mt-5 payment-method-section">
                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pt-4 pr-0 pl-0 label-header text-left">
                        <ent-title-bar class="label-title-bar" [titleText]="'Choose a Payment Method'" border="'false'">
                            <span *ngIf="securityEngineService?.roleSequenceId"><a
                                    class="fas fa-cog float-right setting-icon"
                                    (click)="openSecurity('epPayments', 'choosePaymentMethod')"
                                    aria-hidden="true"></a></span>
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                            <div appTabbing (click)="selectBank(list, i)"
                                *ngFor="let list of storedAccountDetails?.paymentProfiles;let i = index"
                                [ngClass]="{'active' : i === isBankIndex}"
                                class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                <ent-card class="bank-list">
                                    <div class="row">
                                        <div class="col-1 pt-3">
                                            <span class="radio-circle"></span>
                                        </div>
                                        <ng-container *ngIf="isObject(list) === propertyName?.digitalWallet">
                                            <div class="col-2 pt-2">
                                                <ent-image
                                                    class="{{list[propertyName?.digitalWallet].walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                    imageUrl="assets/images/bank/{{list[propertyName?.digitalWallet].walletType}}.svg"
                                                    [alt]="list[propertyName?.digitalWallet].walletType">
                                                </ent-image>
                                            </div>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="isObject(list) === propertyName?.creditCard || isObject(list) === propertyName?.bankAccount">
                                            <div class="col-2 pt-2">
                                                <ent-image
                                                    class="{{isObject(list) === propertyName?.creditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                    imageUrl="assets/images/bank/{{isObject(list) === propertyName?.creditCard ? list[propertyName?.creditCard].cardType : propertyName?.bank }}.svg"
                                                    alt="{{isObject(list) === propertyName?.creditCard ? list[propertyName?.creditCard].cardType : propertyName?.bank }}">
                                                </ent-image>
                                            </div>
                                            <div class="col-5">
                                                <ent-label className="ent-label-inline-bold"
                                                    [data]="(isObject(list) === propertyName?.creditCard ? 'XXXX XXXX XXXX ' + list[propertyName?.creditCard].cardNumber.substr(list[propertyName?.creditCard].cardNumber.length - 4) : 'XXXX XXXX ' + list['bankAccount'].accountNumber.substr(list['bankAccount'].accountNumber.length - 4))">
                                                </ent-label>
                                                <ent-label
                                                    data="{{isObject(list) === propertyName?.creditCard ? propertyName?.CreditCard : propertyName?.BankAccount}}">
                                                </ent-label>
                                            </div>
                                        </ng-container>
                                        <div class="col-4 pl-0 text-right text-uppercase">
                                            <ent-label className="ent-label-inline-bold" data=" {{list.name}}">
                                            </ent-label>
                                        </div>
                                    </div>
                                </ent-card>
                            </div>
                            
                            <ng-container *ngIf="paymentProvider !== propertyName?.paymentus">
                                <a *checkPermission="'addNewCardOrBankAccount'"
                                    [routerLink]="['/group-payment', 'add-new-payment']"
                                    [queryParams]="{accountId: accountId, 'type': type, 'returnAppId':returnAppId, 'statementDate':statementDate }"
                                    class="col-12 text-center add-new-payment-link">
                                    <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'addNewCardOrBankAccount'"
                                        class="skeleton-paragraph-xlong-fixed skeleton-center">
                                        <a x-no-tabbing><i class="fas fa-plus pr-2"></i> USE A NEW CARD/BANK ACCOUNT</a>
                                    </ent-skeleton>
                                </a>
                            </ng-container>
                            <!-- <ng-container *ngIf="paymentProvider === propertyName?.paymentus">
                                <div *checkPermission="'addNewCardOrBankAccount'" (click)="paymentusFlow()"
                                    class="col-12 text-center add-new-payment-link">
                                    <ent-skeleton [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'addNewCardOrBankAccount'"
                                        class="skeleton-paragraph-xlong-fixed skeleton-center">
                                        <a><i class="fas fa-plus pr-2"></i> NEW PAYMENT METHOD</a>
                                    </ent-skeleton>
                                </div>
                            </ng-container> -->
                        </div>
                    </div>
                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                        <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="BACK"
                            class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                            buttonType="button"></ent-button>
                        <ent-button imagePosition="right" fasName="fa-chevron-circle-right"
                            class="float-right button-xxlarge" buttonText="REVIEW AND PAY"
                            [disabled]="!payment.paymentMethod" (buttonClick)="makePaymentLoop('isPaymentMethod', true)"
                            buttonType="submit"></ent-button>
                    </div>
                </div>
                <div *ngIf="isConfirm === propertyName?.active " class="col-12 payment-method-section mt-5">
                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 label-header text-left">
                        <ent-title-bar class="label-title-bar" [titleText]="'Payment Amount'" border="'false'">
                            <span *ngIf="securityEngineService?.roleSequenceId">
                                <a class="fas fa-cog float-right setting-icon" (click)="openSecurity('epPayments')" aria-hidden="true"></a>
                            </span>
                        </ent-title-bar>
                        <div class="col-12 pl-0 pr-0">
                            <div class="row">
                                <div class=" col-6">
                                    <ent-input *ngIf="isEdit" class="other-amount" type="number"
                                        [(ngModel)]="payment.amount"
                                        [options]="commonService.getComponentConfiguration('inputAmountOptions')">
                                    </ent-input>
                                    <ent-label *ngIf="!isEdit" class="amount"
                                        data="{{payment.amount | currency:currency}}"></ent-label>
                                    <span *ngIf="(payment.amount < 1)" class="error-message">Payment Amount must be
                                        greater than $1</span>
                                </div>
                                <div class=" col-6 text-right">
                                    <ent-skeleton *checkPermission="'editPaymentAmount'"
                                        [loading]="!securityEngineService?.isSecurityDataLoading"
                                        [securityName]="'editPaymentAmount'"
                                        class="skeleton-paragraph-short-fixed float-right">
                                        <a class="amount-link" *ngIf="payment.amount >= 1" (click)="isEdit = !isEdit"><i
                                                class="fas fa-{{!isEdit ? 'pencil-alt' : 'check'}}"></i></a>
                                    </ent-skeleton>
                                    <a class="amount-link" *ngIf="payment.amount < 1"><i
                                            class="fas fa-check icon-disabled"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 label-header text-left mt-4">
                        <ent-title-bar class="label-title-bar" [titleText]="'Paying with'" border="'false'">
                        </ent-title-bar>
                    </div>
                    <div class="col-12 pr-0 pl-0 radio-detail-payment-card">
                        <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0">
                            <div [class.active]="true" class="col-12 pr-0 pl-0 radio-detail-payment-card-item">
                                <ent-card class="bank-list no-cursor">
                                    <ent-skeleton [loading]="payment?.paymentMethod" [appearance]="'template'"
                                        [skeletonTemplate]="skeletonPaymentMethod">
                                        <div class="row">
                                            <div class="col-1 pt-3">
                                                <span class="radio-circle"></span>
                                            </div>
                                            <ng-container
                                                *ngIf="(payment?.paymentMethod === propertyName?.PaypalCredit || payment?.paymentMethod === propertyName?.Paypal)">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{payment?.walletType === propertyName?.PaypalCredit ? 'paypal-credit' : ''}}"
                                                        imageUrl="assets/images/bank/{{payment?.walletType }}.svg"
                                                        [alt]="payment?.walletType">
                                                    </ent-image>
                                                </div>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="payment?.paymentMethod === propertyName?.CreditCard || payment?.paymentMethod === propertyName?.BankAccount">
                                                <div class="col-2 pt-2">
                                                    <ent-image
                                                        class="{{payment?.paymentMethod === propertyName?.CreditCard? 'bank-icon credit-card-icon' : 'bank-icon bank-custom'}}"
                                                        imageUrl="assets/images/bank/{{payment?.paymentMethod === propertyName?.CreditCard ? payment?.creditCardType : propertyName?.bank }}.svg"
                                                        alt="{{payment?.paymentMethod === propertyName?.CreditCard ? payment?.creditCardType : propertyName?.bank }}">
                                                    </ent-image>
                                                </div>
                                                <div class="col-4">
                                                    <ent-label className="ent-label-inline-bold"
                                                        [data]="(payment?.paymentMethod === propertyName?.CreditCard ? 'XXXX XXXX XXXX ' + payment?.creditCardNumber?.substr(payment?.creditCardNumber?.length - 4) : 'XXXX XXXX ' + payment?.accountNumber?.substr(payment?.accountNumber?.length - 4))">
                                                    </ent-label>
                                                    <ent-label data="{{payment?.paymentMethod}}"></ent-label>
                                                </div>
                                            </ng-container>
                                            <div class="col-5 pl-0 text-right text-uppercase">
                                                <ent-label className="ent-label-inline-bold"
                                                    data="{{payment?.fullName}}"></ent-label>
                                            </div>
                                        </div>
                                    </ent-skeleton>
                                </ent-card>
                                <ng-template #skeletonPaymentMethod>
                                    <div class="row">
                                        <div class="col-1">
                                            <span class="radio-circle"></span>
                                        </div>
                                        <div class="col-2 pr-0 pl-0">
                                            <ent-skeleton [loading]="false" [appearance]="'rect'"
                                                class="skeleton-rect-xxsmall"></ent-skeleton>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"
                                                class="no-margin-skeleton"></ent-skeleton>
                                            <ent-skeleton [loading]="false" [appearance]="'h5'"></ent-skeleton>
                                        </div>
                                        <div class="col-4 text-right text-uppercase pr-0">
                                            <ent-skeleton [loading]="false"></ent-skeleton>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-xl-6 col-lg-6 offset-md-3 col-md-12 col-12 pr-0 pl-0 pt-5 pb-5">
                        <ent-button imagePosition="left" fasName="fa-chevron-circle-left" buttonText="CANCEL"
                            class="float-left button-xlarge button-outline" (buttonClick)="goBack()"
                            buttonType="button"></ent-button>
                        <div class="text-right">
                            <ent-button imagePosition="right" fasName="fa-chevron-circle-right" class="button-full"
                                [disabled]="isEdit" buttonText="PAY {{payment.amount | currency:currency}}"
                                (buttonClick)="makePay()" buttonType="submit"></ent-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ent-modal class="modal-xsmall" #paymentReceivedModel (modalOutput)="printStatement() "></ent-modal>
    </div>
</div>