<div *ngIf="position === 'bottom'">
    <ul class="pagination pagination-bottom justify-content-center">
        <li>
            <a (click)="navigateToPage(pageObject?.firstPageUrl)" appTabbing [isTabbing]="currentPage != 1" [class.disabled]="currentPage == 1">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>
        <li>
            <a (click)="navigateToPage(pageObject?.previousPageUrl)" appTabbing [isTabbing]="pageObject?.previousPageUrl" [class.disabled]="!pageObject?.previousPageUrl">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li>
            <a x-no-tabbing class="disableClick">Page
                <input #numberPageInput value="{{currentPage}}" name="numberPageInput" id="numberPageInput" class="form-control page-number" (keyup.enter)="setPageValue(numberPageInput.value)" type="number" onKeyPress="return event.charCode >= 48 && event.charCode <= 57" min="1" (keyup)="checkValidation($event, numberPageInput.value, 'Page')" (focusout)="setPageValue(numberPageInput.value)" [disabled]="totalPage === '1' ? true : false" /> of {{totalPage}}
            </a>
        </li>
        <li>
            <a (click)="navigateToPage(pageObject?.nextPageUrl)" appTabbing [isTabbing]="pageObject?.nextPageUrl" [class.disabled]="!pageObject?.nextPageUrl">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
        <li>
            <a (click)="navigateToPage(pageObject?.lastPageUrl)" appTabbing [isTabbing]="currentPage != totalPage" [class.disabled]="currentPage == totalPage">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>

        <!-- Page size dropdown begin -->
        <form class="form-inline d-block">
            <div *ngIf="showSizeDropdown">
                <div class="page-size-label">Page size: </div>
                <div class="dropup select" #dropdown>
                    <button #toggle class="form-control dropdown-toggle select" (click)="togglePageSize()" data-toggle="dropdown">
                        <span class="float-left">{{size}}</span>
                        <span class="float-right">
                            <span class="fas fa-chevron-up"></span>
                        </span>
                    </button>

                    <div #menu class="dropdown-menu" role="menu">
                        <li *ngFor="let item of itemsPerPageList;let i = index">
                            <a id="{{'dropdown-page-' + i}}" class="dropdown-item" [class.active]="size && (size == item) && !otherPageActive" (click)="setSizeValue(item)">{{item}}</a>
                        </li>
                        <li>
                            <a appTabbing [isTabbing]="false" #otherPageInput class="dropdown-item" appMultipleClick [class.active]="otherPageActive" (keyup)="otherPageInputKeyUp($event)">
                                <input #numberInput autocomplete="off" (keyup.enter)="setSizeValue(numberInput?.value)" (click)="otherPageActive = true;" name="numberInput" id="numberInput" class="form-control" onKeyPress="if(this.value.length==3) return false; return event.charCode >= 48 && event.charCode <= 57" min="1" max="999" (keyup)="checkValidation($event, numberInput.value, 'Size')"/>
                                <span #clearNumberInput tabindex="0" *ngIf="numberInput.value" (click)="clearValue($event)" (keyup.enter)="clearValue($event)" (keydown.enter)="$event.stopPropagation()" class="fas fa-times close-addon"></span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- Page size dropdown end -->
    </ul>
</div>

<ul class="pagination-new mb-0 pl-3" *ngIf="position === 'top'">
    <li class="margin-right direction">
        <a *ngIf="pageObject?.previousPageUrl" (click)="navigateToPage(pageObject?.previousPageUrl)" title="Previous">
            <span class="fa-stack fa-top-custom">
                <i class="fas fa-circle fa-stack-1x chevron-backgound"></i>
                <i class="far fa-circle fa-stack-2x chevron-border"></i>
                <i class="fas fa-chevron-left fa-stack-1x fa-lg chevron-symbol"></i>
            </span>
        </a>
        <a *ngIf="!pageObject?.previousPageUrl" x-no-tabbing class="disabled" (click)="navigateToPage(pageObject?.previousPageUrl)">
            <span class="fa-stack fa-top-custom">
                <i class="fas fa-circle fa-stack-1x chevron-backgound"></i>
                <i class="far fa-circle fa-stack-2x chevron-border"></i>
                <i class="fas fa-chevron-left fa-stack-1x fa-lg chevron-symbol"></i>
            </span>
        </a>
    </li>
    <li class="direction">
        <a *ngIf="pageObject?.nextPageUrl" (click)="navigateToPage(pageObject?.nextPageUrl)" title="Next">
            <span class="fa-stack fa-top-custom">
                <i class="fas fa-circle fa-stack-1x chevron-backgound"></i>
                <i class="far fa-circle fa-stack-2x chevron-border"></i>
                <i class="fas fa-chevron-right fa-stack-1x fa-lg chevron-symbol"></i>
            </span>
        </a>
        <a *ngIf="!pageObject?.nextPageUrl" x-no-tabbing class="disabled" (click)="navigateToPage(pageObject?.nextPageUrl)">
            <span class="fa-stack fa-top-custom">
                <i class="fas fa-circle fa-stack-1x chevron-backgound"></i>
                <i class="far fa-circle fa-stack-2x chevron-border"></i>
                <i class="fas fa-chevron-right fa-stack-1x fa-lg chevron-symbol"></i>
            </span>
        </a>
    </li>
</ul>

<div *ngIf="position === 'middle'">
    <ul class="pagination-new">
        <li class="margin-right pre-direction">
            <a *ngIf="pageObject?.previousPageUrl" class="d-block" (click)="navigateToPage(pageObject?.previousPageUrl)">
                <span class="fa-stack fa-custom">
                    <i class="far fa-circle fa-stack-2x chevron-border"></i>
                    <i class="fas fa-chevron-left fa-stack-1x fa-lg chevron-symbol"></i>
                </span>
            </a>
            <a *ngIf="!pageObject?.previousPageUrl" x-no-tabbing class="disabled" (click)="navigateToPage(pageObject?.previousPageUrl)">
                <span class="fa-stack fa-custom">
                    <i class="far fa-circle fa-stack-2x chevron-border"></i>
                    <i class="fas fa-chevron-left fa-stack-1x fa-lg chevron-symbol"></i>
                </span>
            </a>
        </li>
        <li class="next-direction">
            <a *ngIf="pageObject?.nextPageUrl" class="d-block" (click)="navigateToPage(pageObject?.nextPageUrl)">
                <span class="fa-stack fa-custom">
                    <i class="far fa-circle fa-stack-2x chevron-border"></i>
                    <i class="fas fa-chevron-right fa-stack-1x fa-lg chevron-symbol"></i>
                </span>
            </a>
            <a *ngIf="!pageObject?.nextPageUrl" x-no-tabbing class="disabled" (click)="navigateToPage(pageObject?.nextPageUrl)">
                <span class="fa-stack fa-custom">
                    <i class="far fa-circle fa-stack-2x chevron-border"></i>
                    <i class="fas fa-chevron-right fa-stack-1x fa-lg chevron-symbol"></i>
                </span>
            </a>
        </li>
    </ul>
</div>