.cursor-pointer {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap !important;
}

@include status-style($dark-green-clr, "Completed", "Accepted", "Active", "Reopen", "Save", "DebitPaidbyCredit", "Open", "CurrentDue", "Invoiced", "CreditAmount", "deposited", "Applied", "Medium", "New", "1", "COMPLETED", "Disbursed", "PaymentReceived", "Transferred");
@include status-style($dark-red-clr, "Error", "FlatCancelled", "5", "UnderpayWrite-Off", "Incomplete", "Closed", "PastDue", "CreditCash", "Reversed", "Critical", "Hold", "2", "FAILED", "Inactive", "Expire", "Re-pay", "Re-open", "ProRataCancelled", "OverpayWrite-Off");
@include status-style($dark-orange-clr, "PendingTransfer", "PendingCancelNSF", "Suspended", "CreditTaken", "NotInvoiced", "Working", "BillingSuspended", "TransferPending", "TranTransferPending", "PendingAccountChange", "true", "NotInvoiced", "other-status", "pending", "Processing", "High", "Complete", "8", "UNKNOWN", "Pending", "Pendin", "SuspPre-Collections", "SuspCollections", "SuspenseIncludesHold", "SuspendedwithHold");
@include status-style($gray-color-300, "empty");
@include status-style($toast-warning-color-2, "4");
@include status-style($toast-success-color-2, "6");
@include status-style($gray-color-500, "7");
@include status-style($dark-purple-clr, "Queued", "PendingCancel", "Pending", "3", "STARTED", "STARTING");
@include status-style($dark-blue-clr, "Exclude", "AttemptedBelowMinimum", "InvoicedBelowMinimum", "accepted", "Suspended", "Paid", "Low", "Pending", "0", "AttemptedBelowMinimumFuture", "Applied");
.badge-NotEnroll,
.badge-BillingSuspended,
.badge-Suspended,
.badge-Pending,
.badge-Transferred,
.badge-TransferPending,
.badge-PendingAccountChange,
.badge-other-status {
    @include badge($dark-orange-clr, none, 115px);
}

.badge-Enroll,
.badge-Active,
.badge-Open,
.badge-true {
    @include badge($dark-green-clr, none, 115px);
}

.badge-Active-Inverse {
    @include badge($white-color, $dark-green-clr, 115px);
}

.badge-other-status-Inverse {
    @include badge($white-color, $dark-orange-clr, 115px);
}

.badge-Info {
    @include badge($white-color, $dark-green-clr, 0, 50%);
}

.badge-Add {
    @include badge($white-color, $dark-blue-clr, 0, 5px);
}

.badge-Inactive,
.badge-NotEnroll,
.badge-Cancelled,
.badge-Closed,
.badge-Sold-to,
.badge-false {
    @include badge($dark-red-clr, none, 115px);
}

.badge-ConsumerDirect {
    @include badge($white-color, $dark-green-clr, 115px);
}

.badge-Policy {
    @include badge($white-color, $dark-blue-clr, 115px);
}

.badge-GroupWorksite,
.badge-Group {
    @include badge($white-color, $dark-orange-clr, 115px);
}

.badge-unidentified,
.badge-Agency {
    @include badge($white-color, $dark-purple-clr, 115px);
}

.select-box-small {
    @include select-box($small + 7px);
}

.select-box-medium {
    @include select-box($medium);
}

.select-box-xlarge {
    @include select-box($xlarge);
}

.select-box-no-image {
    @include select-box(false);
}

.box-0,
.box-total-balance {
    @include detail-box($dark-blue-clr);
}

.box-1,
.box-balance {
    @include detail-box($dark-green-clr);
}

.box-2 {
    @include detail-box($dark-red-clr);
}

.box-3,
.box-current-balance {
    @include detail-box($dark-orange-clr);
}

.box-4,
.box-5 {
    @include detail-box($dark-purple-clr);
}

.box-statement-detail {
    @include detail-box($dark-red-clr, true);
}

.status-Operational {
    @include status-circle($status-operational);
}

.status-Processing {
    @include status-circle($status-processing);
}

.status-Not.Working {
    @include status-circle($status-notworking);
}