
::-webkit-scrollbar {
	width: 9px;
	height: 10px;
}
::-webkit-scrollbar-button {
	width: 9px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: $theme-primary-color;
	border: 0px none $white-color;
	border-radius: 50px;
	&:hover {
		background: $theme-primary-color;
		@include box-shadow(inset 0 0px 10px 1px rgba(0, 0, 0, 0.45)); transition-duration: 0.4s;
		outline: none;
	}
	&:active {
		background: $theme-primary-color;
		@include box-shadow(inset 0 0px 10px 1px rgba(0, 0, 0, 0.45)); transition-duration: 0.4s;
		outline: none;
	}
}
::-webkit-scrollbar-track {
	background: $white-color;
	border: 0px none $white-color;
	border-radius: 25px;
	&:hover {
		background: $white-color;
	}
	&:active {
		background: $white-color;
	}
}
::-webkit-scrollbar-corner {
	background: transparent;
}

.auto-hide-scroll::-webkit-scrollbar-thumb {
	background: transparent;
}
.auto-hide-scroll {
	&:hover {
		&::-webkit-scrollbar-thumb {
			background: $theme-primary-color !important;
		}
	}
}