
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    @include space (margin, left, 0px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include space (margin, all, 0);
}

//Custom Theme Colors
@include system-theme-colors(
"light-grey" $light-grey-clr,
"dark-grey" $dark-grey-clr,  
"light-green" $light-green-clr,
"light-red" $light-red-clr,
"light-blue" $light-blue-clr,
"light-purple" $light-purple-clr,
"light-yellow" $light-yellow-clr,
"dark-red" $dark-red-clr,
"dark-green" $dark-green-clr,
"dark-blue" $dark-blue-clr,
"dark-orange" $dark-orange-clr,
"dark-purple" $dark-purple-clr,
"dark-yellow" $dark-yellow-clr,
"primary-theme-lighter" $primary-theme-lighter-color
);

.icon-fill-primary{
    fill: $theme-primary-color;
}

.icon-fill-light-grey{
    fill: $disable-color;
}

.bg-light-grey-lighter{
    background-color: lighten($light-grey-clr, 10%) !important;
}

//Modal
@include config-modal( "modal-", "small" $modal-small, "xsmall" $modal-xsmall, "medium" $modal-medium, "xmedium" $modal-xmedium, "xlarge" $modal-xlarge, "xxlarge" $modal-xxlarge, "xxxlarge" $modal-xxxlarge, "auto" $modal-auto);
@include config-scroll-modal( "scroll-", "small" $scroll-small, "modal" $scroll-modal, "xmodal" $scroll-xmodal, "xxmodal" $scroll-xxmodal);
//Button
@include config-button( "button-", "small" $button-small, "medium" $button-medium, "xmedium" $button-xmedium, "xlarge" $button-xlarge, "xxlarge" $button-xxlarge, "xxxlarge" $button-xxxlarge, "auto" $button-auto, "full" $button-full, "warning" $button-warning, "alert" $button-alert, "success" $button-success, "default" $button-background-color);
//Skeleton
@include config-skeleton-paragraph( "skeleton-paragraph-", "short" $skeleton-paragraph-short, "medium" $skeleton-paragraph-medium, "long" $skeleton-paragraph-long, "short-fixed" $skeleton-paragraph-short-fixed, "medium-fixed" $skeleton-paragraph-medium-fixed, "long-fixed" $skeleton-paragraph-long-fixed, "xlong-fixed" $skeleton-paragraph-xlong-fixed);
@include config-skeleton-avatar( "skeleton-avatar-", "xs" $skeleton-avatar-xs, "small" $skeleton-avatar-small, "medium" $skeleton-avatar-medium, "xmedium" $skeleton-avatar-xmedium, "xlarge" $skeleton-avatar-xlarge, "large" $skeleton-avatar-large);
@include config-skeleton-rect( "skeleton-rect-", "small" $skeleton-rect-small, "medium" $skeleton-rect-medium, "full" $skeleton-rect-full, "xxsmall" $skeleton-rect-xxsmall, "xxsmall-fixed" $skeleton-rect-xxsmall-fixed);
//Table
@include config-table-fixed-header('table-fixed-header-', 'small' $table-fixed-header-small, 'xsmall' $table-fixed-header-xsmall, 'medium' $table-fixed-header-medium, 'xmedium' $table-fixed-header-xmedium, 'large' $table-fixed-header-large);
//Badge
@include config-badge( "badge-", "success" $dark-green-clr, "error" $dark-red-clr, "info" $dark-blue-clr, "wait" $dark-purple-clr, "warning" $dark-orange-clr, "warning-color-2" $toast-warning-color-2, "error-color-2" $toast-error-color-2, "success-color-2" $toast-success-color-2, "ConsumerDirect" $dark-green-clr, "Group" $dark-orange-clr, "Agency" $dark-purple-clr);

//Component Colors
.skeleton-primary{
    background-color: $skeleton-color !important;
}

.subicon-primary{
    &:before, &:after {
        color: $theme-primary-color;
    }
}

//Size Font Awesome
.fa-regular{
    font-weight: $font-weight-normal; //400 Bootstrap
}

.fa-solid{
    font-weight: $font-ultra-bold; //900
}
//Text Size
.text-font-size-base{
    @include custom-font-size($font-size-base);
}
.text-font-size-lg{
    @include custom-font-size($font-size-lg);
}
.text-font-size-sm{
    @include custom-font-size($font-size-sm);
}
//Font Weight size
.font-weight-semi-bold{
    font-weight: $font-semi-bold !important;
}

.d-grid{
    display: grid !important;
}

.flaticon-interface, .flaticon-ack {
    color: $flaticon-interface-color;
}
.flaticon-clock {
    color: $flaticon-clock-color;
}
.flaticon-symbol {
    color: $flaticon-symbol-color;
}

// Sizing
@include config-width-sizing;

@include config-padding-left-level;